{% extends "gcd/base_view.html" %}

{% load i18n %}
{% load display %}

{% block title %}
GCD :: Brand :: {{ brand.name }}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}/css/gcd/{{ style|default:'default' }}.css"/>
{% endblock %}

{% block view_body %}

{% with brand as publisher %}
{% with "Brand" as description %}
{% with "brands" as url_suffix %}
  {% include "gcd/bits/publisher_header.html" %}
{% endwith %}
{% endwith %}
{% endwith %}

<div class="control_body">
  <div id="control_container">
    <div id="control_center">
      <dl class="pub_data">
{% if brand.url %}
        <dt> Web Site:
        <dd> <a href="{{ brand.url }}">{{ brand.url }}</a>
{% endif %}
{% if brand.notes %}
        <dt> Notes:
        <dd> {{ brand.notes|linebreaksbr }}
{% endif %}
{% ifequal page.object_list.count 0 %}
        <dt> Issues:
        <dd> None
{% endifequal %}
      </dl>
    </div> <!-- control_center -->

    <div id="control_rail">
      <div class="edit_box">
        <div class="edit_header">Editing</div>
{% if not preview %}
  {% with brand as object %}
  {% with 'brand' as object_class %}
  {% with 'Brand' as object_name %}
    {% include "gcd/bits/status_banner.html" %}
  {% endwith %}
  {% endwith %}
  {% endwith %}
{% endif %}
      </div>
      <div class="change_history">
{% if preview %}
        <a href="{% url change_history model_name='brand' id=brand.source.id %}">Change History</a>
{% else %}
        <a href="{% url change_history model_name='brand' id=brand.id %}">Change History</a>
{% endif %}
      </div>
    </div> <!-- control_rail -->
  </div> <!-- control_container -->
</div> <!-- control_body -->

{% if page.object_list.count %}
<table id="publisher_detail_listing" class="listing">
  <tr>
    <th> Issue </th>
    <th> Publication Date </th>
    <th> Indicia Publisher </th>
  </tr>
  {% for issue in page.object_list %}
  <tr class="{% cycle 'listing_even' 'listing_odd' %}">
    <td> {{ issue|show_issue }} </td>
    <td> {{ issue.publication_date }} </td>
    <td> {{ issue|show_indicia_pub }} </td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% with 1 as paginate_only %}
{% with brand as publisher %}
{% include "gcd/bits/publisher_header.html" %}
{% endwith %}
{% endwith %}

{% endblock %}

