{% extends "gcd/base_view.html" %}

{% load static %}
{% load i18n %}
{% load display %}
{% load credits %}
{% load editing %}
{% load django_tables2 %}

{% block title %}
GCD :: Brand Emblem :: {{ brand.name }}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{% static "css/gcd/default.css" %}"/>
<link rel="stylesheet" type="text/css"
      href="{% static "css/gcd/default/listing.css" %}"/>
{% endblock %}
{% block css_raw %}
<script type="text/javascript" src="{% static "js/htmx.min.js" %}"></script>
{% endblock %}

{% block view_body %}

{% with brand as publisher %}
{% with "Brand Emblem" as description %}
{% with "brands" as url_suffix %}
  {% include "gcd/bits/publisher_header.html" %}
{% endwith %}
{% endwith %}
{% endwith %}

<div class="control_body">
  <div id="control_container">
    <div id="control_center">
{% if brand.year_overall_began or brand.year_overall_ended %}
      <dl style="columns: 2; margin-bottom: -1em" class="pub_data">
  {% if brand.year_overall_began %}
        <dt> Publishing Began:</dt><dd>{{ brand.year_overall_began }}</dd>
        <dt> Comics Publishing Began:</dt><dd>{{ brand.year_began }}</dd>
  {% endif %}
  {% if brand.year_overall_ended %}
        <dt> Publishing Ended:</dt><dd>{{ brand.year_overall_ended }}</dd>
        <dt> Comics Publishing Ended:</dt><dd>{{ brand.year_ended }}</dd>
  {% endif %}
      </dl>
{% endif %}
      <dl class="pub_data">
        <dt> Number of Issues:
        <dd> {{ brand.issue_count }}
{% if brand.url %}
        <dt> Web Site:
        <dd> <a href="{{ brand.url }}">{{ brand.url }}</a>
{% endif %}
{% if brand.notes %}
        <dt> Notes:
        <dd> {{ brand.notes|urlizetrunc:75|linebreaksbr }}
{% endif %}
{{ brand|show_credit:'keywords' }}
      <dt>Brand Emblem:</dt>
      {% if brand.emblem and not FAKE_IMAGES %}
      <dd><img src="{{ brand.emblem.scaled_image.url }}"></dd>
      {% endif %}
      {% if brand.generic %}
      <dd>generic</dd>
      {% endif %}
      </dl>
    </div> <!-- control_center -->

{% if not preview or brand.source %}
    <div id="control_rail">
      <div class="edit_box">
  {% if MYCOMICS %}
        <div class="edit_header">
          <div>my.comics.org</div>
        </div>
  {% else %}
        <div class="edit_header">Editing</div>
    {% if not preview %}
      {% with brand as object %}
      {% with 'brand' as object_class %}
      {% with 'Brand Emblem' as object_name %}
        {% include "gcd/bits/status_banner.html" %}
      {% endwith %}
      {% endwith %}
      {% endwith %}
      {% if brand.emblem %}
        {% if brand.emblem|is_locked %}
        <div style='padding:.4em' class="index_status_1">
        Brand emblem changes pending
        </div>
        {% else %}
          {% if user.is_authenticated %}
        <form method="GET"
          action="{% url "replace_image" model_name='brand' id=brand.id image_id=brand.emblem.id %}">
          <input type="submit" value="{% trans 'Replace Brand Image' %}">
        </form>
        <form method="GET"
          action="{% url "delete_revision" model_name='image' id=brand.emblem.id %}">
          <input type="submit" value="{% trans 'Delete Brand Image' %}">
        </form>
          {% endif %}
        {% endif %}
      {% else %}
          {% if user.is_authenticated and not brand.generic %}
        <form method="GET"
          action="{% url "upload_image" model_name='brand' id=brand.id image_type='BrandScan' %}">
          <input type="submit" value="{% trans 'Add Brand Image' %}">
        </form>
        {% endif %}
      {% endif %}
      {% if user.is_authenticated %}
        <form method="POST"
          action="{% url "add_brand_use" brand_id=brand.id %}">
      {% csrf_token %}
          <input id="add_use" name="add_use" type="submit" value="Add Brand Use"></input>
        </form>
      {% endif %}
    {% endif %}
  {% endif %} <!-- MYCOMICS -->
      </div>
      <div id="change_history" class="edit_footer">
  {% if preview %}
        <a href="{% url "change_history" model_name='brand' id=brand.source.id %}">View Change History</a>
  {% else %}
        <a href="{% url "change_history" model_name='brand' id=brand.id %}">View Change History</a>
  {% endif %}
      </div>
    </div> <!-- control_rail -->
{% endif %} <!-- not preview or brand.source -->
  </div> <!-- control_container -->
</div> <!-- control_body -->

{% if brand.group.count %}
<hr>
<h3>Brand emblem belongs to the brand group{{ brand.group.count|pluralize }}:</h3>
<table id="publisher_detail_listing" class="listing">
  <tr>
    <th> Brand Group </th>
    <th> Publisher </th>
    <th> Issues </th>
    <th> Year Began </th>
    <th> Year Ended </th>
    <th> Notes </th>
  </tr>
  {% for group in brand.group.all %}
  <tr class="{% cycle 'listing_even' 'listing_odd' %}">
    <td> <a href="{{ group.get_absolute_url }}">{{ group.name }}</a> </td>
    <td> <a href="{{ group.parent.get_absolute_url }}">{{ group.parent }}</a> </td>
    <td> {{ group.issue_count }} </td>
    <td> {{ group.year_began|default:"" }} </td>
    <td> {{ group.year_ended|default:"" }} </td>
    <td> {{ group.notes }} </td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% if uses.count %}
<hr>
<h3>Brand emblem is in use at the following publishers:</h3>
<table id="publisher_detail_listing" class="listing">
  <tr>
    <th> Publisher </th>
    <th> Year Began </th>
    <th> Year Ended </th>
    <th> Notes </th>
  {% if user.is_authenticated %}
    <th> Action </th>
  {% endif %}
  </tr>
  {% for use in uses %}
  <tr class="{% cycle 'listing_even' 'listing_odd' %}">
    <td> <a href="{{ use.publisher.get_absolute_url }}">{{ use.publisher }}</a> </td>
    <td> {{ use.year_began|default:"" }} </td>
    <td> {{ use.year_ended|default:"" }} </td>
    <td> {{ use.notes }} </td>
  {% if user.is_authenticated and not MYCOMICS %}
    <td>
    {% if use|is_locked %}
    is reserved
    {% else %}
      <form method="POST"
        action="{% url "reserve_revision" model_name='brand_use' id=use.id %}" style="display:inline">
    {% csrf_token %}
        <input id="edit" name="edit" type="submit" value="Edit"></input>
      </form>
      <form method="POST"
        action="{% url "delete_revision" model_name='brand_use' id=use.id %}" style="display:inline">
    {% csrf_token %}
        <input type="submit" value="Delete"></input>
      </form>
    {% endif %}
    </td>
  {% endif %}
  </tr>
  {% endfor %}
</table>
{% endif %}

<div style="clear: both;"></div>
{% render_table table %}

{% with 1 as paginate_only %}
{% with brand as publisher %}
{% include "gcd/bits/publisher_header.html" %}
{% endwith %}
{% endwith %}

{% endblock %}

