{% extends "gcd/base_view.html" %}

{% load i18n %}

{% block title %}
  GCD :: Publisher :: {{ publisher.name }} :: Brands
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}/css/gcd/{{ style|default:'default' }}.css"/>
{% endblock %}

{% block view_body %}

{% with "Brands" as extra %}
{% include "gcd/bits/publisher_header.html" %}
{% endwith %}
<div class="publisher_list_control_panel">
  <form method="GET"
        action="{% url add_brand parent_id=publisher.id %}">
    <input id="add" name="add" type="submit" value="Add another brand" />
  </form>
</div>
{% if publisher.brand_count %}
<table id="publisher_detail_listing" class="listing">
  <tr>
    <th> Brand </th>
    <th> Issues </th>
    <th> Year Began</th>
    <th> Year Ended</th>
  </tr>
{% for brand in items %}
  <tr class="{% cycle 'listing_even' 'listing_odd' %}">
    <td> <a href="{{ brand.get_absolute_url }}">{{ brand.name }}</a> </td>
    <td> {{ brand.issue_count }} </td>
    <td> {{ brand.year_began|default:"" }}
    <td> {{ brand.year_ended|default:"" }}
  </tr>
{% endfor %}
</table>
{% else %}
<dl>
  <dt> Brands:
  <dd> None
</dl>
{% endif %}

{% with 1 as paginate_only %}
{% include "gcd/bits/publisher_header.html" %}
{% endwith %}

{% endblock %}
