{% extends "gcd/base_view.html" %}

{% load static %}
{% load i18n %}
{% load display %}
{% load credits %}
{% load django_tables2 %}

{% block title %}
GCD :: Brand Group :: {{ brand.name }}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{% static "css/gcd/default.css" %}"/>
<link rel="stylesheet" type="text/css"
      href="{% static "css/gcd/default/listing.css" %}"/>
{% endblock %}
{% block css_raw %}
<script type="text/javascript" src="{% static "js/htmx.min.js" %}"></script>
{% endblock %}

{% block view_body %}

{% with brand as publisher %}
{% with "Brand Groups" as description %}
{% with "brands" as url_suffix %}
  {% include "gcd/bits/publisher_header.html" %}
{% endwith %}
{% endwith %}
{% endwith %}

<div class="control_body">
  <div id="control_container">
    <div id="control_center">
{% if brand.year_overall_began or brand.year_overall_ended %}
      <dl style="columns: 2; margin-bottom: -1em" class="pub_data">
  {% if brand.year_overall_began %}
        <dt> Publishing Began:</dt><dd>{{ brand.year_overall_began }}</dd>
        <dt> Comics Publishing Began:</dt><dd>{{ brand.year_began }}</dd>
  {% endif %}
  {% if brand.year_overall_ended %}
        <dt> Publishing Ended:</dt><dd>{{ brand.year_overall_ended }}</dd>
        <dt> Comics Publishing Ended:</dt><dd>{{ brand.year_ended }}</dd>
  {% endif %}
      </dl>
{% endif %}
      <dl class="pub_data">
        <dt> Number of Issues:
        <dd> {{ brand.issue_count }}
{% if brand.url %}
        <dt> Web Site:
        <dd> <a href="{{ brand.url }}">{{ brand.url }}</a>
{% endif %}
{% if brand.notes %}
        <dt> Notes:
        <dd> {{ brand.notes|urlizetrunc:75|linebreaksbr }}
{% endif %}
{{ brand|show_credit:'keywords' }}
      </dl>
    </div> <!-- control_center -->

{% if not preview or brand.source %}
    <div id="control_rail">
      <div class="edit_box">
  {% if MYCOMICS %}
        <div class="edit_header">
          <div>my.comics.org</div>
        </div>
  {% else %}
        <div class="edit_header">Editing</div>
    {% if not preview %}
      {% with brand as object %}
      {% with 'brand_group' as object_class %}
      {% with 'BrandGroup' as object_name %}
        {% include "gcd/bits/status_banner.html" %}
      {% endwith %}
      {% endwith %}
      {% endwith %}
      {% if user.is_authenticated and not publisher.pending_deletion %}
        <form method="GET"
              action="{% url "add_brand_via_group" brand_group_id=brand.id %}">
          <input id="add" name="add" type="submit" value="Add brand emblem" />
        </form>
      {% endif %} <!-- logged in -->
    {% endif %}
  {% endif %} <!-- MYCOMICS -->
      </div>
      <div id="change_history" class="edit_footer">
  {% if preview %}
        <a href="{% url "change_history" model_name='brand_group' id=brand.source.id %}">View Change History</a>
  {% else %}
        <a href="{% url "change_history" model_name='brand_group' id=brand.id %}">View Change History</a>
  {% endif %}
      </div>
    </div> <!-- control_rail -->
{% endif %}
  </div> <!-- control_container -->
</div> <!-- control_body -->

{% if page.number == 1 %}
<hr>
<h3>Used brand emblems:</h3>
<table id="publisher_detail_listing" class="listing">
  <tr>
    <th> Brand Emblem</th>
    <th> Name </th>
    <th> Issues </th>
    <th> Year Began</th>
    <th> Year Ended</th>
    <th> Notes </th>
  </tr>
{% for brand in brand_emblems %}
  <tr class="{% cycle 'listing_even' 'listing_odd' %}">
    <td> {% if brand.emblem and not FAKE_IMAGES %} <a href="{{ brand.get_absolute_url }}"> <img src="{{ brand.emblem.thumbnail.url }}"> {% endif %} </a> </td>
    <td> <a href="{{ brand.get_absolute_url }}">{{ brand.name }}</a> </td>
    <td> {{ brand.issue_count }} </td>
    <td> {{ brand.year_began|default:"" }} </td>
    <td> {{ brand.year_ended|default:"" }} </td>
    <td> {{ brand.notes }} </td>
  </tr>
{% endfor %}
</table>
{% endif %}

<div style="clear: both;"></div>
{% render_table table %}

{% with 1 as paginate_only %}
{% with brand as publisher %}
{% include "gcd/bits/publisher_header.html" %}
{% endwith %}
{% endwith %}

{% endblock %}

