{% extends "gcd/base_view.html" %}

{% load i18n %}
{% load credits %}
{% load display %}

{% block title %} GCD :: {{ description }} :: {{ object.name }} :: Change History {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/{{ style|default:'default' }}.css">
</link>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/{{ style|default:'default' }}/series.css">
</link>
{% endblock %}

{% block view_body %}

{% ifequal description "Publisher" %}
  {% with object as publisher %}
    {% include "gcd/bits/publisher_header.html" %}
  {% endwith %}
{% endifequal %}

{% ifequal description "Brand" %}
  {% with object as publisher %}
  {% with "brands" as url_suffix %}
    {% include "gcd/bits/publisher_header.html" %}
  {% endwith %}
  {% endwith %}
{% endifequal %}

{% ifequal description "Indicia Publisher" %}
  {% with object as publisher %}
  {% with "indicia_publishers" as url_suffix %}
    {% include "gcd/bits/publisher_header.html" %}
  {% endwith %}
  {% endwith %}
{% endifequal %}

{% ifequal description "Series" %}
  {% with object as series %}
    {% include "gcd/bits/series_issue_header.html" %}
  {% endwith %}
{% endifequal %}

{% ifequal description "Issue" %}
  {% with object as issue %}
  {% with object.series as series %}
  {% with object.display_number as issue_number %}
    {% include "gcd/bits/series_issue_header.html" %}
  {% endwith %}
  {% endwith %}
  {% endwith %}
{% endifequal %}

<div class="details">
<table class="listing">
  <tr>
    <th> Changeset </th>
    <th> Date Approved </th>
    <th> Indexer </th>
    <th> Approver </th>
    <th> Changed Fields </th>
  </tr>
{% for changeset in changesets %}
  <tr class="{% cycle 'listing_even' 'listing_odd' %}">
    <td><a href="{% url compare id=changeset.id %}?collapse=1"> {{ changeset.id }} </a></td>
    <td>{{ changeset.modified }}</td>
    <td>{{ changeset.indexer.indexer|absolute_url }}</td>
    <td>{{ changeset.approver.indexer|absolute_url }}</td>
    <td>
    {{ changeset|changed_fields:object.id}}
    {{ changeset|changed_story_list }}
    </td>
  </tr>
{% endfor %}
</table>
</div>

{% endblock %}

