{% extends "gcd/base_view.html" %}

{% load i18n %}

{% block title %}
  GCD :: Cover :: {{ issue.series.name }} #{{ issue.display_number }}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/{{ style }}.css"/>
{% endblock %}

{% block view_body %}

{% with issue.series as series %}
{% with issue.display_number as issue_number %}
  {% include "gcd/bits/series_issue_header.html" %}
{% endwith %}
{% endwith %}

<div id="cover_zoom">
  <a href="{{ issue.get_absolute_url }}">{{ cover_tag }}</a>
  <div class="cover_links">Zoom:&nbsp;<a href="{{ issue.get_absolute_url }}cover/1/?style={{ style }}">Small</a>&nbsp;<a href="{{ issue.get_absolute_url }}cover/2/?style={{ style }}">Medium</a>&nbsp;<a href="{{ issue.get_absolute_url }}cover/4/?style={{ style }}">Large</a>
    <br><a href="{% url edit_covers issue_id=issue.id %}">Add/replace cover</a>
    <br>
    <a href="{{ issue.series.get_absolute_url }}covers/?style={{ style }}">Series Covers</a>
  </div>
</div>

{% with 1 as paginate_only %}
{% with issue.series as series %}
{% with issue.display_number as issue_number %}
  {% include "gcd/bits/series_issue_header.html" %}
{% endwith %}
{% endwith %}
{% endwith %}

{% endblock %}

