{% extends "gcd/base_view.html" %}

{% block title %} 
GCD :: Cover for {{ issue.series.name }} #{{ issue.display_number }} 
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/{{ style }}.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/{{ style }}/cover_upload.css"/>
{% endblock %}

{% block view_body %}

<h1 class="item_id search_id">
<div class="left">
Cover marked for replacement
</div>
</h1>
<div class="item_id">
<div class="left">
{{ issue.series.name }} #{{ issue.display_number }}
</div>
</div>


  <div id="cover_zoom">
  <a href="{{ issue.get_absolute_url }}">{{ cover_tag }}</a><br/>
  <a href="{{ issue.get_absolute_url }}cover/4/?style={{ style }}">Zoom</a><br/>
  <div id="info_links">
    <a href="{{ issue.series.get_absolute_url}}scans/?style={{ style }}">Cover Scan Status</a><br/>
    <a href="{{ issue.series.get_absolute_url }}covers/?style={{ style }}">Cover Gallery</a>
  </div>
  </div>
{% endblock %}

