{% extends "gcd/base_view.html" %}

{% load i18n %}
{% load credits %}

{% block title %} GCD :: Covers :: {{ series.name }} {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/{{ style|default:'default' }}.css"/>
{% endblock %}

{% block view_body %}

{% include "gcd/bits/series_issue_header.html" %}

<div id="info_links">
  <a href="{{ series.get_absolute_url }}status/?style={{ style|default:'default' }}"> Index Status</a> &nbsp; / &nbsp;
  <a href="{{series.get_absolute_url}}scans/?style={{ style|default:'default' }}">Cover Scan Status</a> ({{ series.scan_count }} cover{{ series.scan_count|pluralize }} for {{ series.issue_count }} issue{{ series.issue_count|pluralize }} available).
  <br>
  A click on the cover leads to the large cover view, a click on the issue number to the issue data.
</div>

<table id="covers">
  <tr>
  {% for cover, issue, tag in tags %}
    <td class="cover_grid{% if cover.marked %} marked{% endif %}">
      <a href="{{ issue.get_absolute_url }}cover/4/">{{ tag }}</a>
      <br>
      <div class="cover_caption">
        <span class="cover_number"><a href="{{ issue.get_absolute_url }}">Issue {{ issue.display_number }}</a></span>
        {% if issue.publication_date %}
        <br><span class="cover_date">{{ issue.publication_date }}</span>
        {% endif %}
        <br><a href="{% url edit_covers issue_id=cover.issue.id %}">Add/replace cover</a>
      </div>
    </td>
    {% if forloop.counter|divisibleby:table_width %}
  </tr>
  <tr>
    {% endif %}
  {% endfor %}
  </tr>
</table>

{% with 1 as paginate_only %}
{% with issue.series as series %}
{% with issue.display_number as issue_number %}
  {% include "gcd/bits/series_issue_header.html" %}
{% endwith %}
{% endwith %}
{% endwith %}

{% endblock %}
