{% extends "gcd/base_view.html" %}
{% load static %}
{% load i18n %}
{% load display %}

{% block title %}
  GCD :: Creator :: {{ creator }}
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css"
        href="{% static "css/gcd/default.css" %}"/>
{% endblock %}

{% block view_body %}
  {% include "gcd/bits/creator_header.html" %}

  <div class="control_body">
    <div id="control_container">
      <div id="control_center">
        <div class="left">
  {% if creator.portrait and not FAKE_IMAGES %}
        <img style="margin:1em 1em 0 0" src="{{ creator.portrait.scaled_image.url }}">
  {% endif %}
  <!-- TODO Portrait Sources -->
  {% if creator.portrait_source.all %}
          <hr>
          <h3>Portrait Sources</h3>
          <p><strong>sources</strong> :
    {% for portrait in creator.portrait_source.all %}
      {{ portrait }},
    {% endfor %}
          </p>
  {% endif %}
        </div>

        <div class="pub_data">
          <div class="table-container">
            <p><strong>Born:</strong> {{ creator.display_birthday }} in {{ creator.display_birthplace }}</p>
  {% if creator.has_death_info %}
            <p><strong>Died:</strong> {{ creator.display_deathday }} in {{ creator.display_deathplace }}</p>
  {% endif %}
  {% for name, value in creator.get_text_fields.items %}
    {% if value %}
            <p><strong>{{ name }}</strong> : {{ value }}</p>
    {% endif %}
  {% endfor %}
  {% if creator.bio %}
            <p><strong>Biography:</strong> {{ creator.bio|linebreaksbr }}</p>
  {% endif %}
  {% if creator.notes %}
            <p><strong>Notes:</strong> {{ creator.notes|urlizetrunc:75|linebreaksbr }}</p>
  {% endif %}
            <p>
            <ul style="columns: 2;">
              <li><a href='{% url "checklist_by_name" creator=creator.gcd_official_name %}'>Issue Checklist (via credit search for name "{{ creator.gcd_official_name }}")</a></li>
              <li><a href='{% url "checklist_by_id" creator_id=creator.id %}'>Issue Checklist (via linked credit records)</a></li>
              <li><a href='{% url "creator_overview" creator_id=creator.id %}'>Issue Overview (via linked credit records)</a></li>
              <li><a href='{% url "creator_migrate_checklist" creator=creator.gcd_official_name %}'>List of to be migrated issues (via credit search for name "{{ creator.gcd_official_name }}")</a></li>
              <li><a href='{% url "creator_edited_issues" creator_id=creator.id %}'>Issue Edit List (via linked credit records)</a></li>
              <li><a href='{% url "cover_checklist_by_id" creator_id=creator.id %}'>Cover List (via linked credit records)</a></li>
              <li><a href='{% url "creator_series" creator_id=creator.id %}'>Series List (via linked credit records)</a></li>
              <li><a href='{% url "creator_characters" creator_id=creator.id %}'>Characters List (via linked credit records)</a></li>
              <li><a href='{% url "creator_features" creator_id=creator.id %}'>Features List (via linked credit records)</a></li>
              <li><a href='{% url "creator_sequences" creator_id=creator.id %}'>Sequences List (via linked credit records)</a></li>
              <li><a href='{% url "haystack_search" %}?q="{{ creator.gcd_official_name }}"&selected_facets=facet_model_name_exact:story&sort=chrono'>Story Credits in the GCD (via search for "{{ creator.gcd_official_name }}")</a></li>
              <li><a href='{% url "creator_creators" creator_id=creator.id %}'>Co-Creators List (via linked credit records)</a></li>

  {% if creator.whos_who %}
            <li><a href="{{ creator.whos_who }}">Who's Who of American Comic Books</a></li>
  {% endif %}
  {% if creator.external_link.count %}
    {% for external_link in creator.external_link.all %}
    <li><a href="{{ external_link.link }}">{{ external_link.site }}</a></li>
    {% endfor %}
  {% endif %}
          </ul></p>
          </div> <!-- table-container -->
  <!-- TODO Bio Sources -->
  {% if creator.bio_source.all %}
          <hr>
          <h3>Bio Sources</h3>
          <p><strong>sources</strong> :
    {% for bio in creator.bio_source.all %}
      {{ bio }},
    {% endfor %}
          </p>
  {% endif %}

  {% if creator.samplescan and not FAKE_IMAGES %}
    <hr>
          <h3>Sample Scan:</h3>
          <img src="{{ creator.samplescan.scaled_image.url }}">
  {% endif %}

  <!-- Creator's Names -->
          <hr>
          <h3>Name:</h3>
          <ol>
            <a href="{% url 'creator_name_sequences' creator_id=gcd_name.id %}">{{ gcd_name.name }}</a>
            <strong>Type</strong>: {{ gcd_name.type }}<br>
  {% if gcd_name.given_name %}
            <strong>Given name</strong>: {{ gcd_name.given_name }}
  {% endif %}
  {% if gcd_name.family_name %}
            <strong>Family name</strong>: {{ gcd_name.family_name }}
  {% endif %}
  {% if creator.disambiguation %}
            <br><strong>Disambiguation:</strong> {{ creator.disambiguation }}
  {% endif %}
          </ol>
  {% if other_names %}
          <h3>Other Names:</h3>
    {% if  other_names.count > 1 %}
          <ol style="columns: 2;">
    {% else %}
          <ol>
    {% endif %}
    {% for creator_name in other_names %}
            <li style="page-break-inside: avoid;">
              <a href="{% url 'creator_name_sequences' creator_id=creator_name.id %}">{{ creator_name.name }}</a>
              <strong>Type</strong>: {{ creator_name.type }}<br>
      {% if creator_name.given_name %}
              <strong>Given name</strong>: {{ creator_name.given_name }}
      {% endif %}
      {% if creator_name.family_name %}
             <strong>Family name</strong>: {{ creator_name.family_name }}
      {% endif %}
      {% if creator_name.source.all %}
             <strong>Sources</strong> :{% for source in creator_name.source.all %}
        {{ source.type }},{% endfor %}
      {% endif %}
            </li>
    {% endfor %}
          </ol>
  {% endif %}
  <!--Creator's Schools-->
  {% if creator.active_schools %}
          <hr>
          <h3>Schools:</h3>
          <ol>
    {% for school in creator.active_schools %}
            <li>
              <p><a href="{{ school.get_absolute_url }}">{{ school.school }}</a>
        {% if school.school_year_began %}
          {{ school.school_year_began }}
        {% endif %}
        {% if not school.school_year_began or school.school_year_began_uncertain %}
          ?
        {% endif %}
          to
        {% if school.school_year_ended %}
          {{ school.school_year_ended }}
        {% endif %}
        {% if not school.school_year_ended or school.school_year_ended_uncertain %}
          ?
        {% endif %}
        {% if school.notes %}
              <p><strong>Notes: </strong>{{ school.notes }}</p>
        {% endif %}
            </li>
      {% endfor %}
          </ol>
    {% endif %}

  <!--Creator's Degree-->
  {% if creator.active_degrees %}
          <hr>
          <h3>Degrees:</h3>
          <ol>
    {% for degree in creator.active_degrees %}
          <li>
            <p><a href="{{ degree.get_absolute_url }}">{{ degree.degree }}, {{ degree.school.school_name }}</a>
      {% if degree.degree_year or degree.degree_year_uncertain %}
        in {{ degree.degree_year }}{% if degree.degree_year_uncertain %}?{% endif %}
      {% endif %}
      {% if degree.notes %}
            <p><strong>Notes: </strong>{{ degree.notes }}</p>
      {% endif %}
          </li>
    {% endfor %}
          </ol>
  {% endif %}

  <!--Creator's Signatures-->
  {% if creator.active_signatures %}
          <hr>
          <h3>Signatures:</h3>
          <ol>
    {% for signature in creator.active_signatures %}
      <li><a href="{{ signature.get_absolute_url }}">{{ signature.name }}</a>
      {% if signature.signature %}
              <img src="{{ signature.signature.scaled_image.url }}">
      {% else %}
               [generic]
      {% endif %}
            </li>
    {% endfor %}
          </ol>
  {% endif %}

  <!--Creator's Awards-->
  {% if creator.active_awards %}
          <hr>
          <h3>Awards:</h3>
          <ol style="columns: 2;">
    {% for award in creator.active_awards %}
          <li style="page-break-inside: avoid;">
      {% if award.award_year %}
        {{ award.award_year }}:
      {% endif %}
      {% if award.award %}
        <a href="{{ award.award.get_absolute_url }}">{{ award.award.name }}</a> -
      {% endif %}
            <a href="{{ award.get_absolute_url }}">{{ award.display_name }}</a>
	    </li>
    {% endfor %}
          </ol>
  {% endif %}
  {% if creator.active_awards_for_issues %}
          <hr>
          <h3>Awards for Issues:</h3>
          <ol style="columns: 2;">
    {% for award in creator.active_awards_for_issues %}
          <li style="page-break-inside: avoid;">
      {% if award.award_year %}
        {{ award.award_year }}:
      {% endif %}
      {% if award.award %}
        <a href="{{ award.award.get_absolute_url }}">{{ award.award.name }}</a> -
      {% endif %}
            <a href="{{ award.get_absolute_url }}">{{ award.display_name }}</a><br>
            <a href="{{ award.recipient.get_absolute_url }}">{{ award.recipient }}</a>
	    </li>
    {% endfor %}
          </ol>
  {% endif %}
  {% if creator.active_awards_for_stories %}
          <hr>
          <h3>Awards for Stories:</h3>
          <ol style="columns: 2;">
    {% for award in creator.active_awards_for_stories %}
          <li style="page-break-inside: avoid;">
      {% if award.award_year %}
        {{ award.award_year }}:
      {% endif %}
      {% if award.award %}
        <a href="{{ award.award.get_absolute_url }}">{{ award.award.name }}</a> -
      {% endif %}
            <a href="{{ award.get_absolute_url }}">{{ award.display_name }}</a><br>
            <a href="{{ award.recipient.get_absolute_url }}">{{ award.recipient }}</a>
	    </li>
    {% endfor %}
          </ol>
  {% endif %}

  <!--Creator's Art Influences-->
  {% if creator.active_art_influences or creator.active_influenced_creators %}
          <hr>
          <h3>Art Influences:</h3>
    {% if creator.active_art_influences %}
      {{ creator }} stated influences by:
      {% if  creator.active_art_influences.count > 1 %}
          <ol style="columns: 2;">
      {% else %}
          <ol>
      {% endif %}
      {% for influence in creator.active_art_influences %}
            <li>
              <a href="{{ influence.get_absolute_url }}">{% if influence.influence_link %}{{ influence.influence_link }}{% else %}{{ influence.influence_name }}{% endif %}</a>
            </li>
      {% endfor %}
          </ol>
    {% endif %}
    {% if creator.active_influenced_creators %}
      Influences by {{ creator }} were stated by:
      {% if  creator.active_influenced_creators.count > 1 %}
          <ol style="columns: 2;">
      {% else %}
          <ol>
      {% endif %}
      {% for influence in creator.active_influenced_creators %}
            <li>
              <a href="{{ influence.get_absolute_url }}">{{ influence.creator }}</a>
            </li>
      {% endfor %}
          </ol>
    {% endif %}
  {% endif %}

  <!--Creator's Memberships-->
  {% if creator.active_memberships %}
          <hr>
          <h3>Memberships:</h3>
          <ol>
    {% for membership in creator.active_memberships %}
            <li>
              <p><a href="{{ membership.get_absolute_url }}">{{ membership.organization_name }}</a>
              <strong>Type</strong>: {{ membership.membership_type.type }}
	      {% if membership.display_years %}
	      <strong>Duration:</strong> {{ membership.display_years }}
	      {% endif %}
      {% if membership.notes %}
              <br><strong>Notes: </strong>{{ membership.notes }}
      {% endif %}
              </p>
            </li>
    {% endfor %}
          </ol>
  {% endif %}

  <!--Creator's Noncomic works-->
  {% if creator.active_non_comic_works %}
          <hr>
          <h3>Non Comics Works:</h3>
          <ol>
    {% for ncw in creator.active_non_comic_works %}
            <li>
              <p><strong>Publication Title</strong>: <a href="{{ ncw.get_absolute_url }}">{{ ncw.publication_title }}</a>
              ({{ ncw.work_type.type }}) - <strong>Role:</strong> {{ ncw.work_role.role_name }}
              {% if ncw.display_years %}
	      - <strong>Year{{ ncw.noncomicworkyears.all|pluralize }}:</strong> {{ ncw.display_years }}
	      {% endif %}
      {% if ncw.employer_name %}
              <br><strong>Employer Name</strong> : {{ ncw.employer_name }}
      {% endif %}
      {% if ncw.work_title %}
              <br><strong>Work Title:</strong> {{ ncw.work_title }}
      {% endif %}
      {% if ncw.notes %}
              <br><strong>Notes: </strong>{{ ncw.notes }}
      {% endif %}
              </p>
            </li>
    {% endfor %}
          </ol>
  {% endif %}

  {% if creator.active_relations %}
        <hr>
        <h3>Relations:</h3>
        {% if  creator.active_relations.count > 1 %}
        <ol style="columns: 2;">
        {% else %}
        <ol>
        {% endif %}
    {% for relation in creator.active_relations %}
      {% with relation_info=relation|pre_process_relation:creator %}
        <li style="page-break-inside: avoid;">
        <a href="{% url 'show_creator_relation' creator_relation_id=relation.id %}">{{ relation_info.1 }}</a> - <a href="{% url 'show_creator' creator_id=relation_info.0.id %}">{{ relation_info.0 }}</a>
        {% if relation.relation_type.id in studio_types and relation.creator_name.count %} using the name{{ relation.creator_name.count|pluralize }}:
          {% for creator_name in relation.creator_name.all  %}
            {{ creator_name.name }}{% if not forloop.last %};{%  endif %}
          {% endfor %}
        {% endif %}
        {% if relation.notes %}
          <br><strong>Notes: </strong>{{ relation.notes }}
        {% endif %}
        </li>
      {% endwith %}
    {% endfor %}
          </ol>
  {% endif %}

          <br>

        </div> <!-- pub_data -->
      </div> <!-- control_center -->


  {% if not preview or creator.id %}
      <div id="control_rail">
        <div class="edit_box">
    {% if MYCOMICS %}
          <div class="edit_header">
            <div>my.comics.org</div>
          </div>
    {% else %}
          <div class="edit_header">Editing</div>
      {% if not preview %}
        {% with creator as object %}
          {% with 'creator' as object_class %}
            {% with 'creator' as object_name %}
              {% include "gcd/bits/status_banner.html" %}
            {% endwith %}
          {% endwith %}
        {% endwith %}
        {% if user.is_authenticated and not creator.pending_deletion %}
          <p style="margin:2px;"><a href="{% url "add_creator_art_influence" creator.id %}">
            <button>Add Art Influence</button>
          </a></p>
          <p style="margin:2px;"><a href="{% url "add_creator_award" creator.id %}">
            <button>Add Award</button>
          </a></p>
          <p style="margin:2px;"><a href="{% url "add_creator_membership" creator.id %}">
            <button>Add Membership</button>
          </a></p>
          <p style="margin:2px;"><a href="{% url "add_creator_non_comic_work" creator.id %}">
            <button>Add Non Comic Work</button>
          </a></p>
          <p style="margin:2px;"><a href="{% url "add_creator_relation" creator.id %}">
            <button>Add Relation</button>
          </a></p>
          <p style="margin:2px;"><a href="{% url "add_creator_school" creator.id %}">
            <button>Add School</button>
          </a></p>
          <p style="margin:2px;"><a href="{% url "add_creator_degree" creator.id %}">
            <button>Add School Degree</button>
          </a></p>
          <p style="margin:2px;"><a href="{% url "add_creator_signature" creator.id %}">
            <button>Add Signature</button>
          </a></p>
        {% endif %}
          {% if creator.portrait %}
            {% if creator.portrait.reserved %}
          <div style='padding:.4em' class="index_status_1">
            Creator portrait changes pending
          </div>
            {% else %}
              {% if user.is_authenticated %}
          <p style="margin:2px;"><a href="{% url "replace_image" model_name='creator' id=creator.id image_id=creator.portrait.id %}">
            <button>Replace Portrait Image</button>
          </a></p>
          <p style="margin:2px;"><a href="{% url "delete_revision" model_name='image' id=creator.portrait.id %}">
            <button>Delete Portrait Image</button>
          </a></p>
              {% endif %}
            {% endif %}
          {% else %}
            {% if user.is_authenticated %}
          <p style="margin:2px;"><a href="{% url "upload_image" model_name='creator' id=creator.id image_type='CreatorPortrait' %}">
            <button>Add Portrait Image</button>
          </a></p>
            {% endif %}
          {% endif %}
          {% if creator.samplescan %}
            {% if creator.samplescan.reserved %}
          <div style='padding:.4em' class="index_status_1">
            Creator sample scan changes pending
          </div>
          {% else %}
            {% if user.is_authenticated %}
          <p style="margin:2px;"><a href="{% url "replace_image" model_name='creator' id=creator.id image_id=creator.samplescan.id %}">
            <button>Replace Sample Scan Image</button>
          </a></p>
          <p style="margin:2px;"><a href="{% url "delete_revision" model_name='image' id=creator.samplescan.id %}">
            <button>Delete Sample Scan Image</button>
          </a></p>
            {% endif %}
          {% endif %}
        {% else %}
          {% if user.is_authenticated %}
          <p style="margin:2px;"><a href="{% url "upload_image" model_name='creator' id=creator.id image_type='SampleScan' %}">
            <button>Add Sample Scan Image</button>
          </a></p>
          {% endif %}
        {% endif %}
      {% endif %} <!-- not preview -->
    {% endif %} <!-- MYCOMCIS -->
        </div> <!-- control_rail -->
        <div id="change_history" class="edit_footer">
          <a href="{% url "change_history" model_name='creator' id=creator.id %}">View Change History</a>
        </div>
  {% endif %}
      </div> <!-- control_container -->
    </div> <!-- control_body -->
{% endblock %}
