{% extends "gcd/base_view.html" %}
{% load i18n %}

{% block title %}
  GCD :: Creator Award :: {{ creator_award.award_name }}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/default.css"/>
{% endblock %}

{% block view_body %}
 {% include "gcd/bits/creator_header.html" %}
<div class="control_body">
  <div id="control_container">
    <div id="control_center">
      <dl class="pub_data">
{#{% if indicia_publisher.is_surrogate %}#}
{#        <dt> Surrogate:#}
{#        <dd> This company was a surrogate for {{ indicia_publisher.parent }}, meaning that it #}
{#             published material on behalf of {{ indicia_publisher.parent }} but was not#}
{#             directly associated with it.#}
{#{% endif %}#}
        <dt> Award Name:
        <dd> {{ creator_award.award_name }}
{% if creator_award.award_year %}
        <dt> Award Year:
        <dd> {{ creator_award.award_year }}
{% endif %}
{% if creator_award.award_source %}
        <dt> Award Sources:
        {% for source in creator_award.award_source.all %}
        <dd> {{ source.type }}
        {% endfor %}
{% endif %}

      </dl>
    </div> <!-- control_center -->
  {% if not preview or creator_award.source %}
    <div id="control_rail">
      <div class="edit_box">
        <div class="edit_header">Editing</div>
  {% if not preview %}
    {% with creator_award as object %}
    {% with 'creator_award' as object_class %}
    {% with 'creator_award' as object_name %}
      {% include "gcd/bits/status_banner.html" %}
    {% endwith %}
    {% endwith %}
    {% endwith %}

  {% endif %} <!-- not preview -->
      </div> <!-- edit_box -->
      <div class="change_history">
  {% if preview %}
        <a href="{% url "change_history" model_name='creator_award' id=creator_award.source.id %}">Change History</a>
  {% else %}
        <a href="{% url "change_history" model_name='creator_award' id=creator_award.id %}">Change History</a>
  {% endif %}
      </div>
        </div> <!-- control_rail -->
{% endif %}
  </div> <!-- control_container -->
</div> <!-- control_body -->


{% endblock %}
