{% extends "gcd/base_content.html" %}

{% block title %}
  GCD :: Creator Relation :: {{ creator_relation.from_creator }} - {{ creator_relation.to_creator }}
{% endblock %}

{% block content_header %}
 {% include "gcd/bits/creator_header.html" %}
{% endblock content_header %}

{% block content %}
<dl class="pub_data">
  <dt> Creator:
  <dd> <a href="{{ creator_relation.from_creator.get_absolute_url }}">{{ creator_relation.from_creator }}</a>
  <dt> Relation:
  <dd> {{ creator_relation.relation_type }}
  <dt> Creator:
  <dd> <a href="{{ creator_relation.to_creator.get_absolute_url }}">{{ creator_relation.to_creator }}</a>
  {% if creator_relation.creator_name.count %}
    <dt> Using Creator Name{{ creator_relation.creator_name.count|pluralize }}:
    <dd>
    {% for creator_name in creator_relation.creator_name.all %}
      {{ creator_name.name }}{% if not forloop.last %};{%  endif %}
    {% endfor %}
  {% endif %}
  {% if creator_relation.notes %}
    <dt>Notes:
    <dd>{{ creator_relation.notes }}
  {% endif %}
  {% with creator_relation.data_source.all as data_sources %}
    {% include "gcd/bits/show_sources.html" %}
  {% endwith %}
</dl>
{% endblock content %}

{% block edit_box %}
  {% if not preview %}
    {% with creator_relation as object %}
    {% with 'creator_relation' as object_class %}
    {% with 'creator_relation' as object_name %}
      {% include "gcd/bits/status_banner.html" %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
  {% endif %} <!-- not preview -->
{% endblock edit_box %}

{% block change_history %}
  {% if preview %}
    <a href="{% url "change_history" model_name='creator_relation' id=creator_relation.source.id %}">View Change History</a>
  {% else %}
    <a href="{% url "change_history" model_name='creator_relation' id=creator_relation.id %}">View Change History</a>
  {% endif %}
{% endblock change_history %}