{% extends "gcd/base_content.html" %}

{% block title %}
  GCD :: Creator Membership :: {{ creator_school.creator }} - {{ creator_membership.organization_name }}
{% endblock %}

{% block content_header %}
 {% include "gcd/bits/creator_header.html" %}
{% endblock content_header %}

{% block content %}
  <dl class="pub_data">
    <dt> Organization Name:
    <dd> {{ creator_membership.organization_name }}
    <dt> Membership Type:
    <dd> {{ creator_membership.membership_type }}
    <dt> Year began:
    <dd> {{ creator_membership.membership_year_began|default:'' }}
    {% if not creator_membership.membership_year_began or creator_membership.membership_year_began_uncertain %} ?{% endif %}
      {% if creator_membership.membership_year_ended or creator_membership.membership_year_ended_uncertain %}
      <dt>Year ended:
      <dd>{{ creator_membership.membership_year_ended|default:'' }}
      {% if creator_membership.membership_year_ended_uncertain %} ?{% endif %}
    {% endif %}
    {% if creator_membership.notes %}
      <dt>Notes:
      <dd>{{ creator_membership.notes }}
    {% endif %}
    {% with creator_membership.data_source.all as data_sources %}
      {% include "gcd/bits/show_sources.html" %}
    {% endwith %}
  </dl>
{% endblock content %}

{% block edit_box %}
  {% if not preview %}
    {% with creator_membership as object %}
    {% with 'creator_membership' as object_class %}
    {% with 'creator_membership' as object_name %}
      {% include "gcd/bits/status_banner.html" %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
  {% endif %} <!-- not preview -->
{% endblock edit_box %}

{% block change_history %}
  {% if preview %}
    <a href="{% url "change_history" model_name='creator_membership' id=creator_membership.source.id %}">View Change History</a>
  {% else %}
    <a href="{% url "change_history" model_name='creator_membership' id=creator_membership.id %}">View Change History</a>
  {% endif %}
{% endblock change_history %}
