{% extends "gcd/base_content.html" %}

{% block title %}
  GCD :: Creator Art Influence :: {{ creator_art_influence.influence_name }}
{% endblock %}

{% block header %}
 {% include "gcd/bits/creator_header.html" %}
{% endblock header %}

{% block content %}
  <dl class="pub_data">
        {% if creator_art_influence.influence_name %}
        <dt> Influence Name:
        <dd> {{ creator_art_influence.influence_name }}
        {% endif %}
        {% if creator_art_influence.influence_link %}
        <dt> Influence Link:
        <dd> <a href="{{ creator_art_influence.influence_link.get_absolute_url }}">{{ creator_art_influence.influence_link }}</a>
        {% endif %}
        {% if creator_art_influence.notes %}
        <dt>Notes
        <dd>{{ creator_art_influence.notes }}
        {% endif %}
        {% with creator_art_influence.data_source.all as data_sources %}
        {% include "gcd/bits/show_sources.html" %}
        {% endwith %}
      </dl>
{% endblock content %}

{% block edit_box %}
  {% if not preview %}
    {% with creator_art_influence as object %}
    {% with 'creator_art_influence' as object_class %}
    {% with 'creator_art_influence' as object_name %}
      {% include "gcd/bits/status_banner.html" %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
  {% endif %} <!-- not preview -->
{% endblock edit_box %}

{% block change_history %}
  {% if preview %}
    {% if creator_art_influence.revision.source %}
        <a href="{% url "change_history" model_name='creator_art_influence' id=creator_art_influence.revision.source.id %}">View Change History</a>
  {% endif %}
  {% else %}
        <a href="{% url "change_history" model_name='creator_art_influence' id=creator_art_influence.id %}">View Change History</a>
  {% endif %}
{% endblock change_history %}
