{% extends "gcd/base_view.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
  GCD :: Creator Award :: {{ creator_award.award_name }}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
    href="{% static "css/gcd/default.css" %}"/>
{% endblock %}

{% block view_body %}
 {% include "gcd/bits/creator_header.html" %}
<div class="control_body">
  <div id="control_container">
    <div id="control_center">
      <dl class="pub_data">
{% if creator_award.award %}
        <dt> Award:
        <dd> {{ creator_award.award }}
{% endif %}
        <dt> Award Name:
        <dd> {{ creator_award.award_name }}
{% if creator_award.award_year %}
        <dt> Award Year:
        <dd> {{ creator_award.award_year }}
{% endif %}
        {% if creator_award.notes %}
        <dt>Notes
        <dd>{{ creator_award.notes }}
        {% endif %}
        {% with creator_award.data_source.all as data_sources %}
        {% include "gcd/bits/show_sources.html" %}
        {% endwith %}
      </dl>
    </div> <!-- control_center -->
  {% if not preview or creator_award.source %}
    <div id="control_rail">
      <div class="edit_box">
        <div class="edit_header">Editing</div>
  {% if not preview %}
    {% with creator_award as object %}
    {% with 'creator_award' as object_class %}
    {% with 'creator_award' as object_name %}
      {% include "gcd/bits/status_banner.html" %}
    {% endwith %}
    {% endwith %}
    {% endwith %}

  {% endif %} <!-- not preview -->
      </div> <!-- edit_box -->
      <div id="change_history" class="edit_footer">
  {% if preview %}
        <a href="{% url "change_history" model_name='creator_award' id=creator_award.source.id %}">View Change History</a>
  {% else %}
        <a href="{% url "change_history" model_name='creator_award' id=creator_award.id %}">View Change History</a>
  {% endif %}
      </div>
        </div> <!-- control_rail -->
{% endif %}
  </div> <!-- control_container -->
</div> <!-- control_body -->


{% endblock %}
