{% extends "gcd/base_view.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
  GCD :: Creator Art Influence :: {{ creator_artinfluence.influence_name }}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
    href="{% static "css/gcd/default.css" %}"/>
{% endblock %}

{% block view_body %}
 {% include "gcd/bits/creator_header.html" %}
<div class="control_body">
  <div id="control_container">
    <div id="control_center">
      <dl class="pub_data">
        <dt> Influence Name:
        <dd> {{ creator_artinfluence.influence_name }}
        <dt> Influence Link:
        <dd> {{ creator_artinfluence.influence_link }}
{% if creator_artinfluence.is_self_identify %}
        <dt> Is Self Identify ?:
        <dd> {{ creator_artinfluence.is_self_identify }}
{% endif %}
{% if creator_artinfluence.is_self_identify and creator_artinfluence.self_identify_influences_doc %}
        <dt> Self Identify Influences Docc.:
        <dd> {{ creator_artinfluence.self_identify_influences_doc }}
{% endif %}
{% if creator_artinfluence.influence_source %}
        <dt> Influence Sources:
        {% for source in creator_artinfluence.influence_source.all %}
        <dd> {{ source.type }}
        {% endfor %}
{% endif %}

      </dl>
    </div> <!-- control_center -->
  {% if not preview or creator_artinfluence.source %}
    <div id="control_rail">
      <div class="edit_box">
        <div class="edit_header">Editing</div>
  {% if not preview %}
    {% with creator_artinfluence as object %}
    {% with 'creator_artinfluence' as object_class %}
    {% with 'creator_artinfluence' as object_name %}
      {% include "gcd/bits/status_banner.html" %}
    {% endwith %}
    {% endwith %}
    {% endwith %}

  {% endif %} <!-- not preview -->
      </div> <!-- edit_box -->
      <div class="change_history">
  {% if preview %}
        <a href="{% url "change_history" model_name='creator_artinfluence' id=creator_artinfluence.source.id %}">Change History</a>
  {% else %}
        <a href="{% url "change_history" model_name='creator_artinfluence' id=creator_artinfluence.id %}">Change History</a>
  {% endif %}
      </div>
        </div> <!-- control_rail -->
{% endif %}
  </div> <!-- control_container -->
</div> <!-- control_body -->


{% endblock %}
