{% extends "gcd/base_view.html" %}

{% block title %}
Confirm deletion of {{ object }}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/default.css"/>
{% endblock %}

{% block view_body %}
<h2>Are you sure you want to delete {{ object }}?</h2>

<form id="comments" action="{% url delete_revision model_name=model_name,id=id %}" method="POST">
  <div {% if no_comment %}class="error_message_text"{% endif %}>
    <label for="comments">A comment is required:</label>
    <br>
    <textarea name="comments"></textarea>
  </div>
  <input type="submit" name="delete" value="Confirm Deletion"></input>
  <input type="submit" name="cancel" value="Cancel"></input>
</form>
{% endblock %}
