{% extends "gcd/base_content.html" %}

{% load i18n %}
{% load display %}
{% load credits %}

{% block title %}
GCD :: Group :: {{ group.name }}
{% endblock %}

{% block content_header %}
<h1 class="item_id">
  <div class="left">
    {{ group.name }}
  </div>
</h1>
<div class="item_id">
  <div class="flex_left">
    {{ group.language }}
  </div>
</div>
{% endblock content_header %}

{% block content %}
      <dl class="pub_data">
{% if group.disambiguation %}
        <p><strong>Disambiguation:</strong> {{ group.disambiguation }}</p>
{% endif %}
{% if group.universe %}
        <p><strong>Universe:</strong> {{ group.universe|absolute_url }}</p>
{% endif %}
{% if group.year_first_published %}
        <p><strong>First published in:</strong> {{ group.display_year_first_published }}</p>
{% endif %}
{% if group.description %}
        <dt> Description:
        <dd> {{ group.description|urlizetrunc:75|linebreaksbr }}
{% endif %}
{% if group.notes %}
        <dt> Notes:
        <dd> {{ group.notes|urlizetrunc:75|linebreaksbr }}
{% endif %}
<p>{{ group|show_credit:'keywords' }}</P>
      </dl>
      <ul style="columns: 2;">
        <li><a href='{% url "group_creators" group_id=group.id %}'>Creator Checklist (via linked story records)</a></li>
        <li><a href='{% url "group_creator_names" group_id=group.id %}'>Creator Name Checklist (via linked story records)</a></li>
        <li><a href='{% url "group_issues" group_id=group.id %}'>Issue Checklist (via linked story records)</a></li>
        <li><a href='{% url "group_sequences" group_id=group.id %}'>Sequences List (via linked story records)</a></li>
      </ul>
{% if group.active_universe_origins %}
      <hr>
      <h3>Appearances With a Group Universe:</h3>
      <table style="border-collapse: collapse;">
        <tr><td style="padding: 0"><ul style="margin: 0">
          <li><a href='{% url "group_issues_per_universe" group_id=group.id universe_id=-1 %}'>without a universe</a></li>
        {% for universe in group.active_universe_origins %}
        <tr><td style="padding: 0"><ul style="margin: 0">
          <li><a href='{% url "group_issues_per_universe" group_id=group.id universe_id=universe.id %}'>{{ universe }}</a></li></td>
          {% comment %} <td style="padding:0 0 0 2em">{{ character|group_for_universe:universe.id }}</td></tr> {% endcomment %}
        {% endfor %}
      </table>
{% endif %}
{% if group.active_universe_appearances %}
      <hr>
      <h3>Appearances With a Story Universe:</h3>
      <table style="border-collapse: collapse;">
        <tr><td style="padding: 0"><ul style="margin: 0">
          <li><a href='{% url "group_story_issues_per_universe" group_id=group.id story_universe_id=-1 %}'>without a universe</a></li>
        {% for universe in group.active_universe_appearances %}
        <tr><td style="padding: 0"><ul style="margin: 0">
          <li><a href='{% url "group_story_issues_per_universe" group_id=group.id story_universe_id=universe.id %}'>{{ universe }}</a></li></td>
        </tr>
        {% endfor %}
      </table>
{% endif %}

  {% if group.active_relations %}
        <hr>
        <h3>Relations:</h3>
        {% if group.active_relations.count > 1 %}
        <ol style="columns: 2;">
        {% else %}
        <ol>
        {% endif %}
    {% for relation in group.active_relations %}
      {% with relation_info=relation|pre_process_relation:group %}
        <li style="page-break-inside: avoid;">
          <a href="{% url 'show_group_relation' group_relation_id=relation.id %}">{{ relation_info.1 }}</a> - <a href="{% url 'show_group' group_id=relation_info.0.id %}">{{ relation_info.0 }}</a>
        {% if relation.notes %}
          <br><strong>Notes: </strong>{{ relation.notes }}
        {% endif %}
        </li>
      {% endwith %}
    {% endfor %}
          </ol>
  {% endif %}

  {% if group.active_members %}
        <hr>
        <h3>Group Members:</h3>
        {% if group.active_members.count > 1 %}
        <ol style="columns: 2;">
        {% else %}
        <ol>
        {% endif %}
    {% for member in group.active_members %}
        <li style="page-break-inside: avoid;">
          <a href="{% url 'show_character' character_id=member.character.id %}">{{ member.character }}</a>
          <br>
          <a href="{% url 'show_group_membership' group_membership_id=member.id %}">{{ member.display_years }} ({{ member.membership_type }}</a>)
        {% if member.notes %}
          <br><strong>Notes: </strong>{{ member.notes }}
        {% endif %}
        </li>
    {% endfor %}
          </ol>
  {% endif %}

{% endblock content %}

{% block edit_box %}
 {% if not preview %}
   {% with object=group object_class='group' object_name='Group' %}
     {% include "gcd/bits/status_banner.html" %}
   {% endwith %}
 {% endif %}
 {% if request.user.is_authenticated %}
  <form method="GET"
        action="{% url "add_group_relation" group_id=group.id %}">
      <input name="add_group_relation" type="submit" value="Add Relation"/>
  </form>
  <form method="GET"
        action="{% url "add_group_member" group_id=group.id %}">
      <input name="add_group_member" type="submit" value="Add Group Member"/>
  </form>
  {% endif %}
{% endblock edit_box %}

{% block change_history %}
  {% if preview %}
    <a href="{% url "change_history" model_name='group' id=group.source.id %}">View Change History</a>
  {% else %}
    <a href="{% url "change_history" model_name='group' id=group.id %}">View Change History</a>
  {% endif %}
{% endblock change_history %}
