{% extends "gcd/base_view.html" %}

{% load i18n %}

{% block title %}
  GCD :: Publisher :: {{ publisher.name }} :: Imprints
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/default.css"/>
{% endblock %}

{% block view_body %}

{% include "gcd/bits/publisher_header.html" %}

<div>
  <dl class="pub_data">
  {% if publisher.country %}
    <dt> Country:
    <dd> {{ publisher.country.name }}
  {% endif %}

  {% if publisher.notes %}
    <dt> Notes:
    <dd> {{ publisher.notes|linebreaksbr }}
  {% endif %}

  {% if publisher.url %}
    <dt> Web Site:
    <dd> <a href="{{ publisher.get_official_url }}">{{ publisher.url }}</a>
  {% endif %}
  </dl>
</div>

{% if publisher.has_imprints %}
<table id="publisher_detail_listing" class="listing">
  <tr>
    <th> Imprint </th>
    <th> Titles </th>
    <th> Issues </th>
  </tr>
{% for imprint in items %}
  <tr class="{% cycle 'listing_even' 'listing_odd' %}">
    <td> <a href="{{ imprint.get_absolute_url }}">{{ imprint.name }}</a> </td>
    <td> {{ imprint.series_count }} </td>
    <td> {{ imprint.computed_issue_count }} </td>
  </tr>
{% endfor %}
</table>
{% else %}
<dl>
  <dt> Imprints:
  <dd> None
</dl>
{% endif %}

{% with 1 as paginate_only %}
{% include "gcd/bits/publisher_header.html" %}
{% endwith %}

{% endblock %}
