{% extends "gcd/base_view.html" %}

{% load i18n %}
{% load display %}

{% block title %}
GCD :: Indicia Publisher :: {{ indicia_publisher.name }}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/{{ style|default:'default' }}.css"/>
{% endblock %}

{% block view_body %}

{% with indicia_publisher as publisher %}
{% with "Indicia Publisher" as description %}
{% with "indicia_publishers" as url_suffix %}
  {% include "gcd/bits/publisher_header.html" %}
{% endwith %}
{% endwith %}
{% endwith %}

<div class="control_body">
  <div id="control_container">
    <div id="control_center">
      <dl class="pub_data">
{% if indicia_publisher.is_surrogate %}
        <dt> Surrogate:
        <dd> This company was a surrogate for {{ indicia_publisher.parent }}, meaning that it 
             published material on behalf of {{ indicia_publisher.parent }} but was not
             directly associated with it.
{% endif %}
        <dt> Country:
        <dd> {{ indicia_publisher.country.name }}
{% if indicia_publisher.url %}
        <dt> Web Site:
        <dd> <a href="{{ indicia_publisher.url }}">{{ indicia_publisher.url }}</a>
{% endif %}
{% if indicia_publisher.notes %}
        <dt> Notes:
        <dd> {{ indicia_publisher.notes|linebreaksbr }}
{% endif %}
{% ifequal page.object_list.count 0 %}
        <dt> Issues:
        <dd> None
{% endifequal %}
      </dl>
    </div>
  </div>

{% if not preview or indicia_publisher.source %}
  <div id="control_rail">
    <div class="edit_box">
      <div class="edit_header">Editing</div>
  {% if not preview %}
    {% with indicia_publisher as object %}
    {% with 'indicia_publisher' as object_class %}
    {% with 'Indicia Publisher' as object_name %}
      {% include "gcd/bits/status_banner.html" %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
  {% endif %}
    </div>
    <div class="change_history">
  {% if preview %}
      <a href="{% url change_history model_name='indicia_publisher' id=indicia_publisher.source.id %}">Change History</a>
  {% else %}
      <a href="{% url change_history model_name='indicia_publisher' id=indicia_publisher.id %}">Change History</a>
  {% endif %}
    </div>
  </div>
{% endif %}
</div>

{% if page.object_list.count %}
<table id="publisher_detail_listing" class="listing">
  <tr>
    <th> Issue </th>
    <th> Publication Date </th>
    <th> Brand </th>
  </tr>
  {% for issue in page.object_list %}
  <tr class="{% cycle 'listing_even' 'listing_odd' %}">
    <td> {{ issue|show_issue }} </td>
    <td> {{ issue.publication_date }} </td>
    <td> {% if not issue.no_brand %}
           {{ issue.brand|absolute_url|default:"?" }}
         {% endif %} </td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% with 1 as paginate_only %}
{% with indicia_publisher as publisher %}
{% include "gcd/bits/publisher_header.html" %}
{% endwith %}
{% endwith %}

{% endblock %}
