{% extends "gcd/base_view.html" %}

{% load i18n %}

{% block title %}
  GCD :: Publisher :: {{ publisher.name }} :: Indicia Publishers
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}/css/gcd/{{ style|default:'default' }}.css"/>
{% endblock %}

{% block view_body %}

{% with "Indicia Publishers" as extra %}
{% include "gcd/bits/publisher_header.html" %}
{% endwith %}
<div class="publisher_list_control_panel">
  <form method="GET"
        action="{% url add_indicia_publisher parent_id=publisher.id %}">
    <input id="add" name="add" type="submit" value="Add another indicia publisher" />
  </form>
</div>
{% if publisher.indicia_publisher_count %}
<table id="publisher_detail_listing" class="listing">
  <tr>
    <th> Indicia Publisher </th>
    <th> Issues </th>
    <th> Year Began </th>
    <th> Year Ended </th>
    <th> Surrogate? </th>
  </tr>
{% for indicia_publisher in items %}
  <tr class="{% cycle 'listing_even' 'listing_odd' %}">
    <td> <a href="{{ indicia_publisher.get_absolute_url }}">{{ indicia_publisher.name }}</a> </td>
    <td> {{ indicia_publisher.issue_set.count }} </td>
    <td> {{ indicia_publisher.year_began|default:"" }} </td>
    <td> {{ indicia_publisher.year_ended|default:"" }} </td>
    <td> {{ indicia_publisher.is_surrogate|yesno:"Yes,-" }} </td>
  </tr>
{% endfor %}
</table>
{% else %}
<dl>
  <dt> Indicia Publishers:
  <dd> None
</dl>
{% endif %}

{% with 1 as paginate_only %}
{% include "gcd/bits/publisher_header.html" %}
{% endwith %}

{% endblock %}
