{% extends "gcd/base_view.html" %}

{% load static %}
{% load i18n %}
{% load display %}
{% load credits %}
{% load django_tables2 %}

{% block title %}
GCD :: Indicia / Colophon Publisher :: {{ indicia_publisher.name }}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{% static "css/gcd/default.css" %}"/>
<link rel="stylesheet" type="text/css"
      href="{% static "css/gcd/default/listing.css" %}"/>
{% endblock %}
{% block css_raw %}
<script type="text/javascript" src="{% static "js/htmx.min.js" %}"></script>
{% endblock %}

{% block view_body %}

{% with indicia_publisher as publisher %}
{% with "Indicia / Colophon Publisher" as description %}
{% with "indicia_publishers" as url_suffix %}
  {% include "gcd/bits/publisher_header.html" %}
{% endwith %}
{% endwith %}
{% endwith %}

<div class="control_body">
  <div id="control_container">
    <div id="control_center">
{% if indicia_publisher.year_overall_began or indicia_publisher.year_overall_ended %}
      <dl style="columns: 2; margin-bottom: -1em" class="pub_data">
  {% if indicia_publisher.year_overall_began %}
        <dt> Publishing Began:</dt><dd>{{ indicia_publisher.year_overall_began }}</dd>
        <dt> Comics Publishing Began:</dt><dd>{{ indicia_publisher.year_began }}</dd>
  {% endif %}
  {% if indicia_publisher.year_overall_ended %}
        <dt> Publishing Ended:</dt><dd>{{ indicia_publisher.year_overall_ended }}</dd>
        <dt> Comics Publishing Ended:</dt><dd>{{ indicia_publisher.year_ended }}</dd>
  {% endif %}
      </dl>
{% endif %}
      <dl class="pub_data">
{% if indicia_publisher.is_surrogate %}
        <dt> Surrogate:</dt>
        <dd> This company was a surrogate for {{ indicia_publisher.parent }}, meaning that it
             published material on behalf of {{ indicia_publisher.parent }} but was not
             directly associated with it.</dd>
{% endif %}
        <dt> Country:</dt>
        <dd> {{ indicia_publisher.country.name }}</dd>
        <dt> Number of Issues:</dt>
        <dd> {{ indicia_publisher.issue_count }}</dd>
{% if indicia_publisher.url %}
        <dt> Web Site:
        <dd> <a href="{{ indicia_publisher.url }}">{{ indicia_publisher.url }}</a>
{% endif %}
{% if indicia_publisher.notes %}
        <dt> Notes:
        <dd> {{ indicia_publisher.notes|urlizetrunc:75|linebreaksbr }}
{% endif %}
{{ indicia_publisher|show_credit:'keywords' }}
      </dl>
    </div> <!-- control_center -->

{% if not preview or indicia_publisher.source %}
    <div id="control_rail">
      <div class="edit_box">
  {% if MYCOMICS %}
        <div class="edit_header">
          <div>my.comics.org</div>
        </div>
  {% else %}
        <div class="edit_header">Editing</div>
     {% if not preview %}
       {% with indicia_publisher as object %}
       {% with 'indicia_publisher' as object_class %}
       {% with 'Indicia / Colophon Publisher' as object_name %}
         {% include "gcd/bits/status_banner.html" %}
       {% endwith %}
       {% endwith %}
       {% endwith %}
     {% endif %}
      </div>
  {% endif %} <!-- MYCOMICS -->
      <div id="change_history" class="edit_footer">
  {% if preview %}
        <a href="{% url "change_history" model_name='indicia_publisher' id=indicia_publisher.source.id %}">View Change History</a>
  {% else %}
        <a href="{% url "change_history" model_name='indicia_publisher' id=indicia_publisher.id %}">View Change History</a>
  {% endif %}
      </div>
    </div> <!-- control_rail -->
{% endif %} <!-- not preview or brand.source -->
  </div> <!-- control_container -->
</div> <!-- control_body -->

<div style="clear: both;"></div>
{% render_table table %}

{% with 1 as paginate_only %}
{% with indicia_publisher as publisher %}
{% include "gcd/bits/publisher_header.html" %}
{% endwith %}
{% endwith %}

{% endblock %}
