{% extends "gcd/base_view.html" %}

{% load static %}
{% load i18n %}
{% load display %}
{% load credits %}
{% load editing %}

{% block title %}
  GCD :: Issue :: {{ issue.short_name }}
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css"
        href="{% static "css/gcd/default.css" %}"/>
  <link rel="stylesheet" type="text/css"
        href="{% static "css/gcd/default/issue.css" %}"/>
  <link rel="stylesheet" type="text/css"
        href="{% static "css/gcd/default/single_story.css" %}"/>
{% endblock %}
{% block css_raw %}
<script type="text/javascript" src="{% static "js/htmx.min.js" %}"></script>
{% endblock %}

{% block view_body %}

{% with issue.series as series %}
{% with issue.display_number as issue_number %}
  {% include "gcd/bits/series_issue_header.html" %}
{% endwith %}
{% endwith %}

<div class="control_body">
  <div id="control_container">
    <div id="control_center">
      <div class="cover">
        <div class="coverContainer">
          <div class="coverContent">
            <div id="cover_data">
{% include "gcd/bits/issue_data.html" %}
{% if issue.has_content %}
              <div class="issue_notes">
                <div class="issue_notes_border">
                  <h3 class="notes_header"> Issue Notes </h3>
                  <div class="issue_level_content">
  {% if issue.notes %}
    {{ issue.notes|urlizetrunc:75|linebreaksbr }}
    {% if issue.variant_of or issue.other_variants %}
    <br>
    {% endif %}
  {% endif %}
  {% if issue.variant_of %}
    This issue is a variant of <a href="{{ issue.variant_of.get_absolute_url }}">{{ issue.variant_of.full_name }}</a>.
  {% endif %}
  {% if issue.other_variants %}
    {% if issue.variant_of.variant_set.count %}
There exist further variants:
    {% else %}
This issue has variants:
    {% endif %}
                  <dl class="contents">
                  <ul>
    {% for variant in issue.other_variants %}
                    <li><a href="{{ variant.get_absolute_url }}">{{ variant.full_name }}</a>
    {% endfor %}
                  </ul>
                  </dl>
  {% else %}
  {% endif %}
            <div>{{ issue|show_credit:'keywords' }}</div>
  {% if issue.active_awards.count %}
                  <dl class="contents">
            {{ issue|show_credit:'show_awards' }}
                  </dl>
  {% endif %}
  {% if issue.has_reprints %}
                  <dl class="contents">
            {{ issue|show_reprints_for_issue }}
                  </dl>
  {% endif %}
                  </div>
                </div>
              </div> <!-- issue.notes -->
{% endif %} <!-- issue.notes -->
{% if not issue.series.is_comics_publication %}
              <div class="non_comics">
                <h3>
                  <span class="left">The individual issues of this series are each less than 50% comics.  Only
                  comics sequences are indexed and cover scans are accepted only if the issue has 10% indexed comics content.<span>
                </h3>
              </div>
{% endif %}
{% if cover_story %}
  {% with story=cover_story is_cover=1 %}
    {% include "gcd/details/single_story.html" %}
  {% endwith %}
{% endif %}
            </div>
          </div> <!-- coverContent -->
          <div class="coverImage">
{% if issue.has_covers %}
            <a href="{{ issue.get_absolute_url }}cover/4">{{ image_tag }}</a>
{% else %}
  {% if preview %}
    {% if issue.issue %}
            <a href="{% url "upload_cover" issue_id=issue.issue.id %}">{{ image_tag }}</a>
    {% else %}
            {{ image_tag }}
    {% endif %}
  {% else %}
    {% if issue.series.is_comics_publication or issue.can_have_cover %}
            <a href="{% if MYCOMICS %}https://www.comics.org{% endif %}{% url "upload_cover" issue_id=issue.id %}">{{ image_tag }}</a>
    {% else %}
            <a href="http://docs.comics.org/wiki/Comics_Publication"> {{ image_tag }}</a>
    {% endif %}
  {% endif %}
{% endif %}
{% if variant_image_tags %}
  {% for variant, image_tag in variant_image_tags %}
      <a href="{{ variant.get_absolute_url }}">{{ image_tag }}</a>
  {% endfor %}
{% endif %}
            <div class="issue_cover_links">
              <div class="left">
{% if issue.has_covers %}
  {% if not preview %}
              <a href="{% if MYCOMICS %}https://www.comics.org{% endif %}{% url "edit_covers" issue_id=issue.id %}">Edit cover{{ issue.active_covers.count|pluralize }}</a>
              <br>
  {% endif %}
{% endif %}
              </div>
              <div class="right">
{% if issue.series.has_gallery and not issue.series.is_singleton %}
              <a href="{{ issue.series.get_absolute_url }}covers/?page={{ cover_page }}">Cover gallery</a>
{% endif %}
              </div>
            </div>
          </div>
        </div> <!-- coverContainer -->
      </div> <!-- cover -->
      <div id="story_data">
{% with no_show_sequence_types=request.user.indexer.no_show_sequences.all %}
  {% for story in stories %}
    {% if not not_shown_types or not request.user.indexer or story.type not in no_show_sequence_types %}
      {% include "gcd/details/single_story.html" %}
    {% endif %}
  {% endfor %}
{% endwith %}
      </div>
    </div> <!-- control_center -->

    <div id="control_rail">
      <div class="edit_box">
{% if MYCOMICS %}
  {% include "mycomics/bits/issue_control.html" %}
{% else %}
        <div class="edit_header">Editing
  {% if request.user.is_authenticated %}
          <div class="right">
    {% if preview %}
            <a class="link_info_left" href="{% url "export_issue_revision_csv" issue.revision.id %}"><span>download issue data (CSV)</span>
    {% else %}
            <a class="link_info_left" href="{% url "export_issue_csv" issue.id %}"><span>download issue data (CSV)</span>
    {% endif %}
            <img src="{% static "img/gcd/icons/"|add:ICON_SET_SYMBOLIC|add:"/document-save-as-symbolic.svg" %}" alt="download issue data" style="border:0;">
            </a>

    {% if preview %}
            <a class="link_info_left" href="{% url "export_issue_revision" issue.revision.id %}"><span>download issue data (TSV)</span>
    {% else %}
            <a class="link_info_left" href="{% url "export_issue" issue.id %}"><span>download issue data (TSV)</span>
    {% endif %}
            <img src="{% static "img/gcd/icons/"|add:ICON_SET_SYMBOLIC|add:"/document-save-symbolic.svg" %}" alt="download issue data" style="border:0;">
            </a>
          </div>
<a class="right cache_link" href="{% url "cache_issue" issue_id=issue.id %}">(remember issue)</a>
  {% endif %}
        </div>
  {% if not preview %}
    {% with issue as object %}
    {% with 'Issue' as object_name %}
    {% with 'issue' as object_class %}
      {% include "gcd/bits/status_banner.html" %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% if user.is_authenticated and not issue.pending_deletion %}
      {% if not issue.variant_of %}
    <form method="GET"
            action="{% url "add_variant_issue" issue_id=issue.id %}">
        <input id="add_variant" name="add_variant" type="submit" value="Add variant issue" />
    </form>
      {% endif %}
      {% if issue.variant_of and not issue.variant_of|is_locked and not issue|is_locked %}
    <form method="POST"
            action="{% url "reserve_two_issues" issue_one_id=issue.id issue_two_id=issue.variant_of.id %}">
        {% csrf_token %}
        <input id="edit_with_base" name="edit_with_base" type="submit" value="Edit with base issue" />
    </form>
      {% endif %}
      {% if not issue|is_locked %}
    <form method="GET"
            action="{% url "edit_two_issues" issue_id=issue.id %}">
        <input type="submit" value="{% trans 'Edit with another issue' %}">
    </form>
      {% endif %}
    {% endif %}
    {% if user.is_authenticated and issue.series.is_singleton %}
        <div class="edit_header">Editing Series Data</div>
      {% with object=issue.series object_name='Series'  object_class='series' %}
        {% include "gcd/bits/status_banner.html" %}
      {% endwith %}
    {% endif %}
  {% endif %} <!-- not preview -->
{% endif %} <!-- MYCOMICS -->
      </div> <!-- edit_box -->
      <div id="change_history" class="edit_footer">
  {% if preview %}
    {% if issue.source %}
        <a href="{% url "change_history" model_name='issue' id=issue.source.id %}">View Change History</a>
    {% else %}
        No Change History Available
    {% endif %}
  {% else %}
        <a href="{% url "change_history" model_name='issue' id=issue.id %}">View Change History</a>
  {% endif %}
      </div>
{% if not preview or issue.source %}
  {% if MYCOMICS %}
      <div class="www_comics_cross_link">
        <a href="http://www.comics.org{% url "show_issue" issue_id=issue.id %}">Issue at www.comics.org</a>
      </div>
  {% else %}
      <div class="my_comics_cross_link">
        <a href="http://my.comics.org{% url "show_issue" issue_id=issue.id %}">Issue at my.comics.org</a>
      </div>
  {% endif %}
      <div class="side_section_header">Related Scans</div>
        <ul class="side_section_body">
  {% if preview %}
    {% if issue.source.indicia_image or issue.source.soo_image %}
      {% if issue.source.indicia_image %}
          <li> <a href="{% url "issue_images" issue_id=issue.source.id %}">Indicia</a>
      {% endif %}
      {% if issue.source.soo_image %}
          <li> <a href="{% url "issue_images" issue_id=issue.source.id %}">Statement of Ownership</a>
      {% endif %}
    {% else %}
          <li> <a href="{% url "issue_images" issue_id=issue.source.id %}">None</a>
    {% endif %}
  {% else %}
    {% if issue.indicia_image or issue.soo_image %}
      {% if issue.indicia_image %}
          <li> <a href="{% url "issue_images" issue_id=issue.id %}">Indicia</a>
      {% endif %}
      {% if issue.soo_image %}
          <li> <a href="{% url "issue_images" issue_id=issue.id %}">Statement of Ownership</a>
      {% endif %}
    {% else %}
          <li> <a href="{% url "issue_images" issue_id=issue.id %}">None</a>
    {% endif %}
  {% endif %}
        </ul>
  {% if not issue.series.is_singleton %}
      <div class="side_section_header">Series Information</div>
      <ul class="side_section_body">
        <li> <a href="{% url "series_details" series_id=issue.series.id %}">Details by Issue</a><br/>
        <li> <a href="{% url "series_timeline" series_id=issue.series.id %}">Timeline</a>
    {% if issue.series.has_gallery %}
        <li> <a href="{{ issue.series.get_absolute_url }}covers">Cover gallery</a>
    {% endif %}
  {% endif %}
      </ul>
{% endif %}

      <a name="toc"></a>
      <div class="side_section_header">Table of Contents</div>
      <ol id="story_toc">
{% if cover_story %}
        <li class="even">
        0. <span class="toc_story_title">
        <a name="toc_{{ cover_story.id }}" href="#{{ cover_story.id }}">{{ cover_story|show_title:1 }}</a></span><br/>
        <span class="toc_story_feature">{{ cover_story.show_feature}}</span>
{% endif %}
{% for story in stories %}
        <li class="{% cycle 'odd' 'even' %}">
        {{ forloop.counter }}.
        <span class="toc_story_title">
        <a name="toc_{{ story.id }}" href="{% if story.type in request.user.indexer.no_show_sequences.all %}?show_all{% endif %}#{{ story.id }}">{{ story|show_title:1 }}</a></span><br/>
        <span class="toc_story_feature">{{ story.show_feature}}</span>
{% endfor %}
      </ol>

{% if ADVERTISING and not BETA and USE_TEMPLATESADMIN %}
  {% include "managed_content/gcd/ads/ad_skyscraper.html" %}
{% endif %}

{% if issue.series.index_credit_set.all.select_related or oi_indexers %}
      <div id="index_credits">
  {% if oi_indexers %}
        <div id="indexers_header">This issue was modified by{% if among_others %}, among others {% endif %}</div>
        <ul>
    {% for credit in oi_indexers %}
          <li> {{ credit }}
    {% endfor %}
        </ul>
  {% endif %}
      </div> <!-- index_credits -->
{% endif %}
    </div> <!-- control_rail -->
  </div> <!-- control_container -->
</div> <!-- control_body -->

{% with 1 as paginate_only %}
{% with issue.series as series %}
{% with issue.display_number as issue_number %}
  {% include "gcd/bits/series_issue_header.html" %}
{% endwith %}
{% endwith %}
{% endwith %}

{% endblock %}
