{% extends "gcd/base_view.html" %}

{% load i18n %}
{% load display %}
{% load credits %}

{% block title %}
  GCD :: Issue :: {{ issue.short_name }}
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css"
        href="{{ MEDIA_URL }}css/gcd/default.css"/>
  <link rel="stylesheet" type="text/css"
        href="{{ MEDIA_URL }}css/gcd/default/issue.css"/>
  <link rel="stylesheet" type="text/css"
        href="{{ MEDIA_URL }}css/gcd/default/single_story.css"/>
{% endblock %}

{% block view_body %}

{% with issue.series as series %}
{% with issue.display_number as issue_number %}
  {% include "gcd/bits/series_issue_header.html" %}
{% endwith %}
{% endwith %}

<div class="control_body">
  <div id="control_container">
    <div id="control_center">
{% include "gcd/bits/issue_data.html" %}

{% if not issue.series.is_comics_publication %}
The individual issues of this series are each less than 50% comics.  Only
comics sequences are indexed and cover scans are not currently accepted.
{% endif %} 

{% if issue.notes or issue.variant_of or issue.variant_set.count or issue.has_reprints %}
      <div class="issue_notes">
        <div class="issue_notes_border">
          <h3 class="notes_header"> Issue Notes </h3>
          <p>
  {% if issue.variant_of %}
This issue is a variant of <a href="{{ issue.variant_of.get_absolute_url }}">{{ issue.variant_of.full_name }}</a>.
  {% endif %}
  {% if issue.other_variants %}
    {% if issue.variant_of.variant_set.count %}
There exist further variants.
    {% else %}
This issue has variants.
    {% endif %}
          </p>
          <ul>
    {% for variant in issue.other_variants %}
            <li><a href="{{ variant.get_absolute_url }}">{{ variant.full_name }}</a>
    {% endfor %}
          </ul><p>
  {% else %}
    {% if issue.variant_of %}
          </p><p>
    {% endif %}
  {% endif %}
            {{ issue.notes|urlizetrunc:75|linebreaksbr }}
            {{ issue|show_credit:'keywords' }}
  {% if issue.has_reprints %}
            <dl class="contents">
            {{ issue|show_reprints_for_issue }}
            </dl>
  {% endif %}
        </div>
      </div>
{% endif %} <!-- issue.notes -->
      <hr class="divider">
      <div class="cover">
        <div class="coverContainer">
          <div class="coverContent">
            <div id="cover_data">
{% with cover_story as story %}
{% with 1 as is_cover %}
  {% include "gcd/details/single_story.html" %}
{% endwith %}
{% endwith %}
            </div>
          </div>
          <div class="coverImage">
{% if issue.has_covers %}
            <a href="{{ issue.get_absolute_url }}cover/4">{{ image_tag }}</a>
{% else %}
  {% if preview %}
    {% if issue.issue %}
            <a href="{% url upload_cover issue_id=issue.issue.id %}">{{ image_tag }}</a>
    {% else %}
            {{ image_tag }}
    {% endif %}
  {% else %}
    {% if issue.series.is_comics_publication %}
            <a href="{% url upload_cover issue_id=issue.id %}">{{ image_tag }}</a>
    {% else %}
            <a href="http://docs.comics.org/wiki/Comics_Publication"> {{ image_tag }}</a>
    {% endif %}
  {% endif %}
{% endif %}
{% if variant_image_tags %}
  {% for variant, image_tag in variant_image_tags %}
      <a href="{{ variant.get_absolute_url }}">{{ image_tag }}</a>
  {% endfor %}
{% endif %}
            <div class="issue_cover_links">
{% if issue.has_covers %}
              View: <a href="{{ issue.get_absolute_url }}cover/2">Medium</a>
              <a href="{{ issue.get_absolute_url }}cover/4">Large</a>
              <br>
  {% if not preview %}
              <a href="{% url edit_covers issue_id=issue.id %}">Edit cover{{ issue.active_covers.count|pluralize }}</a>
              <br>
  {% endif %}
{% endif %}
{% if issue.series.has_gallery %}
              <a href="{{ issue.series.get_absolute_url }}covers">Cover gallery</a>
{% endif %}
            </div>
          </div>
        </div> <!-- coverContainer -->
      </div> <!-- cover -->
      <div id="story_data">
{% for story in stories %}
        <hr class="divider">
  {% include "gcd/details/single_story.html" %}
{% endfor %}
        <hr class="divider">
      </div>
    </div> <!-- control_center -->

    <div id="control_rail">
      <div class="edit_box">
        <div class="edit_header">Editing
{% if request.user.is_authenticated and not preview %}
          <div class="right">
            <a class="link_info_left" href="{% url export_issue_csv issue.id %}"><span>download issue data (CSV)</span>
            <img src="{{ MEDIA_URL }}img/gcd/icons/{{ ICON_SET }}/16x16/mimetypes/x-office-spreadsheet.png" alt="download issue data" style="border:0;">
            </a>

            <a class="link_info_left" href="{% url export_issue issue.id %}"><span>download issue data</span>
            <img src="{{ MEDIA_URL }}img/gcd/icons/{{ ICON_SET }}/16x16/actions/document-save.png" alt="download issue data" style="border:0;">
            </a>
          </div>
<a class="right cache_link" href="{% url cache_issue issue_id=issue.id %}">(remember issue)</a>
{% endif %}
        </div>
{% if not preview %}
  {% with issue as object %}
  {% with 'Issue' as object_name %}
  {% with 'issue' as object_class %}
    {% include "gcd/bits/status_banner.html" %}
  {% endwith %}
  {% endwith %}
  {% endwith %}
  {% if user.is_authenticated and not issue.pending_deletion and not issue.reserved %}
    {% if not issue.variant_of %}
  <form method="GET"
        action="{% url add_variant_issue issue_id=issue.id %}">
    <input id="add_variant" name="add_variant" type="submit" value="Add variant issue" />
  </form>
    {% endif %}
    {% if issue.variant_of and not issue.variant_of.reserved %}
  <form method="POST"
        action="{% url reserve_two_issues issue_one_id=issue.id issue_two_id=issue.variant_of.id %}">
    <input id="edit_with_base" name="edit_with_base" type="submit" value="Edit with base issue" />
  </form>
    {% endif %}
  <form method="GET"
        action="{% url edit_two_issues issue_id=issue.id %}">
    <input type="submit" value="{% trans 'Edit with another issue' %}">
  </form>
  {% endif %}
{% endif %}
      </div>

{% if not preview or issue.source %}
      <div class="change_history">
  {% if preview %}
        <a href="{% url change_history model_name='issue' id=issue.source.id %}">Change History</a>
  {% else %}
        <a href="{% url change_history model_name='issue' id=issue.id %}">Change History</a>
  {% endif %}
      </div>
{% endif %}

      <div id="story_toc">
        <a name="toc"></a>
        <h2 id="toc_header">Table of Contents</h2>
        <ol>
{% for story in stories %}
          <li class="{% cycle 'odd' 'even' %}">
          {{ forloop.counter }}.
          <span class="toc_story_title">
          <a href="#{{ story.id }}">{{ story|show_title }}</a></span><br/>
  {% if story.feature %}
          <span class="toc_story_feature">{{ story.feature}}</span>
  {% endif %}
{% endfor %}
        </ol>
      </div> <!-- story_toc, a.k.a "right" -->

{% if issue.series.index_credit_set.all.select_related or oi_indexers %}
      <div id="index_credits">
  {% if oi_indexers %}
        <div id="indexers_header">{% trans "This issue was most recently modified by:" %}</div>
        <ul>
    {% for credit in oi_indexers %}
          <li> {{ credit }}
    {% endfor %}
        </ul>
  {% endif %}
  {% if issue.series.index_credit_set.all.select_related %}
        <div id="indexers_header">{% trans "Issues in this series have been indexed by:" %}</div>
        <ul>
    {% for credit in issue.series.index_credit_set.all.select_related %}
          <li> {{ credit.indexer }}
    {% endfor %}
        </ul>
  {% endif %}
      </div> <!-- index_credits -->
{% endif %}
{% if settings.ADVERTISING %}
<script type="text/javascript"><!--
google_ad_client = "ca-pub-9033390275710305";
/* right skyscraper */
google_ad_slot = "3456338311";
google_ad_width = 160;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
{% endif %}
    </div> <!-- control_rail -->
  </div> <!-- control_container -->
</div> <!-- control_body -->

{% with 1 as paginate_only %}
{% with issue.series as series %}
{% with issue.display_number as issue_number %}
  {% include "gcd/bits/series_issue_header.html" %}
{% endwith %}
{% endwith %}
{% endwith %}

{% endblock %}
