{% extends "gcd/base_view.html" %}

{% load i18n %}

{% block title %}
  {% if publisher.is_imprint %}
    GCD :: Publisher :: {{ publisher.parent.name }} :: Imprint :: {{ publisher.name }}
  {% else %}
    GCD :: Publisher :: {{ publisher.name }}
  {% endif %}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}/css/gcd/{{ style|default:'default' }}.css"/>
{% endblock %}

{% block view_body %}

{% include "gcd/bits/publisher_header.html" %}

{% if not preview %}
<div class="control_panel">
  {% with publisher as object %}
  {% with 'publisher' as object_class %}
  {% if publisher.parent %}
    {% with 'Imprint' as object_name %}
      {% include "gcd/bits/status_banner.html" %}
    {% endwith %}
  {% else %}
    {% with 'Publisher' as object_name %}
      {% include "gcd/bits/status_banner.html" %}
    {% endwith %}
  {% endif %}
  {% endwith %}
  {% endwith %}

  {% if publisher.is_master %}
  <form method="GET"
        action="{% url add_imprint parent_id=publisher.id %}">
    <input id="add" name="add" type="submit" value="Add imprint" />
  </form>
  {% endif %}
  <form method="GET"
        action="{% url add_series publisher_id=publisher.id %}">
    <input id="add" name="add" type="submit" value="Add series" />
  </form>
</div>
{% endif %}

<div>
  <dl class="pub_data">
  {% if publisher.country %}
    <dt> Country:
    <dd> {{ publisher.country.name }}
  {% endif %}

  {% if publisher.has_imprints %}
    <dt> Imprints:
    {% if preview %}
    <dd> {{ publisher.imprint_set.count }}
    {% else %}
    <dd> <a href="{{ publisher.get_absolute_url }}imprints/">{{ publisher.imprint_set.count }}</a>
    {% endif %}
  {% endif %}

  {% if publisher.notes %}
    <dt> Notes:
    <dd> {{ publisher.notes|linebreaksbr }}
  {% endif %}

  {% if publisher.url %}
    <dt> Web Site:
    <dd> <a href="{{ publisher.get_official_url }}">{{ publisher.url }}</a>
  {% endif %}

{% ifequal page.object_list.count 0 %}
    <dt> Titles:
    <dd> None
  </dl>
</div>
{% else %}
  </dl>
</div>

<table id="publisher_detail_listing" class="listing">
  <tr>
    <th> Title </th>
    <th> Year </th>
    <th> #&nbsp;Issues </th>
    <th> Covers </th>
  </tr>
  {% for series in page.object_list %}
  <tr class="{% cycle 'listing_even' 'listing_odd' %}">
    <td> <a href="{{ series.get_absolute_url }}">{{ series.name }}</a> </td>
    <td> {{ series.year_began }}
    <td> {{ series.issue_set.count }} issue{{ series.issue_count|pluralize }} </td>
    {% if not series.scan_needed %}
    <td> <a href="{% url apps.gcd.views.details.covers series_id=series.id %}">Gallery</a>
    {% else %}
      {% if series.has_gallery %}
        <td> <a href="{% url apps.gcd.views.details.covers series_id=series.id %}">Have 
        {{ series.scan_count}}</a>
        (<a href="{% url apps.gcd.views.details.scans series_id=series.id %}">Need 
        {{ series.scan_needed }}</a>)
      {% else %}
        <td> <a href="{% url apps.gcd.views.details.scans series_id=series.id %}">Add</a>
      {% endif %}
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% endifequal %}

{% with 1 as paginate_only %}
{% include "gcd/bits/publisher_header.html" %}
{% endwith %}

{% endblock %}
