{% extends "gcd/base_view.html" %}

{% load i18n %}

{% block title %}
  {% if publisher.is_imprint %}
    GCD :: Publisher :: {{ publisher.parent.name }} :: Imprint :: {{ publisher.name }}
  {% else %}
    GCD :: Publisher :: {{ publisher.name }}
  {% endif %}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/default.css"/>
{% endblock %}

{% block view_body %}

{% include "gcd/bits/publisher_header.html" %}

<div class="control_body">
  <div id="control_container">
    <div id="control_center">
      <div class="pub_data">
        <dl class="pub_data">
          <dt> Country:
          <dd> {{ publisher.country.name }}
{% if publisher.indicia_publisher_count %}
          <dt> Indicia Publishers:
  {% if preview %}
          <dd> {{ publisher.indicia_publisher_count }}
  {% else %}
          <dd> <a href="{{ publisher.get_absolute_url }}indicia_publishers/">{{ publisher.indicia_publisher_count }}</a>
  {% endif %}
{% endif %}
{% if publisher.brand_count %}
          <dt> Brands:
  {% if preview %}
          <dd> {{ publisher.brand_count }}
  {% else %}
          <dd> <a href="{{ publisher.get_absolute_url }}brands/">{{ publisher.brand_count }}</a>
  {% endif %}
{% endif %}
{% if publisher.has_imprints %}
          <dt> Imprints:
  {% if preview %}
          <dd> {{ publisher.imprint_count }}
  {% else %}
          <dd> <a href="{{ publisher.get_absolute_url }}imprints/">{{ publisher.imprint_count }}</a>
  {% endif %}
{% endif %}
          <p>
          <dt> Total Number of Series:
          <dd> <a href="/search/advanced/process/?target=series&method=iexact&logic=False&order1=series&order2=date&order3=&pub_name={{ publisher.name|urlencode }}">{{ publisher.series_count }}</a>
          <dt> Total Number of Issues:
          <dd> <a href="/search/advanced/process/?target=issue&method=iexact&logic=False&order1=series&order2=date&order3=&pub_name={{ publisher.name|urlencode }}">{{ publisher.issue_count }}</a>
{% if not publisher.year_ended %}
          <dt> Number of Current Series:
          <dd> <a href="/search/advanced/process/?target=series&method=iexact&logic=False&order1=series&order2=date&order3=&pub_name={{ publisher.name|urlencode  }}&is_current=on">{{ current.count }}</a>
{% endif %}
{% if publisher.url or publisher.notes %}
          <p>
  {% if publisher.url %}
          <dt> Web Site:
          <dd> <a href="{{ publisher.get_official_url }}">{{ publisher.url }}</a>
  {% endif %}
  {% if publisher.notes and page_number = 1 %}
          <dt> Notes:
          <dd> {{ publisher.notes|urlizetrunc:75|linebreaksbr }}
  {% endif %}
{% endif %}
        </dl>
      </div> <!-- pub_data -->
    </div> <!-- control_center -->

{% if not preview or publisher.source %}
    <div id="control_rail">
  {% if publisher.is_master %}
  {% comment %} For now, don't allow any action on imprints. {% endcomment %}
      <div class="edit_box">
        <div class="edit_header">Editing</div>
    {% if not preview %}
      {% with publisher as object %}
      {% with 'publisher' as object_class %}
      {% with 'Publisher' as object_name %}
        {% include "gcd/bits/status_banner.html" %}
      {% endwith %}
      {% endwith %}
      {% endwith %}
      {% if user.is_authenticated and not publisher.pending_deletion %}
        <form method="GET"
              action="{% url add_indicia_publisher parent_id=publisher.id %}">
          <input id="add" name="add" type="submit" value="Add indicia publisher" />
        </form>
        <form method="GET"
              action="{% url add_brand parent_id=publisher.id %}">
          <input id="add" name="add" type="submit" value="Add brand" />
        </form>
        <form method="GET"
              action="{% url add_series publisher_id=publisher.id %}">
          <input id="add" name="add" type="submit" value="Add series" />
        </form>
      {% endif %} <!-- logged in -->
    {% endif %} <!-- not preview -->
      </div> <!-- edit_box -->
      <div class="change_history">
    {% if preview %}
        <a href="{% url change_history model_name='publisher' id=publisher.source.id %}">Change History</a>
    {% else %}
        <a href="{% url change_history model_name='publisher' id=publisher.id %}">Change History</a>
    {% endif %}
      </div>
  {% endif %} <!-- is master -->
    </div> <!-- control_rail -->
{% endif %}
  </div> <!-- control_container -->
</div> <!-- control_body -->

{% if page.object_list.count %}

<table id="publisher_detail_listing" class="listing">
  <tr>
    <th> Series </th>
    <th> Year </th>
    <th> #&nbsp;Issues </th>
    <th> Covers </th>
  </tr>
  {% for series in page.object_list %}
  <tr class="{% cycle 'listing_even' 'listing_odd' %}">
    <td> <a href="{{ series.get_absolute_url }}">{{ series.name }}</a> </td>
    <td> {{ series.year_began }}{% if series.year_began_uncertain %}?{% endif %}
    <td> {{ series.issue_count }} issue{{ series.issue_count|pluralize }} ({{ series.issue_indexed_count }}&nbsp;indexed)</td>
    {% if not series.issue_count or not series.is_comics_publication %}
      <td>No Covers</td>
    {% else %}
      {% if not series.scan_needed_count %}
    <td> <a href="{% url apps.gcd.views.details.covers series_id=series.id %}">Gallery</a>
      {% else %}
        {% if series.has_gallery %}
        <td> <a href="{% url apps.gcd.views.details.covers series_id=series.id %}">Have 
          {{ series.scan_count}}</a>
        (<a href="{% url apps.gcd.views.details.scans series_id=series.id %}">Need 
          {{ series.scan_needed_count }}</a>)
        {% else %}
        <td> <a href="{% url apps.gcd.views.details.scans series_id=series.id %}">Add</a>
        {% endif %}
      {% endif %}
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% endif %}

{% with 1 as paginate_only %}
{% include "gcd/bits/publisher_header.html" %}
{% endwith %}

{% endblock %}
