{% extends "gcd/base_view.html" %}

{% load staticfiles %}
{% load i18n %}
{% load credits %}

{% block title %}
  GCD :: Publisher :: {{ publisher.name }}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{% static "css/gcd/default.css" %}"/>
{% endblock %}

{% block view_body %}

{% include "gcd/bits/publisher_header.html" %}

<div class="control_body">
  <div id="control_container">
    <div id="control_center">
      <div class="pub_data">
        <dl class="pub_data">
          <dt> Country:
          <dd> {{ publisher.country.name }}
{% if publisher.indicia_publisher_count %}
          <dt> Indicia / Colophon Publishers:
  {% if preview %}
          <dd> {{ publisher.indicia_publisher_count }}
  {% else %}
          <dd> <a href="{{ publisher.get_absolute_url }}indicia_publishers/">{{ publisher.indicia_publisher_count }}</a>
  {% endif %}
{% endif %}
{% if publisher.brand_count %}
          <dt> Brand Groups:
  {% if preview %}
          <dd> {{ publisher.brand_count }}
  {% else %}
          <dd> <a href="{{ publisher.get_absolute_url }}brands/">{{ publisher.brand_count }}</a>
  {% endif %}
{% endif %}
{% if publisher.branduse_set.count %}
          <dt> Brand Emblems in Use:
  {% if preview %}
          <dd> {{ publisher.branduse_set.count }}
  {% else %}
          <dd> <a href="{{ publisher.get_absolute_url }}brand_uses/">{{ publisher.branduse_set.count }}</a>
  {% endif %}
{% endif %}
          <p>
          <dt> Total Number of Series:
          <dd> <a href="/search/advanced/process/?target=series&method=iexact&logic=False&order1=series&order2=date&order3=&pub_name={{ publisher.name|urlencode }}">{{ publisher.series_count }}</a>
          <dt> Total Number of Issues:
          <dd> <a href="/search/advanced/process/?target=issue&method=iexact&logic=False&order1=series&order2=date&order3=&pub_name={{ publisher.name|urlencode }}">{{ publisher.issue_count }}</a>
{% if not publisher.year_ended %}
          <dt> Number of Current Series:
          <dd> <a href="/search/advanced/process/?target=series&method=iexact&logic=False&order1=series&order2=date&order3=&pub_name={{ publisher.name|urlencode  }}&is_current=on">{{ current.count }}</a>
{% endif %}
          <dt> Show covers by month:
          <dd> <a href='{% url "publisher_monthly_covers_on_sale" publisher_id=publisher.id %}'>using on-sale date</a> or <a href='{% url "publisher_monthly_covers_pub_date" publisher_id=publisher.id %}'>using publication date</a>
{% if publisher.url or publisher.notes or publisher.has_keywords %}
          <p>
  {% if publisher.url %}
          <dt> Web Site:
          <dd> <a href="{{ publisher.get_official_url }}">{{ publisher.url }}</a>
  {% endif %}
  {% if publisher.notes and page_number == 1 %}
          <dt> Notes:
          <dd> {{ publisher.notes|urlizetrunc:75|linebreaksbr }}
  {% endif %}
  {{ publisher|show_credit:'keywords' }}
{% endif %}
        </dl>
      </div> <!-- pub_data -->
    </div> <!-- control_center -->

{% if not preview or publisher.source %}
    <div id="control_rail">
      <div class="edit_box">
  {% if MYCOMICS %}
        <div class="edit_header">
          <div>my.comics.org</div>
        </div>
  {% else %}
        <div class="edit_header">Editing</div>
    {% if not preview %}
      {% with publisher as object %}
      {% with 'publisher' as object_class %}
      {% with 'Publisher' as object_name %}
        {% include "gcd/bits/status_banner.html" %}
      {% endwith %}
      {% endwith %}
      {% endwith %}
      {% if user.is_authenticated and not publisher.pending_deletion %}
        <form method="GET"
              action="{% url "add_indicia_publisher" parent_id=publisher.id %}">
          <input id="add" name="add" type="submit" value="Add indicia / colophon pub." />
        </form>
        <form method="GET"
              action="{% url "add_brand_group" parent_id=publisher.id %}">
          <input id="add" name="add" type="submit" value="Add brand group" />
        </form>
        <form method="GET"
              action="{% url "add_brand_via_publisher" publisher_id=publisher.id %}">
          <input id="add" name="add" type="submit" value="Add brand emblem" />
        </form>
        <form method="GET"
              action="{% url "add_series" publisher_id=publisher.id %}">
          <input id="add" name="add" type="submit" value="Add series" />
        </form>
      {% endif %} <!-- logged in -->
    {% endif %} <!-- not preview -->
  {% endif %}
      </div> <!-- edit_box -->
      <div id="change_history" class="edit_footer">
  {% if preview %}
        <a href="{% url "change_history" model_name='publisher' id=publisher.source.id %}">View Change History</a>
  {% else %}
        <a href="{% url "change_history" model_name='publisher' id=publisher.id %}">View Change History</a>
  {% endif %}
      </div>
    </div> <!-- control_rail -->
{% endif %}
  </div> <!-- control_container -->
</div> <!-- control_body -->

{% if page.object_list.count %}

<table id="publisher_detail_listing" class="listing">
  <tr>
    <th> Series </th>
    <th> Year </th>
    <th> #&nbsp;Issues </th>
    <th> Covers </th>
  </tr>
  {% for series in page.object_list %}
  <tr class="{% cycle 'listing_even' 'listing_odd' %}">
    <td> <a href="{{ series.get_absolute_url }}">{{ series.name }}</a> </td>
    <td> {{ series.year_began }}{% if series.year_began_uncertain %}?{% endif %}
    <td> {{ series.issue_count }} issue{{ series.issue_count|pluralize }} ({{ series.issue_indexed_count }}&nbsp;indexed)</td>
    <td>{% if not series.issue_count or not series.is_comics_publication %}
      No Covers
    {% else %}
      {% if not series.scan_needed_count %}
    <a href="{% url "series_covers" series_id=series.id %}">Gallery</a>
      {% else %}
        {% if series.has_gallery %}
        <a href="{% url "series_covers" series_id=series.id %}">Have
          {{ series.scan_count}}</a>
        (<a href="{% url "series_scan_table" series_id=series.id %}">Need
          {{ series.scan_needed_count }}</a>)
        {% else %}
        <a href="{% url "series_scan_table" series_id=series.id %}">Add</a>
        {% endif %}
      {% endif %}
    {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %}

{% with 1 as paginate_only %}
{% include "gcd/bits/publisher_header.html" %}
{% endwith %}

{% endblock %}
