{% extends "gcd/base_content.html" %}

{% block title %}
  GCD :: Received Award :: {{ received_award.award_name }}
{% endblock %}

{% block header %}
  {% with first_object=received_award.recipient second_object=received_award %}
    {% include "gcd/bits/generic_header.html" %}
  {% endwith %}
{% endblock header %}

{% block content %}
  <dl class="pub_data">
  {% if received_award.award %}
    <dt> Award:
    <dd> <a href="{{ received_award.award.get_absolute_url }}">{{ received_award.award }}</a>
  {% endif %}
    <dt> Award Name:
    <dd> {{ received_award.display_name }}
  {% if received_award.award_year %}
    <dt> Award Year:
    <dd> {{ received_award.award_year }}
  {% endif %}
  {% if received_award.notes %}
    <dt>Notes:
    <dd>{{ received_award.notes }}
  {% endif %}
  {% with received_award.data_source.all as data_sources %}
    {% include "gcd/bits/show_sources.html" %}
  {% endwith %}
  </dl>
{% endblock content %}

{% block edit_box %}
  {% if not preview %}
    {% with received_award as object %}
    {% with 'received_award' as object_class %}
    {% with 'received_award' as object_name %}
      {% include "gcd/bits/status_banner.html" %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
  {% endif %}
{% endblock edit_box %}

{% block change_history %}
  {% if preview %}
    {% if received_award.revision.source %}
      <a href="{% url "change_history" model_name='received_award' id=received_award.revision.source.id %}">View Change History</a>
    {% endif %}
  {% else %}
    <a href="{% url "change_history" model_name='received_award' id=received_award.id %}">View Change History</a>
  {% endif %}
{% endblock change_history %}
