{% extends "gcd/base_view.html" %}

{% load i18n %}
{% load credits %}
{% load display %}

{% block title %} GCD :: Series :: {{ series.name }} {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/default.css">
</link>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/default/series.css">
</link>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/default/status.css">
</link>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/default/scans.css">
</link>
{% endblock %}

{% block view_body %}

{% with series.ordered_brands as brands %}
{% with series.brand_info_counts as brand_counts %}
{% with series.ordered_indicia_publishers as indicia_publishers %}
{% with series.indicia_publisher_info_counts as indicia_publisher_counts %}

{% include "gcd/bits/series_issue_header.html" %}

<div class="control_body">
  <div id="control_container">
    <div id="control_center">
      <div class="clear">
{% if series.has_gallery %}
        <div id="series_cover">
  {% if preview %}
          <a href="{{ series.source.get_absolute_url }}covers">{{ first_image_tag }}</a>
  {% else %}
          <a href="{{ series.get_absolute_url }}covers">{{ first_image_tag }}</a>
  {% endif %}

        </div>
{% endif %}

        <div id="series_data">
          <dl>
            <dt> Publication Date{{ series.issue_count|pluralize }}:
            <dd id="publication_dates"> {{ series.display_publication_dates }}
{% if series.issue_count %}
            <dt> Number of Issues Published:
            <dd id="issues_published"> {{ series.issue_count }} 
  {% if series.issue_count > 1 %}
            (#{{ series.first_issue.display_number }} - #{{ series.last_issue.display_number}})
  {% endif %}
{% endif %}
{% if series.format %}
            <dt class="long"> Format:
            <dd id="series_format"> {{ series.format }}
{% endif %}
{{ series|show_credit:'keywords' }}
          </dl>
{% if not series.is_comics_publication %}
<p>
The individual issues of this series are each less than 50% comics.  Only
comics sequences are indexed and cover scans are not currently accepted.
</p>
{% endif %}

{% if series.active_issues.count %}
          <div class="series_detail_header">Series Details:</div>
          <ul class="series_detail_info"><li>
  {% if series.has_gallery %}
            <a href="{{ series.get_absolute_url }}covers"><img class="icon" src="{{ MEDIA_URL}}img/gcd/icons/{{ ICON_SET }}/16x16/devices/camera-photo.png">Cover Gallery</a>&nbsp;
  {% endif %}
  {% if not preview or series.source %}
    {% if preview %}
            <a  href="{% url series_details series_id=series.source.id %}"><img class="icon" src="{{ MEDIA_URL}}img/gcd/icons/{{ ICON_SET }}/16x16/actions/document-properties.png">Details by Issue</a>&nbsp;
            <a href="{% url series_timeline series_id=series.source.id %}"><img class="icon" src="{{ MEDIA_URL}}img/gcd/icons/{{ ICON_SET }}/16x16/mimetypes/x-office-calendar.png">Series Timeline</a>
    {% else %}
            <a href="{% url series_details series_id=series.id %}"><img class="icon" src="{{ MEDIA_URL}}img/gcd/icons/{{ ICON_SET }}/16x16/actions/document-properties.png">Details by Issue</a>&nbsp;
            <a href="{% url series_timeline series_id=series.id %}"><img class="icon" src="{{ MEDIA_URL}}img/gcd/icons/{{ ICON_SET }}/16x16/mimetypes/x-office-calendar.png">Series Timeline</a>
    {% endif %}
  {% endif %}
{% endif %}
          </ul>

{% if brand_counts.no_brand != series.active_issues.count %}
          <div class="series_detail_header">Publisher's Brands:</div>
          <ul class="series_detail_info">
  {% for brand in brands %}
            <li> {{ brand|absolute_url }}
                 (<a href="{% url apps.gcd.views.search.process_advanced %}?target=issue&amp;method=iexact&amp;logic=False&amp;order1=series&amp;order2=date&amp;order3=&amp;pub_name={{ series.publisher.name }}&amp;series={{ series.name }}&amp;brand={{ brand }}&amp;issue_count={{ series.issue_count }}&amp;series_year_began={{ series.year_began }}">{{ brand.used_issue_count }} issue{{ brand.used_issue_count|pluralize }}</a>)
  {% endfor %}
  {% if brand_counts.no_brand %}
            <li> no publisher's brand 
                 (<a href="{% url apps.gcd.views.search.process_advanced %}?target=issue&amp;method=iexact&amp;logic=False&amp;order1=series&amp;order2=date&amp;order3=&amp;pub_name={{ series.publisher.name }}&amp;series={{ series.name }}&amp;brand={{ is_none }}&amp;issue_count={{ series.issue_count }}&amp;series_year_began={{ series.year_began }}">{{ brand_counts.no_brand }} issue{{ brand_counts.no_brand|pluralize }}</a>)                 
                 
  {% endif %}
  {% if brand_counts.unknown %}
            <li> without publisher's brand information
                 (<a href="{% url apps.gcd.views.search.process_advanced %}?target=issue&amp;method=iexact&amp;logic=False&amp;order1=series&amp;order2=date&amp;order3=&amp;pub_name={{ series.publisher.name }}&amp;series={{ series.name }}&amp;brand={{ is_empty }}&amp;issue_count={{ series.issue_count }}&amp;series_year_began={{ series.year_began }}">{{ brand_counts.unknown }} issue{{ brand_counts.unknown|pluralize }}</a>)                 
  {% endif %}
          </ul>
{% endif %}

{% if series.active_issues.count %}
          <div class="series_detail_header">Indicia Publishers:</div>
          <ul class="series_detail_info">
  {% for ip in series.ordered_indicia_publishers %}
            <li> {{ ip|absolute_url }}
                 (<a href="{% url apps.gcd.views.search.process_advanced %}?target=issue&amp;method=iexact&amp;logic=False&amp;order1=series&amp;order2=date&amp;order3=&amp;pub_name={{ series.publisher.name }}&amp;series={{ series.name }}&amp;indicia_publisher={{ ip }}&amp;issue_count={{ series.issue_count }}&amp;series_year_began={{ series.year_began }}">{{ ip.used_issue_count }} issue{{ ip.used_issue_count|pluralize }}</a>)
  {% endfor %}
  {% if indicia_publisher_counts.unknown %}
            <li> without indicia publisher information
                 (<a href="{% url apps.gcd.views.search.process_advanced %}?target=issue&amp;method=iexact&amp;logic=False&amp;order1=series&amp;order2=date&amp;order3=&amp;pub_name={{ series.publisher.name }}&amp;series={{ series.name }}&amp;indicia_publisher={{ is_empty }}&amp;issue_count={{ series.issue_count }}&amp;series_year_began={{ series.year_began }}">{{ indicia_publisher_counts.unknown }} issue{{ indicia_publisher_counts.unknown|pluralize }}</a>)                 
  {% endif %}
        </ul>
{% endif %}

{% if series.imprint %}
        <div class="series_detail_header">Imprint:</div>
        <ul class="series_detail_info">
          <li> {{ series.imprint|absolute_url }}
        </ul>
{% endif %}

          <div class="series_notes">
{% if series.tracking_notes %}
            <div class="series_detail_header"> Tracking </div>
            <div class="series_notes">{{ series.tracking_notes|linebreaksbr }}</div>
{% endif %}
{% if series.notes %}
            <div class="series_detail_header"> Notes </div>
            <div class="series_notes">{{ series.notes|urlizetrunc:75|linebreaksbr }}</div>
{% endif %}
          </div> <!-- series_notes -->
        </div> <!-- series_data -->
      </div> <!-- class="clear" -->
    </div> <!-- control_center -->
{% if not preview or series.source %}
    <div id="control_rail">
      <div class="edit_box">
        <div class="edit_header">Editing</div>
  {% if not preview %}
    {% if series.ongoing_reservation %}
      {% if series.is_current %}
        <div class="ongoing_status"><span>
        The ongoing issue reservation for this series is held by
        {{ series.ongoing_reservation.indexer.indexer }}.
        </span></div>
      {% endif %}
      {% if request.user == series.ongoing_reservation.indexer and not series.pending_deletion %}
        <form method="POST" action="{% url delete_ongoing series_id=series.id %}">
          <input id="delete_ongoing" name="delete_ongoing" type="submit"
                 value="Free ongoing reservation">
          </input>
        </form>
      {% endif %}
    {% endif %}
    {% with series as object %}
    {% with 'Series' as object_name %}
    {% with 'series' as object_class %}
      {% include "gcd/bits/status_banner.html" %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% if user.is_authenticated %}
      {% if not series.pending_deletion %}
        {% if series.is_current and not series.ongoing_reservation %}
        <form method="POST" action="{% url apps.oi.views.ongoing %}">
          <input id="series" name="series" type="hidden" value="{{ series.id }}">
          </input>
          <input id="reserve" name="reserve" type="submit" value="Reserve all new issues">
          </input>
        </form>
        {% endif %}
        <form method="GET" action="{% url add_issues series_id=series.id %}">
          <input id="add" name="add" type="submit" value="Add issues">
          </input>
        </form>
        {% if perms.gcd.can_approve and series.issue_count %}
        <form method="GET" action="{% url reorder_series series_id=series.id %}">
          <input id="reorder" name="reorder" type="submit" value="Reorder issues">
          </input>
        </form>
        {% endif %}
      {% endif %}
    {% else %}
      {% if series.reserved %}
        <form action="{% url login %}" method="GET">
          <input type="submit" name="login" value="Log in to edit" />
          <input type="hidden" name="next" value="{{ request.get_full_path }}" />
        </form>
      {% endif %}
    {% endif %} <!-- logged in -->
  {% endif %} <!-- not preview -->
      </div>
      <div class="change_history">
  {% if preview %}
        <a href="{% url change_history model_name='series' id=series.source.id %}">Change History</a>
  {% else %}
        <a href="{% url change_history model_name='series' id=series.id %}">Change History</a>
  {% endif %}
      </div>
    </div> <!-- control_rail -->
{% endif %}
  </div> <!-- control_container -->
</div> <!-- control_body -->

<hr/>

{% if series.active_issues.count %}
<h3> Index Status </h3>

  {% include "gcd/bits/status_tables.html" %}
<hr/>

  {% if series.is_comics_publication %}
<h3> Cover Status </h3>

    {% include "gcd/bits/scan_tables.html" %}
  {% endif %}
{% endif %}

{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}

{% endblock %}

