{% extends "gcd/tw_base_view.html" %}

{% load static %}
{% load credits %}
{% load display %}
{% load django_tables2 %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{% static 'css/output.css' %}"/>
{% endblock %}

{% block title %} GCD :: Series :: {{ series.name }} :: Details {% endblock %}

{% block view_body %}

<nav class="flex items-center justify-between flex-wrap bg-blue-100 px-1 lg:px-2">
  <div class="flex-1 font-bold text-2xl self-start">
<a href="{{ series.get_absolute_url }}">{{ series.object_page_name }}</a>
  </div>
    {% include "gcd/bits/tw_pagination_bar.html" %}
</nav>
<div class="ps-1 md:px-2">

  <ul>
    <li><span class="font-bold">Publisher:</span> <a href="{{ series.publisher.get_absolute_url }}">{{ series.publisher }}</a></li>
  </ul>

 Displaying {{ page.start_index }} to {{ page.end_index }} of {{ page.paginator.count }} issue{{ page.paginator.count|pluralize:'s' }}.
  <a href="{% url "series_timeline" series_id=series.id %}">See series monthly timeline</a>
  (depends on key dates being set correctly).
  {% render_table table %}

</div>
{% endblock %}
