{% extends "gcd/base_view.html" %}

{% load static %}
{% load i18n %}
{% load credits %}
{% load display %}

{% block title %} GCD :: Series :: {{ series.name }} {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{% static "css/gcd/default.css" %}">
<link rel="stylesheet" type="text/css"
      href="{% static "css/gcd/default/series.css" %}">
<link rel="stylesheet" type="text/css"
      href="{% static "css/gcd/default/status.css" %}">
{% endblock %}

{% block view_body %}

{% with series.ordered_brands as brands %}
{% with series.brand_info_counts as brand_counts %}
{% with series.ordered_indicia_publishers as indicia_publishers %}
{% with series.indicia_publisher_info_counts as indicia_publisher_counts %}

{% include "gcd/bits/series_issue_header.html" %}

<div class="control_body">
  <div id="control_container">
    <div id="control_center">
      <div class="clear">
{% if series.is_comics_publication and series.has_gallery %}
        <div id="series_cover">
          <a href="{{ image_issue.get_absolute_url }}cover/4/">{{ image_tag }}</a>
  {{ image_issue.display_number }}<br>
  {{ image_issue.publication_date }}<br>
          <a href="{{ series.get_absolute_url }}covers">Cover Gallery</a>&nbsp;
        </div>
{% endif %}

        <div id="series_data">
          <dl>
            <dt> Publication Date{{ series.issue_count|pluralize }}:
            <dd id="publication_dates"> {{ series.display_publication_dates }}
{% if series.issue_count %}
            <dt> Number of Issues Published:
            <dd id="issues_published"> {{ series.issue_count }}
  {% if series.issue_count > 1 %}
            ({{ series.first_issue.display_number }} - {{ series.last_issue.display_number}})
  {% endif %}
{% endif %}
{% if series.format %}
            <dt class="long"> Format:
            <dd id="series_format"> {{ series.format }}
{% endif %}
{% if series.color %}
            <dt class="long"> Color:
            <dd id="series_format"> {{ series.color }}
{% endif %}
{% if series.dimensions %}
            <dt class="long"> Dimensions:
            <dd id="series_format"> {{ series.dimensions }}
{% endif %}
{% if series.paper_stock %}
            <dt class="long"> Paper Stock:
            <dd id="series_format"> {{ series.paper_stock }}
{% endif %}
{% if series.binding %}
            <dt class="long"> Binding:
            <dd id="series_format"> {{ series.binding }}
{% endif %}
{% if series.publishing_format %}
            <dt class="long"> Publishing Format:
            <dd id="series_format"> {{ series.publishing_format }}
{% endif %}
{% if series.publication_type %}
            <dt class="long"> Publication Type:
            <dd id="series_format"> {{ series.publication_type }}
{% endif %}

{{ series|show_credit:'keywords' }}
          </dl>

{% if series.active_issues.count %}
          <div class="series_detail_header">Series Details:</div>
          <ul class="series_detail_info"><li>
  {% if series.has_gallery %}
            <a href="{{ series.get_absolute_url }}covers"><img class="icon" src="{% static "img/gcd/icons/"|add:ICON_SET_SYMBOLIC|add:"/camera-photo-symbolic.svg" %}">Cover Gallery</a>&nbsp;
  {% endif %}
            <a href="{% url "series_details" series_id=series.id %}"><img class="icon" src="{% static "img/gcd/icons/"|add:ICON_SET_SYMBOLIC|add:"/columns-symbolic.svg" %}">Details by Issue</a>&nbsp;
            <a href="{% url "series_timeline" series_id=series.id %}"><img class="icon" src="{% static "img/gcd/icons/"|add:ICON_SET_SYMBOLIC|add:"/month-symbolic.svg" %}">Series Timeline</a>
            <li><a href='{% url "series_overview" series_id=series.id %}'>Cover and Main Story Overview</a></li>
            <li><a href='{% url "series_creatorlist" series_id=series.id %}'>Creator Checklist (via linked story records)</a></li>
            {% if series.issues_to_migrate.count %}<li>Approximately <a href='{% url "series_migrate" series_id=series.id %}'>{{ series.issues_to_migrate.count }} issues</a> with text credits to migrate.</li>{% endif %}
	  </ul>
{% endif %}
{% if brand_counts.no_brand != series.active_issues.count %}
          <div style="  columns: 2; margin-bottom: 1em">
          <div class="series_detail_header">Publisher's Brands:</div>
          <ul style="page-break-inside: avoid;" class="series_detail_info">
  {% for brand in brands %}
            <li> {{ brand|absolute_url }}
                 (<a href="{% url "process_advanced_search" %}?target=issue&amp;method=iexact&amp;logic=False&amp;order1=series&amp;order2=date&amp;order3=&amp;pub_name={{ series.publisher.name|urlencode }}&amp;series={{ series.name|urlencode }}&amp;brand_emblem={{ brand|urlencode }}&amp;issue_count={{ series.issue_count }}&amp;series_year_began={{ series.year_began }}">{{ brand.used_issue_count }} issue{{ brand.used_issue_count|pluralize }}</a>)
  {% endfor %}
  {% if brand_counts.no_brand %}
            <li> no publisher's brand
                 (<a href="{% url "process_advanced_search" %}?target=issue&amp;method=iexact&amp;logic=False&amp;order1=series&amp;order2=date&amp;order3=&amp;pub_name={{ series.publisher.name|urlencode }}&amp;series={{ series.name|urlencode }}&amp;brand_emblem={{ is_none }}&amp;issue_count={{ series.issue_count }}&amp;series_year_began={{ series.year_began }}">{{ brand_counts.no_brand }} issue{{ brand_counts.no_brand|pluralize }}</a>)
  {% endif %}
  {% if brand_counts.unknown %}
            <li> without publisher's brand information
                 (<a href="{% url "process_advanced_search" %}?target=issue&amp;method=iexact&amp;logic=False&amp;order1=series&amp;order2=date&amp;order3=&amp;pub_name={{ series.publisher.name|urlencode }}&amp;series={{ series.name|urlencode }}&amp;brand_emblem={{ is_empty }}&amp;issue_count={{ series.issue_count }}&amp;series_year_began={{ series.year_began }}">{{ brand_counts.unknown }} issue{{ brand_counts.unknown|pluralize }}</a>)
  {% endif %}
          </ul>
{% else %}
          <div style="margin-bottom: 1em">
{% endif %}
{% if series.active_issues.count %}
          <div style="page-break-inside: avoid;">
          <div class="series_detail_header">Indicia Publishers:</div>
          <ul class="series_detail_info">
  {% for ip in series.ordered_indicia_publishers %}
            <li> {{ ip|absolute_url }}
                 (<a href="{% url "process_advanced_search" %}?target=issue&amp;method=iexact&amp;logic=False&amp;order1=series&amp;order2=date&amp;order3=&amp;pub_name={{ series.publisher.name|urlencode }}&amp;series={{ series.name|urlencode }}&amp;indicia_publisher={{ ip|urlencode }}&amp;issue_count={{ series.issue_count }}&amp;series_year_began={{ series.year_began }}">{{ ip.used_issue_count }} issue{{ ip.used_issue_count|pluralize }}</a>)
  {% endfor %}
  {% if indicia_publisher_counts.unknown %}
            <li> without indicia publisher information
                 (<a href="{% url "process_advanced_search" %}?target=issue&amp;method=iexact&amp;logic=False&amp;order1=series&amp;order2=date&amp;order3=&amp;pub_name={{ series.publisher.name|urlencode }}&amp;series={{ series.name|urlencode }}&amp;indicia_publisher={{ is_empty }}&amp;issue_count={{ series.issue_count }}&amp;series_year_began={{ series.year_began }}">{{ indicia_publisher_counts.unknown }} issue{{ indicia_publisher_counts.unknown|pluralize }}</a>)
  {% endif %}
	 </ul></div>
{% endif %}
</div>
          <div class="series_notes">
{% if series.active_awards.count %}
            <div class="series_detail_header"> Awards: </div>
            <ul class="series_detail_info">
            {{ series.active_awards|show_award_list }}
            </ul>
{% endif %}
{% if series.has_tracking %}
            <div class="series_detail_header"> Tracking: </div>
  {% if series.tracking_notes %}
            <div class="series_notes">{{ series.tracking_notes|linebreaksbr }}</div>
  {% endif %}
            <ul class="series_detail_info">
              {{ series|show_series_tracking }}
            </ul>
{% endif %}
{% if series.notes %}
            <div class="series_detail_header"> Notes </div>
            <div class="series_notes">{{ series.notes|urlizetrunc:75|linebreaksbr }}</div>
{% endif %}
          </div> <!-- series_notes -->
        </div> <!-- series_data -->
      </div> <!-- class="clear" -->
    </div> <!-- control_center -->
{% if not preview or series.id %}
    <div id="control_rail">
      <div class="edit_box">
  {% if MYCOMICS %}
    {% include 'mycomics/bits/series_control.html' %}
  {% else %}
        <div class="edit_header">Editing</div>
    {% if not preview %}
      {% if series.ongoing_reservation %}
        {% if series.is_current %}
        <div class="ongoing_status"><span>
        The ongoing issue reservation for this series is held by
        {{ series.ongoing_reservation.indexer.indexer }}.
        </span></div>
        {% endif %}
        {% if request.user == series.ongoing_reservation.indexer and not series.pending_deletion %}
        <form method="POST" action="{% url "delete_ongoing" series_id=series.id %}">
          {% csrf_token %}
          <input id="delete_ongoing" name="delete_ongoing" type="submit"
                 value="Free ongoing reservation">
          </input>
        </form>
        {% endif %}
      {% endif %}
      {% with series as object %}
      {% with 'Series' as object_name %}
      {% with 'series' as object_class %}
        {% include "gcd/bits/status_banner.html" %}
      {% endwith %}
      {% endwith %}
      {% endwith %}
      {% if user.is_authenticated %}
        {% if not series.pending_deletion %}
          {% if series.is_current and not series.ongoing_reservation %}
        <form method="POST" action="{% url "reserve_ongoing" %}">
            {% csrf_token %}
          <input id="series" name="series" type="hidden" value="{{ series.id }}">
          </input>
          <input id="reserve" name="reserve" type="submit" value="Reserve all new issues">
          </input>
        </form>
          {% endif %}
        <form method="GET" action="{% url "add_issues" series_id=series.id %}">
          <input id="add" name="add" type="submit" value="Add issues">
          </input>
        </form>
          {% if perms.indexer.can_approve and series.issue_count %}
        <form method="GET" action="{% url "reorder_series" series_id=series.id %}">
          <input id="reorder" name="reorder" type="submit" value="Reorder issues">
          </input>
        </form>
          {% endif %}
          {% if series.has_series_bonds %}
        <form method="GET" action="{% url "edit_series_bonds" series_id=series.id %}">
          <input id="edit" name="edit" type="submit" value="Edit series bonds">
          </input>
        </form>
          {% endif %}
        <form method="GET" action="{% url "add_series_bond" id=series.id %}">
          <input id="add" name="add" type="submit" value="Add series bond">
          </input>
        </form>
        {% endif %} <!-- pending_deletion -->
      {% endif %} <!-- logged in -->
    {% endif %} <!-- not preview -->
        <div id="change_history" class="edit_footer">
          <a href="{% url "change_history" model_name='series' id=series.id %}">View Change History</a>
        </div>
  {% endif %} <!-- MYCOMICS -->
      </div>
  {% if MYCOMICS %}
      <div class="www_comics_cross_link">
        <a href="http://www.comics.org{% url "show_series" series_id=series.id %}">Series at www.comics.org</a>
      </div>
  {% else %}
      <div class="my_comics_cross_link">
        <a href="http://my.comics.org{% url "show_series" series_id=series.id %}">Series at my.comics.org</a>
      </div>
  {% endif %}
    </div> <!-- control_rail -->
{% endif %}
  </div> <!-- control_container -->
</div> <!-- control_body -->

<hr>
{% if not series.is_comics_publication %}
The individual issues of this series are each less than 50% comics.  Only
comics sequences are indexed and cover scans are accepted only if the issue has 10% indexed comics content.
<hr>
{% endif %}

{% if series.active_issues.count %}
  {% if MYCOMICS and user.is_authenticated %}
<h3> Collection Status </h3>
    {% include 'mycomics/bits/series_collection_status.html' %}
<hr>
  {% endif %}

<a name="index_status"></a>
<h3> Index Status </h3>

  {% include "gcd/bits/status_tables.html" %}
<hr>

  {% if series.is_comics_publication %}
<a name="cover_status"></a>
<h3> Cover Status </h3>
    {% include "gcd/bits/scan_tables.html" %}
  {% endif %}
<hr>
  <a name="image_resources_status"></a>
<h3> Image Resources Status </h3>

  {% include "gcd/bits/image_resources_tables.html" %}

{% endif %}

{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}

{% endblock %}

