{% extends "gcd/tw_object_base.html" %}

{% block title %}
  GCD :: Creator Signature :: {{ creator_signature.name }}
{% endblock %}

{% block header %}
  {% with object=creator_signature %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content_left %}
<table>
  <tr>
    <td class="align-top">
      <div class="flex">
        <div>
          <ul>
            <li><span class="font-bold">Signature Name:</span>
              {{ creator_signature.name }}</li>
            <li><span class="font-bold">Signature:</span>
  {% if creator_signature.signature %}
              <img class="inline" src="{{ creator_signature.signature.scaled_image.url }}">
  {% else %}
               generic
  {% endif %}
            </li>
            <li class="ps-4">&bull;&nbsp; <a href='{% url "creator_signature_sequences" creator_id=creator_signature.id %}'>Sequences List (via linked credit records)</a></li>
  {% if creator_signature.notes %}
            <li><span class="font-bold">Notes:</span>
            {{ creator_signature.notes|urlizetrunc:75|linebreaksbr }}
  {% endif %}
  {% with creator_signature.data_source.all as data_sources %}
            {% include "gcd/bits/show_sources.html" %}
  {% endwith %}
          </ul>
        </div>
      </div> 
    </td>
  </tr> 
</table>
{% endblock %}

{% block editing %}
  {% with object=creator_signature object_class='creator_signature' object_name='creator_signature' %}
  {% include "gcd/bits/tw_status_banner.html" %}
  {% endwith %}
{% endblock editing %}

{% block change_history %}
  {% with model_name='creator_signature' object=creator_signature %}
    {{ block.super }}
  {% endwith %}
{% endblock change_history %}
