{% extends "gcd/tw_object_base.html" %}

{% load static %}
{% load i18n %}
{% load credits %}
{% load django_tables2 %}

{% block title %}
  GCD :: Indicia / Colophon Publisher :: {{ indicia_publisher.name }}
{% endblock %}

{% block header %}
<nav class="flex items-center justify-between flex-wrap bg-blue-100 px-1 lg:px-2">
  <div class="flex-1 font-bold text-2xl self-start">
    {{ indicia_publisher.object_page_name }}
  </div>
  {% include "gcd/bits/tw_pagination_bar.html" %}
</nav>
{% endblock %}

{% block content_left %}
<table>
  <tr>
    <td class="align-top">
      <div class="w-[100px] sm:w-[200px] mt-1">
        <a href="{{ image_issue.get_absolute_url }}cover/4/">{{ image_tag }}</a>
        <a href="{{ image_issue.get_absolute_url }}">{{ image_issue.full_name }}<br>
        {{ image_issue.publication_date }}<br>
        </a>
      </div>
    </td>
    <td class="align-top">
      <div class="flex ps-1">
        <div>
          <ul>
            <li><span class="font-bold">{{ indicia_publisher.parent }}: <a href="{{ indicia_publisher.parent.get_absolute_url }}indicia_publishers/">Indicia / Colophon Publishers</a></span></li>
            <li><span class="font-bold">Years:</span>
              {{ indicia_publisher.year_began|default:'' }}
              {% if indicia_publisher.year_began_uncertain %}?{% endif %}
              -
              {{ indicia_publisher.year_ended|default:'' }}
              {% if indicia_publisher.year_ended_uncertain %}?{% endif %}
            </li>
            {% if indicia_publisher.year_overall_began or indicia_publisher.year_overall_ended %}
              <li><span class="font-bold">Overall Publishing:</span>
                {{ indicia_publisher.year_overall_began|default:'' }}
                {% if indicia_publisher.year_overall_began_uncertain %}?{% endif %}
                -
                {{ indicia_publisher.year_overall_ended|default:'' }}
                {% if indicia_publisher.year_overall_ended_uncertain %}?{% endif %}
              </li>
            {% endif %}
          </ul>
          <span class="font-bold">Country:</span> {{ indicia_publisher.country.name }}
          <ul class="md:columns-2">
            <li><span class="font-bold">Number of Issues:</span>
              {{ indicia_publisher.issue_count }}</li>
          </ul>
        </div>
      </div> 
      <table class="[&_:is(th,td):where(:nth-child(1),)]:font-bold">
        {% if indicia_publisher.url %}
        <tr>
          <td class="ps-1">Web Site:</td>
          <td><a href="{{ indicia_publisher.url }}">{{ indicia_publisher.url }}</a></td>
        </tr>
        {% endif %}
        {% if indicia_publisher.has_keywords %}
          <tr>
            <td class="ps-1">Keywords:</td>
            <td>{{ indicia_publisher.display_keywords }}</td>
          </tr>
        {% endif %}
        </table>
    </td>
  </tr> 
</table>
{% endblock %}

{% block content %}
{% if not page.has_previous %}
  {% if indicia_publisher.notes %}
  <h3 class="mt-2">Notes:</h3>
    {{ indicia_publisher.notes|urlizetrunc:75|linebreaksbr }}
  {% endif %}
{% endif %}
{% render_table table %}
{% endblock content %}

{% block editing %}
  {% with object=indicia_publisher object_class='indicia_publisher' object_name='indicia_publisher' %}
  {% include "gcd/bits/tw_status_banner.html" %}
  {% endwith %}
{% endblock editing %}

{% block change_history %}
  {% with model_name='indicia_publisher' object=indicia_publisher %}
    {{ block.super }}
  {% endwith %}
{% endblock change_history %}
