{% extends "gcd/tw_object_base.html" %}

{% load static %}
{% load i18n %}
{% load credits %}
{% load display %}
{% load editing %}
{% load django_tables2 %}

{% block css_raw %}
<script type="text/javascript" src="{% static 'js/htmx.min.js' %}"></script>
{% endblock %}

{% block title %}
  GCD :: Issue :: {{ issue.short_name }}
{% endblock %}

{% block header %}
{% include "gcd/bits/tw_issue_header.html" %}
{% endblock %}

{% block content_left %}
<div class="max-md:w-[calc(100vw-38px)] max-md:min-h-20">
  <div class="flex">
    <div class="flex-1">
      <div class="flex flex-wrap gap-x-4">
      {% if not issue.no_volume and issue.series.has_volume %}
        <div><span class="font-bold">Volume:</span> {{ issue.volume }}</div>
      {% endif %}
        <div><span class="font-bold">Price:</span> {{ issue.price|default:"?" }}</div>
        <div><span class="font-bold">Pages:</span> {{ issue|show_page_count|default:"?" }}</div>
      {% if issue.on_sale_date %}
        <div><span class="font-bold">On-sale Date:</span> {{ issue.on_sale_date }}
        {% if issue.on_sale_date_uncertain %} ? {% endif %}</div>
      {% endif %}
      </div>
      <span class="font-bold">Editing:</span> {{ issue|show_creator_credit_bare:"editing" }}
    </div>

    <div class="max-sm:pt-1 max-sm:pe-1 sm:flex justify-end items-center">
      <a href="{% querystring 'display'='list' %}"
        class="sm:pe-1
        {% if not request.GET.display or 'list' == request.GET.display %}pointer-events-none{% endif %}
        "><svg class="
        {% if not request.GET.display or 'list' == request.GET.display %}fill-slate-400{% endif %}
        border border-gray-400 px-1 py-1 h-9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><g><path d="m 9 3 h 6 v 2 h -6 z m 0 0"/><path d="m 9 7 h 6 v 2 h -6 z m 0 0"/><path d="m 9 11 h 6 v 2 h -6 z m 0 0"/><path d="m 1 3 h 6 v 2 h -6 z m 0 0"/><path d="m 1 7 h 6 v 2 h -6 z m 0 0"/><path d="m 1 11 h 6 v 2 h -6 z m 0 0"/></g></svg>
      </a>
      <a href="{% querystring 'display'='grid' %}"
        class="sm:pe-1
        {% if 'grid' == request.GET.display %}pointer-events-none{% endif %}
        ">
        <svg class="
        {% if 'grid' == request.GET.display %}fill-slate-400{% endif %}
        border border-gray-400 px-1 py-1 w-9 h-9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="m 1.992188 0 c -1.089844 0 -2.0000005 0.910156 -2.0000005 2 v 3 c 0 1.089844 0.9101565 2 2.0000005 2 h 3 c 1.089843 0 2 -0.910156 2 -2 v -3 c 0 -1.089844 -0.910157 -2 -2 -2 z m 8 0 c -1.089844 0 -2 0.910156 -2 2 v 3 c 0 1.089844 0.910156 2 2 2 h 3 c 1.089843 0 2 -0.910156 2 -2 v -3 c 0 -1.089844 -0.910157 -2 -2 -2 z m -8 2 h 3 v 3 h -3 z m 8 0 h 3 v 3 h -3 z m -8 6 c -1.089844 0 -2.0000005 0.910156 -2.0000005 2 v 3 c 0 1.089844 0.9101565 2 2.0000005 2 h 3 c 1.089843 0 2 -0.910156 2 -2 v -3 c 0 -1.089844 -0.910157 -2 -2 -2 z m 8 0 c -1.089844 0 -2 0.910156 -2 2 v 3 c 0 1.089844 0.910156 2 2 2 h 3 c 1.089843 0 2 -0.910156 2 -2 v -3 c 0 -1.089844 -0.910157 -2 -2 -2 z m -8 2 h 3 v 3 h -3 z m 8 0 h 3 v 3 h -3 z m 0 0"/></svg></a>
    </div>
  </div>
</div>
<div class="flex">
  <div class="w-[100px] sm:w-[200px] mt-1 text-center">
    {% if issue.has_covers %}
    <a href="cover/4/">{{ image_tag }}</a>
      {% if not preview %}
    <a href="{% if MYCOMICS %}https://www.comics.org{% endif %}{% url 'edit_covers' issue_id=issue.id %}">Edit Cover{{ issue.active_covers.count|pluralize }}</a><br>
      {% endif %}
    <a href="{{ issue.series.get_absolute_url }}covers">Cover Gallery</a>&nbsp;
    {% else %}
      {% if preview %}
        {{ image_tag }}
      {% else %}
        {% if issue.series.is_comics_publication or issue.can_have_cover %}
    <a href="{% if MYCOMICS %}https://www.comics.org{% endif %}{% url 'upload_cover' issue_id=issue.id %}">{{ image_tag }}</a>
        {% endif %}
      {% endif %}
    {% endif %}
    {% if variant_image_tags|length < 3 %}
    <div class="flex flex-wrap gap-1">
      {% for variant, image_tag in variant_image_tags %}
      <div class="w-[98px] flex"><a href="{{ variant.get_absolute_url }}">{{ image_tag }}</a></div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
    {% if cover_story %}
  <div class="ps-2 flex-1">
      {% with story=cover_story is_cover=1 %}
      {% include "gcd/details/tw_single_story.html" %}
      {% endwith %}
  </div>
    {% endif %}
</div>
{% if variant_image_tags %}
  {% with num_variants=variant_image_tags|length %}
    {% if num_variants > 2 %}

      {% if num_variants > request.user.indexer.variant_threshold|default:6 %}
<details class="[&_svg]:open:rotate-90">
      {% else %}
<details class="[&_svg]:open:rotate-90" open="">
      {% endif %}
  <summary class="list-none">
      {% include 'gcd/bits/svg_details.html' %}
    <span class="btn btn-blue">
        {{ num_variants }} variant cover scan{{ num_variants|pluralize }}
    </span>
  </summary>
  <div class="mt-1 flex flex-wrap gap-1 me-1">
      {% for variant, image_tag in variant_image_tags %}
    <div class="w-[100px] flex"><a href="{{ variant.get_absolute_url }}">{{ image_tag }}</a></div>
      {% endfor %}
  </div>
</details>
    {% endif %}
  {% endwith %}
{% endif %}
{% if issue.variant_of %}
This issue is a variant of <a href="{{ issue.variant_of.get_absolute_url }}">{{ issue.variant_of.full_name }}</a>.
{% endif %}
{% if issue.other_variants %}
  {% with num_variants=issue.other_variants|length %}
    {% if num_variants > request.user.indexer.variant_threshold|default:6 %}
<details class="[&_svg]:open:rotate-90 mt-1">
    {% else %}
<details class="[&_svg]:open:rotate-90 mt-1" open="">
    {% endif %}
  <summary class="list-none">
      {% include 'gcd/bits/svg_details.html' %}
    <span class="btn btn-blue">
    {% if not issue.variant_of %}
  This issue has {{ num_variants }} variant{{ num_variants|pluralize }}
    {% else %}
      There exist {{ num_variants }} further variant{{ num_variants|pluralize }}
    {% endif %}
    </span>
  </summary>
  <dl class="contents">
    <ul class="object-page-link-list">
    {% for variant in issue.other_variants %}
      <li class="break-inside-avoid-column"><a href="{{ variant.get_absolute_url }}">{{ variant.display_full_descriptor }}</a>
    {% endfor %}
    </ul>
  </dl>
</details>
  {% endwith %}
{% endif %}
<h3 class="bg-blue-100 rounded px-1 mt-1 md:me-1"> Issue Data </h3>
<ul class="md:columns-2 ml-1 [&_li]:break-inside-avoid-column">
  {% if not issue.no_brand %}
<li><span class="font-bold">Publisher's Brand:</span>
    {% if issue.brand.emblem %}
      {{ issue.brand|absolute_url:issue.brand.emblem|default:"?" }}</li>
    {% else %}
      {{ issue.brand|absolute_url|default:"?" }}
    {% endif %}
</li>
  {% endif %}

<li><span class="font-bold">Indicia&nbsp;/&nbsp;Colophon Publisher:</span> {{ issue|show_indicia_pub }}</a></li>

  {% if not issue.no_indicia_frequency and issue.series.has_indicia_frequency %}
<li><span class="font-bold">Indicia Frequency:</span> {{ issue.indicia_frequency|default:"?" }}</li>
  {% endif %}

  {% if issue.rating and issue.series.has_rating %}
<li><span class="font-bold">Publisher's Age Guidelines:</span> {{ issue.rating }}</li>
  {% endif %}
  {% if issue.active_code_numbers.count %}
    {% for code_number in issue.active_code_numbers %}
  <li><span class="font-bold">{{ code_number.number_type }}:</span> {{ code_number.number }}</li>
    {% endfor %}
  {% endif %}

  {% if not issue.no_indicia_printer and issue.series.has_indicia_printer and issue.active_printers.count %}
<li><span class="font-bold">Printer:</span> {{ issue.show_printer }}</li>
  {% endif %}

  {% if not issue.no_isbn and issue.series.has_isbn %}
<li><span class="font-bold">ISBN:</span>
    {% if issue.valid_isbn %}
        <a title="Search at WorldCat" href="http://worldcat.org/isbn/{{ issue.valid_isbn }}">
          {{ issue.isbn|show_isbn }}
          <img class="inline" src="{% static 'img/gcd/icons/worldcat_16.gif' %}" width="12px;" alt="Search at WorldCat" style="border:0;">
        </a>
    {% else %}
      {{ issue.isbn|show_isbn|default:"?" }}
    {% endif %}
</li>
  {% endif %}

  {% if not issue.no_barcode and issue.series.has_barcode %}
<li><span class="font-bold">Barcode:</span> {{ issue.barcode|show_barcode|default:"?" }}</li>
  {% endif %}

  {% if issue.external_link.count %}
    {% for external_link in issue.external_link.all %}
  <li><span class="font-bold">Link:</span> {{ external_link.link|urlize }}</li>
    {% endfor %}
  {% endif %}

  <li>{{ issue|show_credit_tw_inline:"keywords" }}</li>
</ul>

  {% if issue.series.is_singleton %}
<h3 class="bg-blue-100 rounded px-1 mt-1 md:me-1"> Series Data </h3>
<ul class="md:columns-2 ml-1 [&_li]:break-inside-avoid-column">
    {% with issue.series as series %}
      {% if series.format %}
  <li><span class="font-bold">Format:</span> {{ series.format }}</li>
      {% endif %}
      {% if series.color %}
  <li><span class="font-bold">Color:</span> {{ series.color }}</li>
      {% endif %}
      {% if series.dimensions %}
  <li><span class="font-bold">Dimensions:</span> {{ series.dimensions }}</li>
      {% endif %}
      {% if series.paper_stock %}
  <li><span class="font-bold">Paper Stock:</span> {{ series.paper_stock }}</li>
      {% endif %}
      {% if series.binding %}
  <li><span class="font-bold">Binding:</span> {{ series.binding }}</li>
      {% endif %}
      {% if series.publishing_format %}
  <li><span class="font-bold">Publishing Format:</span> {{ series.publishing_format }}</li>
      {% endif %}
      {% if series.publication_type %}
  <li><span class="font-bold">Publication Type:</span> {{ series.publication_type }}</li>
      {% endif %}
      {% if series.has_keywords %}
  <li><span class="font-bold">Keywords:</span>  {{ series|show_keywords:'series' }}</li>
      {% endif %}
    {% endwith %}
</ul>
  {% endif %}

<div class="ml-1">
  {% if issue.active_awards.count %}
  <div class="field-name-label">Awards:</div>
  <ul class="object-page-link-list columns-1">{{ issue|show_credit_bare_value:"show_awards" }}</ul>
  {% endif %}

  {% if issue.has_reprints %}
  <dl class="contents">
    {{ issue|show_reprints_for_issue }}
  </dl>
  {% endif %}

</div>

  {% if issue.notes %}
<h3 class="bg-blue-100 rounded px-1 mt-1 md:me-1"> Indexer Notes </h3>
<div class="ml-1">
      {{ issue.notes|markdown }}
</div>
  {% endif %}

  {% with no_show_sequence_types=request.user.indexer.no_show_sequences.all %}
    {% for story in stories %}
      {% if not not_shown_types or not request.user.indexer or story.type not in no_show_sequence_types %}
        {% include "gcd/details/tw_single_story.html" %}
      {% endif %}
    {% endfor %}
  {% endwith %}
{% endblock %}

{% block content %}
{% endblock content %}

{% block issue_links %}
<div class="my-1 max-md:hidden label-gcd-blue">
Related Links
</div>
<ul class="ps-1 max-md:hidden text-sm">
  {% if not issue.series.is_singleton %}
    {% if issue.series.has_gallery %}
    <li> <a href="{{ issue.series.get_absolute_url }}covers">Series Cover Gallery</a>
    {% endif %}
    <li> <a href="{% url "series_details" series_id=issue.series.id %}">Series Details by Issue</a><br/>
    <li> <a href="{% url "series_timeline" series_id=issue.series.id %}">Series Monthly Timeline</a>
  {% endif %}
  {% if issue.indicia_image or issue.soo_image %}
    {% if issue.indicia_image %}
    <li> <a href="{% url "issue_images" issue_id=issue.id %}">Indicia Scan</a></li>
    {% endif %}
    {% if issue.soo_image %}
    <li> <a href="{% url "issue_images" issue_id=issue.id %}">Statement of Ownership Scan</a></li>
    {% endif %}
  {% else %}
    <li> <a href="{% url "issue_images" issue_id=issue.id %}">No Issue Scans</a></li> 
  {% endif %}
</ul>
{% endblock %}

{% block issue_toc %}
<div class="my-1 label-gcd-blue h-8 md:px-2 px-1 max-md:w-9 max-md:absolute max-md:right-1 max-md:overflow-hidden">
  <span class="max-md:hidden">Table of Contents</span>
  <span class="toc-bar-small md:hidden m-0 mobile-toc-button z-0">ToC</span>
</div>
<ol class="toc list-decimal {% if stories|length > 9 %}ps-6{% else %}ps-4{% endif %} w-56 text-sm max-md:border-2 max-md:hidden max-md:absolute overflow-hidden bg-white max-md:right-0" {% if cover_story %}start='0'{% endif %}>
  <div class="mobile-toc-button-expanded md:hidden my-1 bg-gcd font-bold px-1 h-8 md:hidden text-base sm:px-2 py-1 text-white rounded">
    <span class="toc-bar-full">Table of Contents</span>
  </div>
{% if cover_story %}
  <li class="hover:bg-stone-300">
    <span>
      <a name="toc_{{ cover_story.id }}" href="#{{ cover_story.id }}">{{ cover_story|show_title:1 }}</a></span><br/>
    <span>{{ cover_story.show_feature}}</span>
  </li>
{% endif %}
{% for story in stories %}
  <li class="hover:bg-stone-300 odd:bg-stone-200">
    <span>
      <a name="toc_{{ story.id }}" href="{% if story.type in request.user.indexer.no_show_sequences.all %}{% querystring 'issue_detail'='2' %}{% endif %}#{{ story.id }}">{{ story|show_title:1 }}</a></span><br/>
    <span>{{ story.show_feature}}</span>
  </li>
{% endfor %}
</ol>
{% endblock %}

{% block additional_information %}
{% if oi_indexers %}
<div class="bg-blue-100 max-md:hidden font-bold w-56 text-sm rounded py-1 px-2">Issue was modified by{% if among_others %}, among others {% endif %}</div>
<ul class="object-page-link-list columns-1 w-56 text-sm max-md:hidden">
{% for credit in oi_indexers %}
  <li> {{ credit }}
{% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block editing %}
  {% with object=issue object_class='issue' object_name='issue' %}
  {% include "gcd/bits/tw_status_banner.html" %}
  {% endwith %}
  {% if user.is_authenticated and not series.pending_deletion %}
    {% if not issue.variant_of %}
  <a class="hover:no-underline" href="{% url 'add_variant_issue' issue_id=issue.id %}">
    <btn class="btn btn-blue-editing">Add Variant Issue</btn>
  </a>
    {% endif %}
    {% if issue.variant_of and not issue.variant_of|is_locked and not issue|is_locked %}
  <form method="POST" onclick="document.getElementById('edit_with_base').click()"
        action="{% url 'reserve_two_issues' issue_one_id=issue.id issue_two_id=issue.variant_of.id %}">
    {% csrf_token %}
    <button class="w-full pe-2"><input class="mt-0 w-full btn btn-blue-editing" id="edit_with_base" name="edit_with_base" type="submit" value="Edit With Base Issue" /></button>
  </form>
    {% endif %}
    {% if not issue|is_locked %}
  <form method="GET" class="block" onclick="document.getElementById('edit_with_another').click()"
        action="{% url 'edit_two_issues' issue_id=issue.id %}">
    <button class="w-full pe-2"><input class="my-0 w-full btn btn-blue-editing" id="edit_with_another" type="submit" value="{% trans 'Edit With Another Issue' %}"></button>
  </form>
    {% endif %}
  <a class="hover:no-underline" href="{% url 'cache_issue' issue_id=issue.id %}">
    <btn class="btn btn-blue-editing">
      Remember Issue
    </btn>
  </a>
  {% endif %} <!-- logged in -->
  <btn class="btn btn-blue-editing hover:bg-stone-200">
    <div class="flex justify-center">
    Download:
  {% if user.is_authenticated %}
      <a
    {% if preview %}
            class="hover:bg-stone-400" href="{% url 'export_issue_revision_csv' issue.revision.id %}"
    {% else %}
            class="hover:bg-stone-400" href="{% url 'export_issue_csv' issue.id %}"
    {% endif %}
      ><span class="px-1">(CSV)</span></a>

      <a
    {% if preview %}
            class="hover:bg-stone-400" href="{% url 'export_issue_revision' issue.revision.id %}"
    {% else %}
            class="hover:bg-stone-400" href="{% url 'export_issue' issue.id %}"
    {% endif %}
      ><span class="px-1">(TSV)</span></a>
  {% endif %}
  {% if not preview %}
      <a class="hover:bg-stone-400" href="/api{% url 'show_issue' issue.id %}?format=json"><span class="px-1">(JSON)</span></a>
  {% endif %}
    </div>
  </btn>
  <a class="hover:no-underline" href="http://errors.comics.org/enter_bug.cgi?product=GCD&amp;bug_file_loc={{ request.build_absolute_uri }}&amp;short_desc={{ issue|urlencode }}" target="_blank">
    <btn class="btn btn-blue-editing">
      Report Information <img class="inline w-[12px] mb-1" src="{% static 'img/gcd/icons/adwaita/external-link-symbolic.svg' %}">
    </btn>
  </a>
  {% if user.is_authenticated and issue.series.is_singleton %}
  <div class="flex label-gcd-blue">Editing Series Data</div>
    {% with object=issue.series object_name='Series' object_class='series' %}
      {% include "gcd/bits/tw_status_banner.html" %}
    {% endwith %}
  {% endif %}
{% endblock editing %}

{% block change_history %}
  {% include "mycomics/bits/tw_issue_control.html" %}
  {% with model_name='issue' object=issue %}
    {{ block.super }}
  {% endwith %}
{% endblock change_history %}

{% block js %}
  {{ block.super }}
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
      // Select all dropdown toggle buttons
      const editingToggles = document.querySelectorAll(".mobile-toc-button, .mobile-toc-button-expanded")
        editingToggles.forEach((toggle) => {
        toggle.addEventListener("click", () => {
          document.querySelectorAll(".toc").forEach((menu) => {
              menu.classList.toggle("max-md:hidden")
          })
          document.querySelectorAll(".mobile-toc-button-expanded").forEach((menu) => {
              menu.classList.toggle("md:hidden")
          })
          document.querySelectorAll(".toc-bar-small").forEach((menu) => {
              menu.classList.toggle("md:hidden")
          })
        })
      })
    
      // Clicking outside of an open dropdown menu closes it
      window.addEventListener("click", function (e) {
        if (!e.target.matches(".mobile-toc-button") && !e.target.matches(".mobile-toc-button-expanded") ) {
          document.querySelectorAll(".toc").forEach((menu) => {
            if (!menu.contains(e.target)) {
              menu.classList.add("max-md:hidden")
            }
          })
          document.querySelectorAll(".mobile-toc-button-expanded").forEach((menu) => {
            if (!menu.contains(e.target)) {
              menu.classList.add("md:hidden")
            }
            })
          if (window.matchMedia('(max-width: 768px)').matches) {
            // md breakpoint is typically 768px in Tailwind
            // your md-specific code here
            document.querySelectorAll(".toc-bar-small").forEach((menu) => {
              if (!menu.contains(e.target)) {
                menu.classList.remove("md:hidden")
              }
            })
          }
        }
      })
      
    })
</script>
{% endblock %}
