{% extends "gcd/tw_object_base.html" %}

{% load static %}
{% load i18n %}
{% load display %}
{% load credits %}

{% block title %}
GCD :: Multiverse :: {{ multiverse.name }}
{% endblock %}

{% block header %}
  {% with object=multiverse %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}
<h3>Universes</h3>
<table class="border">
  <thead>
    <tr class="bg-blue-100 [&>th]:px-1">
      <th> Name</th>
      <th> Designation</th>
      <th> First Published </th>
    </tr>
  </thead>
  <tbody class="sortable_listing">
  {% for universe in multiverse.active_universes %}
    <tr>
      <td> <a href ="{{ universe.get_absolute_url }}">{{ universe.name }}</a> </td>
      <td> <a href ="{{ universe.get_absolute_url }}">{{ universe.designation }}</a> </td>
      <td> {{ universe.year_first_published|default:"" }} </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock content %}

{% block change_history %}
{% endblock change_history %}

