{% extends "gcd/tw_object_base.html" %}

{% load static %}
{% load i18n %}
{% load display %}
{% load credits %}

{% block title %}
GCD :: Multiverse :: {{ multiverse.name }}
{% endblock %}

{% block header %}
  {% with object=multiverse %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content %}
<h3>Universes</h3>
<table class="border">
  <thead>
    <tr class="bg-blue-100 [&>th]:px-1">
      <th> Name</th>
      <th> Designation</th>
      <th> First Published </th>
    </tr>
  </thead>
  <tbody class="sortable_listing [@media(hover:hover)]:[:where(&)_tr:where(:hover)]:bg-blue-50 [:where(&)_tr]:flex [:where(&)_tr]:flex-col [:where(&)_tr]:mb-4 sm:[:where(&)_tr]:table-row [:where(&)_tr]:border [:where(&)_tr]:border-gray-200 max-sm:[:where(&)_tr]:w-1/2 max-sm:[:where(&)_tr]:float-left max-sm:[:where(&)_tr:where(:nth-child(odd))]:clear-left [:where(&)_td]:ps-1 [:where(&)_td]:pe-2">
  {% for universe in multiverse.active_universes %}
    <tr>
      <td> <a href ="{{ universe.get_absolute_url }}">{{ universe.name }}</a> </td>
      <td> <a href ="{{ universe.get_absolute_url }}">{{ universe.designation }}</a> </td>
      <td> {{ universe.year_first_published|default:"" }} </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock content %}

{% block change_history %}
{% endblock change_history %}

