{% load i18n %}
{% load credits %}
{% load display %}
{% load mathfilter %}

<div class="md:me-1">
  <a name="{{ story.id }}"></a>
  <h2 class="bg-gcd mt-1 font-normal rounded-t">
    <div class="flex">
      <div class="flex-1">
{% if modal %}
        <a class="text-white visited:text-white px-1" href='{% url "show_issue" issue_id=story.issue.id %}#{{ story.id }}'>
{% endif %}
        <span class="text-white px-1">{{ story|show_title }}</span>
{% if modal %}
        </a>
{% endif %}
      </div>
{% if not modal %}
      <div class="text-base mt-0.5 text-white me-1">
      {% if story.type.id in not_shown_types %}
        <a class="text-white visited:text-white" href="?issue_detail=2">(Expand)</a> <span class="max-sm:hidden">/</span> 
  {% endif %}
        <a class="text-white max-md:hidden visited:text-white" href="#toc_{{ story.id }}">(Table of Contents{% if forloop.counter %}: {{ forloop.counter }}{% endif %})</a>
      </div>
{% endif %}
    </div>  
  </h2>
  <h3 class="text-black visited:text-black rounded-b font-normal bg-blue-100 px-1">
    <div class="flex">
      <div class="flex-1">
{% if story.has_feature %}
        <span>{{ story.show_feature }}</span>
{% endif %}
{% if story.type or story.page_count %}
        <span>
      <!-- needs to be stuck together to get display spacing right. -->
  {% if story.has_feature %} / {% endif %}
  {% if story.type %}{{ story.type }} / {% endif %}
  {{ story|show_page_count }}
  {% blocktrans with story.page_count|default:0|ceil|pluralize as suffix %}
    page{{ suffix }}
  {% endblocktrans %}
        </span>
{%endif %}
      </div>
      <div>
{% if not preview and not modal %}
  {% if user.is_authenticated and story and not MYCOMICS %}
    {% if is_cover %}
        <span>
          <a class="text-base"
             href="{% url 'cache_cover' cover_story_id=story.id %}">
             <span class="max-sm:hidden">(Remember Cover)</span>
             <span class="sm:hidden">(RC)</span>
          </a>
        </span>
    {% else %}
        <span>
          <a class="text-base"
             href="{% url "cache_story" story_id=story.id %}">
             <span class="max-sm:hidden">(Remember Story)</span>
             <span class="sm:hidden">(RS)</span>
            </a>
        </span>
    {% endif %}
  {% endif %}
{% endif %}
      </div>
    </div>
  </h3>
{% if not not_shown_types or story.type.id not in not_shown_types %}
  <div class="ml-1">
    {% if 'grid' == list_or_face %}
    <div class="flex flex-wrap gap-x-2">
      {% for credit in story.creator_credits.values %}
          <div class="sm:text-center min-w-[120px]">
            <a href='{{ credit.creator.creator.get_absolute_url }}'></a>
              <img class="inline w-[100px] border-2 rounded-full" src="{{ credit.creator.creator.get_portrait_url}}">
            </a>
            <div>
              {{ credit.display_credit }}
            </div>
            <div>
              {{ credit.credit_type_name }}
            </div>
          </div>
    {% endfor %}
    </div>
    {% endif %}
  {% include "gcd/bits/story_creator_credits.html" %}
  </div>

  {% if story.has_content %}
  <hr></hr>
  <div class="ml-1">
    <ul class="md:columns-2">
      <li class="break-inside-avoid-column">{{ story|show_credit_tw_inline:"genre" }}</li>
      <li>{{ story|show_credit_tw_inline:"job_number" }}</li>
    </ul>
    <ul>
      <li>{{ story|show_credit_tw_inline:"story_arc" }}</li>
      <li>{{ story|show_credit_tw_inline:"feature_logo" }}</li>
      <li>{{ story|show_credit_tw_inline:"first_line" }}</li>
      <li>{{ story|show_credit_tw_inline:"keywords" }}</li>
      {% if story.universe.exists %}
      {{ story.show_universe }}
      {% endif %}
    </ul>
    {% if story.has_characters %}
    <div class="field-name-label">Characters:</div>
      {% with characters=story.process_appearing_characters %}
        {% include 'gcd/bits/tw_story_characters.html' %}
      {% endwith %}
      {% for character_order in story.character_orders.all %}
        <div class="field-name-label">Character {{ character_order.type|title }}:</div>
        {% with characters=character_order.process_ordered_appearing_characters %}
          {% include 'gcd/bits/tw_story_characters.html' %}
        {% endwith %}
      {% endfor %}
      {{ story.characters }}
    {% endif %}
    <dl>
      {{ story|show_credit_description_list:"synopsis"|linebreaksbr }}
      {% if story.active_awards %}
      <dt class="field-name-label">Awards:</dt>
      <dd><ul class="object-page-link-list columns-1">{{ story|show_credit_bare_value:"show_awards" }}</ul></dd>
      {% endif %}
      {% if story.has_reprints %}
        {% if story.reprint_count > request.user.indexer.reprint_threshold|default:5 %}
        <details class="[&_svg]:open:rotate-90">
        {% else %}
        <details class="[&_svg]:open:rotate-90" open="">
          {% endif %}
            <summary class="list-none"> 
              {% include 'gcd/bits/svg_details.html' %}
            <span class="btn-blue btn">Reprints ({{ story.reprint_count }})</span>
          </summary>
          <dd><ul class="object-page-link-list columns-1 [&_ul]:columns-1 [&_ul]:object-page-link-list ">{{ story|show_reprints:True|linebreaksbr }}</ul></dd>
        </details>
      {% endif %}
    </dl>
  </div>
  {% endif %}
  {% if story.issue.series.has_about_comics and story.biblioentry %}
  <hr></hr>
  <div class="ml-1">
    <ul class="md:columns-2">
      <li>{{ story.biblioentry|show_credit_tw_inline:"pages" }}</li>
      <li>{{ story.biblioentry|show_credit_tw_inline:"doi" }}</li>
    </ul>
    {% if story.biblioentry.abstract %}
    <div class="field-name-label">Abstract:</div>
        {{ story.biblioentry.abstract|linebreaksbr }}
    {% endif %}
  </div>
  {% endif %}
  {% if story.notes %}
  <h3 class="bg-blue-100 rounded px-1 mt-1"> Indexer Notes </h3>
  <div class="ml-1">
      {{ story.notes|markdown }}
  </div>
  {% endif %}
{% endif %} <!-- shown_types -->
</div>

