{% extends "gcd/tw_object_base.html" %}
{% load i18n %}
{% load display %}
{% load credits %}
{% load django_tables2 %}

{% block title %}
GCD :: Story Arc :: {{ story_arc.name }}
{% endblock %}

{% block header %}
  {% with object=story_arc %}
    {{ block.super }}
  {% endwith %}
{% endblock %}

{% block content_left %}
<table>
  <tr>
    <td class="align-top">
      <div class="w-[150px] md:w-[200px] mt-1">
        <a href="{{ image_issue.get_absolute_url }}cover/4/">{{ image_tag }}</a>
        <a href="{{ image_issue.get_absolute_url }}">{{ image_issue.full_name }}<br>
        {{ image_issue.publication_date }}<br>
        </a>
      </div>
    </td>
    <td class="align-top">
      <div class="flex ps-1">
        <div>
          <table class="[&_:is(th,td):where(:nth-child(1),)]:align-top [&_:is(th,td):where(:nth-child(1),)]:text-right [&_:is(th,td):where(:nth-child(1),)]:font-bold">
{% if story_arc.disambiguation %}
            <tr>
              <td>Disambiguation:</td>
              <td>{{ story_arc.disambiguation }}</td>
            </tr>
{% endif %}
{% if story_arc.year_first_published %}
            <tr>
              <td class="sm:w-36">First Published in:</td>
              <td>{{ story_arc.display_year_first_published }}</td>
            </tr>
{% endif %}
          </table>  
        </div>
      </div> 
    </td>
  </tr> 
</table>
{% if story_arc.description %}
<h3 class="mt-2">Description:</h3>
{{ story_arc.description|markdown }}
{% endif %}
{% if story_arc.notes %}
<h3 class="mt-2">Notes:</h3>
{{ story_arc.notes|markdown }}
{% endif %}
{% endblock %}

{% block editing %}
  {% with object=story_arc object_class='story_arc' object_name='story_arc' %}
    {% include "gcd/bits/tw_status_banner.html" %}
  {% endwith %}
  {% if request.user.is_authenticated %}
  <btn class="btn btn-blue-editing"><a href="{% url 'add_story_arc_relation' story_arc_id=story_arc.id %}">
    Add Story Arc Relation</a></btn>
  {% endif %}
{% endblock %}

{% block content %}
{% if arc_stories %}
  <ol class="object-page-numbered-list list-disc columns-1">
  {% for story in arc_stories %}
    {% ifchanged story.issue %}
      {% if not forloop.first %}
      </ol>
      {% endif %}
    <li>{{ story.issue.full_name_with_link }} ({{ story.issue.publication_date }})</li>
    <ol class="object-page-numbered-list list-disc columns-1">
    {% endifchanged %}
    <li><a href="{{ story.get_absolute_url }}">{{ story }}</a></li>
  {% endfor %}
    </ol>
  </ol>
{% endif %}
{% if story_arc.related_sub_arcs %}
<hr>
<h2>Sub Arc:</h2>
<ol class="object-page-numbered-list list-disc">
  {% for relation in story_arc.related_sub_arcs %}
  <li class="break-inside-avoid-column">
    <a href="{% url 'show_story_arc' story_arc_id=relation.to_story_arc.id %}">{{ relation.to_story_arc.object_page_name }}</a>
    <a href="{% url 'show_story_arc_relation' story_arc_relation_id=relation.id %}">(story arc relation)</a>
      {% if relation.notes %}
      <br><strong>Notes: </strong>{{ relation.notes }}
      {% endif %}
  </li>
  {% endfor %}
</ol>
{% endif %}
{% if story_arc.related_main_arcs %}
<hr>
<h2>Main Arc:</h2>
<ol class="object-page-numbered-list list-disc">
  {% for relation in story_arc.related_main_arcs %}
  <li class="break-inside-avoid-column">
    <a href="{% url 'show_story_arc' story_arc_id=relation.from_story_arc.id %}">{{ relation.from_story_arc.object_page_name }}</a>
    <a href="{% url 'show_story_arc_relation' story_arc_relation_id=relation.id %}">(story arc relation)</a>
      {% if relation.notes %}
      <br><strong>Notes: </strong>{{ relation.notes }}
      {% endif %}
  </li>
  {% endfor %}
</ol>
{% endif %}
{% if story_arc.translations %}
<hr>
<h2>Translations:</h2>
<ol class="object-page-numbered-list list-disc">
  {% for relation in story_arc.translations %}
    {% with relation_info=relation|pre_process_relation:story_arc %}
  <li class="break-inside-avoid-column">
    <a href="{% url 'show_story_arc' story_arc_id=relation_info.0.id %}">{{ relation_info.0.object_page_name }}</a>
    <a href="{% url 'show_story_arc_relation' story_arc_relation_id=relation.id %}">({{ relation_info.1 }})</a>
      {% if relation.notes %}
      <br><strong>Notes: </strong>{{ relation.notes }}
      {% endif %}
  </li>
    {% endwith %}
  {% endfor %}
</ol>
{% endif %}
{% if arc_stories_reprinted %}
  <hr>
  <h2>Reprints:</h2>
  <ol class="object-page-numbered-list list-disc columns-1">
  {% for story in arc_stories_reprinted %}
    {% ifchanged story.issue %}
      {% if not forloop.first %}
      </ol>
      {% endif %}
    <li>{{ story.issue.full_name_with_link }} ({{ story.issue.publication_date }})</li>
    <ol class="object-page-numbered-list list-disc columns-1">
    {% endifchanged %}
    <li><a href="{{ story.get_absolute_url }}">{{ story }}</a></li>
  {% endfor %}
    </ol>
  </ol>
{% endif %}
{% endblock content %}

{% block change_history %}
  {% if MYCOMICS %}
<details class="[&_svg]:open:rotate-90" open="">
  {% else %}
<details class="[&_svg]:open:rotate-90">
  {% endif %}
<summary class="list-none">
  <div class="bg-my-comics text-white mt-1 font-bold px-2 py-1 text-center rounded">
    <svg class="inline rotate-0 transform text-blue-700 transition-all duration-300" fill="none" height="20" width="20" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
      <polyline points="6 3 12 9 6 15"></polyline>
    </svg>
  my.comics.org
  </div>
</summary>
<div class="mx-1">
  {% if messages %}
  <ul class="bg-red-100 rounded px-1 mt-1">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
  {% if request.user.is_authenticated %}
<form method="POST" action="{% url 'add_story_arc_to_reading_order' story_arc_id=story_arc.id %}">
    {% csrf_token %}
  <div>
    <button class="w-full"><input class="m-0 mb-0.5 w-full btn btn-blue-editing" type="submit" name="confirm_selection" value="Add This Story Arc To Reading Order"></button>
    <select class="ms-1" name="reading_order_id">
    {% for ro_item in request.user.collector.reading_orders.all %}
      <option value="{{ ro_item.id }}" {% if request.session.reading_order_id == ro_item.id %}selected{% endif %}>{{ ro_item.name }}
    {% endfor %}
    </select>
  </div>
</form>
  {% endif %}
  {% url "show_story_arc" story_arc_id=story_arc.id as object_url %}
  {% if MYCOMICS %}
<div class="bg-gcd mt-1 font-bold px-2 py-1 text-center rounded">
<a class="text-white visited:text-white" href="https://www.comics.org{{ object_url }}">Story Arc at www.comics.org</a>
</div>
  {% else %}
<div class="bg-my-comics mt-1 font-bold px-2 py-1 text-center rounded">
<a class="text-white visited:text-white" href="https://my.comics.org{{ object_url }}">Story Arc at my.comics.org</a>
</div>
  {% endif %}
</details>
  {% with model_name='story_arc' object=story_arc %}
    {{ block.super }}
  {% endwith %}
{% endblock change_history %}

{% block listing %}
{% endblock listing %}
