fieldset {
    margin: 1em 0;
    padding: 0;
    overflow: hidden;
    border: solid black 1px;
}

ol {
    /* padding: 1em 1em 0 1em; */
    list-style: none;
    padding-left: 1em;
}

ol li {
    margin-bottom: 0.5em;
}

div .fake_label {
    width: 9em;
    margin-right: 1em;
    text-align: right;
    float: left;
    clear: left;
}
label {
    width: 9em;
    margin-right: 1em;
    text-align: right;
    float: left;
}

input {
    margin-bottom: 0.2em;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul ul {
    padding-left: 2em;
}

th {
    text-align: right;
    vertical-align: top;
}

tr.last_row_for_field td,
tr.last_row_for_field th {
    padding-bottom: 1em;
}

.errorlist li {
    list-style: disc;
    color: red;
    font-weight: bold;
}

ul .errorlist,
ol .errorlist {
    margin-bottom: 1em;
    margin-left: 10em;
    padding-left: 0;
}

table {
    width: 100%;
}

td {
    white-space: normal;
}

td .errorlist {
    margin: 0;
    padding: 0;
}

.error_message {
    width: 100%;
    margin-bottom: 1em;
    float: none;
}

.instructions {
    font-weight: bold;
    margin: 1em 0 1em 0;
    padding-left: 1em;
}

.data_value {
    font-weight: bold;
}

#inline_login {
    display: inline;
}

