/* ***************************************
 * issue.css
 * CSS specific to the issue details page.
 * ***************************************/

/*
 * Common elements
 */

dl {
    float: left;
    width: 100%;
    margin-top: 0;
}

dt {
    float: left;
    padding-right: 0.25em;
}

dd {
    float: left;
    margin: 0 0.5em 0 0;
}

div#format {
    margin-top: 0;
    margin-bottom: 1em;
    float: left;
}

#format_tag {
    font-weight: bold;
    float: left;
}

#format_data {
    float: left;
}


/*
 * Issue layout elements
 */

#issue_data {
    float: left;
    width: 100%;
}

#issue_data p {
    margin-top: 0.4em;
}

#issue_data_list {
    padding-top: 1em;
    margin-bottom: 0;
}

#series_date {
    font-weight: bold;
    margin-bottom: 0;
}

#story_toc {
    border: solid 1px;
    margin-bottom: 1em;
    font-size: 0.85em;
}

.toc_story_title {
    /* font-style: italic; */
}

#story_toc ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

#story_toc ol li {
    padding: 0.4em;
}

#story_toc ol li.odd {
    background-color: #FFF;
}
#story_toc ol li.even {
    background-color: #DDD;
}

#toc_header {
    margin-top: 0;
    margin-bottom: 0;
    padding: .4em;
    background-color: #444;
    color: white;
}


/*
 * Cover layout elements
 */

.issue_cover_links {
    float: left;
    clear: left;
    font-size: 0.75em;
    width: 100%;
}

#cover_data {
    clear: left;
    margin-right: 1.5em;
}

.cover{
	padding-top:0;
	overflow:hidden;
	padding-left:118px;
        margin-bottom: -0.5em; /* offset bottom added by class='single_story' */
}
.coverContainer{
	width:100%;
	border-left:118px solid white;
	margin-left:-118px;
	display:inline;
	float:left;
}
.coverContent{
	width:100%;
	float:right;
	position:relative;
}
.coverImage{
	float:left;
	width:116px;
	margin-left:-118px;
	position:relative;
}
.coverImage img {
    border: solid 1px;
}

#index_credits {
    clear: both;
    border: 1px solid;
    padding: 0;
    font-size: 0.85em;
}

#indexers_header {
    font-weight: bold;
    background-color: #DDD;
    margin: 0;
    padding: 0.4em;
}

#index_credits ul {
    margin: 0.4em;
}

div.issue_notes {
    clear: left;
    margin-right: 1.5em;
}

div.issue_notes_border{
    border: solid black 1px;
    width: 100%;
    float: left;
    margin-bottom: 1em;
}

div.issue_notes h3 {
    clear: both;
    background-color: #DDD;
    padding: 0.2em 6px;
    margin-top: 0;
    margin-bottom: 0.15em;
}

div.issue_notes p {
    padding: 0.2em 6px;
    margin: 0 0 0.5em 0;
}

