/* ***************************************
 * series.css
 * CSS specific to the series details page.
 * ***************************************/

.details,
.clear {
    float: left;
    clear: both;
    margin-top: 1em;
    width: 100%;
}

.details p {
    float: left;
    clear: left;
}

#series_cover {
    clear: both;
    float: left;
    width: 200px;
    margin-bottom: 1em;
}

#series_cover img {
    border: solid 1px;
}

#series_data {
    margin-left: 210px;
}

#series_data dl {
    margin-top: 0;
}

#series_data dl dt {
    float: left;
    margin-right: .5em;
}

#series_data dl dd {
    margin: 0;
}

div#series_data img.icon {
    border: none;
    margin-right: 0.2em;
}

div.series_detail_header {
    font-weight: bold;
}

ul.series_detail_info {
    margin-top: 0;
    padding-left: 2em;
}

ul#series_detail_link_list {
    list-style: none;
    padding-left: 0;
}

.empty_month {
    color: #777;
}

