{% extends "gcd/base_view.html" %}

{% load i18n %}
{% load display %}
{% load credits %}

{% block title %}
  GCD :: Projects Overview
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css"
        href="{{ MEDIA_URL }}css/gcd/default.css"/>
{% endblock %}

{% block view_body %}
<h2> Overview of Current Data Projects </h2>
<ul>
<li> <a href="{% url imprints_in_use %}">Imprints in Use</a>
<li> <a href="{% url issue_cover_notes %}">Issues with identical notes and cover notes</a>
<li> <a href="{% url issues_with_several_covers %}">Issues with several covers to move to variants</a>
<li> <a href="{% url story_reprint_inspection %}">Migrated reprint notes need inspection</a>
<li> <a href="http://www.comics.org/search/advanced/process/?target=sequence&method=icontains&logic=False&order1=series&order2=date&order3=&start_date=&end_date=&title=&feature=&job_number=&type=4&pages=&script=&pencils=&inks=&colors=&letters=&story_editing=&genre=&characters=&synopsis=&reprint_notes=&notes=&pub_name=&pub_notes=&brand=&brand_notes=&indicia_publisher=&is_surrogate=None&ind_pub_notes=&series=&series_notes=&tracking_notes=&publication_notes=&issue_count=&issues=&volume=&issue_title=&variant_name=&issue_date=&indicia_frequency=&price=&issue_pages=&format=&issue_editing=&isbn=&barcode=&issue_notes=&is_indexed=None">Stories with type biography (nonfictional)</a>
<li> <a href="http://www.comics.org/search/advanced/process/?target=sequence&method=icontains&logic=False&order1=series&order2=date&order3=&start_date=&end_date=&title=&feature=&job_number=&type=3&pages=&script=&pencils=&inks=&colors=&letters=&story_editing=&genre=&characters=&synopsis=&reprint_notes=&notes=&pub_name=&pub_notes=&brand=&brand_notes=&indicia_publisher=&is_surrogate=None&ind_pub_notes=&series=&series_notes=&tracking_notes=&publication_notes=&issue_count=&issues=&volume=&issue_title=&variant_name=&issue_date=&indicia_frequency=&price=&issue_pages=&format=&issue_editing=&isbn=&barcode=&issue_notes=&is_indexed=None">Stories with type backcovers</a>
<li> <a href="http://docs.comics.org/wiki/Special_Projects">Special projects page in the wiki</a>
</ul>

{% endblock %}

