{% extends "gcd/base_view.html" %}

{% load static %}
{% load i18n %}
{% load display %}
{% load credits %}

{% block title %}
  GCD :: Projects Overview
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css"
        href="{% static "css/gcd/default.css" %}"/>
{% endblock %}

{% block view_body %}
<h2> Overview of Current Data Projects </h2>
<ul>
<li> <a href="{% url "issues_with_several_covers" %}">Issues with several covers to move to variants</a>
<li> <a href="https://www.comics.org/search/advanced/process/?target=sequence&method=icontains&logic=False&keywords=&credit_is_linked=&title=&feature=&feature_is_linked=&job_number=&pages=&pages_uncertain=&type=9&script=&pencils=&inks=&colors=&letters=&story_editing=&first_line=&characters=&synopsis=&reprint_notes=&story_reprinted=&notes=&issues=&volume=&issue_title=&variant_name=&is_variant=&issue_date=&indicia_frequency=&price=&issue_pages=&issue_pages_uncertain=&issue_editing=&isbn=&barcode=&rating=&issue_notes=&issue_reprinted=&is_indexed=&in_selected_collection=on&order1=series&order2=date&order3=&start_date=&end_date=&updated_since=&pub_name=&pub_notes=&brand_group=&brand_emblem=&brand_notes=&indicia_publisher=&is_surrogate=&ind_pub_notes=&series=&series_year_began=&series_notes=&tracking_notes=&issue_count=&is_comics=&color=&dimensions=&paper_stock=&binding=&publishing_format=">Stories with type filler</a>
<li> <a href="http://docs.comics.org/wiki/Special_Projects">Special projects page in the wiki</a>
</ul>

{% endblock %}

