body { font-family: Verdana,Arial,Helvetica,sans-serif; }

table.image-layout {
    width: "600";
}

tr.in-results-search {
    background-color: #6699FF;
    font-size: x-small;
}
tr.result-status {
    font-size: small;
    font-weight: bold;
}
tr.result-display-status {
    font-size: small;
}
tr.search-results-header {
    background-color: #6699FF;
    font-size: small;
    font-weight: bold;
    left: 0;
}
tr.search-odd {
    font-size: x-small;
    vertical-align: top;
}
tr.search-even {
    background-color: #DDDDDD;
    font-size: x-small;
    vertical-align: top;
}
tr.advanced-search {
    background-color: #6699FF;
    font-size: small;
    vertical-align: bottom;
}


tr.publisher-header {
    background-color: #696969;
    color: #FFFFFF;
    font-size: large;
    font-weight: bold;
}
tr.publisher-subheader {
    background-color: #DDDDDD;
    font-size: small;
    vertical-align: bottom;
}
tr.publisher-odd {
    background-color: #FFFFFF;
    font-size: x-small;
    vertical-align: top;
}
tr.publisher-even {
    background-color: #99CCFF;
    font-size: x-small;
    vertical-align: top;
}


tr.series-title {
    background-color: #EEEEEE;
    font-size: x-large;
}
tr.series-info {
    font-size: small;
    vertical-align: top;
}


tr.issue-text {
    font-size: small;
}
*.fine-print {
    font-size: x-small;
}
*.faint {
    font-size: x-small;
    color: #CCCCCC;
}
*.less-faint {
    font-size: x-small;
    color: #999999;
}
tr.issue-data {
    vertical-align: top;
    font-size: small;
}


tr.story-table-header {
    font-size: small;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #888888;
}
tr.story-table-entry {
    background-color: #EEEEEE;
    font-size: x-small;
    vertical-align: top;
}
tr.story-title {
    background-color: #EEEEEE;
    font-size: small;
    font-weight: bold;
}
tr.sequence-id {
    font-size: x-small;
}


