{% extends "gcd/base_view.html" %}

{% block css %}
  <link rel="stylesheet" type="text/css"
        href="{{ MEDIA_URL }}css/gcd/default.css"/>
{% endblock %}

{% block title %} GCD :: New Account Confirmation {% endblock %}

{% block view_body %}
<h2>Thank you for creating a GCD Account!</h2>
<p>
Before you can start using your account, we need confirmation of your email
address.  We have sent an automatic email to the address you supplied with a URL
that will activate your account.  Please visit that URL within the number
of days specified in the email.  As soon as you do that, you can start
using your account!  You might need to check your spam folder.
If you have other setups to prevent unsolicited email
please make sure that our automatic email is not stuck there.

{% endblock %}

