{% extends "gcd/base_view.html" %}

{% block css %}
  <link rel="stylesheet" type="text/css"
        href="{{ MEDIA_URL }}/css/gcd/default.css"/>
{% endblock %}

{% block view_body %}
<h2>How to Retrieve a Forgotten Password</h2>
<p>
We don't have an automated form for forgotten passwords yet.  However, you are welcome to <a href="mailto:gcd-contact@googlegroups.com">email the GCD Contact list</a> and an admin can look up your account information for you.  We'll need some combination of your name and/or the username and email address set up for your account in order to locate you in our database.
</p>
{% endblock %}

