Welcome to the {{ site_name }}! 

Based on your indexing activity, you are now a full member of the project.  What does that mean?  First, it means you can now vote to elect Board members. This occurs each November.  Candidates will announce on the Main mailing list (https://groups.google.com/forum/#!forum/gcd-main), and discussions on the candidates will also occur there.  If you are not already subscribed to this list, I highly recommend it.

I also want to remind you that to fully enjoy the GCD community, you can consider signing up for one of our other mailing lists and taking part in other discussions. We have lists devoted to our computer database and webpage work (https://groups.google.com/forum/#!forum/gcd-tech), international comics (http://docs.comics.org/wiki/Email_Lists_FAQ#International_mailing_lists), and even just fan discussions about comics and "stuff" (https://groups.google.com/forum/#!forum/gcd-chat).

There are also special projects that pop up from time-to-time and we would love to have you volunteer to help out on one.  Checking out the discussions on the Main mailing list may guide you to find something you're interested in.  And if you don't see something, feel free to suggest a project you want to help out on!  The varied interests and help from hundreds of volunteers like you is what keeps us all moving toward our audacious goal of indexing every comic ever published.

We also discuss changes to our data entry formatting on our Policy mailing list (https://groups.google.com/forum/#!forum/gcd-policy). As an online indexer, I'm sure you have ideas on how the process can be improved.  Please bring your insights to the Policy list and vote on changes to help improve our process.  You can even volunteer to help steer the discussions as a Policy Coordinator.

Finally, being a member means you can run for a seat on the Board yourself!  Look for the announcement period each November if you are interested.

Thanks again for joining and indexing and becoming a member of the project!  If you have any questions, just let me know or bring them up for general discussion on the Main mailing list.

- {{ chairman }},
{{ site_name }} Board Chair