{% extends "gcd/base_view.html" %}

{# show_form is in "credits", which should be fixed at some point. #}
{% load forms %}

{% block css %}
  <link rel="stylesheet" type="text/css"
        href="{{ MEDIA_URL }}/css/gcd/default.css"/>
  <link rel="stylesheet" type="text/css"
        href="{{ MEDIA_URL }}/css/gcd/default/accounts.css"/>
{% endblock %}

{% block view_body %}

{% if user.is_authenticated %}
<p>
Please 
<form id="inline_logout" action="{% url logout %}" method="POST">
  <input type="submit" name="logout" value="Log Out" />
  <input type="hidden" name="next" value="{{ request.get_full_path }}" />
</form>
before registering a new account.
</p>

{% else %}

<p class="message">
Please note:  Online Indexing is currently disabled while we complete the new
implementation.  It is expected to return by mid-November, 2009.
In the meantime, you may register for an account and receive an email when
the new Indexing system is released.
</p>

{% if error_list %}
<ul class="error_message">
{% for error in error_list %}
  <li> {{ error }} </li>
{% endfor %}
</ul>
{% endif %}

<p>
Once you register, you will not be able to log in until you confirm your
email address.  You will receive an email telling you how to do that
within a few hours (often only a few minutes) of submitting this form.
</p>

{{ form.non_field_errors }}

<form action="/accounts/register/" method="POST">
<table>
  {{ form.email|show_form_as_row }}
  {{ form.password|show_form_as_row }}
  {{ form.confirm_password|show_form_as_row }}
  {{ form.first_name|show_form_as_row }}
  {{ form.last_name|show_form_as_row }}
  {{ form.country|show_form_as_row }}
  {{ form.languages|show_form_as_row }}
  {{ form.interests|show_form_as_row }}
  <tr><td>&nbsp;</td><td><input type="submit" value="Register"></td></tr>
</table>
</form>

{% endif %}
{% endblock %}

