{% extends "gcd/base_view.html" %}

{% load forms %}

{% block css %}
  <link rel="stylesheet" type="text/css"
        href="{{ MEDIA_URL }}css/gcd/default.css"/>
  <link rel="stylesheet" type="text/css"
        href="{{ MEDIA_URL }}css/gcd/default/accounts.css"/>
{% endblock %}

{% block title %}
  GCD :: Registration
{% endblock %}

{% block view_body %}

{% if user.is_authenticated %}
<p>
Please
<form id="inline_logout" action="{% url logout %}" method="POST">
  <input type="submit" name="logout" value="Log Out" />
  <input type="hidden" name="next" value="{{ request.get_full_path }}" />
</form>
before registering a new account.
</p>

{% else %}

{% if error_list %}
<ul class="error_message">
{% for error in error_list %}
  <li> {{ error }} </li>
{% endfor %}
</ul>
{% endif %}

<p>
Please note that all of our content and search features are available
without logging in. Signing up for one of our
<a href="http://docs.comics.org/wiki/Email_Lists_FAQ">mailing lists</a>
does not require an account either.
You only need an account if you want to edit or add information.
</p>
<p>
Once you register, you will not be able to log in until you confirm your
email address.  You will receive an automatic email telling you how to do that
within a few hours (typically only a few minutes) of submitting this form.
You might need to also check your spam folder.
If you have other setups to prevent unsolicited email please
make sure that our automatic email gets through, you may have to temporarily turn
these off.
</p>

{{ form.non_field_errors }}

<form action="/accounts/register/" method="POST">
<table>
  {{ form.email|show_form_as_row }}
  {{ form.password|show_form_as_row }}
  {{ form.confirm_password|show_form_as_row }}
  {{ form.first_name|show_form_as_row }}
  {{ form.last_name|show_form_as_row }}
  {{ form.country|show_form_as_row }}
  {{ form.languages|show_form_as_row }}
  {{ form.interests|show_form_as_row }}
  {{ form.notify_on_approve|show_form_as_row }}
  {{ form.collapse_compare_view|show_form_as_row }}
  <tr><td>&nbsp;</td><td><input type="submit" value="Register"></td></tr>
</table>
</form>

{% endif %}
{% endblock %}

