{% extends "gcd/base_view.html" %}

{% block css %}
  <link rel="stylesheet" type="text/css"
        href="{{ MEDIA_URL }}/css/gcd/default.css"/>
  <link rel="stylesheet" type="text/css"
        href="{{ MEDIA_URL }}/css/gcd/default/accounts.css"/>
{% endblock %}

{% block view_body %}

<p>
Welcome to the Grand Comic-Book Database!
<p>
You are now registered as a new Indexer!  Please consider signing up for our
<a href="http://groups.google.com/group/gcd-main">mailing list</a>!
</p>
<p>
Soon an <a href="http://docs.comics.org/wiki/List_of_editors">Editor</a>
will be assigned as your mentor to answer any questions with your first few
data contributions.  As a new user, while you may upload as many covers as you
like, you are initially limited to making one data change at a time, and must
wait for each one to be approved before you can make another one.
<p>
The number of data changes you can make at a time will automatically increase
starting with your first approval, after which you can also reserve all new
issues in a series as well as making changes one issue at a time.
<p>
You can see your current maximum allowed changes on your
<a href="{% url default_profile %}">profile page</a>

{% endblock %}

