{% extends "gcd/base_view.html" %}

{% block css %}
  <link rel="stylesheet" type="text/css"
        href="{{ MEDIA_URL }}css/gcd/default.css"/>
  <link rel="stylesheet" type="text/css"
        href="{{ MEDIA_URL }}css/gcd/default/accounts.css"/>
{% endblock %}

{% block view_body %}

<p>
Welcome to the {{ site_name }}!
<p>
You are now registered as a new Indexer!  Please consider signing up for our
main <a href="http://groups.google.com/group/gcd-main">mailing list</a> or
one of the <a href="http://docs.comics.org/wiki/Email_Lists_FAQ#International_mailing_lists">
international ones</a>.
</p>
<p>
As a new user, while you may upload as many covers as you like, you are 
initially limited to making one data change and must wait for this one 
to be approved before you can do more. This is to allow an 
<a href="http://docs.comics.org/wiki/List_of_editors">Editor</a>
to help you and answer any questions with your first few data contributions. 
<p>
An Editor will be assigned as your mentor <span class="emphasis">after</span>
your first submission.
This mentoring Editor will contact you regarding the index with any questions
and suggestions to help you to ensure our data quality standards are maintained.
<p>
You may now proceed to make a change to an issue and submit it for approval.
To help you make your first submission, please read the
<a href="http://docs.comics.org/wiki/Indexing">Introduction To Indexing </a> 
or the <a href="http://docs.comics.org/wiki/OI_Tutorial">Tutorial</a>. 
<p>
The number of data changes you can make at a time will automatically increase
starting with your first approval, after which you can also reserve all new
issues in a series as well as making changes one issue at a time.
<p>
You can see your current maximum allowed changes on your
<a href="{% url default_profile %}">profile page</a>.
<p>
We appreciate your interest in the GCD and look forward to working with you on your contributions to the project!
</p>
{% endblock %}

