BeautifulSoup
Django<1.7
MySQL-python
Pillow < 2.0
PyICU
PyYAML
Pygments
pytz
RBTools
South
django-appconf
django-compressor
django-imagekit<3.0
git+git://github.com/GrandComicsDatabase/django-taggit.git@django18
git+git://github.com/GrandComicsDatabase/django-templatesadmin.git@django18
git+git://github.com/GrandComicsDatabase/django-mobile.git
python-stdnum
wsgiref
pyelasticsearch<1.0
django-haystack<2.1.0
python-dateutil
diff-match-patch
python-vote-core
git+git://github.com/bennylope/elasticstack.git
django-bootstrap3
facebook-sdk
