Django<4.0
mysqlclient<2.1
Pillow<9.0,>=8.2
PyICU<2.5
PyYAML<5.5,>=5.4
django-autocomplete-light<3.8.2
diff-match-patch==20181111
django-appconf<1.1
django-bootstrap3<16
django-compressor<2.5
django-contact-form<1.10
django-crispy-forms<1.13
django-filter<22
django-haystack<3.1
django-imagekit<4.1
django-markdownx<3.1
django-pagedown<2.2
django-queryset-csv<1.2
django-recaptcha<2.1
django-rosetta
django-tables2<2.5
django-model-utils<4.2
git+git://github.com/GrandComicsDatabase/django-taggit.git@django32
git+git://github.com/GrandComicsDatabase/django-templatesadmin.git@python3
chardet<3.1
elasticsearch<3.0
python-memcached<1.60
python-stdnum<1.17
python3-vote-core==20170329.0
python-graph-core<1.9
requests<2.27
simplejson<3.18
tablib<3.1

# These packages are used in development and testing.
flake8
mock
pytest
pytest-django
ipython

# These packages are primarily used in production for performance reasons.
# By default they are installed, but their use is not enabled.
# If you enable them through settings_local.py, you will need to install
# the Debian package redis-server in addition to the other software
# needed to use elasticsearch.
#
# Note that django-rq 2.2 requires django>=2.0, so it is pinned
# to a lower version.
django-extensions<3.2
redis<3.6
rq<2.0
django-rq<2.5
git+git://github.com/mandx/haystack-rqueue.git
