# not fully sure if we actually use it
#beautifulsoup4==4.6.0
Django<2.0
MySQL-python==1.2.5
Pillow<4.4
PyICU<2.0
PyYAML<3.13
# pytz is django requirement, not ours
# pytz==2016.6.1
# not ours
# argparse==1.2.1
diff-match-patch==20121119
django-appconf==1.0.2
django-bootstrap3<9.2
django-compressor<2.3
django-haystack==2.8.1
django-imagekit<4.1
django-queryset-csv==1.0.0
git+git://github.com/GrandComicsDatabase/django-mobile.git@django111
git+git://github.com/GrandComicsDatabase/django-taggit.git@django111
git+git://github.com/GrandComicsDatabase/django-templatesadmin.git@gcd-production
elasticsearch<2.0
elasticstack<0.6
facebook-sdk==2.0
# do we need feedparser
# feedparser==5.2.1
# seems like requirement for haystack, but maybe not ?
# python-dateutil==2.2
python-graph-core==1.8.2
python-memcached==1.59
python-stdnum<1.10
python-vote-core==20120423.0
requests<2.12
simplejson==3.4.0
# still needed ?
# versiontools==1.9.1
wsgiref==0.1.2

# These packages are used in development and testing.
RBTools
flake8
mock
pytest
pytest-django
ipython

# These packages are primarily used in production for performance reasons.
# By default their use is not enabled.  If you enable them, you may need
# to install other (non-Python-package) software do perform further
# configuration.  They are included here to ensure that we catch library
# version dependency interactions.
rq<0.11
django-rq<1.1
redis<2.11
git+git://github.com/mandx/haystack-rqueue.git
