/* Search or plain header bars that appear at the top of nearly every page. */

.oi_bar {
    margin-left: -8px;
    padding-left: 8px;
    clear: both;
    background-color: #ebf3ff;
    color: black;
    margin-bottom: 0em;
    vertical-align: middle;
    font-weight: bold;
    width: 100%;
}

.oi_bar a:link {
    color: black;
    text-decoration: None;
}

.oi_bar a:hover {
    color: black;
    text-decoration: underline;
}

.oi_bar a:visited {
    color: black;
}

.oi_bar_title {
    background-color: black;
    color: white;
}

.oi_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ebf3ff;
}

.oi_bar_active {
    background-color: #4CAF50;
}

.oi_bar li {
    float: left;
}

.oi_bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0.6em 0.6em 0.6em 0.6em;
    text-decoration: none;
}

.oi_bar li a:hover {
    background-color: #b3cff8;
    color: DarkSlateGray;
    text-decoration: none;
}

li.oi_bar_title :link {
    color: white;
    text-decoration: None;
}

li.oi_bar_title a:hover {
    color: white;
    text-decoration: None;
    background-color: DarkSlateGray;
}

li.oi_bar_title :visited {
    color: white;
}

li.oi_bar_nav {
    float: right;
    border: 0px;
}

.oi_bar_nav img {
    margin-top: -0.3em;
    margin-bottom: -0.3em;
}

form th {
    vertical-align: top;
    padding-bottom: 0.5em;
}
form td {
    padding-bottom: 0.5em;
}

form.download {
    margin-bottom: 1em;
}

form.download th {
    width: 30%;
    justify: left;
}

form.download ul {
    list-style: none;
    padding-left: 1em;
}

div.wide_form {
    width: 100%;
    clear: both;
    margin: 0.5em 0 1em 0;
}

.alert, .errorlist {
    list-style-type: none;
    list-style-position: outside;
    color: red;
    font-weight: bold;
    margin-top: 0;
    padding-left: 0;
}

.instructions {
    font-weight: bolder;
}

.important {
    color: red;
}

dl.tech_contact dd {
    margin-bottom: 1em;
}

div.indexer_right_box {
    float: right;
    width: 25em;
    margin-top: 0;
}

div.indexer_right_box h2 {
    background-color: #ebf3ff;
    margin-bottom: 0em;
    padding-left: 0.4em;
}

div.indexer_notice {
    background-color: #f6fbff;
    padding: 1em 0.4em;
    margin-bottom: 1em;
}
