{% load collecting %}

<div class="edit_header">
    <div>my.comics.org</div>
</div>
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% if request.user.is_authenticated %}
  {{ issue|show_have_want:request.user }}
<form method="POST" action="{% url "my_issue" issue_id=issue.id %}">
  {% csrf_token %}
  <div>
    {% comment %}TODO: figure out a how to have this translated {% endcomment %}
    <input type="submit" name="confirm_selection" value="Add">
    this issue to your 
    <select name="collection_id">
    {% for col_item in request.user.collector.ordered_collections %}
      <option value="{{ col_item.id }}" {% if request.session.collection_id == col_item.id %}selected{% endif %}>{{ col_item.name }}
    {% endfor %}
    </select>
  </div>
</form>
  {% for item in issue|item_collections:request.user %}
    {% if forloop.first %}
<ul>
    {% endif %}
    {% for collection in item.collections.all %}
  <li style="font-size:larger;">in <a href='{{ item|item_url:collection }}'>{{ collection }}</a>
    <form><button formaction='{{ item|item_url:collection }}#edit-item'>Edit Item</button></form>
    {% endfor %}
   {% if forloop.last %}
</ul>
    {% endif %}
  {% endfor %}
{% endif %}
In {{ issue.collectionitem_set.count }} collections.
