{% load gcdtable %}
{% load collecting %}

<table border="1" class="status" id="key">
  <tr>
    <td class="collection_status_own"> Issue Owned </td>
    <td class="collection_status_want"> On Wantlist </td>
    <td class="collection_status_collected"> In a Collection </td>
    <td class="collection_status_several"> Several Copies </td>
    <td class="collection_status_empty"> Not in a Collection </td>
  </tr>
</table>
<p class="spacer"/>
<table border="1" class="status">
  <tr>
  {% for issue in series.active_issues %}
    <td class="{{ issue|collection_status:request.user }}">
      <a href="{{ issue.get_absolute_url }}">{{ issue.issue_descriptor }}</a> </td>
    {% if forloop.counter|divisibleby:table_width %}
  </tr>
      {% if not forloop.last %}
  <tr>
      {% endif %}
    {% else %}
      {% if forloop.last %}
        {{ forloop.counter|finishrow:table_width }}
  </tr>
      {% endif %}
    {% endif %}
  {% endfor %}
</table>
