{% load gcdtable %}
{% load collecting %}

<div class="left" style="width:calc(100% - 200px);">
  <table class="status">
  <tr>
    <td class="collection_status_own"> Issue Owned </td>
    <td class="collection_status_want"> On Wantlist </td>
    <td class="collection_status_collected"> In a Collection </td>
    <td class="collection_status_several"> Several Copies </td>
    <td class="collection_status_empty"> Not in a Collection </td>
  </tr>
  </table>
  <div class="status_grid">
  {% for issue in series.active_issues %}
    <div class="status_grid_flex {{ cover_status_width }} {{ issue|collection_status:request.user }}">
      <a href="{{ issue.get_absolute_url }}">{{ issue.full_descriptor }}</a>
    </div>
  {% endfor %}
  </div>
</div>