{% load url from future %}
<div class="edit_header">
    <div>my.comics.org</div>
</div>
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
  {% endfor %}
</ul>
{% endif %}
{% if request.user.is_authenticated %}
<form action="{% url "my_series_issues" series_id=series.id %}" method="get">
  <input type="submit" name="submit" value="Select issues"> from this series 
  <select name="which_issues">
    <option value="base_issues">without variants</option>
    <option value="all_issues">with variants</option>
    <option value="variant_issues">only variants</option>
  </select>
to add to a collection.
</form>
<form method="POST" action="{% url "my_series_issues" series_id=series.id %}">
  {% csrf_token %}
  <div>
    <input type="submit" name="confirm_selection" value="Add all issues">
    <br> (without variants) to your 
    <select name="collection_id">
  {% for col_item in request.user.collector.ordered_collections %}
      <option value="{{ col_item.id }}">{{ col_item.name }}</option>
  {% endfor %}
    </select>
  </div>
</form>
{% endif %}
