{% load collecting %}
{% load url from future %}

<div class="panel panel-default">
  <div class="panel-heading"
       onclick="window.location.href='{% url "view_collection" collection.id %}'">
    <h3 style="display: inline-block;">{{ collection }} ({{ collection.items.count }})</h3>
  </div>
  <div class="panel-body">
    <div class="btn-group pull-left">
  {% if collection.public %}
      <span class="glyphicon glyphicon-eye-open">&thinsp;</span>
  {% else %}
      <span class="glyphicon glyphicon-eye-close">&thinsp;</span>
  {% endif %}
    </div>
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-primary btn-sm"
              style="display: inline-block;" onclick="window.location.href='{% url "edit_collection" collection.id %}'">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
      {% if not collection|is_default_collection %}
      <button type="button" class="btn btn-primary btn-sm"
              style="display: inline-block;" data-toggle="modal"
              href="#remove-collection" onclick="selected_collection={{ collection.id }}">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
      {% endif %}
    </div>
    {{ collection.description }}</div>
</div>
