{% extends "gcd/base_view.html" %}

{% load static %}
{% load forms %}
{% load compress %}

{% block title %} GCD :: Advanced Query {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{% static "css/gcd/default.css" %}">
<link rel="stylesheet" type="text/css"
      href="{% static "css/gcd/default/advanced_search.css" %}">
{% endblock %}

{% block view_body %}

{% include "oi/bits/jquery.html" %}
<script type='text/javascript'
         src='{% static "admin/js/jquery.init.js" %}'></script>
{% include "oi/bits/multi_selector.html" %}
{% comment %}
TODO for some reason without this second time of jquery.min.js the
override of SelectFilter does not seem to work
{% endcomment %}
{% compress js %}
<script type='text/javascript'
        src='{% static "admin/js/vendor/jquery/jquery.min.js" %}'></script>
{% endcompress %}
<script type='text/javascript'>
<!--- overriding SelectFilter function for small windows --->
if ($(window).width() < 1240) {
    SelectFilter = function() {};
}
</script>

<b>Advanced Query</b> allows field specific queries. It is a somewhat experimental query builder and has <a href="#blithering">known oddities and limitations</a>, see below for more information.

{% if error_text %}
<div class="error_message">
{{ error_text }}
</div>
{% endif %}
{{ form.non_field_errors }}
<form id="advanced_search_form"
      action="{% url 'process_advanced_search' %}"
      method="get">
<fieldset class="submit" style="margin-bottom: 0em">
  <input type="submit" value="Query">
</fieldset>

<div class="search_left">
<fieldset class="control">
<legend>Query Control</legend>
<ol>
  {{ form.target|show_form }}
  {{ form.method|show_form }}
  {{ form.logic|show_form }}
  {{ form.keywords|show_form }}
</ol>
</fieldset>

<fieldset class="sequence">
  <legend> Story Fields </legend>
  <ol>
    {{ form.title|show_form }}
    {{ form.feature|show_form }}
    {{ form.job_number|show_form }}
    {{ form.pages|show_form }}
    {{ form.pages_uncertain|show_form }}
    {{ form.type|show_form }}
  </ol>

  <fieldset class="credits">
    <legend> Credits </legend>
    <ol>
      {{ form.credit_is_linked|show_form }}
      {{ form.script|show_form }}
      {{ form.pencils|show_form }}
      {{ form.inks|show_form }}
      {{ form.colors|show_form }}
      {{ form.letters|show_form }}
      {{ form.story_editing|show_form }}
    </ol>
  </fieldset>

  <fieldset class="contents">
    <legend> Contents </legend>
    <ol>
      {{ form.genre|show_form }}
      {{ form.first_line|show_form }}
      {{ form.characters|show_form }}
      {{ form.synopsis|show_form }}
      {{ form.reprint_notes|show_form }}
      {{ form.story_reprinted|show_form }}
    </ol>
  </fieldset>
  <fieldset class="notes">
    <legend> Indexer Notes </legend>
    <ol>
      {{ form.notes|show_form }}
    </ol>
  </fieldset>
</fieldset>
<fieldset class="issue" id="issue_fieldset">
  <legend>
    Issue Fields
  </legend>
  <ol>
    {{ form.issues|show_form }}
    {{ form.volume|show_form }}
    {{ form.issue_title|show_form }}
    {{ form.variant_name|show_form }}
    {{ form.is_variant|show_form }}
    {{ form.issue_date|show_form }}
    {{ form.indicia_frequency|show_form }}
    {{ form.price|show_form }}
    {{ form.issue_pages|show_form }}
    {{ form.issue_pages_uncertain|show_form }}
    {{ form.issue_editing|show_form }}
    {{ form.isbn|show_form }}
    {{ form.barcode|show_form }}
    {{ form.rating|show_form }}
    {{ form.issue_notes|show_form }}
    {{ form.issue_reprinted|show_form }}
    {{ form.cover_needed|show_form }}
    {{ form.is_indexed|show_form }}
    {{ form.image_resources|show_form }}
    {% if user.is_authenticated %}
      {{ form.in_collection|show_form }}
      {{ form.in_selected_collection|show_form }}
    {% endif %}
  </ol>
</fieldset>
</div>

<div class="search_right">
<fieldset class="ordering">
<legend>Ordering</legend>
<ol>
  {{ form.order1|show_form }}
  {{ form.order2|show_form }}
  {{ form.order3|show_form }}
</ol>
</fieldset>

<fieldset class="universal">
<legend>Date Fields</legend>
<ol>
  {{ form.start_date|show_form }}
  {{ form.end_date|show_form }}
  {{ form.use_on_sale_date|show_form }}
  {{ form.updated_since|show_form }}
</ol>
</fieldset>

<fieldset class="publisher" id="publisher_fieldset">
  <legend>
    Publisher Fields
  </legend>
  <ol>
    {{ form.pub_name|show_form }}
    {{ form.country|show_form }}
    {{ form.pub_notes|show_form }}
  </ol>
</fieldset>

<fieldset class="brand" id="brand_fieldset">
  <legend>
    Publisher Brand Fields
  </legend>
  <ol>
    {{ form.brand_group|show_form }}
    {{ form.brand_emblem|show_form }}
    {{ form.brand_notes|show_form }}
  </ol>
</fieldset>

<fieldset class="indicia_publisher" id="indicia_publisher_fieldset">
  <legend>
    Indicia / Colophon Publisher Fields
  </legend>
  <ol>
    {{ form.indicia_publisher|show_form }}
    {{ form.is_surrogate|show_form }}
    {{ form.ind_pub_notes|show_form }}
  </ol>
</fieldset>

<fieldset class="series" id="series_fieldset">
  <legend>
    Series Fields
  </legend>

  <ol id="series_list">
    {{ form.series|show_form }}
    {{ form.series_year_began|show_form }}
    {{ form.series_notes|show_form }}
    {{ form.publication_type|show_form }}
    {{ form.tracking_notes|show_form }}
    {{ form.issue_count|show_form }}
    {{ form.not_reserved|show_form }}
    {{ form.is_current|show_form }}
    {{ form.is_comics|show_form }}
    {{ form.language|show_form }}
  </ol>

  <fieldset class="format" id="format_fieldset">
    <legend>
    Format Fields
    </legend>
    <ol>
    {{ form.color|show_form }}
    {{ form.dimensions|show_form }}
    {{ form.paper_stock|show_form }}
    {{ form.binding|show_form }}
    {{ form.publishing_format|show_form }}
    </ol>
  </fieldset>
</fieldset>

<fieldset class="indexer" id="indexer_fieldset">
  <legend>
    Indexer
  </legend>
  <ol>
    {{ form.indexer|show_form }}
  </ol>
</fieldset>
</div>
<div class='search_left'>
<fieldset class="submit">
  <input type="submit" value="Query">
</fieldset>
<fieldset class="submit">
  <input type="submit" name="random_search" value="Random Query Result">
</fieldset>
</div>
</form>

<div class="search_left">
  <div id="blithering">
  <a name="blithering"></a>
    <b>Advanced Query</b> is somewhat experimental and has known oddities and limitations
    <ul>
      <li> All searches match <b>exact substrings</b>.  Punctuation is not
           ignored.  "Jack Kirby; Joe Simon" and "Joe Simon; Jack Kirby" are
           two different searches. This is fundamentally different to how our
           <a href="/searchNew/">regular search</a> behaves, which ignores word
           order, but looks for exact word occurrences (unless a * is given).
      <li> The default ordering of the query results sorts according to series
           name and issue date.
           This ordering is not very useful if you search for publishers, you might
           want to change it under "Ordering".
      <li> There is no way to search for multiple values in a field. For instance,
           while you can search for stories written or penciled by someone,
           you cannot search for stories penciled by either Jack Kirby or
           Joe Simon in the text credit fields.
      <li> Using only linked credits one can search for stories penciled by either
           Jack Kirby or Joe Simon, or both of them together, no matter in which
           order they are credited.
      <li> Searching by date is somewhat tricky.  Supported formats include
           "year.month.day", "year-month-day", "month/day/year",
           "month-name day, year", "day month-name, year" and just plain year.
      <li> Date searching for series and stories uses a hidden field that is
           not always filled out.  This is the same field used for sorting by
           date, which is why sometimes several out-of-sequence results will
           appear at the beginning of the list.  It is also possible to search
           an issue's cover date as a text field without any conversion to an
           actual date.
      <li> Many older indexes do not list the feature characters under characters
           as well. Therefore the standard search for characters (using the search
           box on top of the pages) returns matches in either the feature or the
           characters field. This search behaviour is not supported by the
           advanced search for technical reasons.  You can somewhat simulate it
           by using the "OR some fields" option.
      <li> Note that since there is no direct relation between publisher brands and
           indicia publishers, you cannot use the brand fields while searching for
           indicia publishers, and you cannot use the indicia publisher fields while
           searching for publisher brands.
    </ul>
  </div>
</div>
<hr style="border-bottom:0; height:1px">

{% endblock %}


{% include "gcd/fine_print.html" %}

