{% extends "gcd/base.html" %}

{% load forms %}

{% block title %} GCD :: Advanced Search {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/default.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/default/advanced_search.css"/>
{% endblock %}

{% block body %}

{% with "Advanced Search" as bar_heading %}
{% include "gcd/bits/plain_bar.html" %}
{% endwith %}

<div id="blithering">
Advanced Search is still somewhat experimental and has some known bugs
and limitations:
<ul>
  <li> The default ordering of the search results sorts according to series 
       name and issue date.
       This ordering is not very useful if you search for publishers, you might
       want to change it under "Ordering".
  <li> All "contains" searches match exact substrings.  Punctuation is not
       ignored.  "Jack Kirby; Joe Simon" and "Joe Simon; Jack Kirby" are
       two different searches.
  <li> There's no way to search for multiple values in a field (for instance,
       while you can search for stories written or penciled by someone,
       you cannot search for stories penciled by either Jack Kirby or
       Joe Simon.
  <li> Searching by date is somewhat tricky.  Supported formats include
       "year.month.day", "year-month-day", "month/day/year",
       "month-name day, year", "day month-name, year" and just plain year.
  <li> Date searching for series and stories uses a hidden field that is
       not always filled out.  This is the same field used for sorting by
       date, which is why sometimes several out-of-sequence results will
       appear at the beginning of the list.  It is also possible to search
       an issue's cover date as a text field without any conversion to an
       actual date.
  <li> At the moment you cannot directly search for Brands or Indicia Publishers
       (which are recent, as in December 2009) additions to the site.  You can,
       however, search for Brands and/or Indicia Publishers as issue fields.
       The rest of the search functionality for these will be implemented
       in the near future.
  <li> Many older indexes do not list the feature characters under characters
       as well. Therefore the standard search for characters (using the search
       box on top of the pages) returns matches in either the feature or the 
       characters field. This search behaviour is not supported by the 
       advanced search for technical reasons.
</ul>
</div>

{% if error_text %}
<div class="error_message">
{{ error_text }}
</div>
{% endif %}
{{ form.non_field_errors }}
<form id="advanced_search_form"
      action="{% url apps.gcd.views.search.process_advanced %}"
      method="get">
<div>
<fieldset class="submit">
  <input type="submit" value="Search">
</fieldset>
</div>
<div class="search_left">
<fieldset class="control">
<legend>Search Control</legend>
<ol>
  {{ form.target|show_form }}
  {{ form.method|show_form }}
  {{ form.logic|show_form }}
</ol>
</fieldset>
</div>
<div class="search_right">
<fieldset class="ordering">
<legend>Ordering</legend>
<ol>
  {{ form.order1|show_form }}
  {{ form.order2|show_form }}
  {{ form.order3|show_form }}
</ol>
</fieldset>
</div>

<div class="search_left">
<fieldset class="sequence">
  <legend> Story Fields </legend>
  <ol>
    {{ form.title|show_form }}
    {{ form.feature|show_form }}
    {{ form.job_number|show_form }}
    {{ form.type|show_form }}
    {{ form.pages|show_form }}
  </ol>

  <fieldset class="credits">
    <legend> Credits </legend>
    <ol>
      {{ form.script|show_form }}
      {{ form.pencils|show_form }}
      {{ form.inks|show_form }}
      {{ form.colors|show_form }}
      {{ form.letters|show_form }}
      {{ form.story_editing|show_form }}
    </ol>
  </fieldset>

  <fieldset class="contents">
    <legend> Contents </legend>
    <ol>
      {{ form.genre|show_form }}
      {{ form.characters|show_form }}
      {{ form.synopsis|show_form }}
      {{ form.reprint_notes|show_form }}
    </ol>
  </fieldset>
  <fieldset class="notes">
    <legend> Indexer Notes </legend>
    <ol>
      {{ form.notes|show_form }}
    </ol>
  </fieldset>
</fieldset>
</div>

<div class="search_right">
<fieldset class="universal">
<legend>Date Fields</legend>
<ol>
  {{ form.start_date|show_form }}
  {{ form.end_date|show_form }}
</ol>
</fieldset>

<fieldset class="publisher" id="publisher_fieldset">
  <legend>
    Publisher Fields
  </legend>
  <ol>
    {{ form.pub_name|show_form }}
    {{ form.country|show_form }}
    {{ form.pub_notes|show_form }}
  </ol>
</fieldset>

<fieldset class="series" id="series_fieldset">
  <legend>
    Series Fields
  </legend>

  <ol id="series_list">
    {{ form.series|show_form }}
    {{ form.series_notes|show_form }}
    {{ form.tracking_notes|show_form }}
    {{ form.publication_notes|show_form }}
    {{ form.issue_count|show_form }}
    {{ form.not_reserved|show_form }}
    {{ form.is_current|show_form }}
    {{ form.language|show_form }}
  </ol>
</fieldset>

<fieldset class="issue" id="issue_fieldset">
  <legend>
    Issue Fields
  </legend>
  <ol>
    {{ form.issues|show_form }}
    {{ form.volume|show_form }}
    {{ form.issue_date|show_form }}
    {{ form.brand|show_form }}
    {{ form.indicia_publisher|show_form }}
    {{ form.price|show_form }}
    {{ form.issue_pages|show_form }}
    {{ form.format|show_form }}
    {{ form.issue_editing|show_form }}
    {{ form.isbn|show_form }}
    {{ form.issue_notes|show_form }}
    {{ form.cover_needed|show_form }} 
    {{ form.is_indexed|show_form }}
    {{ form.indexer|show_form }}
  </ol>
</fieldset>
</div>
<div class='search_left'>
<fieldset class="submit">
  <input type="submit" value="Search">
</fieldset>
</div>
</form>
<hr style="border-bottom:0; height:1px">
{% endblock %}

{% include "gcd/fine_print.html" %}

