{% load display %}
{% load credits %}

<table>
  <thead class="bg-blue-100 {% if not table.not_sticky %}md:sticky{% endif %} md:top-0">
    <tr>
      <th colspan="2"> Award </th>
    </tr>
  </thead>
  <tbody class="sortable_listing [@media(hover:hover)]:[:where(&)_tr:where(:hover)]:bg-blue-50 [:where(&)_tr]:flex [:where(&)_tr]:flex-col [:where(&)_tr]:mb-4 sm:[:where(&)_tr]:table-row [:where(&)_tr]:border [:where(&)_tr]:border-gray-200 max-sm:[:where(&)_tr]:w-1/2 max-sm:[:where(&)_tr]:float-left max-sm:[:where(&)_tr:where(:nth-child(odd))]:clear-left [:where(&)_td]:ps-1 [:where(&)_td]:pe-2">
  {% for award in items %}
    {% with award|object_filter as award %}
    <tr>
      <td> <a href="{{ award.get_absolute_url }}">{{ award.name }}</a></td>
    </tr>
    {% endwith %}
  {% endfor %}
  </tbody>
</table>
