{% extends "gcd/base.html" %}

{% block title %}
  GCD :: {{ heading }}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/default.css"/>
{% endblock %}

{% block body %}

  {% include "gcd/bits/search_bar.html" %}

  {% with 'top' as position %}
  {% with 'bottom' as link_direction %}
    {% include "gcd/search/list_header.html" %}
  {% endwith %}
  {% endwith %}

  {% block list_contents %}{% endblock %}

  {% if used_search_terms %}
    {% include "gcd/bits/search_terms.html" %}
  {% endif %}

  {% include "gcd/bits/search_bar.html" %}

  {% with 'bottom' as position %}
  {% with 'top' as link_direction %}
    {% include "gcd/search/list_header.html" %}
  {% endwith %}
  {% endwith %}

{% endblock %}
