{% extends "gcd/search/base_list.html" %}

{% load display %}

{% block list_contents %}
<table class="listing">
  <tr>
    <th> Publisher Brand Group </th>
    <th> Parent Publisher </th>
    <th> Year&nbsp;Began </th>
    <th> Year&nbsp;Ended </th>
    <th> #&nbsp;Issues </th>
  </tr>
  {% for brand in items %}
    {% with brand|object_filter as brand %}
    <tr class="{% cycle 'listing_even' 'listing_odd' %}">
      <td class="listing_publisher"> <a href="{{ brand.get_absolute_url }}">{{ brand.name }}</a></td>
      <td class="listing_publisher"> <a href="{{ brand.parent.get_absolute_url }}">{{ brand.parent.name }}</a></td>
      <td> {{ brand.year_began|default:'' }} </td>
      <td> {{ brand.year_ended|default:'' }} </td>
      <td> {{ brand.issue_count }} </td>
    </tr>
    {% endwith %}
  {% endfor %}
</table>
{% endblock %}

