{% extends "gcd/search/base_list.html" %}

{% load display %}
{% load credits %}

{% block list_contents %}
<table class="sortable_listing">
  <tr style="vertical-align:top">
    <th> Publisher's Brand Emblem</th>
    <th> Name </th>
    <th> Brand Groups </th>
    <th> Year&nbsp;Began </th>
    <th> Year&nbsp;Ended </th>
    <th> #&nbsp;Issues </th>
  </tr>
  {% for brand in items %}
    {% with brand|object_filter as brand %}
    <tr>
      <td> {% if brand.emblem %} <a href="{{ brand.get_absolute_url }}"> <img src="{{ brand.emblem.thumbnail.url }}"> {% endif %} </a></td>
      <td class="listing_publisher"> <a href="{{ brand.get_absolute_url }}">{{ brand.name }}</a></td>
      <td class="listing_publisher"> {% for group in brand.group.all %}  <img {{ group.parent.country|show_country_info }}> <a href="{{ group.get_absolute_url }}">{{ group.name }}</a> {% endfor %} </td>
      <td style="text-align: center"> {{ brand.year_began|default:'' }} </td>
      <td style="text-align: center"> {{ brand.year_ended|default:'' }} </td>
      <td style="text-align: right"> {{ brand.issue_count }} </td>
    </tr>
    {% endwith %}
  {% endfor %}
</table>
{% endblock %}

