{% load display %}
{% load credits %}
<table class="border">
  <thead class="bg-blue-100 {% if not table.not_sticky %}md:sticky{% endif %} md:top-0">
  <tr class="align-top flex flex-col sm:table-row">
    <th colspan="2">{{ item_name|capfirst }}</th>
    <th> Year of First Publication </th>
  </tr>
  </thead>
  <tbody class="sortable_listing">
  {% for character in items %}
    {% with character|object_filter as character %}
    <tr>
      <td> <a href="{{ character.get_absolute_url }}">{{ character }}</a><td>
      <td> {{ character.display_year_first_published }} </td>
    </tr>
    {% endwith %}
  {% endfor %}
  </tbody>
</table>
{% if not no_result_count %}
Displaying {{ page.start_index }} to {{ page.end_index }} of {{ page.paginator.count }} {{ item_name }}{{ page.paginator.count|pluralize:plural_suffix }}
{% endif %}