{% extends "gcd/search/base_list.html" %}

{% block list_contents %}

<table id="covers">
  <tr>
  {% for cover, issue, tag in tags %}
    <td class="cover_grid">
      <a href="{{ issue.get_absolute_url }}cover/4/">{{ tag }}</a>
      <br>
      <div class="cover_caption">
        <a href="{{ issue.get_absolute_url }}">{{ issue.series.name }} #{{ issue.display_number }}</a><br>
        ({{ issue.series.publisher }}, {{ issue.series.year_began }})
        <br><span class="cover_date">{{ issue.publication_date }}</span>
      </div>
    </td>
    {% if forloop.counter|divisibleby:table_width %}
  </tr>
  <tr>
    {% endif %}
  {% endfor %}
  </tr>
</table>

{% endblock %}
