{% extends "gcd/search/base_list.html" %}

{% load display %}
{% load credits %}
{% load cycle from future %}

{% block list_contents %}
<table class="listing">
  <tr>
    <th colspan="2">Creator Official Name</th>
    <th>Name Type</th>
    <th> Date of Birth </th>
    <th> Place of Birth </th>
    <th> Date of Death </th>
    <th> Place of Death City</th>
    <th> Bio</th>
    <th> Notes</th>
  </tr>
  {% for creator in items %}
    {% with creator|object_filter as creator %}
    <tr class="{% cycle 'listing_even' 'listing_odd' %}">
      <td class="listing_country"> <img {{ creator.birth_country|show_country_info  }}>&nbsp&nbsp&nbsp<a href="{{ creator.get_absolute_url }}">{{ creator.gcd_official_name }}</a><td>
      <td>Gcd Official Name</td>
      <td> {{ creator.display_birthday }} </td>
      <td> {{ creator.display_birthplace }} </td>
      <td> {{ creator.display_deathday }} </td>
      <td> {{ creator.display_deathplace }} </td>
      <td> {{ creator.bio }} </td>
      <td> {{ creator.notes }} </td>
    </tr>
    {% endwith %}
  {% endfor %}
</table>
{% endblock %}

