{% extends "gcd/search/base_list.html" %}

{% load display %}
{% load credits %}

{% block list_contents %}
<table class="listing">
  <tr>
    <th>Creator</th>
    <th>Influence Name</th>
    <th>Self Identify</th>
  </tr>

    <tr class="{% cycle 'listing_even' 'listing_odd' %}">
        {% for creator_artinfluence in items %}
    {% with creator_artinfluence|object_filter as creator_artinfluence %}
      <td>{{ creator_artinfluence.creator }}</td>
      <td><a href="{{ creator_artinfluence.get_absolute_url }}"> {{ creator_artinfluence.influence_name }}</a> </td>
      <td> {{ creator_artinfluence.is_self_identify }}</td>
    </tr>
    {% endwith %}
  {% endfor %}
</table>
{% endblock %}

