{% extends "gcd/search/base_list.html" %}

{% load display %}
{% load credits %}

{% block list_contents %}
<table class="listing">
  <tr>
    <th>Creator</th>
    <th>Influence Name</th>
  </tr>

  {% for creator_art_influence in items %}
    {% with creator_art_influence|object_filter as creator_art_influence %}
    <tr class="{% cycle 'listing_even' 'listing_odd' %}">
      <td>{{ creator_art_influence.creator }}</td>
      <td><a href="{{ creator_art_influence.get_absolute_url }}"> {{ creator_art_influence.influence }}</a> </td>
    </tr>
    {% endwith %}
  {% endfor %}
</table>
{% endblock %}

