{% load display %}
{% load credits %}
<table class="sortable_listing [@media(hover:hover)]:[:where(&)_tr:where(:hover)]:bg-blue-50 [:where(&)_tr]:flex [:where(&)_tr]:flex-col [:where(&)_tr]:mb-4 sm:[:where(&)_tr]:table-row [:where(&)_tr]:border [:where(&)_tr]:border-gray-200 max-sm:[:where(&)_tr]:w-1/2 max-sm:[:where(&)_tr]:float-left max-sm:[:where(&)_tr:where(:nth-child(odd))]:clear-left [:where(&)_td]:ps-1 [:where(&)_td]:pe-2">
  <tr>
    <th colspan="2">{{ item_name|capfirst }} Name</th>
    <th> Year Created </th>
  </tr>
  {% for feature in items %}
    {% with feature|object_filter as feature %}
    <tr>
      <td> <a href="{{ feature.get_absolute_url }}">{{ feature }}</a><td>
      <td> {{ feature.display_year_created }} </td>
    </tr>
    {% endwith %}
  {% endfor %}
</table>
{% if not no_result_count %}
Displaying {{ page.start_index }} to {{ page.end_index }} of {{ page.paginator.count }} {{ item_name }}{{ page.paginator.count|pluralize:plural_suffix }}
{% endif %}