{% extends "gcd/search/base_list.html" %}

{% load display %}
{% load credits %}

{% block list_contents %}
<table class="sortable_listing [@media(hover:hover)]:[:where(&)_tr:where(:hover)]:bg-blue-50 [:where(&)_tr]:flex [:where(&)_tr]:flex-col [:where(&)_tr]:mb-4 sm:[:where(&)_tr]:table-row [:where(&)_tr]:border [:where(&)_tr]:border-gray-200 max-sm:[:where(&)_tr]:w-1/2 max-sm:[:where(&)_tr]:float-left max-sm:[:where(&)_tr:where(:nth-child(odd))]:clear-left [:where(&)_td]:ps-1 [:where(&)_td]:pe-2">
  <tr style="vertical-align:top">
    <th colspan="2"> Indicia / Colophon Publisher </th>
    <th> Parent Publisher </th>
    <th> Year&nbsp;Began </th>
    <th> Year&nbsp;Ended </th>
    <th> #&nbsp;Issues </th>
  </tr>
  {% for publisher in items %}
    {% with publisher|object_filter as publisher %}
    <tr>
      <td class="listing_country"> <img {{ publisher.country|show_country_info }}>
      <td class="listing_publisher"> <a href="{{ publisher.get_absolute_url }}">{{ publisher.name }}</a> 
      <td class="listing_publisher"> <a href="{{ publisher.parent.get_absolute_url }}">{{ publisher.parent.name }}</a></td>
      <td style="text-align: center"> {{ publisher.year_began|default:'' }} </td>
      <td style="text-align: center"> {{ publisher.year_ended|default:'' }} </td>
      <td style="text-align: right"> {{ publisher.issue_count }} </td>
    </tr>
    {% endwith %}
  {% endfor %}
</table>
{% endblock %}

