{% extends "gcd/search/base_list.html" %}

{% block list_contents %}
<table class="listing">
  <tr>
    <th colspan="2"> Publisher </th>
    <th> Issue </th>
    <th> Date </th>
  </tr>
{% for issue in items %}
  <tr class="{% cycle 'listing_even' 'listing_odd' %}">
    <td class="listing_country"> <img src="{{ MEDIA_URL }}/img/gcd/flags/{{ issue.series.country.code|lower }}.png" alt="{{ issue.series.country.code|upper }}">
    <td class="listing_publisher"> <a href="{{ issue.series.publisher.get_absolute_url }}">{{ issue.series.publisher.name }}</a></td>
    <td> <a href="{{ issue.series.get_absolute_url }}">{{ issue.series.name }}</a>
         ({{ issue.series.year_began }} series) 
         <a href="{{ issue.get_absolute_url }}">#{{ issue.display_number }}</a> </td>
    <td> {{ issue.publication_date|default:"" }} </td>
  </tr>
{% endfor %}
</table>
{% endblock %}
