{% extends "gcd/base_view.html" %}

{% load static %}
{% load credits %}
{% load display %}
{% load django_tables2 %}

{% block title %}
  GCD :: {{ heading }}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{% static "css/gcd/default.css" %}"/>
<link rel="stylesheet" type="text/css"
      href="{% static "css/gcd/default/listing.css" %}"/>
{% endblock %}
{% block css_raw %}
<script type="text/javascript" src="{% static "js/htmx.min.js" %}"></script>
{% endblock %}

{% block view_body %}

  {% with position='top' link_direction='bottom' hide_info=True query_string=extra_string %}
    {% include "gcd/search/list_header.html" %}
  {% endwith %}

<div style="clear: both;"></div>
  <p>
    {{ result_disclaimer }}
  </p>
  {% if filter %}
    <form method="get">
    {{ filter.form }}
    <input type="submit" value='filter results'/>
    </form>
  {% endif %}
{% render_table table %}

<div class="right">
  {% if ADVERTISING and not BETA and USE_TEMPLATESADMIN %}
    {% include "managed_content/gcd/ads/ad_skyscraper.html" %}
  {% endif %}
</div>

  {% with position='bottom' link_direction='top' query_string=extra_string %}
    {% include "gcd/search/list_header.html" %}
  {% endwith %}
{% endblock %}
