{% extends "gcd/search/base_list.html" %}

{% block list_contents %}
<table class="listing">
  <tr>
    <th> Country </th>
    <th> Publisher </th>
    <th> Title </th>
    <th> Year </th>
    <th> Issue </th>
    <th> Date </th>
  </tr>
{% for issue in items %}
  <tr class="{% cycle 'listing_even' 'listing_odd' %}">
    <td> <img src="{{ MEDIA_URL }}/img/gcd/flags/{{ issue.series.country_code|lower }}.png" alt="{{ issue.series.country_code|upper }}">
    <td> <a href="{{ issue.series.publisher.get_absolute_url }}">{{ issue.series.publisher.name }}</a></td>
    <td> <a href="{{ issue.series.get_absolute_url }}">{{ issue.series.name }}</a> </td>
    <td> {{ issue.series.year_began }}
    <td> <a href="{{ issue.get_absolute_url }}">{{ issue.number }}</a> </td>
    <td> {{ issue.publication_date }} </td>
  </tr>
{% endfor %}
</table>
{% endblock %}
