{% load i18n %}
{% load static %}
<div class="hidden">
<svg xmlns="http://www.w3.org/2000/svg">
<symbol viewBox="0 0 16 16" id="go-top"><g><path d="m 3.703125 11.710938 l -1.414063 -1.414063 l 5.707032 -5.707031 l 5.707031 5.707031 l -1.414063 1.414063 l -4.292968 -4.292969 z m -1.703125 -7.691407 v -2 l 1 -0.003906 l 10 -0.011719 l 1 -0.003906 v 2 l -1 0.003906 l -10 0.011719 z m 0 0"/><path d="m 2.996094 11.003906 v 1 h -1 v -1 z m 11 0 v 1 h -1 v -1 z m 0 0"/><path d="m 13.996094 11.003906 c 0 0.550782 -0.445313 1 -1 1 c -0.550782 0 -1 -0.449218 -1 -1 c 0 -0.554687 0.449218 -1 1 -1 c 0.554687 0 1 0.445313 1 1 z m -10 0 c 0 0.550782 -0.445313 1 -1 1 c -0.550782 0 -1 -0.449218 -1 -1 c 0 -0.554687 0.449218 -1 1 -1 c 0.554687 0 1 0.445313 1 1 z m 0 0"/></g></symbol>
<symbol viewBox="0 0 16 16" id="go-bottom"><g><path d="m 3.703125 4.289062 l -1.414063 1.414063 l 5.707032 5.707031 l 5.707031 -5.707031 l -1.414063 -1.414063 l -4.292968 4.296876 z m -1.703125 7.691407 v 2 l 1 0.003906 l 10 0.011719 l 1 0.003906 v -2 l -1 -0.003906 l -10 -0.011719 z m 0 0"/><path d="m 2.996094 4.996094 v -1 h -1 v 1 z m 11 0 v -1 h -1 v 1 z m 0 0"/><path d="m 13.996094 4.996094 c 0 -0.550782 -0.445313 -1 -1 -1 c -0.550782 0 -1 0.449218 -1 1 c 0 0.554687 0.449218 1 1 1 c 0.554687 0 1 -0.445313 1 -1 z m -10 0 c 0 -0.550782 -0.445313 -1 -1 -1 c -0.550782 0 -1 0.449218 -1 1 c 0 0.554687 0.449218 1 1 1 c 0.554687 0 1 -0.445313 1 -1 z m 0 0"/></g></symbol>
</svg>
</div>
<div>
  <h1 class="item_id search_id">
    <div class="left">
  {{ heading }}: {{ search_item }}
    </div>
    <div class="search_id_nav right">
{% if change_order %}
Order:
  {% if 'chrono' in change_order %}Alpha | <a href="{{ change_order}}">Chrono</a>
  {% else %} <a href="{{ change_order}}">Alpha</a> | Chrono
  {% endif %}
{% endif %}
{% if choose_url_after %}
  {% include "gcd/bits/choose_date.html" %}
{% else %}
      <a name="{{ position }}"></a>
      <a title="go to the {{ link_direction }}" href="#{{ link_direction }}">
        <svg style="height: 0.8em; width: 0.8em; fill: currentColor;">
	  <use xlink:href="#go-{{ link_direction }}"></use>
        </svg>
      </a>
    </div>
{% endif %}
  </h1>

  <div class="item_id">
    <div class="flex_left" class="item_data">
  Displaying {{ page.start_index }} to {{ page.end_index }} of {{ page.paginator.count }} {{ item_name }}{{ page.paginator.count|pluralize:plural_suffix }}
  matching your {% if used_search_terms %}<a href="#search_terms">query</a>{% else %}query{% endif %}{% if search_term %} for '{{ search_term }}'{% endif %}.
    </div>
  {% with query_string as extra_string %}
  {% include "gcd/bits/pagination_bar.html" %}
  {% endwith %}
  </div>
</div>
{% if position == 'top' and not select_key and not confirm_selection and not hide_info %}
<div id="search_reminder">
  Refine your query using an <a href="{% url 'advanced_search' %}?{{ query_string }}">advanced query</a> or go to the <a href="{% url "haystack_search" %}?q={{ search_term }}">standard search</a>.
</div>
<div class="right">
  Download <a href="{% url "process_advanced_search_csv" %}?{{ query_string }}">results as csv</a>.</div>
{% endif %}
