{% load display %}
{% load credits %}

<table class="sortable_listing">
  <tr style="vertical-align:top">
    {% if select_key %}
    <th> Selection </th>
    {% endif %}
    <th colspan="2"> Publisher </th>
    <th> Year&nbsp;Began </th>
    <th> Year&nbsp;Ended </th>
    <th> #&nbsp;Brand Groups </th>
    <th style="text-align:right"> #&nbsp;Indicia / Colophon<br> Publishers </th>
    <th> #&nbsp;Titles </th>
    <th> #&nbsp;Issues </th>
  </tr>
  {% for publisher in items %}
    {% with publisher|object_filter as publisher %}
    <tr>
      {% if select_key %}
      <td>
      <form action="{% url "select_object" select_key=select_key %}" method="POST">
      {% csrf_token %}
      <input type="submit" name="search_select" value="Select this publisher"></input>
      <input type="hidden" name="object_choice" value="publisher_{{ publisher.id }}"></input>
      </form>
      </td>
      {% endif %}
      <td class="listing_country"> <img {{ publisher.country|show_country_info }}>
      <td class="listing_publisher"> <a href="{{ publisher.get_absolute_url }}">{{ publisher.name }}</a> 
      <td style="text-align: center"> {{ publisher.year_began|default:'' }} </td>
      <td style="text-align: center"> {{ publisher.year_ended|default:'' }} </td>
      <td style="text-align: right">
      {% if publisher.brand_count %}
          <a href="{{ publisher.get_absolute_url}}brands/">{{ publisher.brand_count }}</a>
      {% else %}
        {{ publisher.brand_count }}
      {% endif %}
      </td>
      <td style="text-align: right">
      {% if publisher.indicia_publisher_count %}
          <a href="{{ publisher.get_absolute_url}}indicia_publishers/">{{ publisher.indicia_publisher_count }}</a>
      {% else %}
        {{ publisher.indicia_publisher_count }}
      {% endif %}
      </td>
      <td style="text-align: right"> {{ publisher.series_count }} </td>
      <td style="text-align: right"> {{ publisher.issue_count }} </td>
    </tr>
    {% endwith %}
  {% endfor %}
</table>
{% if not no_result_count %}
Displaying {{ page.start_index }} to {{ page.end_index }} of {{ page.paginator.count }} {{ item_name }}{{ page.paginator.count|pluralize:plural_suffix }}
{% endif %}
