{% extends "gcd/search/base_list.html" %}

{% block list_contents %}
<table class="listing">
  <tr>
    <th colspan="2"> Publisher </th>
    <th> #&nbsp;Brands </th>
    <th> #&nbsp;Indicia Publishers </th>
    <th> #&nbsp;Titles </th>
    <th> #&nbsp;Issues </th>
    <th> #&nbsp;Imprints </th>
  </tr>
  {% for publisher in items %}
    {% if not publisher.is_imprint %}
    <tr class="{% cycle 'listing_even' 'listing_odd' %}">
      <td class="listing_country"> <img src="{{ MEDIA_URL }}/img/gcd/flags/{{ publisher.country.code|lower }}.png" alt="{{ publisher.country.code|upper }}">
      <td class="listing_publisher"> <a href="{{ publisher.get_absolute_url }}">{{ publisher.name }}</a> 
      <td>
        {% if publisher.brand_count %}
          <a href="{{ publisher.get_absolute_url}}brands/">{{ publisher.brand_count }}</a>
        {% else %}
          {{ publisher.brand_count }}
        {% endif %}
      </td>
      <td>
        {% if publisher.indicia_publisher_count %}
          <a href="{{ publisher.get_absolute_url}}indicia_publishers/">{{ publisher.indicia_publisher_count }}</a>
        {% else %}
          {{ publisher.indicia_publisher_count }}
        {% endif %}
      </td>
      <td> {{ publisher.series_count }} </td>
      <td> {{ publisher.issue_count }} </td>
      <td>
        {% if publisher.imprint_count %}
          <a href="{{ publisher.get_absolute_url }}imprints/">{{ publisher.imprint_count }}</a>
        {% else %}
          {{ publisher.imprint_count }}
        {% endif %}
      </td>
    </tr>
    {% endif %}
  {% endfor %}
</table>

<table class="listing">
  <tr>
    <th colspan="2"> Imprint </th>
    <th> Parent </th>
    <th> #&nbsp;Titles </th>
    <th> #&nbsp;Issues </th>
  </tr>
  {% for imprint in items %}
    {% if imprint.is_imprint %}
    <tr class="{% cycle 'listing_even' 'listing_odd' %}">
      <td class="listing_country"> <img src="{{ MEDIA_URL }}/img/gcd/flags/{{ imprint.country.code|lower }}.png" alt="{{ imprint.country.code|upper }}">
      <td class="listing_publisher"> <a href="{{ imprint.get_absolute_url }}">{{ imprint.name }}</a> 
      <td> <a href="{{ imprint.parent.get_absolute_url }}">{{ imprint.parent.name }}</a> 
      <td> {{ imprint.series_count }} </td>
      <td> {{ imprint.issue_count }} </td>
    </tr>
    {% endif %}
  {% endfor %}
</table>
{% endblock %}

