<nav class="flex items-center justify-between flex-wrap bg-blue-100 px-1 lg:px-3">
    <div class="flex-1 font-bold text-lg">
  {{ page.start_index }} to {{ page.end_index }} of {{ page.paginator.count }} {{ item_name }}{{ page.paginator.count|pluralize:plural_suffix }}
  {{ heading }}
    </div>
  {% include "gcd/bits/tw_pagination_bar.html" %}
</nav>
{% if choose_date %}
<nav class="flex items-center justify-between flex-wrap bg-blue-100 px-1 lg:px-3">
  <div class="flex-1 font-bold text-lg"></div>
  <div class="flex justify-end">
    {% include "gcd/bits/choose_date.html" %}
  </div>
</nav>
{% endif %}
{% if choose_week %}
<nav class="flex items-center justify-between flex-wrap bg-blue-100 px-1 lg:px-3">
  <div class="flex-1 font-bold text-lg"></div>
  <div class="flex justify-end">
    {% include "gcd/bits/choose_week.html" %}
  </div>
</nav>
{% endif %}