{% extends "oi/base_view.html" %}

{% load display %}

{% block title %}
GCD :: {{ user.indexer }} :: Approved Changes
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/{{ style|default:'default' }}.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/oi/{{ style|default:'default' }}.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/oi/{{ style|default:'default' }}/queues.css"/>
{% endblock %}

{% block view_body %}
<div class="item_id" id="item_id_footer_replace_top">
  <div class="left">
  Showing approved changes {{ page.start_index }} to {{ page.end_index }} of {{ paginator.count }}.
  </div>
  {% if page %}
  {% include "gcd/bits/pagination_bar.html" %}
  {% endif %}
</div>

<div class="queues">
<h1> Approved Changes </h1>

<table>
  <tr>
    <th> Changeset </th>
    <th> Current Data </th>
    <th> Approver </th>
    <th> Last Activity </th>
  </tr>

{% for changeset in items %}
<tr>
{% if changeset.inline %}
    <td class="{{ changeset.changeset_action }}"><a href="{% url compare id=changeset.id %}">{{ changeset.inline_revision.source_name }}</a></td>
    <td><a href="{{ changeset.inline_revision.source.get_absolute_url }}">{{ changeset }}</a></td>
{% else %}
    {% if changeset.change_type == CTYPES.issue %}
    <td class="{{ changeset.changeset_action }}"><a href="{% url compare id=changeset.id %}">issue</a></td>
    <td><a href="{{ changeset.issuerevisions.all.0.source.get_absolute_url }}">{{ changeset }}</a></td>
    {% else %}
      {% if changeset.change_type == CTYPES.issue_add %}
    <td class="{{ changeset.changeset_action }}"><a href="{% url compare id=changeset.id %}">issue skeletons</a></td>
      {% else %}
    <td class="{{ changeset.changeset_action }}"><a href="{% url compare id=changeset.id %}">issue bulk changes</a></td>
      {% endif %}
    <td>{{ changeset }}</td>
    {% endif %}
{% endif %}
    <td>{{ changeset.approver.indexer|absolute_url }}</td>
    <td>{{ changeset.modified }}</td>
</tr>
{% endfor %}
</table>

</div>

<div id="item_id_footer" class="item_id">
  {% if page %}
  {% include "gcd/bits/pagination_bar.html" %}
  {% endif %}
</div>
{% endblock %}

