{% extends "oi/base_view.html" %}
{% load static %}

{% block title %}
GCD :: Contacting Indexers
{% endblock %}

{% block view_body %}
<div class="queues">
  <h2>Users who have opted-in for email.</h2>

  <p>
After copying and saving into a file, you can load this into a spreadsheet by selecting 'tab' as the field delimiter.
  </p>

  <table class="max-w-[calc(100vw-0.5rem)] border border-gray-200">
    <tr class="bg-blue-100 [&>th]:px-1.5">
      <th> Indexer </th>
      <th> Country </th>
      <th> E-Mail </th>
    </tr>
  {% for indexer in users %}
    <tr class="hover:bg-blue-50 [&>td]:px-1.5 border border-gray-200">
      <td><a href="{% url "view_profile" user_id=indexer.id %}">{{ indexer.indexer }}</a></td>
      <td>{{ indexer.indexer.country }}</td>
      <td>{{ indexer.email }}</td>
    </tr>
  {% endfor %}
  </table>
</div>
{% endblock %}

