{% extends "oi/base_view.html" %}

{% load static %}
{% load display %}
{% load humanize %}

{% block title %}
GCD :: {{ user.indexer }} :: Editor Log
{% endblock %}

{% block nav_bar %}
  {{ block.super }}
<nav class="flex items-center justify-between flex-wrap bg-blue-100 px-1 lg:px-2">
  <div class="flex-1 font-bold">
  Reviewed Changes {{ page.start_index }} to {{ page.end_index }} of {{ page.paginator.count }}
  </div>
  {% include "gcd/bits/tw_pagination_bar.html" %}
</nav>
{% endblock %}

{% block view_body %}
<div class="queues">
  <h1> Editor Log </h1>
  <form class="inline" method="get">
  {{ filter_form}}
    <button class="btn btn-blue ml-1 mb-1 h-8">
      <input type="submit" name="submit" value="Filter Changes">
    </button>
  </form>
  {% with no_approver=True %}
    {% include "oi/bits/activity_queues.html" %}
  {% endwith %}
</div>
{% endblock %}

{% block bottom_nav_bar %}
<nav class="flex items-center justify-between flex-wrap bg-blue-100 px-1 lg:px-2">
  <div class="flex-1 font-bold">
  </div>
  {% if page %}
    {% include "gcd/bits/tw_pagination_bar.html" %}
  {% endif %}
</nav>
{% endblock %}
