{% extends "oi/base_view.html" %}

{% block title %}
{{ user.indexer }} :: Editing Queue
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}/css/gcd/{{ style|default:'default' }}.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}/css/oi/{{ style|default:'default' }}.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}/css/oi/{{ style|default:'default' }}/queues.css"/>
{% endblock %}

{% block view_body %}
<div id="oi_focus"></div>
<div class="queues">
<h1> Records You Are Editing </h1>

{% with 'oi/bits/editing_actions.html' as actions %}
{% with 'edit' as link_target %}
  {% include 'oi/bits/standard_queues.html' %}
{% endwith %}
{% endwith %}
</div>
{% endblock %}

