{% extends "oi/base_view.html" %}

{% block title %}
GCD :: {{ user.indexer }} :: Changes Under Review
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/default.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/oi/default.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/oi/default/queues.css"/>
{% endblock %}

{% block view_body %}
<div class="queues">
<h1> Changes Under Review </h1>

{% with 'oi/bits/approval_actions.html' as actions %}
{% with 'preview' as link_target %}
  {% include 'oi/bits/standard_queues.html' %}
{% endwith %}
{% endwith %}
</div>
{% endblock %}

