<!-- Note- must be enclosed in a div with class="queues" for CSS -->
<!-- TODO: refactor CSS -->
<table>
  <tr class="bg-blue-100 md:top-0 [&_th]:px-2">
    <th> Option </th>
    <th> Votes </th>
{% if not agenda.secret_ballot %}
    <th> Voters </th>
  {% if not topic.vote_type.max_votes %}
    <th> Rank </th>
  {% endif %}
{% endif %}
  </tr>
{% for option in topic.counted_options %}
  <tr class="hover:bg-blue-50 mb-4 border border-gray-200 [&_td]:px-1">
    <td class="align-top"> {{ option }} </td>
    <td class="align-top"> {{ option.num_votes}} </td>
  {% if not agenda.secret_ballot %}
    {% if topic.invalid and option.votes.all.count %}
    <td> Voters hidden for invalid results. </td>
      {% if not topic.vote_type.max_votes %}
    <td></td>
      {% endif %}
    {% else %}
    <td><ul class="compact">
      {% for vote in option.votes.all %}
        <li> {{ vote.voter.first_name }} {{ vote.voter.last_name }} </li>
      {% endfor %}
    </ul></td>
      {% if not topic.vote_type.max_votes %}
    <td><ul class="compact">
      {% for vote in option.votes.all %}
        <li> {{ vote.rank }} </li>
      {% endfor %}
    </ul></td>
      {% endif %}
    {% endif %}
  {% endif %}
  </tr>
{% endfor %}

{% with topic.absent_voters as av %}
  {% if av.count and not topic.invalid %}
  <tr>
    <td> Absent Voters </td>
    <td> {{ av.count }} </td>
    {% if not agenda.secret_ballot %}
    <td>
      <ul class="compact">
      {% for exp_voter in av.all %}
        <li> {{ exp_voter.voter_name }} </li>
      {% endfor %}
      </ul>
    </td>
    {% endif %}
  </tr>
  {% endif %}
{% endwith %}
</table>
