{% load display %}

<table class="comments">
<tr>
  <th> Commenter </th>
  <th class="comment_text"> Comment </th>
  {% if not no_links %}
  <th> Revision </th>
  {% endif %}
  <th> Timestamp </th>
  <th> Old State </th>
  <th> New State </th>
</tr>
{% for comment in comments.all %}
<tr>
  <td> {{ comment.commenter.indexer }} </td>
  <td class="comment_text"> {{ comment.text|urlizetrunc:75|linebreaksbr }} </td>
  {% if not no_links %}
  <td class="comment_revision"> 
    {% if comment.revision %} 
      <a href="#{{ comment.revision.id }}"> {{ comment.revision|show_revision_short }} </a> 
    {% endif %} 
  </td>
  {% endif %}
  <td> {{ comment.created }} </td>
  <td> {{ comment.display_old_state }} </td>
  <td> {{ comment.display_new_state }} </td>
</tr>
{% endfor %}
</table>

