{% load display %}
{% if revision.issue and revision.issue.has_covers %}
<a class="new_window" href="{{ revision.issue.get_absolute_url }}cover/4/" target=_blank>View the cover{{ revision.issue.active_covers.count|pluralize }}</a>
  {% if revision.deleted %}
<span class="comparison_highlight">Note that the cover will be deleted on approval and might need to be saved before that.</span>
  {% endif %}
{% endif %}
{% if user == revision.changeset.indexer %}
  {% if changeset.state == states.OPEN %}
<a href="{% url edit_revision model_name=model_name,id=revision.id %}">Edit issue data</a>.
  {% endif %}
{% endif %}
{% if revision.previous and revision.series != revision.previous.series %}
<h2> Issue moved from <span class="comparison_highlight">{{ revision.previous.series.full_name }}</span> to <span class="comparison_highlight"><a href="{{ revision.series.get_absolute_url }}">{{ revision.series.full_name }}</a></span> </h2>
  {% if revision.changeset.state = states.REVIEWING %}
After approval the <span class="comparison_highlight">approver needs to check the sort order</span> of the series this issue is moved to.
  {% endif %}
{% endif %}
<p>
{% if revision.variant_of %}
This is a variant of {{ revision.variant_of|absolute_url }}.
  {% if not revision.issue %} {% comment %} only relevant for variant adds, i.e. issue is not set {% endcomment %}
<ul>
    {% for cover_revision in revision.variant_of.cover_revisions.all %}
      {% if cover_revision.changeset.state == states.PENDING or cover_revision.changeset.state == states.REVIEWING %}
  <li>Current <a href="{% url compare id=cover_revision.changeset.id %}">cover upload</a> for the base issue.
      {% endif %}
    {% endfor %}
</ul>
<p>The compare of the following issue record for the new variant is against the current issue data of the base issue.</p>
  {% endif %}
{% endif %}
{% with revision.previous as prev_rev %}
{% with revision.posterior as post_rev %}
  {% include 'oi/bits/compare.html' %}
{% endwith %}
{% endwith %}

{% if revision.comments.count %}
{% with revision.comments as comments %}
{% with 1 as no_links %}
  {% include 'oi/bits/comments.html' %}
{% endwith %}
{% endwith %}
{% endif %}

<hr>
  {% for story_revision in revision.ordered_story_revisions %}
    {% include 'oi/bits/compare_story.html' %}
<hr>
  {% endfor %}
