{% load display %}
{% load credits %}
{% load compare %}
{% load i18n %}

{% if revision.source_name == 'story' %}
<h3>
<a name="{{ revision.id }}"></a> <!-- for link from comments on story to work -->
<table class="border border-gray-400 mt-2">
<tr class="story_edit">
    <td class="px-2">{{ revision|show_story_short }}</td>
    <td class="px-2">{{ revision|show_credit_status }}</td>
  {% if user == revision.changeset.indexer and changeset.state == states.OPEN %}
    <td>
      {% if revision.deleted %}
  <form class="story_button" method="POST"
        action="{% url 'toggle_delete_story_revision' id=revision.id %}">
    {% csrf_token %}
    <input type="submit" value="Restore"></input>
  </form>
      {% else %}
  <a href="{% url 'edit_revision' model_name=revision.source_name id=revision.id %}">edit sequence</a>
      {% endif %}
    </td>
  {% endif %}
  </tr>
  </table>
</h3>
  {% if prev_rev %}
    {% if revision.changeset.change_type == CTYPES.two_issues and revision.issue != prev_rev.issue or revision.changeset.change_type == CTYPES.variant_add and revision.issue != prev_rev.issue %}
<h3>This sequence is <span class="changed">moved from the other issue</span>.</h3>
    {% endif %}
  {% endif %}
{% endif %} <!-- story -->


{% if revision.source_name == 'story' or revision.source_name == 'issue' %}
<details class="mb-2" {% if revision.is_changed or not request.GET.collapse %}open="open"{% endif %}>
<summary>
<h3 class="border inline border-gray-400 px-2">
  {% if revision.is_changed %}
  There are changes
  {% else %}
  There are <u>no</u> changes
  {% endif %}
  to this {% if revision.source_name == 'story' %}sequence{% else %}issue{% endif %}
  {% if prev_rev %}
    / <a href="{% url 'compare' id=prev_rev.changeset_id %}?collapse=1"> Previous </a>
  {% endif %}
  {% if post_rev %}
    / <a href="{% url 'compare' id=post_rev.changeset_id %}?collapse=1"> Next </a>
  {% endif %}
</h3>
</summary>
{% endif %}

<table class="comparison mt-2">
  <tr class="border bg-blue-100 flex flex-col sm:table-row">
    <th> Field </th>
    {% if revision.deleted %}
      {% if prev_rev %}
    <th> <a href="{% url 'compare' id=prev_rev.changeset_id %}?collapse=1"> Previous </a> / Deleted </th>
      {% else %}
        Deleted
      {% endif %}
    {% else %}
      {% if prev_rev %}
        {% if no_prev_link %}
    <th> Current </th>
        {% else %}
    <th><a href="{% url 'compare' id=prev_rev.changeset_id %}?collapse=1"> Previous </a></th>
        {% endif %}
    <th> Change
        {% if post_rev %}
        / <a href="{% url 'compare' id=post_rev.changeset_id %}?collapse=1"> Next </a>
        {% endif %}
    </th>
      {% else %}
    <th> Added
        {% if post_rev %}
        / <a href="{% url 'compare' id=post_rev.changeset_id %}?collapse=1"> Next </a>
        {% endif %}
    </th>
      {% endif %}
    {% endif %}
  </tr>

    {% if revisions_before %}
      {% for revision_before in revisions_before %}
        {% for field in revision_before.field_list %}
          {% with revision=revision_before prev_rev=revision_before.previous %}
            {% include 'oi/bits/compare_field.html' %}
          {% endwith %}
        {% endfor %}
      {% endfor %}
    {% endif %}

    {% for field in field_list %}
      {% include 'oi/bits/compare_field.html' %}
      {% if field in sourced_fields %}
        {% with changeset|get_source_revisions:field as source_revisions %}
          {% for source_revision in source_revisions %}
            {% for source_field in source_fields %}
              {% with field=source_field revision=source_revision prev_rev=source_revision.previous %}
                {% include 'oi/bits/compare_field.html' %}
              {% endwith %}
            {% endfor %}
          {% endfor %}
        {% endwith %}
      {% endif %}
      {% if field in group_sourced_fields %}
        {% with group_sourced_fields|lookup:field as field %}
        {% with changeset|get_source_revisions:field as source_revisions %}
          {% for source_revision in source_revisions %}
            {% for source_field in source_fields %}
              {% with field=source_field revision=source_revision prev_rev=source_revision.previous %}
                {% include 'oi/bits/compare_field.html' %}
              {% endwith %}
            {% endfor %}
          {% endfor %}
        {% endwith %}
        {% endwith %}
      {% endif %}
    {% endfor %}

    {% if '' in sourced_fields %} {# one source for model #}
      {% with changeset|get_source_revisions:'' as source_revisions %}
        {% for source_revision in source_revisions %}
          {% for source_field in source_fields %}
            {% with field=source_field revision=source_revision prev_rev=source_revision.previous %}
              {% include 'oi/bits/compare_field.html' %}
            {% endwith %}
          {% endfor %}
        {% endfor %}
      {% endwith %}
    {% endif %}

    {% if revision.source_name == 'story' or revision.source_name == 'issue' %}
  <tr class="border flex flex-col sm:table-row{% if revision.has_reprint_revisions %} changed {% endif %}">
    <td class="field_name"> Reprint Links </td>
      {% if prev_rev %}
    <td>
      {{ prev_rev|compare_current_reprints:changeset }}
    </td>
      {% endif %}
    <td>
      {{ revision|compare_current_reprints:changeset }}
    </td>
  </tr>
    {% endif %}

    {% if revisions_after %}
      {% for revision_after in revisions_after %}
        {% for field in revision_after.field_list %}
          {% with revision=revision_after prev_rev=revision_after.previous %}
            {% include 'oi/bits/compare_field.html' %}
          {% endwith %}
        {% endfor %}
      {% endfor %}
    {% endif %}    

</table>
{% if revision.source_name == 'story' or revision.source_name == 'issue' %}
</details>
{% endif %}

{% if revision.source_name == 'story' and revision.comments.count %}
  {% with revision.comments as comments %}
  {% with 1 as no_links %}
    {% include 'oi/bits/comments.html' %}
  {% endwith %}
  {% endwith %}
{% endif %}
