<form id="review" action="{% url "process" id=changeset.id %}" method="POST">
  {% csrf_token %}
  <div>
  <label for="comments">Comment:</label> <br>
  <textarea id="comments" class="w-full lg:w-4/5", rows='5' name="comments"></textarea>
  </div>
{% if user == changeset.indexer %}
  {% if changeset.state == states.OPEN %}
  <button class="btn-blue-editing inline" type="submit" name="submit">Submit changes for Approval
  </button>
  {% endif %}
  {% if changeset.state == states.REVIEWING or changeset.state == states.OPEN %}
    {% if changeset.approver %}
  <button class="btn-blue-editing inline" type="submit" name="discuss">Discuss</button>
    {% endif %}
  {% endif %}
  {% if changeset.state not in states.CLOSED %}
  <button class="btn-blue-editing inline" type="submit" name="discard">Discard all changes</button>
  {% endif %}
{% endif %}

{% if changeset.state == states.PENDING %}
  {% if user != changeset.indexer %}
    {% if perms.indexer.can_approve %}
  <button class="btn-blue-editing inline" type="submit" name="assign"></button>
      {% if changeset.indexer.indexer.is_new and not changeset.indexer.indexer.mentor and not is_cover %}
   Assign and mentor
      {% else %}
   Assign
      {% endif %}
  </button>
    {% endif %}
  {% else %}
    {% if changeset.editable and not is_cover %}
  <button class="btn-blue-editing inline" type="submit" name="retract">Retract and edit further</button>
    {% endif %}
  {% endif %}
{% endif %}

{% if changeset.state == states.REVIEWING or changeset.state == states.DISCUSSED %}
  {% if user == changeset.approver %}
  <button class="btn-blue-editing inline" type="submit" name="approve">Approve</button>
    {% if changeset.state != states.DISCUSSED %}
  <button class="btn-blue-editing inline" type="submit" name="discuss">Discuss</button>
    {% endif %}
    {% if changeset.editable %}
  <button class="btn-blue-editing inline" type="submit" name="disapprove">Send Back to Indexer</button>
    {% endif %}
  <button class="btn-blue-editing inline" type="submit" name="cancel">Reject Permanently</button>
  {% else %}
    {% if changeset.state == states.REVIEWING and perms.indexer.can_approve and changeset.review_is_overdue %}
  <button class="btn-blue-editing inline" type="submit" name="assign">Assign</button>
    {% endif %}
  {% endif %}
{% endif %}
{% if changeset.approver and user == changeset.approver and changeset.state not in states.CLOSED  %}
  <button class="btn-blue-editing inline" type="submit" name="release">Unassign</button>
{% endif %}

<button class="btn-blue-editing inline" type="submit" name="add_comment">Add Comment</button>
<button class="btn-blue-editing inline" type="submit" name="add_comment">Add Comment</button>
</form>

