<form id="review" action="{% url process id=changeset.id %}" method="POST">
  <div>
  <label for="comments">Comment:</label> <br>
  <textarea id="comments" name="comments"></textarea>
  </div>
{% if user == changeset.indexer %}
  {% if changeset.state == states.OPEN %}
  <input type="submit" name="submit" value="Submit changes for approval">
  {% endif %}
  {% if changeset.state not in states.CLOSED %}
  <input type="submit" name="discard" value="Discard all changes">
  {% endif %}
{% endif %}

{% if changeset.state == states.PENDING %}
  {% if perms.gcd.can_approve %}
    {% if user != changeset.indexer %}
  <input type="submit" name="assign"
      {% if changeset.indexer.indexer.is_new and not changeset.indexer.indexer.mentor and not is_cover %}
    value="Assign and mentor"
      {% else %}
    value="Assign"
      {% endif %}
  >
    {% else %}
      {% if changeset.singular and not changeset.deleted and not is_cover %}
  <input type="submit" name="retract" value="Retract and edit further">
      {% endif %}
    {% endif %}
  {% endif %}
{% endif %}

{% if changeset.state == states.REVIEWING %}
  {% if user == changeset.approver %}
  <input type="submit" name="approve" value="Approve">
    {% if changeset.singular and not changeset.deleted %}
  <input type="submit" name="disapprove" value="Send Back to Indexer">
    {% endif %}
  <input type="submit" name="cancel" value="Reject Permanently">
  {% endif %}
{% endif %}
{% if changeset.approver and user == changeset.approver and changeset.state not in states.CLOSED  %}
  <input type="submit" name="release" value="Unassign">
{% endif %}

  <input type="submit" name="add_comment" value="Add Comment">
</form>

