{% load display %}
{% load credits %}
{% load i18n %}

{% ifequal changeset_type 'story' %}
<h3> Sequence {{ revision.sequence_number }} 
<a name="{{ revision.id }}"></a>
  {% ifequal user revision.changeset.indexer %}
    {% ifequal changeset.state states.OPEN %}
<span class="story_edit">
      {% if revision.deleted %}
  <form class="story_button" method="POST"
        action="{% url toggle_delete_story_revision id=revision.id %}">
    <input type="submit" value="Restore"></input>
  </form>
      {% else %}
  <a href="{% url edit_revision model_name=changeset_type, id=revision.id %}">edit sequence</a>
      {% endif %}
</span>
    {% endifequal %}
  {% endifequal %}
</h3>
{% endifequal %}

<table class="comparison {% if not prev_rev %}added{% else %}{% if revision.deleted %}deleted{% else %}modified{% endif %}{% endif %}">
{% if request.GET.collapse and revision.story and not revision.is_changed %}
{% comment %} this if statement was a huge pain to get right. if only we had 1.2... {% endcomment %}
  <h4> No changes to this sequence </h4>
  <tr>
    <td>{{ revision.story|show_story_short }}</td>
    <td>{{ revision.story|show_credit_status }}</td>
    <td><a href="{% url compare id=revision.changeset.id %}">Expand compare view</a></td>
  </tr>
{% else %}
  {% if request.GET.collapse and revision.issue and not revision.is_changed %}
  <h4> No changes to the issue information</h4>
    {% with revision as issue %}
  <div class="issue_short">
      {% include 'gcd/bits/issue_data.html' %}
      {% if issue.notes %}
    <dl>
      <dt> Issue Notes:
      <dd id="format_data" style="float:none">{{ issue.notes|linebreaksbr }}
    </dl>
      {% endif %}
  </div>
    {% endwith %}
  {% else %}
  <tr>
    <th> Field </th>
    {% if revision.deleted %}
    <th> Deleted </th>
    {% else %}
      {% if prev_rev %}
        {% if no_prev_link %}
    <th> Current </th>
        {% else %}
    <th><a href="{% url compare id=prev_rev.changeset.id %}?collapse=1"> Previous </a></th>
        {% endif %}
    <th> Change </th>
      {% else %}
    <th> Added </th>
      {% endif %}
    {% endif %}
  </tr>

    {% for field in field_list %}
  <tr class="{{ revision.changed|check_changed:field }}">
    <td class="field_name"> {{ field|field_name }} </td>
      {% if prev_rev %}
    <td> {{ prev_rev|field_value:field }} </td>
      {% endif %}
      {% if not revision.deleted %}
    <td> {{ revision|field_value:field }} </td>
      {% endif %}
  </tr>
    {% endfor %}
  {% endif %}
{% endif %}
</table>

{% ifequal changeset_type 'story' %}
  {% if revision.comments.count %}
  {% with revision.comments as comments %}
  {% with 1 as no_links %}
    {% include 'oi/bits/comments.html' %}
  {% endwith %}
  {% endwith %}
  {% endif %}
{% endifequal %}
