<table class="editing">
  <tr>
    <th><label for="reprint_notes">Notes for this reprint link:</label> </th>
    <td><textarea class="w-full sm:w-3/4" id="reprint_notes" name="reprint_link_notes">{{ reprint_revision.notes }}</textarea></td>
  </tr>
{% if story_revision and story_revision.reprint_notes %}
  <tr>
    <th><label for="reprint_notes">Story reprint notes:</label> </th>
    <td>
      <textarea class="w-full sm:w-3/4" id="reprint_notes" name="reprint_notes">{{ story.reprint_notes }}</textarea>
      <br>
      Reprint notes for the story. Might need editing if a text note is converted into a link.
    </td>
  </tr>
{% endif %}  
  <tr>
    <th><label for="comments">Comments:</label></th>
    <td>
      <textarea class="w-full sm:w-3/4" rows='5' id="comments" name="comments"></textarea>
      <br>
      Information about the changes submitted. Will not be displayed, but is stored in the change history. Note that emojis are currently not supported.
    </td>
  </tr>
</table>
<button class="btn-blue-editing inline"><input type="submit" name="add_reprint_view" value="Confirm Reprint Entry - Go To Reprint Overview"></button>
<button class="btn-blue-editing inline"><input type="submit" name="add_issue_view" value="Confirm Reprint Entry - Go To Issue Overview"></button>
{% if issue and selected_story %}
<button class="btn-blue-editing inline"><input type="submit" name="matching_sequence" value="Confirm Reprint Entry - Create Corresponding Sequence"></button>
<button class="btn-blue-editing inline"><input type="submit" name="matching_sequence_with_qualifiers" value="Confirm Reprint Entry - Create Corresponding Sequence, Including Credit Qualifiers"></button>
{% endif %}
<button class="btn-blue-editing inline"><input type="submit" name="cancel" value="Cancel"></button>
