<b>Guidelines for cover uploads:</b>
<ul>
   <li>Please supply accurate scans that reflect the look of the actual cover.</li>
   <li>Please do <b>not</b> upload
   <ul>
     <li>pre-production cover images, cover images used for solicitation, etc.</li>
     <li>altered scans, scans with watermarks, or scans of the cover reprinted in other comics</li>
   </ul>
   as these can be or are different from the actual printed cover.
   </li>
   <li>If you upload a scan from another website, make sure you have permission to do that and mention the source.</li>
   <li>A scan needs to be perfectly trimmed - no extra edges around - and not rotated in any way.</li>
   <li>In regard to image sizes:
   <ul>
     <li>Images must be at least 400 pixels in width (for landscape covers in height), while 1000 pixels is preferred.</li>
     <li> For wraparound and gatefold covers, the width limit applies to the front part, so the full scan must be at least 800 pixels wide, or possibly wider in some instances.</li>
     <li>Do not blow up scans to meet this requirement as this results in muddy pictures.</li>
   </ul>
   <li>Your username will be stored with the scan. Scan credits mostly do not show on the site, but will in the future.</li>
   <li>If you accidentally upload the wrong cover you can discard your scan from your <a href="{% url "editing" %}">editing queue<a>.</li>
   <li>See also the covers <a href="http://docs.comics.org/wiki/Covers_FAQ">FAQ</a>.</li>
</ul>
