<script type="text/javascript">
    $(document).ready(function () {
        var name_type_dropdown = '';
        {% for name_type in add_name_types %}
            {% if not name_type.type == settings.GCD_OFFICIAL_NAME_FIELDNAME %}
                name_type_dropdown = name_type_dropdown + '<option value="{{ name_type.id }}">{{ name_type.type }}</option>';
            {% endif %}
        {% endfor %}

        var sources_dropdown = '';
        {% for source in sources %}
            sources_dropdown = sources_dropdown + '<option value="{{ source.id }}">{{ source.type }}</option>';
        {% endfor %}

        {# Add New Gcd Official Name Division #}
        $(document).on("click", ".add_name_class", function () {
            var total_names = parseInt($('#total_names').val());
            var next_index = total_names + 1;
            $('.name-div').append(
                    '<div class="name-details" style="padding-left: 110px;display: inline;">' +
                    ' <label>Name:</label>' +
                    '<input type="text" id="name_' + next_index + '" name="name_' + next_index + '" required style="margin-left: -9px;width: 138px;"> &nbsp; ' +
                    ' <label>Sort Name:</label>' +
                    '<input type="text" id="sort_name_' + next_index + '" name="sort_name_' + next_index + '" style="margin-left: -9px;width: 138px;"> &nbsp; ' +
                    '<label>Type:</label>' +
                    '<select name="name_type_' + next_index + '" id="name_type_' + next_index + '" style="margin-left: -9px;" required="">'
                    + name_type_dropdown +
                    '</select> &nbsp;' +
{% comment %}
                    '<label>Sources:</label>' +
                    '<select multiple name="sources' + next_index + '" id="sources' + next_index + '" style="vertical-align: middle; margin-left: -9px;">'
                    + sources_dropdown +
                    '</select> &nbsp;' +
{% endcomment %}
                    '<input type="button" id="add_name_division_id" class="add_name_class" value="Add New" name="add_new_name">&nbsp;' +
                    '<input type="button" id="remove_name_button" value="Remove" name="remove_this_name">' +
                    '<br><br>' +
                    '</div>');

            $('#total_names').val(next_index);

        });
        $(document).on("click", '#remove_name_button', function () {
            $(this).closest('div').remove();
        });
    });
</script>
