{% load compare %}
<h4 style="display:inline;">School Details:-</h4>&nbsp;&nbsp;&nbsp;<input
    type="button" id="add_schools" class="add_school_class"
    value="Add Schools" {% if revision.cr_creator_school.all|length == 0 %}
    style="display: inline;" {% endif %}>
<br><br>

<div class="school-div">
    {% for school_obj in revision.cr_creator_school.all %}
        <div class="school-details{{ forloop.counter }}"
                style="padding-left: 16px; display: inline;">
            <label>School:</label>
            <input type="hidden" id="school_revision_id_{{ forloop.counter }}" name="school_revision_id_{{ forloop.counter }}" value="{{ school_obj.id }}">
            <select name="school_{{ forloop.counter }}"
                    id="school_{{ forloop.counter }}" style="width: 193px;">
                {% for school in schools %}
                    <option {% if school == school_obj.school %}
                        selected {% endif %}
                        value='{{ school.id }}'>{{ school.school_name }}</option>
                {% endfor %}
            </select> &nbsp;

            <label>Year Began:</label>
            <input type="text" id="school_year_began_{{ forloop.counter }}"
                    name="school_year_began_{{ forloop.counter }}"
                    value="{{ school_obj.school_year_began|default_if_none:"" }}"
                    style="width: 45px;">

            <label>Year Began Uncertain:</label>
            <input type="checkbox"
                    name="school_year_began_uncertain_{{ forloop.counter }}"
                    id="school_year_began_uncertain_{{ forloop.counter }}"
                    {% if school_obj.school_year_began_uncertain %}
                    checked {% endif %} style="margin-left: -11px;">

            <label>Year Ended:</label>
            <input type="text" id="school_year_ended_{{ forloop.counter }}"
                    name="school_year_ended_{{ forloop.counter }}"
                    value="{{ school_obj.school_year_ended|default_if_none:"" }}"
                    style="width: 45px;">

            <label>Year Ended Uncertain:</label>
            <input type="checkbox"
                    name="school_year_ended_uncertain_{{ forloop.counter }}"
                    id="school_year_ended_uncertain_{{ forloop.counter }}"
                    {% if school_obj.school_year_ended_uncertain %}
                    checked {% endif %} style="margin-left: -11px;">
{% comment %}
            <label>Source:</label>
            <select multiple style="vertical-align: middle; width: 157px;"
                    name="school_sources{{ forloop.counter }}"
                    id="school_sources{{ forloop.counter }}">
                {% for school_source in sources %}
                    <option
                            {% if school_source.type|is_in:school_obj.school_source.all %}
                                selected {% endif %}
                                value='{{ school_source.id }}'>{{ school_source.type }}</option>
                {% endfor %}
            </select>&nbsp;
{% endcomment %}
            <input type="button" id="add_school_divison_id"
                    class="add_school_class" value="Add New"
                    name="add_school_divison">
            <input type="button" id="remove_school_button"
                    class="remove_school_class" value="Remove"
                    name="remove_school_divison">
            <br><br><br><br>
        </div>
    {% endfor %}
</div>

<h4 style="display:inline;">Degree Details:-</h4>&nbsp;&nbsp;&nbsp;<input
    type="button" id="add_degrees" class="add_degree_class"
    value="Add Degrees" {% if revision.cr_creator_degree.all|length == 0 %}
    style="display: inline;" {% endif %}>
<br><br>

<div class="degree-div">
    {% for degree_obj in revision.cr_creator_degree.all %}
        <div class="degree-details{{ forloop.counter }}"
                style="padding-left: 20px; display: inline;">
            <label>Degree:</label>
            <input type="hidden" id="degree_revision_id_{{ forloop.counter }}" name="degree_revision_id_{{ forloop.counter }}" value="{{ degree_obj.id }}">
            <select name="degree_{{ forloop.counter }}"
                    id="degree_{{ forloop.counter }}" style="width: 193px;">
                {% for degree in degrees %}
                    <option {% if degree == degree_obj.degree %}
                        selected {% endif %}
                        value='{{ degree.id }}'>{{ degree.degree_name }}</option>
                {% endfor %}
            </select>&nbsp;&nbsp;&nbsp;
            <label>School:</label>
            <select name="degree_school_{{ forloop.counter }}"
                    id="degree_school_{{ forloop.counter }}"
                    style="width: 193px;">
                {% for school in schools %}
                    <option {% if school == degree_obj.school %}
                        selected {% endif %}
                        value='{{ school.id }}'>{{ school.school_name }}</option>
                {% endfor %}
            </select> &nbsp;
            <label>Degree Year:</label>
            <input type="text" id="degree_year_{{ forloop.counter }}"
                    name="degree_year_{{ forloop.counter }}"
                    value="{{ degree_obj.degree_year|default_if_none:"" }}"
                    style="width: 95px;">&nbsp;&nbsp;
            <label>Degree Year Uncertain:</label>
            <input type="checkbox"
                    name="degree_year_uncertain_{{ forloop.counter }}"
                    id="degree_year_uncertain_{{ forloop.counter }}"
                    {% if degree_obj.degree_year_uncertain %}
                    checked {% endif %} style="margin-left: -4px;">&nbsp;&nbsp;&nbsp;

            <input type="button" id="add_degree_divison_id"
                    class="add_degree_class" value="Add New"
                    name="add_degree_divison">
            <input type="button" id="remove_degree_button"
                    class="remove_degree_class" value="Remove"
                    name="remove_degree_divison">
            <br><br><br><br>
        </div>
    {% endfor %}
</div>
