<form action="{% url "process" id=changeset.id %}"
      method="POST">
  {% csrf_token %}
  <button>
    <input class="w-full min-w-24 btn-blue-editing" type="submit" name="discard" value="Discard">
  </button>
{% if changeset.state == states.PENDING %}
  {% if changeset.editable and section.object_type != "cover" %}
  <button>
    <input class="w-full btn-blue-editing" type="submit" name="retract" value="Retract And Edit Further">
  </button>
  {% endif %}
{% endif %}
  <input type="hidden" name="comments" class="comments" />
</form>
