{% if changeset.state == states.REVIEWING or changeset.state == states.DISCUSSED %}
  {% if changeset.approver == user %}
<form action="{% url 'process' id=changeset.id %}" method="POST">
  {% csrf_token %}
  <btn>
    <input class="sm:min-w-24 btn-queue-action" id='unassign_{{ changeset.id }}' type="submit" name="release" value="Unassign" />
  </btn>
  <input type="hidden" name="comments" class="comments" />
</form>
  {% else %}
    {% if changeset.state == states.REVIEWING and perms.indexer.can_approve and changeset.review_is_overdue %}
  Review is overdue
    {% else %}
  No actions available
    {% endif %}
  {% endif %}
{% else %}
  {% if perms.indexer.can_approve and changeset.indexer != user or changeset.indexer == user and changeset.editable and section.object_type != 'cover' %}
<form action="{% url 'process' id=changeset.id %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="comments" class="comments" />
    {% if changeset.indexer != user %}
    <button class="sm:min-w-36 btn-queue-action" id='assign_{{ changeset.id }}' type="submit" name="assign">
    {% if changeset.indexer.indexer.is_new and not changeset.indexer.indexer.mentor and section.object_type != "cover" %}
    Assign And Mentor
    {% else %}
    Assign
    {% endif %}
    </button>
    {% else %}
    <button class="sm:min-w-44 btn-queue-action" type="submit" name="retract">Retract And Edit Further</button>
    {% endif %}
</form>
  {% else %}
  No actions available
  {% endif %}
{% endif %}

