{% load editing %}
<tr colspan="2" class="border border-gray-300 {% if reprint.deleted %} deleted {% endif %} {% if reprint.changeset == changeset and reprint.previous_revision == None %} added {% endif %}">
  {% if reprint.changeset and not reprint.changeset == changeset and reprint.source %}
  <td> {{ reprint.source|link_other_reprint:is_source }}</td>
  {% else %}
  <td> {{ reprint|link_other_reprint:is_source }}</td>
  {% endif %}
  <td>
{% if not reprint|is_locked and not reprint.changeset %}
<form action="{% url 'reserve_reprint' reprint_id=reprint.id changeset_id=changeset.id %}" method="POST">
  {% csrf_token %}
  {% if not is_source %}
    <button class="btn-blue-editing inline" type="submit" name="edit_target_internal">Change Target</button>
    <button class="btn-blue-editing inline" type="submit" name="edit_origin">Change Origin</button>
    <button class="btn-blue-editing inline" type="submit" name="edit_note_target">Edit Note</button>
  {% else %}
    <button class="btn-blue-editing inline" type="submit" name="edit_origin_internal">Change Origin</button>
    <button class="btn-blue-editing inline" type="submit" name="edit_target">Change Target</button>
    <button class="btn-blue-editing inline" type="submit" name="edit_note_origin">Edit Note</button>
  {% endif %}
    <button class="btn-blue-editing inline" type="submit" name="flip_direction">Flip Reprint Direction</button>
    <button class="btn-blue-editing inline" type="submit" name="delete">Mark To Delete</button>
  {% if create_sequence %}
    <button class="btn-blue-editing inline" type="submit" name="matching_sequence">Create Corresponding Sequence</button>
  {% endif %}
</form>
{% else %}
    {% if reprint.changeset_id == changeset.id %}
<form action="{% url 'edit_reprint' id=reprint.id %}" method="POST">
      {% csrf_token %}
      {% if reprint.deleted %}
    <button class="btn-blue-editing inline" type="submit" name="restore">Restore</button>
      {% else %}
        {% if not is_source %}
    <button class="btn-blue-editing inline {% if not reprint.source %}bg-stone-100 hover:bg-stone-100 {% endif %}" type="submit" {% if not reprint.source %} disabled {% endif %} name="edit_target_internal">Change Target</button>
    <button class="btn-blue-editing inline" type="submit" name="edit_origin">Change Origin</button>
    <button class="btn-blue-editing inline" type="submit" name="edit_note_target">Edit Note</button>
        {% else %}
    <button class="btn-blue-editing inline {% if not reprint.source %}bg-stone-100 hover:bg-stone-100 {% endif %}" type="submit" {% if not reprint.source %} disabled {% endif %} name="edit_origin_internal">Change Origin</button>
    <button class="btn-blue-editing inline" type="submit" name="edit_target">Change Target</button>
    <button class="btn-blue-editing inline" type="submit" name="edit_note_origin">Edit Note</button>
        {% endif %}
    <button class="btn-blue-editing inline" type="submit" name="flip_direction">Flip Reprint Direction</button>
        {% if reprint.source %}
    <button class="btn-blue-editing inline" type="submit" name="delete">Mark To Delete</button>
        {% else %}
    <button class="btn-blue-editing inline" type="submit" name="remove">Remove</button>
        {% endif %}
        {% if create_sequence %}
    <button class="btn-blue-editing inline" type="submit" name="matching_sequence">Create Corresponding Sequence</button>
        {% endif %}
      {% endif %}
</form>
    {% else %}
      {% if reprint.changeset.state == states.APPROVED %}
<form action="{% url 'reserve_reprint' reprint_id=reprint.source.id changeset_id=changeset.id %}" method="POST">
        {% csrf_token %}
        {% if not is_source %}
    <button class="btn-blue-editing inline" type="submit" name="edit_target_internal">Change Target</button>
    <button class="btn-blue-editing inline" type="submit" name="edit_origin">Change Origin</button>
    <button class="btn-blue-editing inline" type="submit" name="edit_note_target">Edit Note</button>
        {% else %}
    <button class="btn-blue-editing inline" type="submit" name="edit_origin_internal">Change Origin</button>
    <button class="btn-blue-editing inline" type="submit" name="edit_target">Change Target</button>
    <button class="btn-blue-editing inline" type="submit" name="edit_note_origin">Edit Note</button>
        {% endif %}
    <button class="btn-blue-editing inline" type="submit" name="flip_direction">Flip Reprint Direction</button>
    <button class="btn-blue-editing inline" type="submit" name="delete">Mark To Delete</button>
        {% if create_sequence %}
    <button class="btn-blue-editing inline" type="submit" name="matching_sequence">Create Corresponding Sequence</button>
        {% endif %}
</form>
      {% else %}
        {% if reprint.changeset %}
    Is reserved in a different <a href="{% url 'compare' id=reprint.changeset.id %}">changeset</a>.
        {% else %}
    Is reserved in a different <a href="{% url 'compare' id=reprint.revisions.latest.changeset.id %}">changeset</a>.
        {% endif %}
      {% endif %}
    {% endif %}
{% endif %}
  </td>
</tr>
