{% load compress %}
{% load static %}

{% include 'oi/bits/jquery.html' %}

{% compress js %}
<script type='text/javascript' src='{% static "jquery/js/input-special-event.js" %}'></script>
{% endcompress %}
{% if revision.source_name in 'story issue' or object_name in 'Story Issue' %}
<script type='text/javascript' src='{% static "js/oi/storyrevision_form_utils.js" %}'></script>
{% endif %}
{% if revision.source_name == 'issue' or object_name in 'Variant Issues' or 'Variant Issue' in object_name %}
<script type='text/javascript' src='{% static "js/oi/issuerevision_form_utils.js" %}'></script>
<script type='text/javascript' src='{% static "jquery/js/msdropdown/jquery.dd.min.js" %}'></script>
{% endif %}

{% if revision.source_name == 'story' or object_name == 'Story' %}
  {% if settings %}
<script type='text/javascript'>
var limitSynopsisLength = {{ settings.LIMIT_SYNOPSIS_LENGTH }};
</script>
<script type='text/javascript' src='{% static "bootstrap/js/bootstrap.min.js" %}'></script>
  {% endif %}
{% endif %}

{% if revision.source_name in 'story feature' or object_name in 'Story Feature' %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const checkboxes = document.querySelectorAll('input[name="genre"]');
    const selectedDisplay = document.getElementById('selected-genres');

    function updateSelectedGenres() {
        const selected = Array.from(checkboxes)
            .filter(checkbox => checkbox.checked)
            .map(checkbox => checkbox.value);

        if (selected.length) {
            selectedDisplay.innerHTML = selected.join('; ');
            selectedDisplay.style.display = 'block';
        } else {
            selectedDisplay.style.display = 'none';
        }
    }

    // Initial display
    updateSelectedGenres();

    // Add event listeners to all checkboxes
    checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', updateSelectedGenres);
    });
  });
</script>
{% endif %}
