
<div class="queues">
{% for section in data %}
<h2> {{ section.object_name }} </h2>
<table>
  <tr>
    <th> Name </th>
  {% if approval_queue %}
    <th> Indexer </th>
  {% endif %}
    <th> State </th>
    <th> Last Activity </th>
    <th> Actions </th>
  </tr>
{% for object in section.objects %}
  <tr>
  {% ifequal link_target 'preview' %}
    <td> <a href="{% url preview_revision model_name=section.object_type,id=object.id %}">{{ object.queue_name }}</a>
  {% else %}
    <td> <a href="{% url edit_revision model_name=section.object_type,id=object.id %}">{{ object.queue_name }}</a>
  {% endifequal %}
  {% if approval_queue %}
    <td> {{ object.indexer.indexer }} </td>
  {% endif %}
    <td> {{ object.display_state }} </td>
    <td> {{ object.modified }} </td>
{% with section.object_type as object_type %}
    <td> {% with object.id as action_id %}{% include actions %}{% endwith %} </td>
{% endwith %}
  </tr>
{% endfor %}
</table>
{% empty %}
<p>
All queues are empty.
</p>
{% endfor %}

</div>
