{% load accounts %}
{% load humanize %}

{% if user|can_view_profile_details:profile_user %}
<ul>
  <li> Maximum individual changes (a.k.a. reservations) you can make at once:
    <span class="font-bold">{{ profile_user.indexer.max_reservations }}</span>
  </li>
  <li> Maximum ongoing series reservations you can hold at once:
    <span class="font-bold">{{ profile_user.indexer.max_ongoing }}</span>
  </li>
  <li> Changes awaiting approval count towards your maximums?
    <span class="font-bold">
      {% if profile_user.indexer.is_new %}Yes{% else %}No{% endif %}
    </span>
  </li>
  <li> Mentor:
    {% if profile_user.indexer.mentor %}
    <span class="font-bold"><a href="{% url "view_profile" user_id=profile_user.indexer.mentor.id %}">
      {{ profile_user.indexer.mentor.indexer }}</a></span>
    {% if user == profile_user %}
    (<a href="mailto:{{ profile_user.indexer.mentor.email }}">{{ profile_user.indexer.mentor.email }}</a>)
    {% endif %}
    {% else %}
    <span class="font-bold">None</span>
    {% endif %}
  </li>
  <li> Index Measurement Points (IMPs):
    <span class="font-bold">{{ profile_user.indexer.imps }}</span>
  </li>
  {% if user == profile_user %}
  <li> National Rank:
    <span class="font-bold">{{ ranking.national|ordinal }}</span> place
    {% if ranking.national_levelup %}
    (IMPs to next place: <span class="font-bold">{{ ranking.national_levelup }}</span>)
    {% endif %}
    {% if ranking.national_leveldown %}
    (IMPs ahead of following place: <span class="font-bold">{{ ranking.national_leveldown }}</span>)
    {% endif %}
  </li>
  <li> Worldwide Rank:
    <span class="font-bold">{{ ranking.global|ordinal }}</span> place
    {% if ranking.global_levelup %}
    (IMPs to next place: <span class="font-bold">{{ ranking.global_levelup }}</span>)
    {% endif %}
    {% if ranking.global_leveldown %}
    (IMPs ahead of following place: <span class="font-bold">{{ ranking.global_leveldown }}</span>)
    {% endif %}
  </li>
  {% endif %}
</ul>
{% if user == profile_user %}
<p class="my-2">
Index Measurement Points, or IMPs, are granted for contributions to the database,
most often indexing comics or otherwise adding or correcting data.  Once you
have accrued {{ settings.MEMBERSHIP_IMPS }} IMPs, you may vote in GCD elections.
</p>
{% endif %}
{% endif %}
