<div id="front_page_content_inner">
<h2>Welkom bij de {{ site_name }}!</h2>
<p>
Wij zijn een nonprofit, internetgebaseerde organisatie bestaande uit een groep van internationale vrijwilligers die zich toeleggen op het ontwikkelen van een databank van alle gedrukte strips van over de hele wereld. Welkom! Probeer onze zoekfunctie, of kijk in het menu links om te zien hoe je een bijdrage kunt leveren aan het verbeteren van onze website.
<p>
<div class="left" style="margin-bottom: 1.0em">
<a href="/issue/574700/"><img src="http://images.comics.org//img/gcd/covers_by_id/558/w200/558685.jpg" alt="Cover Image" width="200" class="cover_img"/></a>
<h3>1.000.000 verhalen!</h3>
<p>
<div style="margin-bottom: 0em">
De mijlpaal van één miljoen verhalen is bereikt! <p> De index van <a href="/issue/574700/">Star Trek: Mirror Images #3</a> werd recentelijk goedgekeurd en daarmee passeerden we dit machtige getal. 
</div>
</div>
<div class="left" style="margin-bottom: 1.0em">
<a href="/issue/883904/cover/4/"><img src="http://images.comics.org//img/gcd/covers_by_id/853/w200/853296.jpg" alt="Cover Image" width="200" class="cover_img"/><img src="http://images.comics.org//img/gcd/covers_by_id/853/w200/853297.jpg" alt="Cover Image" width="200" class="cover_img"/></a>
<h3>375.000 omslagen geupload!</h3>
<p>
<div style="margin-bottom: 0em">
De 375.000 omslag werd recentelijk naar de GCD server geüpload! <p> De omslag is van de dubbelstrip Comix #10/2011, een Duits maandblad.<p>
Bekijk onze 
<a href="http://www.comics.org/international_stats/">internationale statistieken</a>
om te zien wat er nog meer gebeurt in de GCD.
</div>
</div>
<div style="clear: both;">
</div>
<div class="instructions">
<h3><a name="help">Wij zoeken Web Designers en programmeurs die vrijwillige basis een bijdrage willen leveren!</a></h3>
<p>
Zoek contact met de
<a href="http://groups.google.com/group/gcd-tech">gcd-tech groep</a> als je kunt helpen met één van de volgende taken:
<ul>
  <li> Web designer / front-end developer (HTML / CSS / JavaScript)
  <li> Web Services API
  <li> Python / Django programmeren
  <li> Database Performance (MySQL)
</ul>
</div>
<h3>Nieuwe functionaliteiten vanaf november 2011!</h3>
<ul>
<li>Het tonen van omslagen als zoekresultaat bij het uitgebreid zoeken.
<li>Delen kunnen nu door alle gebruikers van serie naar serie verplaatst worden.
</ul>
<h3>Nieuwe functionaliteiten vanaf september 2011!</h3>
Zichtbaar voor alle gebruikers
<ul>
<li>Verkoopdata zijn toegevoegd.
</ul>
Alleen zichtbaar voor leden
<ul>
<li>Twee delen kunnen tegelijk worden bewerkt zodat het verplaatsen van verhalen en omslagen mogelijk wordt.
<li>“Volume” kan voor een hele serie uitgeschakeld worden.
<li>Delen kunnen van de ene naar de andere serie verplaatst worden (vooralsnog alleen door redacteuren).
<li>Series kunnen van de ene naar de andere uitgever verplaatst worden (vooralsnog alleen door redacteuren).
</ul>

<h3>Nieuwe functionaliteiten voor juli 2011!</h3>
Zichtbaar voor alle gebruikers
<ul>
<li>Varianten zijn toegevoegd. Dit omvat kleine variaties, zoals een nieuwe omslagtekening, verschillen in prijs, barcode, uitgeverslogo enz. Het merendeel van de verhalen zijn gelijk aan het ‘base’ deel, maar bij afwijkend omslagtekenwerk kan er een aparte omslag worden toegevoegd.
<li>Lidwoorden worden nu op de juiste manier gebruikt in de sortering en hoeven dus niet meer naar het einde van de titel gebracht te worden. Dit geldt ook voor zoekopdrachten.
<li>Deeltitels: Europese albums en tradepaperbackseries kunnen nu naast het deelnummer ook een deeltitel toegevoegd krijgen.
<li>Op de overzichtspagina van een serie tonen we nu ook de beeldmerken (‘brands’) en officiële uitgeversnamen  (‘indicia publishers’).
<li>Barcode: het is nu mogelijk de barcode (UPC/EAN) toe te voegen.
<li>Het is nu mogelijk aan te geven dat een start- of einddatum van een serie onzeker is.
</ul>
Zichtbaar voor alle leden
<ul>
<li>Het is nu mogelijk varianten uitgebreider te bewerken. Het is raadzaam lid te worden van de Main e-maillijst om de laatste vorderingen te volgen.
<li>ISBNs, barcodes, deeltitels en frequentie kunnen nu voor een gehele serie worden uitgezet.
<li>Het is mogelijk aan te geven dat een serie géén ISBN, frequentie, barcode of deeltitel heeft.
<li>Er zijn hyperlinks naar de hulppagina’s toegevoegd. Ervaren gebruikers kunnen deze ook uitschakelen in hun profiel.
<li>De volgorde van de velden op de bewerkpagina’s is veranderd zodat zij overeenkomen met de vergelijkfunctie.
</ul>
</div>


