{% load feedutil %}
<div id="front_page_content_inner">
<h2>Welcome to the {{ site_name }}!</h2>
{% if BETA %}
{% load statustags %}
<div class="instructions">
<h3>This is the BETA site.</h3>
<p>
If you have no particular reason to visit our BETA site, you probably want to use the <a href="http://www.comics.org">real site.</a>
</p>
</div>
{% endif %}


<p>
We're  a nonprofit, Internet-based organization of international volunteers
dedicated to building a database covering all printed comics throughout the world,
and we're glad you're here!  Give our search form a try, or take a look at the
menu to the left to see how you can help us improve the site.
<p>
<div class="left" style="margin-bottom: 1.0em; margin-top: 1.0em">
<a href="/issue/797004/cover/4/"><img src="http://images.comics.org/img/gcd/covers_by_id/929/w200/929239.jpg" alt="Cover Image" width="200" class="cover_img"/></a>
<h3>450,000 covers uploaded!</h3>
<p>
<div style="margin-bottom: 0em">
The 450,000th cover was uploaded recently to the GCD! <p> Check out
the cover which is from Pocket Chiller Library #9 (Thorpe &amp; Porter, 1971 Series), a series from the United Kingdom.<p>Take a look at our
<a href="http://www.comics.org/international_stats/">international statistics</a>
to see what else the GCD's been up to. 
</div>
</div>

<hr class="feed-post">
<h2>GCD Comics Timeline</h2>
<hr class="feed-post">
{% feed "http://www.facebook.com/feeds/page.php?format=rss20&id=136512123051365" 10 %}
<h3>New Features for May 2013!</h3>
We now only use genres from our <a href="http://docs.comics.org/wiki/Official_Genres_List">official genre list</a>.
</div>
<p>
<div class="instructions">
<h3>How to help ?</h3>
There are several ways in which you can help us to improve our site and its content.
<ul>
<li>You can provide missing data, update existing data, or upload cover scans. Just <a href="/accounts/register/">register an account</a> with us, and
 you can start <a href="http://docs.comics.org/wiki/How_To_Contribute_FAQ">contributing</a>.
<li><a href="/donate/">Donate</a> for our ongoing costs, e.g. the server infrastructure. We are a non-profit organization and any funds will be used f
or our goal of documenting and indexing all comics.
<li>We need volunteer web designers and programmers! Please contact the
<a href="http://groups.google.com/group/gcd-tech">gcd-tech group</a> or visit our <a href="http://docs.comics.org/wiki/Main_Page#Technical_Details">te
chnical documentation</a> if you
can help with any of these roles:
<ul>
  <li> Web designer / front-end developer (HTML / CSS / JavaScript)
  <li> Python / Django programming
  <li> Solr search server 
  <li> Web Services API
  <li> Database Performance (MySQL)
</ul>
</li>
</div>
<div style="clear: both;">
</div>