body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
}

#sizing_base {
    font-size: 0.8em;
}

.left {
    float: left;
}

.right {
    float: right;
}

/*
 * This is intended to be so horribly, jarringly unatractive that
 * you can't possibly fail to notice it.
 */
#beta_warning {
    font-size: 1.5em;
    background-color: red;
    color: yellow;
    border: dashed 4px black;
    margin-bottom: 1em;
}

#preview_banner {
    font-weight: bold;
    background-color: orange;
    border: solid 1px black;
    padding: 0.3em 0 0.3em 0;
    margin-bottom: 0.5em;
}

#preview_banner_inner {
    padding: 0 0.3em 0 0.3em;
}

.preview {
    background-color: #FFE944;
}

h1 {
    font-size: 2em;
    clear: both;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

hr {
    width: 100%;
    clear: both;
}

dt {
    font-weight: bold;
}

h1.item_id {
    float: left;
}

img .cover_img {
    /* Used to make alt text more visible.  Better way to do this? */
    color: white;
    background-color: black;
}


/* Item ID stuff */

.item_id {
    /* ID of the primary subject of a given page. */
    /* background-color: #DDD; */
    /* padding-left/right must be in an absolute unit to get the right edges
     * to line up due to the necessary 100% width which is itself due
     * to needing to float things in order to implement float left/right.
     */
    padding: 0.2em 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #444;
    color: white;
    border: solid 1px black;
    font-weight: bold;
    width: 100%;
}

#item_id_footer {
    border: solid 1px black;
    margin-bottom: 1em;
}

#item_id_footer_replace_top {
    border: solid 1px black;
}

#item_id_footer_replace_bottom {
    margin-bottom: 1em;
}

.item_id :link {
    color: white;
}

.item_id :visited {
    color: white;
}

.item_id .left {
    padding-left: 0.2em;
}

.item_id .right {
    padding-right: 0.2em;
}

.item_id .pagination {
    /* Margin to push it down to a similar baseline to the larger
     * text on the left.  Must be a better/more reliable way to do this.
     */
    margin-top: 0.25em;
    font-size: 0.75em;
}

div.item_id {
    background-color: #EEE;
    color: black;
    float: left;
    clear: both;
    border-top: none;
}

div.item_id :link {
    color: black;
}

div.item_id :visited {
    color: black;
}

div.item_id div.item_data {
    float: left;
}
div.item_id div.prev_next {
    padding-right: 0.2em;
    float: right;
}

/* Specialized version of part of the item_id for search result pages. */

h1#search_id {
    font-size: 1.25em;
}

/* Search or plain header bars that appear at the top of nearly every page. */

#search_bar {
    clear: both;
    background-color: #77E;
    color: black;
    margin-bottom: 1em;
    vertical-align: center;
    border: solid 1px;
    padding: 0.6em;
    font-weight: bold;
}

#search_bar form {
    margin: 0;
    display: inline;
}

#search_bar input {
    font-size: 0.8em;
}

#search_bar select {
    font-size: 0.8em;
}

#search_bar img {
    display: inline;
    height: 2em;
    position: relative;
    top: 0.5em;
    margin-top: -0.5em;
}

#search_bar :link {
    color: black;
}

#search_bar :visited {
    color: black;
}

#plain_bar {
    clear: both;
    background-color: #77E;
    color: black;
    margin-bottom: 1em;
    padding: 0.6em;
    vertical-align: center;
    border: solid 1px;
    width: 100%;
}

#plain_bar img {
    height: 2em;
    position: relative;
    top: 0.5em;
    margin-top: -0.5em;
}

#plain_bar span {
    font-size: 1.2em;
    font-weight: bold;
}

#plain_bar :visited {
    color: black;
}

.fine_print {
    float: left;
    clear: left;
    margin-top: 1em;
}

/* Some of this goes down to cover.css, some is common.  TODO: Figure out. */

table#covers {
    margin: 1em 0;
    clear: left;
}

table#covers td.marked {
    background-color: #DDD;
}

.no_cover {
    border: solid 1px;
}

.cover_links {
    font-size: 0.7em;
    white-space: nowrap;
}

.cover_caption {
    /* text-align: center; */
    font-size: 0.75em;
}

.cover_number {
    font-weight: bold;
}

.cover_grid {
    text-align: center;
    vertical-align: top;
    width: 20%;
}

.cover_grid img {
    border: solid 1px;
    background-color: black;
    color: black;
}
.cover_grid img :link {
    color: black;
}

.cover_grid img :visited {
    color: #666;
}

#cover_zoom {
    text-align: center;
}

#cover_zoom img {
    border: solid 1px;
    margin-top: 1em;
    margin-bottom: 1em;
}

#cover_zoom .cover_links {
    font-size: 1em;
    margin-bottom: 1em;
}


/* Listing table stuff */

.listing {
    float: left;
    clear: both;
    border: solid black 1px;
    border-collapse: collapse;
    margin-top: 1em;
    margin-bottom: 1em;
}

#publisher_detail_listing {
    margin-top: 0;
}

.listing th {
    text-align: left;
    border: solid black 1px;
    padding: .4em;
    background-color: #888;
    color: white;
}

.listing td {
    padding: .3em;
    border-left: solid 1px;
    border-right: solid 1px;
}

tr.listing_odd {
    background-color: #FFF;
    vertical-align: top;
}

tr.listing_even {
    background-color: #DDD;
    vertical-align: top;
}

td.listing_publisher {
    border-left: none;
}

td.listing_country {
    border-right: none;
}

div.list_table_header {
    margin-bottom: 1em;
}

.listing dl {
    margin-top: 0;
}

.listing dl.credits {
    margin-bottom: 0;
}

.listing dl.credits dt {
    float: left;
    clear: both;
    padding-right: 0.25em;
}

.listing dl.credits dd {
    margin: 0;
}

/* Move to publisher.css when it's created. */
dl.pub_data {
    float: left;
    width: 100%;
    margin-top: 1em;
}

dl.pub_data dt {
    padding-right: 0.5em;
    float: left;
    clear: left;
}

dl.pub_data dd {
    float: none;
    padding: 0;
    margin: 0;
}

.embedded_flag {
    height: 1em;
}

#index_status {
    float: left;
    clear: both;
    width: 100%;
    padding: 0.4em 0 0.4em 0;
    margin-top: 1em;
    border: solid black 1px;
}

#index_status_inner {
    margin: 0 0.4em 0 0.4em;
}

#index_status span {
    margin-left: 0.4em;
}

.index_status_0 {
    background-color: #EE7;
}

.index_status_1 {
    background-color: #E77;
}

.index_status_2 {
    background-color: #EA7;
}

div.ongoing_status {
    float: left;
    clear: both;
    background-color: #AEA;
    margin-top: 1em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    width: 100%;
}

.control_panel {
    clear: both;
}

.control_panel form {
    margin-top: 1em;
    margin-right: 1em;
    float: left;
    display: inline;
}

.control_panel input {
    display: inline;
}

.message {
    font-weight: bold;
}

.error_message {
    color: red;
    font-weight: bold;
    margin: 1em 0;
    float: left;
    clear: both;
}

.footer_disclaimer {
    font-size: 0.8em;
    color: #666;
    margin-bottom: 0.5em; /* space to google ad */
}

a.new_window {
    padding-right: 13px; 
    background: transparent no-repeat right center url(external.png); 
}

