body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
}

#sizing_base {
    font-size: 0.8em;
}

.left {
    float: left;
}

.right {
    float: right;
}

/*
 * This is intended to be so horribly, jarringly unatractive that
 * you can't possibly fail to notice it.
 */
#beta_warning {
    font-size: 1.5em;
    background-color: red;
    color: yellow;
    border: dashed 4px black;
    margin-bottom: 1em;
}

#preview_banner {
    font-weight: bold;
    background-color: orange;
    border: solid 1px black;
    padding: 0.3em 0 0.3em 0;
    margin-bottom: 0.5em;
}

#preview_banner_inner {
    padding: 0 0.3em 0 0.3em;
}

.preview {
    background-color: #FFE944;
}

h1 {
    font-size: 2em;
    clear: both;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

hr {
    width: 100%;
    clear: both;
}

hr.divider {
    clear: left;
    visibility: hidden;
}

dt {
    font-weight: bold;
}

h1.item_id {
    float: left;
}

img .cover_img {
    /* Used to make alt text more visible.  Better way to do this? */
    color: white;
    background-color: black;
}

div.stats_left {
    width: 49%;
    float: left;
    margin-bottom: 1em;
}

div.stats_right {
    width: 49%;
    float: right;
    margin-bottom: 1em;
}
div.stats_content {
    padding-left: 8px;
}

/* Item ID stuff */

.item_id {
    /* ID of the primary subject of a given page. */
    /* background-color: #DDD; */
    /* padding-left/right must be in an absolute unit to get the right edges
     * to line up due to the necessary 100% width which is itself due
     * to needing to float things in order to implement float left/right.
     */
    padding: 0.2em 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #444;
    color: white;
    border: solid 1px black;
    font-weight: bold;
    width: 100%;
}

#item_id_footer {
    border: solid 1px black;
    margin-bottom: 1em;
}

#item_id_footer_replace_top {
    border: solid 1px black;
}

#item_id_footer_replace_bottom {
    margin-bottom: 1em;
}

.item_id :link {
    color: white;
}

.item_id :visited {
    color: white;
}

.item_id .left {
    padding-left: 0.2em;
}

.item_id .right {
    padding-right: 0.2em;
}

.item_id .pagination {
    /* Margin to push it down to a similar baseline to the larger
     * text on the left.  Must be a better/more reliable way to do this.
     */
    margin-top: 0.25em;
    font-size: 0.75em;
}

div.item_id {
    background-color: #EEE;
    color: black;
    float: left;
    clear: both;
    border-top: none;
}

div.item_id :link {
    color: black;
}

div.item_id :visited {
    color: black;
}

div.item_id div.item_data {
    float: left;
}
div.item_id div.prev_next {
    padding-right: 0.2em;
    float: right;
}

/* Specialized version of part of the item_id for search result pages. */

h1.search_id {
    font-size: 1.25em;
}

#search_reminder, #bulk_change_info {
    float: left;
    margin-top: 1em;
}

/* Search or plain header bars that appear at the top of nearly every page. */

.search_bar {
    clear: both;
    background-color: #77E;
    color: black;
    margin-bottom: 1em;
    vertical-align: middle;
    border: solid 1px;
    padding: 0.6em;
    font-weight: bold;
}

.search_bar form {
    margin: 0;
    display: inline;
}

.search_bar input {
    font-size: 0.8em;
}

.search_bar select {
    font-size: 0.8em;
}

.search_bar img {
    display: inline;
    height: 2em;
    position: relative;
    top: 0.5em;
    margin-top: -0.5em;
}

.search_bar :link {
    color: black;
}

.search_bar :visited {
    color: black;
}

#plain_bar {
    clear: both;
    background-color: #77E;
    color: black;
    margin-bottom: 1em;
    padding: 0.6em;
    vertical-align: middle;
    border: solid 1px;
    width: 100%;
}

#plain_bar img {
    height: 2em;
    position: relative;
    top: 0.5em;
    margin-top: -0.5em;
}

#plain_bar span {
    font-size: 1.2em;
    font-weight: bold;
}

#plain_bar :visited {
    color: black;
}

.fine_print {
    float: left;
    clear: left;
    margin-top: 1em;
}

/* for two columns on the pages with control box on the right */

.control_body{
	padding:0 14em 0 0;
}
#control_container{
	float:left;
	width:100%;	
	border-right:14em; /* The width of the right rail */
	margin-right:-14em;
	display:inline; /* So IE plays nice */
}
#control_center{
	float:left;
	width:100%;
	margin-right:-100%;
}
#control_rail{
	float:right;
	width:14em;
	margin-right:-14em;
	position:relative;
}
#control_header, #control_footer{
	margin-right:-14em;
	clear:both;
}

.edit_box {
    border: solid 1px;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 0.85em;
}

.edit_box form {
    margin: 2px;
}

.edit_header {
    font-weight: bold;
    background-color: #DDD;
    margin: 0;
    padding: 0.4em;
}

/* Some of this goes down to cover.css, some is common.  TODO: Figure out. */

table#covers {
    margin: 1em 0;
    clear: left;
}

table#covers td.marked {
    background-color: #DDD;
}

table#covers span.add {
    background-color: palegreen;
}

table#covers span.delete {
    background-color: tomato;
}

table#covers span.modify {
    background-color: yellow;
}

.no_cover {
    border: solid 1px;
}

.cover_links {
    font-size: 0.7em;
    white-space: nowrap;
}

.cover_caption {
    /* text-align: center; */
    font-size: 0.75em;
}

.cover_number {
    font-weight: bold;
}

.cover_grid {
    text-align: center;
    vertical-align: top;
    width: 20%;
}

.cover_grid img {
    border: solid 1px;
    background-color: black;
    color: black;
}
.cover_grid img :link {
    color: black;
}

.cover_grid img :visited {
    color: #666;
}

#cover_zoom {
    text-align: center;
}

#cover_zoom img {
    border: solid 1px;
    margin-top: 1em;
    margin-bottom: 1em;
}

#cover_zoom .cover_links {
    font-size: 1em;
    margin-bottom: 1em;
}


/* Listing table stuff */

.listing {
    float: left;
    clear: both;
    border: solid black 1px;
    border-collapse: collapse;
    margin-top: 1em;
    margin-bottom: 1em;
}

#publisher_detail_listing {
    margin-top: 0;
}

.listing th {
    text-align: left;
    border: solid black 1px;
    padding: .4em;
    background-color: #888;
    color: white;
}

.listing td {
    padding: .3em;
    border-left: solid 1px;
    border-right: solid 1px;
}

tr.row_even_False,
tr.listing_odd {
    background-color: #FFF;
    vertical-align: top;
}

tr.row_even_True,
tr.listing_even {
    background-color: #DDD;
    vertical-align: top;
}

td.listing_publisher {
    border-left: none;
}

td.listing_country {
    border-right: none;
}

div.list_table_header {
    margin-bottom: 1em;
}

.listing dl {
    margin-top: 0;
}

.listing dl.credits {
    margin-bottom: 0;
}

.listing dl.credits dt {
    float: left;
    clear: both;
    padding-right: 0.25em;
}

.listing dl.credits dd {
    margin: 0;
}

div.updated_issues ul {
    list-style: none;
    margin: 0 0.4em 0 0;
    padding: 0;
}


/* Move to publisher.css when it's created. */
.pub_data{
    margin-right: 0.5em;
}

dl.pub_data {
    float: left;
    width: 100%;
    margin-top: 1em;
}

dl.pub_data dt {
    padding-right: 0.5em;
    float: left;
    clear: left;
}

dl.pub_data dd {
    float: none;
    padding: 0;
    margin: 0;
}

.embedded_flag {
    height: 1em;
}

#index_status {
    padding: 0.4em 0.4em 0.4em 0.4em;
}

#index_status :visited, #index_status :link {
    color: black;
}

#index_status_inner {
    margin: 0 0.4em 0 0.4em;
}

.index_status_available,
.index_status_0 {
    background-color: #EE7;
}

.index_status_editing,
.index_status_1 {
    background-color: #E77;
}

.index_status_reviewing,
.index_status_4,
.index_status_pending,
.index_status_2 {
    background-color: #EA7;
}

div.ongoing_status {
    padding: 0.4em 0.4em 0.4em 0.4em;
    background-color: #AEA;
}

div.ongoing_status form {
}

.control_panel {
    clear: both;
}

.publisher_list_control_panel {
    clear: both;
}

.publisher_list_control_panel form {
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    float: left;
    display: inline;
}

.message {
    font-weight: bold;
}

.error_message {
    color: red;
    font-weight: bold;
    margin: 1em 0;
    float: left;
    clear: both;
}

.footer_disclaimer {
    font-size: 0.8em;
    color: #666;
    margin-bottom: 0.5em; /* space to google ad */
}

a.new_window {
    padding-right: 13px; 
    background: transparent no-repeat right center url(external.png); 
}

#donate_table {
    width: 100%;
    border: solid 1px;
    border-spacing: 0;
}

#donate_table td {
    text-align: center;
    width: 33%;
    padding: 0.4em;
}

#donate_table th {
    font-weight: bold;
    padding: 0.4em;
    background-color: #444;
    color: white;
}

.change_history {
    margin-bottom: 1em;
    padding: .4em;
    background-color: #444;
    text-align: center
}
.change_history a {
    color: white;
    font-size: 1.3em;
    font-weight: bold;
}
