<!DOCTYPE html>
{% load static %}
{% load bootstrap3 %}
{% load compress %}
<html>
<head>
  <title> {{ site_name }} </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% compress css %}
    <link rel="stylesheet" type="text/css"
          href="{% static "css/mycomics/main.css" %}"/>
    {% block other-stylesheets %}{% endblock %}
  {% endcompress %}
  <script src="{% bootstrap_jquery_url %}"></script>
  {% bootstrap_css %}
  {% bootstrap_javascript jquery=1 %}
  <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/js/bootstrap-dialog.min.js"></script>
{% block head_extras %}{% endblock %}
{% if USE_TEMPLATESADMIN and ADVERTISING %}
  {% include "managed_content/gcd/ads/common.html" %}
{% endif %}
</head>
<body>

{% block modals %}{% endblock %}
{% block header %}{% endblock %}
<div class="container">
{% block content %}{% endblock %}
</div>

</body>
</html>
