{% extends "mycomics/user_base.html" %}
{% load i18n %}

{% block content %}
  <div class="page-header middle-header">
    <h1>{% trans "Collections list" %}
      <a href="{% url add_collection %}"><button type="button" class="btn btn-primary pull-right"
              style="margin-right: 10px;">{% trans "Add new" %}
      </button></a>
    </h1>
  </div>

  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-6">
          {% with request.user.collector.default_have_collection as collection %}
            {% include "mycomics/bits/single_collection.html" %}
          {% endwith %}
        </div>
        <div class="col-md-6">
          {% with request.user.collector.default_want_collection as collection %}
            {% include "mycomics/bits/single_collection.html" %}
          {% endwith %}
        </div>
      </div>
      <div class="row">
        {% for collection in collection_list %}
          <div class="col-md-4">
          {% include "mycomics/bits/single_collection.html" %}
          </div>
          {% if forloop.counter|divisibleby:"3" and not forloop.last %}
            </div>
            <div class="row">
          {% endif %}
        {% endfor %}
        </div>
    </div>
    <div class="col-md-3">
      <div class="pull-right">
        <!-- Here should go adserver script -->
      </div>
    </div>
  </div>

{% endblock %}