{% extends "mycomics/user_base.html" %}
{% load i18n %}
{% load collecting %}
{% load bootstrap3 %}
{% load credits %}

{% block modals %}
  {{ block.super }}
  {% if request.user.collector == collection.collector %}
  <div id="edit-item" class="modal fade" tabindex="-1" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="{% url "save_item" item.id collection.id %}" method="POST">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span></button>
            <h4 class="modal-title">{% trans "Editing item in collection" %}</h4>
          </div>
          <div class="modal-body">
              {% csrf_token %}
              {% bootstrap_form item_form %}
              {% if acquisition_date_form %}
                {% bootstrap_form acquisition_date_form %}
              {% endif %}
              {% if sell_date_form %}
                {% bootstrap_form sell_date_form %}
              {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
            <input type="submit" class="btn btn-primary" name="submit" value="{% trans "Submit" %}">
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <form action="url_placeholder" method="POST" id="remove_item_form_id">
    {% csrf_token %}
  </form>
  <script>
    function remove_issue(delete_url) {
        var item = document.getElementById('remove-item');
        var issue_name = item.dataset.issue;
        var collection_name = item.dataset.collection;
        BootstrapDialog.confirm({
            title: '<h4 class="modal-title">{% trans "Remove issue from collection " %}'+collection_name+'</h4>',
            message: '{% trans "Do you want to remove the issue <b>" %}'+issue_name+'</b> ?',
            closable: true,
            btnCancelLabel: '{% trans "Cancel" %}',
            btnOKLabel: '{% trans "Confirm" %}',
            btnOKClass: 'btn-primary',
            callback: function(result) {
                if(result) {
                    $("#remove_item_form_id").attr("action", delete_url);
                    $("#remove_item_form_id").submit();
                };
            }
            });
        }
  </script>
    {% if collection_form %}
  <div id="move-collection-item" class="modal fade" tabindex="-1" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <form action="{% url "move_item" item.id collection.id %}" method="POST">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{% trans "Close" %}</span></button>
            <h4 class="modal-title">{{ blocktrans }} Move {{ item.issue }} To Another Collection {{ endblocktrans }}</h4>
          </div>
          <div class="modal-body">
          {% bootstrap_form collection_form %}
          {% csrf_token %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
            <input type="submit" class="btn btn-primary" name="copy" value="{% trans "Copy" %}">
            <input type="submit" class="btn btn-primary" name="move" value="{% trans "Move" %}">
          </div>
        </form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
    {% endif %}
  {% endif %}
{% endblock %}

{% block content %}
  {% bootstrap_messages %}
  <div class="page-header middle-header">
    <h1>
    <a href="{{ item.issue.get_absolute_url }}">{{ item.issue.full_name }}</a>
    {% if item_after %}
    <a href="{% url 'view_item' item_id=item_after.id collection_id=collection.id %}"><button type="button" class="btn btn-default pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-chevron-right"></span></button></a>
    {% endif %}
    {% if item_before %}
    <a href="{% url 'view_item' item_id=item_before.id collection_id=collection.id %}"><button type="button" class="btn btn-default pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-chevron-left"></span></button></a>
    {% endif %}
    </h1>
    <h4>In: <a href="{% url "view_collection" collection.id %}?page={{ page }}">{{ collection.name }}</a>
    {% if request.user.collector == collection.collector %}
      {% if other_collections %}
        {% trans "Also in:" %}
        {% for other_collection in other_collections %}
          {% if not forloop.first %}/{% endif %}
          <a href="{% url "view_item" item_id=item.id collection_id=other_collection.id %}">{{ other_collection.name }}</a>
        {% endfor %}
      {% endif %}
      <button type="button" class="btn btn-primary pull-right"
              data-toggle="modal" href="#edit-item">{% trans "Edit" %}
      </button>
      <button type="button" class="btn btn-primary pull-right" onclick="remove_issue('{% url "delete_item" item.id collection.id %}');"
              id="remove-item" data-toggle="modal" data-issue="{{ item.issue.full_name }}" data-collection="{{ collection.name }}">{% trans "Delete from collection" %}
      </button>
      <button type="button" class="btn btn-primary pull-right"
              data-toggle="modal" href="#move-collection-item">{% trans "To other collection" %}
      </button>
    {% else %} / {{ collection.collector.user.indexer }}
    {% endif %}
    </h4>
  </div>

  <div class="row">
    <div class="col-md-4">
      <a href="{{ item.issue.get_absolute_url }}">
        <div class="thumbnail">
          {{ item.issue|show_cover_tag_medium }}
        </div>
      </a>
    </div>
    <div class="col-md-8">
      {% if collection.own_used and request.user.collector == collection.collector %}
        {{ item.own|yesno:"I own this comic.<br>,I want this comic.<br>,"|safe }}
      {% endif %}
      {% if item.notes %}{{ item.notes }}<hr>{% endif %}
      {% if item.keywords.count %}{% trans "Tags: " %}{{ item|show_keywords_comma }}<hr>{% endif %}
      {% if collection.location_used %}
        {% trans "Location: " %}{{ item.location|default:'-' }}<br>
      {% endif %}
      {% if collection.purchase_location_used %}
        {% trans "Purchase location: " %}{{ item.purchase_location|default:'-' }}<br>
      {% endif %}
      {% if collection.condition_used %}
        {% trans "Grade: " %}{{ item.grade|default:'-' }}<br>
      {% endif %}
      {% if collection.was_read_used %}
        {% trans "Was read: " %}{{ item.was_read|yesno }}<br>
      {% endif %}
      {% if collection.for_sale_used %}
        {% trans "For sale: " %}{{ item.for_sale|yesno }}<br>
      {% endif %}
      {% if collection.signed_used %}
        {% trans "Signed: " %}{{ item.signed|yesno }}<br>
      {% endif %}
      {% if collection.price_paid_used %}
        {% trans "Price paid: " %}{% if item.price_paid != None %}{{ item.price_paid }} {{ item.price_paid_currency.code }}{% else %}-{% endif %}<br>
      {% endif %}
      {% if collection.market_value_used %}
        {% trans "Market value: " %}{% if item.market_value != None %}{{ item.market_value }} {{ item.market_value_currency.code }}{% else %}-{% endif %}<br>
      {% endif %}
      {% if collection.sell_price_used %}
        {% trans "Sell price: " %}{% if item.sell_price != None %}{{ item.sell_price }} {{ item.sell_price_currency.code }}{% else %}-{% endif %}<br>
      {% endif %}
      {% if collection.acquisition_date_used %}
        {% trans "Acquisition date: " %}{{ item.acquisition_date|default:'-'|force_escape|default:'-' }}<br>
      {% endif %}
      {% if collection.sell_date_used %}
        {% trans "Sell date: " %}{{ item.sell_date|default:'-'|force_escape|default:'-' }}<br>
      {% endif %}
    </div>
  </div>


{% endblock %}
