{% extends "mycomics/user_base.html" %}
{% load i18n %}
{% load collecting %}
{% load bootstrap3 %}

{% block modals %}
  {{ block.super }}
  {% if request.user.collector == collection.collector %}
  <script>
    function unsubscribe_series(subscription_id, series_name, collection) {
        BootstrapDialog.confirm({
            title: '<h4 class="modal-title">{% trans "Unsubscribe series in collection " %}'+collection+'</h4>',
            message: '{% trans "Do you want to unsubscribe from the series <b>" %}'+series_name+'</b> ?',
            closable: true,
            btnCancelLabel: '{% trans "Cancel" %}',
            btnOKLabel: '{% trans "Confirm" %}',
            btnOKClass: 'btn-primary',
            callback: function(result) {
                if(result) {
                    window.location.href='{% url "unsubscribe" %}'+subscription_id;
                };
            }
            });
        }
  </script>
  <script>
    function unsubscribe_series2(subscription_id, series_name, collection) {
        BootstrapDialog.show({
            title: '<h4 class="modal-title">{% trans "Unsubscribe series in collection " %}'+collection+'</h4>',
            message: '{% trans "Do you want to unsubscribe from the series <b>" %}'+series_name+'</b> ?',
            buttons: [{
                label: '{% trans "Cancel" %}',
                cssClass: 'btn btn-default',
                action: function(dialogItself){
                    dialogItself.close();
                }
            }, {
                label: '{% trans "Confirm" %}',
                cssClass: 'btn btn-primary',
                action: function() {
                    window.location.href='{% url "unsubscribe" %}'+subscription_id;
                }
            }]
        });
        }
  </script>
  {% endif %}
{% endblock %}

  
{% block content %}
  {% bootstrap_messages %}
  <div class="page-header middle-header">
    <h1>{% trans "Subscriptions" %}: {{ collection.name }}
    {% if request.user.collector == collection.collector %}
      <div class="btn-group pull-right">
        <a href="{% url "subscribed_into_collection" collection.id %}">
          <button type="button" class="btn btn-primary">{% trans "Pull" %}
        </button></a>
      </div>
    {% endif %}
    </h1>
  </div>

  <div class="row">
    <div class="col-md-2 hidden-xs">
      <h3>{% trans "Collections" %}:</h3>
      <div class="list-group">
        {% for col_item in collection_list %}
          <a href="{% url "view_collection" col_item.id %}" class="list-group-item{% if col_item.id == collection.id %} active{% endif %}">
          {% if col_item.public %}
            <span title="public collection" class="glyphicon glyphicon-eye-open">&thinsp;</span>
          {% else %}
            <span title="non-public collection" class="glyphicon glyphicon-eye-close"></span>
          {% endif %}
            {{ col_item }}</a>
        {% endfor %}
      </div>
      <div>
        {% if USE_TEMPLATESADMIN %}
          {% include "managed_content/gcd/ads/ad_skyscraper.html" %}
        {% endif %}
      </div>
    </div>
    <div class="col-md-10">
      <div class="row">
        {% for subscription in subscriptions %}
          <div class="col-md-2">
            <div class="btn-group pull-right">
              <button type="button" class="my-btn btn-primary btn-sm"
                      style="display: inline-block;" data-toggle="modal"
                      onclick="unsubscribe_series({{ subscription.id }}, '{{ subscription.series.full_name }}', '{{ collection.name }}');">
                  <span class="glyphicon glyphicon-remove"></span>
              </button>
            </div>
            <div class="thumbnail">
              <a href="{{ subscription.series.get_absolute_url }}">
              {{ subscription.series.first_issue|show_cover_tag }}
              <div class="caption">{{ subscription.series.full_name_with_link }}<br>Issue added {{ subscription.last_pulled|date:"Y-m-d" }}</div>
              <div class="clearfix"></div>
            </div>
          </div>
          {% if forloop.counter|divisibleby:"5" and not forloop.last %}
            </div>
            <div class="row">
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
