{% extends "mycomics/user_base.html" %}
{% load i18n %}
{% load collecting %}
{% load bootstrap3 %}

{% block modals %}
  {{ block.super }}
  {% if request.user.collector == collection.collector %}
  <form action="url_placeholder" method="POST" id="remove_item_form_id">
    {% csrf_token %}
  </form>
  <script>
    function remove_issue(item_id, collection_id, issue_name, collection_name) {
        var delete_url = '{% url "delete_item" '12345' '45678' %}';
        var delete_url = delete_url.replace('12345', item_id);
        var delete_url = delete_url.replace('45678', collection_id);
        var item = document.getElementById('remove-item-'+item_id);
        var issue_name = item.dataset.issue;
        var collection_name = item.dataset.collection;
        BootstrapDialog.confirm({
            title: '<h4 class="modal-title">{% trans "Remove issue from collection " %}'+collection_name+'</h4>',
            message: '{% trans "Do you want to remove the issue <b>" %}'+issue_name+'</b> ?',
            closable: true,
            btnCancelLabel: '{% trans "Cancel" %}',
            btnOKLabel: '{% trans "Confirm" %}',
            btnOKClass: 'btn-primary',
            callback: function(result) {
                if(result) {
                    $("#remove_item_form_id").attr("action", delete_url);
                    $("#remove_item_form_id").submit();
                };
            }
            });
        }
  </script>
  {% endif %}
{% endblock %}

{% block content %}
  {% bootstrap_messages %}
  <div class="page-header middle-header">
    <h1>{% trans "Collection details" %}: {{ collection.name }}
    {% if request.user.collector == collection.collector %}
      <div class="btn-group pull-right">
        <a href="{% url "view_collection_series" collection.id %}">
          <button type="button" class="btn btn-primary">{% trans "Series" %}
        </button></a>
        <a href="{% url "export_collection" collection.id %}">
          <button type="button" class="btn" style="display: inline-block;">
          <span class="glyphicon glyphicon-download"></span>
        </button></a>
        <a href="{% url "subscriptions_collection" collection.id %}">
          <button type="button" class="btn btn-primary">{% trans "Subscriptions" %}
        </button></a>
        <a href="{% url "edit_collection" collection.id %}">
          <button type="button" class="btn btn-primary">{% trans "Edit" %}
        </button></a>
      </div>
    {% else %} / {{ collection.collector.user.indexer }}
    {% endif %}
    </h1>
  </div>

  <div class="row">
    <div class="col-md-2 hidden-xs">
      <h3>{% trans "Collections" %}:</h3>
      <div class="list-group">
        {% for col_item in collection_list %}
          <a href="{% url "view_collection" col_item.id %}" class="list-group-item{% if col_item.id == collection.id %} active{% endif %}">
          {% if col_item.public %}
            <span title="public collection" class="glyphicon glyphicon-eye-open">&thinsp;</span>
          {% else %}
            <span title="non-public collection" class="glyphicon glyphicon-eye-close"></span>
          {% endif %}
            {{ col_item }}</a>
        {% endfor %}
      </div>
      <div>
        {% if USE_TEMPLATESADMIN %}
          {% include "managed_content/gcd/ads/ad_skyscraper.html" %}
        {% endif %}
      </div>
    </div>
    <div class="col-md-10">
      {% include "mycomics/bits/collection_pagination.html" %}
      <div class="row">
        {% for item in items %}
          <div class="col-md-2">
            <div class="btn-group pull-right">
              <button type="button" class="my-btn btn-primary btn-sm"
                      style="display: inline-block;" data-toggle="modal" onclick="remove_issue({{ item.id }}, {{ collection.id }});"
                      id="remove-item-{{ item.id }}" data-issue="{{ item.issue.full_name }}" data-collection="{{ collection.name }}">
                  <span class="glyphicon glyphicon-remove"></span>
              </button>
            </div>
          <a href="{% url "view_item" item.id collection.id %}">
            <div class="thumbnail">
              {{ item.issue|show_cover_tag }}
              <div class="caption">{{ item.issue.full_name }}</div>
            </div>
          </a>
          </div>
          {% if forloop.counter|divisibleby:"5" and not forloop.last %}
            </div>
            <div class="row">
          {% endif %}
        {% endfor %}
      </div>
      {% include "mycomics/bits/indexing_links.html" %}
      {% include "mycomics/bits/collection_pagination.html" %}
    </div>
  </div>

{% endblock %}
