{% extends "mycomics/user_base.html" %}
{% load url from future %}
{% load i18n %}
{% load collecting %}
{% load bootstrap3 %}

{% block content %}
  {% bootstrap_messages %}
  <div class="page-header middle-header">
    <h1>{% trans "Collection details" %}: {{ collection.name }}
      <a href="{% url "edit_collection" collection.id %}">
        <button type="button" class="btn btn-primary pull-right">{% trans "Edit" %}
      </button></a>
    </h1>
  </div>

  <div class="row">
    <div class="col-md-2 hidden-xs">
      <h3>{% trans "Collections" %}:</h3>
      <div class="list-group">
        {% for col_item in collection_list %}
          <a href="{% url "view_collection" col_item.id %}" class="list-group-item{% if col_item.id == collection.id %} active{% endif %}">
            {{ col_item.name }}</a>
        {% endfor %}
      </div>
      <div>
        <!-- Here should go adserver script -->
      </div>
    </div>
    <div class="col-md-10">
      {% include "mycomics/bits/collection_pagination.html" %}
      <div class="row">
        {% for item in items %}
          <div class="col-md-2">
          <a href="{% url "view_item" item.id collection.id %}">
            <div class="thumbnail">
              {{ item.issue|show_cover_tag }}
              <div class="caption">{{ item.issue.full_name }}</div>
            </div>
          </a>
          </div>
          {% if forloop.counter|divisibleby:"5" and not forloop.last %}
            </div>
            <div class="row">
          {% endif %}
        {% endfor %}
      </div>
      {% include "mycomics/bits/collection_pagination.html" %}
    </div>
  </div>

{% endblock %}