{% extends "mycomics/user_base.html" %}
{% load i18n %}
{% load collecting %}
{% load bootstrap3 %}

{% block content %}
  {% bootstrap_messages %}
  <div class="page-header middle-header">
    <h1>{% trans "Collection details" %}: {{ collection.name }}
    {% if request.user.collector == collection.collector %}
      <div class="btn-group pull-right">
        <a href="{% url "view_collection" collection.id %}">
          <button type="button" class="btn btn-primary">{% trans "Issues" %}
        </button></a>
        <a href="{% url "export_collection" collection.id %}">
          <button type="button" class="btn" style="display: inline-block;">
          <span class="glyphicon glyphicon-download"></span>
        </button></a>
        <a href="{% url "subscriptions_collection" collection.id %}">
          <button type="button" class="btn btn-primary">{% trans "Subscriptions" %}
        </button></a>
        <a href="{% url "edit_collection" collection.id %}">
          <button type="button" class="btn btn-primary">{% trans "Edit" %}
        </button></a>
      </div>
    {% else %} / {{ collection.collector.user.indexer }}
    {% endif %}
    </h1>
  </div>

  <div class="row">
    <div class="col-md-2 hidden-xs">
      <h3>{% trans "Collections" %}:</h3>
      <div class="list-group">
        {% for col_item in collection_list %}
          <a href="{% url "view_collection" col_item.id %}" class="list-group-item{% if col_item.id == collection.id %} active{% endif %}">
          {% if col_item.public %}
            <span title="public collection" class="glyphicon glyphicon-eye-open">&thinsp;</span>
          {% else %}
            <span title="non-public collection" class="glyphicon glyphicon-eye-close"></span>
          {% endif %}
            {{ col_item }}</a>
        {% endfor %}
      </div>
      <div>
        {% if USE_TEMPLATESADMIN %}
          {% include "managed_content/gcd/ads/ad_skyscraper.html" %}
        {% endif %}
      </div>
    </div>
    <div class="col-md-10">
      {% include "mycomics/bits/collection_pagination.html" %}
      <div class="row">
        {% for series in items %}
          <div class="col-md-2">
          <a href="{% url "show_series" series.id  %}">
            <div class="thumbnail">
              {{ series.first_issue|show_cover_tag }}
              <div class="caption">{{ series.full_name }} ({{ series|issue_in_collection:collection }})</div>
            </div>
          </a>
          </div>
          {% if forloop.counter|divisibleby:"5" and not forloop.last %}
            </div>
            <div class="row">
          {% endif %}
        {% endfor %}
      </div>
      {% include "mycomics/bits/indexing_links.html" %}
      {% include "mycomics/bits/collection_pagination.html" %}
    </div>
  </div>

{% endblock %}
