<!DOCTYPE html>
{% load i18n %}
<html>
<head>
  <title>My comics.org</title>
</head>
<body>

<h1>MYCOMICS.ORG</h1>
{% if form.errors %}
  <p class="error_message_text">
    Your username and password didn't match. Please try again.
  </p>
{% endif %}
<form method="post" action="{% url login %}">
  {% csrf_token %}
  {% trans 'email' %}
  <input type="text" name="username" id="username"/><br>
  {% trans 'password' %}
  <input type="password" name="password" id="password"/>
  <input type="submit" value="{% trans 'Login' %}" />
  <input type="hidden" name="next" value="{{ request.get_full_path }}" />
</form>

</body>
</html>