{% extends "mycomics/base.html" %}
{% load url from future %}
{% load i18n %}


{% block other-stylesheets %}
  <link rel="stylesheet" type="text/css"
        href="{{ MEDIA_URL }}css/mycomics/front_page.css"/>
{% endblock %}

{% block header %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand gcd-logo" href="#"></a>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
  {% if form.errors %}
    <div class="alert alert-danger">
      {% trans "Your username and password didn't match. Please try again." %}
    </div>
  {% endif %}
  <form method="post" action="{% url "my_login" %}" class="form-signin" role="form">
    {% csrf_token %}
    <h2 class="form-signin-heading">{% trans 'Please sign in' %}</h2>
    <input name="username" type="text" class="form-control" placeholder="{% trans 'email' %}" required autofocus>
    <input name="password" type="password" class="form-control" placeholder="{% trans 'password' %}" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Login' %}</button>
    {% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% else %}
    <input type="hidden" name="next" value="{{ request.get_full_path }}" />
    {% endif %}
  </form>
{% endblock %}
