{% extends "mycomics/user_base.html" %}
{% load i18n %}
{% load collecting %}
{% load bootstrap3 %}

{% block modals %}
  {{ block.super }}
  {% if request.user.collector == reading_order.collector %}
  <form action="url_placeholder" method="POST" id="remove_item_form_id">
    {% csrf_token %}
  </form>
  <script>
    function remove_issue(item_id, reading_order_id, issue_name, reading_order_name) {
        var delete_url = '{% url "delete_reading_order_item" '12345' '45678' %}';
        var delete_url = delete_url.replace('12345', item_id);
        var delete_url = delete_url.replace('45678', reading_order_id);
        var item = document.getElementById('remove-item-'+item_id);
        var issue_name = item.dataset.issue;
        var reading_order_name = item.dataset.reading_order;
        BootstrapDialog.confirm({
            title: '<h4 class="modal-title">{% trans "Remove issue from reading order " %}'+reading_order_name+'</h4>',
            message: '{% trans "Do you want to remove the issue <b>" %}'+issue_name+'</b> ?',
            closable: true,
            btnCancelLabel: '{% trans "Cancel" %}',
            btnOKLabel: '{% trans "Confirm" %}',
            btnOKClass: 'btn-primary',
            callback: function(result) {
                if(result) {
                    $("#remove_item_form_id").attr("action", delete_url);
                    $("#remove_item_form_id").submit();
                };
            }
            });
        }
  </script>
  {% endif %}
{% endblock %}

{% block content %}
  {% bootstrap_messages %}
  <div class="page-header middle-header">
    <h1>{% trans "Reading Order" %}: {{ reading_order.name }}
    {% if request.user.collector == reading_order.collector %}
      <div class="btn-group pull-right">
        <a href="{% url 'edit_reading_order' reading_order.id %}">
          <button type="button" class="btn btn-primary">{% trans "Edit" %}
        </button></a>
      </div>
    {% else %} / {{ reading_order.collector.user.indexer }}
    {% endif %}
    </h1>
  </div>

  <div class="row">
    <div class="col-md-10">
      {% include "mycomics/bits/collection_pagination.html" %}
      <div class="row">
        {% for item in items %}
          <div class="col-md-2">
            <div class="btn-group pull-right">
              <button type="button" class="my-btn btn-primary btn-sm"
                      style="display: inline-block;" data-toggle="modal" onclick="remove_issue({{ item.id }}, {{ reading_order.id }});"
                      id="remove-item-{{ item.id }}" data-issue="{{ item.issue.full_name }}" data-reading_order="{{ reading_order.name }}">
                  <span class="glyphicon glyphicon-remove"></span>
              </button>
            </div>
          <a href="{% url 'view_reading_order_item' item.id reading_order.id %}">
            <div class="thumbnail">
              {{ item.issue|show_cover_tag }}
              <div class="caption">{{ item.issue.full_name }}</div>
            </div>
          </a>
          </div>
          {% if forloop.counter|divisibleby:"5" and not forloop.last %}
            </div>
            <div class="row">
          {% endif %}
        {% endfor %}
      </div>
      {% include "mycomics/bits/collection_pagination.html" %}
    </div>
  </div>

{% endblock %}
