{% extends "mycomics/base.html" %}
{% load i18n %}

{% block modals %}
  {% include "mycomics/bits/help.html" %}
  <script>
    function news() {
        BootstrapDialog.alert({
            title: '<h4>{% trans "News for " %} my.comics.org</h4>',
            message: '<p>There were some changes to my.comics.org in 2025.</p><ul><li>One now cannot edit the collection info of several issues at once. The issues of a selection can be chosen via the filter on the left of each collection.</li><li>We also added reading lists.</li></ul>',
            closable: true, // <-- Default value is false
        });
    }
  </script>
{% endblock %}

{% block header %}
<nav class="navbar navbar-mycomics" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand gcd-logo" href="/"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" id="navbar-main">
        <li><a href="{% url 'collections_list' %}">{% trans 'Collections' %}</a></li>
        <li><a href="{% url 'reading_orders_list' %}">{% trans 'Reading Lists' %}</a></li>
        <li><a href="#help-item" data-toggle="modal">{% trans 'Help' %}</a></li>
        <li><a href="#" data-toggle="modal" onclick="news();">{% trans 'News' %}</a></li>
      </ul>
      {% spaceless %}
      <form class="navbar-form navbar-left" role="search" action="{% url "mycomics_search" %}" method="get">
        <div class="form-group">
          <input type="search" class="form-control" placeholder="Search..." name="q">
        </div>
        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
      </form>
      {% endspaceless %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'mycomics_settings' %}"><span class="glyphicon glyphicon-user"></span> {{ request.user.get_full_name }}</a>
        </li>
        <li>
          {% if request.user.is_authenticated %}
          <form action="{% url 'logout' %}" method="POST">
         {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.get_full_path }}">
            <button type="submit" class="btn btn-default navbar-btn" style="display: inline;">{% trans 'Log Out' %}
            </button>
           </form>
          {% else %}
          <form action="{% url 'home' %}" method="POST">
         {% csrf_token %}
            <button type="submit" class="btn btn-default navbar-btn" style="display: inline;">{% trans 'Log In' %}
            </button>
           </form>
          {% endif %}
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>
{% endblock %}
