{% extends "oi/base_view.html" %}
{% load url from future %}
{% load staticfiles %}

{% block title %}
Adding Creator
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{% static "css/gcd/default.css" %}"/>
<link rel="stylesheet" type="text/css"
      href="{% static "css/oi/default.css" %}"/>
<link rel="stylesheet" type="text/css"
      href="{% static "css/oi/default/edit.css" %}"/>
{% endblock %}

{% block view_body %}
    {% include "oi/bits/multi_selector.html" %}
    <div class="edit">
        <form action='' method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!--Creator's basic table-->
            <h1>
                {% ifequal mode "new" %}Adding Creator{% endifequal %}
                {% ifequal mode "edit" %}Editing Creator{% endifequal %}
            </h1>
    {% include 'oi/bits/creator_before_form.html' %}
            <table class="editing" style="padding-top: 10px;">

                {{creator_form.as_table}}

            </table>
            
            {% include 'oi/bits/creator_after_form.html' %}

            <input type="submit" value="Submit Creator" name="submit">
            <a href="{% url 'add' %}"><input type="button" name="cancel" value="Cancel"></a>
        </form>
    </div>

{% include 'oi/bits/jquery.html' %}
{% include 'oi/bits/creatorrevision_form_utils.html' %}
    
{% endblock %}
