{% extends "oi/base_view.html" %}
{% load url from future %}

{% block title %}
Adding Creator
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/gcd/default.css"/>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/oi/default.css"/>
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/oi/default/edit.css"/>
{% endblock %}

{% block view_body %}
    {% include "oi/bits/multi_selector.html" %}
    <div class="edit">
        <form action='' method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!--Creator's basic table-->
            <h1>
                {% ifequal mode "new" %}Adding Creator{% endifequal %}
            </h1>
            <h1>
                {% ifequal mode "edit" %}Editing Creator{% endifequal %}
            </h1>
            <table class="editing" style="padding-top: 10px;">
                <input type="hidden" name="total_names" value="0" id="total_names">

                <div class="name-div">
                    <div class="name-details" style="padding-left: 33px; display: inline;">
                        <label>GCD Official Name:</label>
                        <input type="text" id="gcd_official_name" name="gcd_official_name" required> &nbsp;

                        <label>Type:</label>
                        <select name="gcd_official_type" id="gcd_official_type" style="width: 130px;">
                            {% for name_type in name_types %}
                                {% if name_type.type == gcd_official_name_field %}<option value={{ name_type.id }}>{{ name_type.type }}</option>{% endif %}
                            {% endfor %}
                        </select> &nbsp;

                        <label>Source:</label>
                        <select multiple style="vertical-align: middle;" name="gcd_official_sources" id="gcd_official_sources">
                            {% for name_source in name_sources %}
                                <option value='{{ name_source.id }}'>{{ name_source.type }}</option>
                            {% endfor %}
                        </select>&nbsp;
                        <input type="button" id="add_name_divison_id" class="add_name_class" value="Add New" name="add_name_divison">
                        <br><br>
                    </div>
                </div>

                {{creator_form.as_table}}

            </table>

            <input type="submit" value="Submit Creator" name="submit">
            <a href="{% url 'add' %}"><input type="button" name="cancel" value="Cancel"></a>
        </form>
    </div>

<script src="{{ MEDIA_URL }}jquery/js/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var name_type_dropdown = '';
        {% for name_type in name_types %}
            {% if not name_type.type == gcd_official_name_field %}
                name_type_dropdown = name_type_dropdown + '<option value="{{ name_type.id }}">{{ name_type.type }}</option>';
            {% endif %}
        {% endfor %}
        var name_sources_dropdown = '';
        {% for name_source in name_sources %}
            name_sources_dropdown = name_sources_dropdown + '<option value="{{ name_source.id }}">{{ name_source.type }}</option>';
        {% endfor %}

        $(document).on("click", ".add_name_class", function(){
            var total_names = parseInt($('#total_names').val());
            var next_index = total_names + 1;
            $('.name-div').append(
                    '<div class="name-details" style="padding-left: 110px;display: inline;">' +
                    ' <label>Name:</label>' +
                    '<input type="text" id="name'+ next_index +'" name="name'+ next_index +'" required> &nbsp;&nbsp; ' +
                    '<label>Type:</label>' +
                    '<select name="type'+ next_index +'" id="type'+ next_index +'">'
                    + name_type_dropdown +
                    '</select> &nbsp;&nbsp;&nbsp;' +
                    '<label>Sources:</label>' +
                    '<select multiple name="sources'+ next_index +'" id="sources'+ next_index +'" style="vertical-align: middle;">'
                    + name_sources_dropdown +
                    '</select> &nbsp;' +
                    '<input type="button" id="add_name_divison_id" class="add_name_class" value="Add New" name="add_new_name">&nbsp;'+
                    '<input type="button" id="remove_name_button" value="Remove" name="remove_this_name">`'+
                    '<br><br>'+
                    '</div>');

            $('#total_names').val(next_index);

        });
        $(document).on("click", '#remove_name_button', function(){
            $(this).closest('div').remove();
        });
    });
</script>
{% endblock %}
