{% extends "gcd/base_view.html" %}

{% load i18n %}
{% load credits %}

{% block title %} GCD :: Covers To Replace {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}/css/gcd/{{ style }}.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}/css/gcd/{{ style }}/covers.css"/>
{% endblock %}

{% block view_body %}

<h1 class="item_id" id="search_id">
<div class="left">
  {% trans "Covers marked for replacement" %}
  {% if starts_with %}
  for series starting with {{ starts_with }}
  {% endif %}
</div>
</h1>

<div class="item_id">
  <div class="left">
  Displaying {{ page.start_index }} to {{ page.end_index }} of {{ paginator.count }} covers needing replacement.
  </div>
  {% if page %}
  {% include "gcd/bits/pagination_bar.html" %}
  {% endif %}
</div>
<div class="item_id">
  <div class="left pagination">
  {% if starts_with %}
  <a href="../../">all marked covers</a>
  {% endif %}
  {% for letter in "ABCDEFGHIJKLMNOPQRSTUVXYZ"|make_list %}
  |
  {% ifequal letter starts_with %}
  {{ letter }}
  {% else %}
  {% if starts_with %}
  <a href="../{{ letter }}">{{ letter }}</a>
  {% else %}
  <a href="with/{{ letter }}">{{ letter }}</a>  
  {% endif %}
  {% endifequal %}
  {% endfor %}
  </div>
</div>

<table id="covers">
  <tr>
  {% for cover, issue, tag in tags %}
    <td class="cover_grid">
      <a href="{{ issue.cover.get_status_url }}">{{ tag|safe }}</a>
      <br/>
      <div class="cover_caption">
        <a href="{{ issue.get_absolute_url }}">{{ issue.series.name }} #{{ issue.number }}</a><br/>
        ({{ issue.series.publisher }}, {{ issue.series.year_began }})
      </div>
    </td>
    {% if forloop.counter|divisibleby:table_width %}
  </tr>
  <tr>
    {% endif %}
  {% endfor %}
  </tr>
</table>

{% endblock %}
