{% extends "gcd/base_view.html" %}

{% load staticfiles %}
{% load i18n %}
{% load credits %}

{% block title %} GCD :: Daily Covers {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{% static "css/gcd/default.css" %}"/>
{% endblock %}

{% block view_body %}

<h1 class="item_id search_id">
<div class="left">
  {% trans "Covers for "%}{{ date }}
</div>
{% url "covers_by_date" as choose_url%}
{% url "covers_by_date" show_date=date_before as choose_url_before %}
{% url "covers_by_date" show_date=date_after as choose_url_after %}
{% include "gcd/bits/choose_date.html" %}
</h1>

<div class="item_id">
  <div class="left">
  Showing covers {{ page.start_index }} to {{ page.end_index }} of {{ paginator.count }}{% trans " covers posted" %}
  </div>
  {% if page %}
  {% include "gcd/bits/pagination_bar.html" %}
  {% endif %}
</div>

<div class="left">
{% include "gcd/bits/generic_covers.html" %}
</div>
<div class="right">
  {% if ADVERTISING and not BETA and USE_TEMPLATESADMIN %}
    {% include "managed_content/gcd/ads/ad_med_rectangle.html" %}
  {% endif %}
</div>

<h1 class="item_id search_id">
<div class="left">
  {% trans "Covers for "%}{{ date }}
</div>
{% url "covers_by_date" as choose_url%}
{% url "covers_by_date" show_date=date_before as choose_url_before %}
{% url "covers_by_date" show_date=date_after as choose_url_after %}
{% include "gcd/bits/choose_date.html" %}
</h1>
<div id="item_id_footer" class="item_id">
  <div class="left">
  Showing covers {{ page.start_index }} to {{ page.end_index }} of {{ paginator.count }}{% trans " covers posted" %}
  </div>
  {% if page %}
  {% include "gcd/bits/pagination_bar.html" %}
  {% endif %}
</div>

{% endblock %}


