{% extends "gcd/base_view.html" %}

{% load i18n %}
{% load credits %}

{% block title %} GCD :: Daily Covers {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}/css/gcd/{{ style }}.css"/>
{% endblock %}

{% block view_body %}

<h1 class="item_id search_id">
<div class="left">
  {% trans "Covers for "%}{{ date }}
</div>
{% url apps.gcd.views.details.daily_covers as choose_url%}
{% url apps.gcd.views.details.daily_covers show_date=date_before as choose_url_before %}
{% url apps.gcd.views.details.daily_covers show_date=date_after as choose_url_after %}
{% include "gcd/bits/choose_date.html" %}
</h1>

<div class="item_id">
  <div class="left">
  Showing covers {{ page.start_index }} to {{ page.end_index }} of {{ paginator.count }}{% trans " covers posted" %}
  </div>
  {% if page %}
  {% include "gcd/bits/pagination_bar.html" %}
  {% endif %}
</div>

<table id="covers">
  <tr>
  {% for cover, issue, tag in tags %}
    <td class="cover_grid{% if cover.marked %} marked{% endif %}">
      <a href="{{ issue.get_absolute_url }}">{{ tag }}</a>
      <br/>
      <span class="cover_links">Zoom:
<a href="{{ issue.get_absolute_url }}cover/2/?style={{ style }}">Medium</a>
<a href="{{ issue.get_absolute_url }}cover/4/?style={{ style }}">Large</a></span> <br/>
      <div class="cover_caption">
        {{ issue.series.name }} #{{ issue.display_number }}<br/>
        ({{ issue.series.publisher }}, {{ issue.series.year_began }}) <br>
        {% if issue.publication_date %}
        <span class="cover_date">{{ issue.publication_date }}</span><br>
        {% endif %}
        <a href="{% url edit_covers issue_id=cover.issue.id %}">Add/replace cover</a>
      </div>
    </td>
    {% if forloop.counter|divisibleby:table_width %}
  </tr>
  <tr>
    {% endif %}
  {% endfor %}
  </tr>
</table>

<div id="item_id_footer" class="item_id">
  {% if page %}
  {% include "gcd/bits/pagination_bar.html" %}
  {% endif %}
</div>

{% endblock %}


