{% extends "gcd/base_view.html" %}

{% load staticfiles %}
{% load i18n %}
{% load credits %}

{% block title %} GCD :: Daily Covers {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{% static "css/gcd/default.css" %}"/>
{% endblock %}

{% block view_body %}

<h1 class="item_id search_id">
<div class="left">
  {% trans "Covers for "%}{{ date }}
</div>
{% include "gcd/bits/choose_date.html" %}
</h1>

<div class="item_id">
  <div class="flex_left">
  Showing covers {{ page.start_index }} to {{ page.end_index }} of {{ page.paginator.count }}{% trans " covers posted" %}
  </div>
  {% if page %}
  <div class="flex_right">
  {% include "gcd/bits/pagination_bar.html" %}
  </div>
  {% endif %}
</div>

{% if request.user.is_authenticated and request.user.indexer.imps > 0 %}
<div class="left">
Switch to <a href="{{ other_url }}">{% if 'my' in choose_url_before %} all uploaded covers{% else %}my uploaded covers{% endif %}</a>.&nbsp;
</div>
{% endif %}

{% include "gcd/bits/generic_covers.html" %}

<h1 class="item_id search_id">
<div class="left">
  {% trans "Covers for "%}{{ date }}
</div>
{% include "gcd/bits/choose_date.html" %}
</h1>
<div id="item_id_footer" class="item_id">
  <div class="flex_left">
  Showing covers {{ page.start_index }} to {{ page.end_index }} of {{ page.paginator.count }}{% trans " covers posted" %}
  </div>
  {% if page %}
  <div class="flex_right">
  {% include "gcd/bits/pagination_bar.html" %}
  </div>
  {% endif %}
</div>

{% endblock %}


