{% extends "gcd/tw_base_view.html" %}

{% load static %}
{% load humanize %}
{% load i18n %}
{% load statustags %}

{% block title %} GCD :: International Statistics {% endblock %}

{% block view_body %}
<div class="px-1 my-1">
Statistics by {{ type }}, ordered by number of 
  <form class="inline" method="get"
        action="{% if type == 'language' %}{% url 'international_stats_language' %}{% else %}{% url 'international_stats_country' %}{% endif %}">
    {{ form }}
    <button class="btn btn-blue ml-1 mb-2 h-8">
    <input type="submit" name="submit" value="Reorder">
    </button>
  </form>
</div>
<div class="flex flex-wrap">
  {% for object, stats_for_object in stats %}
  <div class="w-full sm:w-1/2 px-1">
    <div class="text-lg label-gcd-blue">
        Statistics for comics {% if type == 'country' %} published {% endif %} in
        <a class="text-white visited:text-white underline"
           href="{% url 'process_advanced_search' %}?target=series&method=icontains&logic=False&order1=series&order2=date&order3=&{{ type }}={{ object.code }}">
    {% if type == 'country' %} <img class="inline mb-1" src="{{ STATIC_URL }}img/gcd/flags/{{ object.code|lower }}.png" alt="{{ object }}">{% endif %}
      {{ object }} {% if object.native_name %} ({{ object.native_name }}) {% endif %}</a>
    </div>
    <div class="px-2">
    {% for stat in stats_for_object %}
      {{ stat.count|intcomma }} {% trans stat.name %}<br>
    {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
