{% extends "gcd/base.html" %}
{% load url from future %}
{% load staticfiles %}

{% block title %}
  GCD :: {{ heading }}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{% static "css/gcd/default.css" %}"/>
{% endblock %}

{% block body %}
  {% include "gcd/bits/search_bar.html" %}

<h1 class="item_id search_id">
<div class="left">
  {{ heading }}
</div>
{% url "apps.gcd.views.details.on_sale_weekly" as choose_url%}
{% url "apps.gcd.views.details.on_sale_weekly" previous_week.0 previous_week.1 as choose_url_before %}
{% url "apps.gcd.views.details.on_sale_weekly" next_week.0 next_week.1 as choose_url_after %}
{% include "gcd/bits/choose_week.html" %}
</h1>

<div class="item_id">
  <div class="left" class="item_data">
  Displaying {{ page.start_index }} to {{ page.end_index }} of {{ paginator.count }} Issue{{ paginator.count|pluralize }} on-sale the week {{ dates }}.
  </div>
  {% with query_string as extra_string %}
  {% include "gcd/bits/pagination_bar.html" %}
  {% endwith %}
</div>
<div id="search_reminder">
You can filter the list using the <a href="{% url "apps.gcd.views.search.advanced_search" %}?{{ query_string }}">advanced search</a>.
</div>

  {% include "gcd/bits/issue_list.html" %}

<h1 class="item_id search_id">
<div class="left">
  {{ heading }}
</div>
{% url "apps.gcd.views.details.on_sale_weekly" as choose_url%}
{% url "apps.gcd.views.details.on_sale_weekly" previous_week.0 previous_week.1 as choose_url_before %}
{% url "apps.gcd.views.details.on_sale_weekly" next_week.0 next_week.1 as choose_url_after %}
{% include "gcd/bits/choose_week.html" %}
</h1>

<div class="item_id">
  <div class="left" class="item_data">
  Displaying {{ page.start_index }} to {{ page.end_index }} of {{ paginator.count }} Issue{{ paginator.count|pluralize }} on-sale the week from {{ dates }}.
  </div>
  {% with query_string as extra_string %}
  {% include "gcd/bits/pagination_bar.html" %}
  {% endwith %}
</div>

{% endblock %}
