{% extends "gcd/base_view.html" %}
{% load static %}
{% load django_tables2 %}

{% block title %}
  GCD :: {{ heading }}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{% static "css/gcd/default.css" %}"/>
<link rel="stylesheet" type="text/css"
      href="{% static "css/gcd/default/listing.css" %}"/>
{% endblock %}
{% block css_raw %}
<script type="text/javascript" src="{% static "js/htmx.min.js" %}"></script>
{% endblock %}

{% block view_body %}
<h1 class="item_id search_id">
<div class="left">
  {{ heading }}
</div>
  {% if date %}
    {% include "gcd/bits/choose_date.html" %}
  {% else %}
    {% include "gcd/bits/choose_week.html" %}
  {% endif %}
</h1>

<div class="item_id">
  <div class="flex_left" class="item_data">
  Displaying {{ page.start_index }} to {{ page.end_index }} of {{ page.paginator.count }} issue{{ page.paginator.count|pluralize }} on-sale {% if date %} that month{% else %}the week {{ dates }}{%  endif %}.
  </div>
  <div class="flex_right">
  {% include "gcd/bits/pagination_bar.html" %}
  </div>
</div>
<div class="left" style="margin-top: 0.5em">
  {% if variant == True %}
  <a href="{{ path }}"><button>Show Without Variants</button></a>
  {% else %}
  <a href="{{ path }}"><button>Show With Variants</button></a>
  {% endif %}
</div>
{% if dates %}
<div class="right">
  {% if MYCOMICS %}
  <div class="www_comics_cross_link">
    <a href="http://www.comics.org{{ request.path }}">Weekly on-sale list at www.comics.org</a>
  </div>
  {% else %}
  <div class="my_comics_cross_link">
    <a href="http://my.comics.org{{ request.path }}">Weekly on-sale list at my.comics.org</a>
  </div>
  {% endif %}
</div>
{%  endif %}

{% if MYCOMICS %}
  {% include "gcd/bits/issue_list.html" %}
{% else %}
<div style="clear: both;"></div>
<p>
  {% if filter %}
<form method="get">
    {{ filter.form }}
 <input type="submit" value='filter results'/>
</form>
  {% endif %}
  {% render_table table %}
{% endif %}

<h1 class="item_id search_id">
<div class="left">
  {{ heading }}
</div>
  {% if date %}
    {% include "gcd/bits/choose_date.html" %}
  {% else %}
    {% include "gcd/bits/choose_week.html" %}
  {% endif %}
</h1>

<div class="item_id">
  <div class="left" class="item_data">
  Displaying {{ page.start_index }} to {{ page.end_index }} of {{ page.paginator.count }} issue{{ page.paginator.count|pluralize }} on-sale the week from {{ dates }}.
  </div>
  {% include "gcd/bits/pagination_bar.html" %}
</div>

{% endblock %}
