{% extends "gcd/base_view.html" %}

{% load i18n %}
{% load credits %}

{% block title %} GCD :: Scan Matrix :: {{ series.name }} {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}/css/gcd/{{ style }}.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}/css/gcd/{{ style }}/scans.css"/>
{% endblock %}

{% block view_body %}

{% include "gcd/bits/series_issue_header.html" %}

<div id="info_links">
  <a href="{{ series.get_absolute_url }}covers/?style={{ style}}">Cover Gallery</a>
  ({{ series.scan_count }} of {{ series.issue_count }} covers available)
  <br>
  <a href="{{ series.get_absolute_url }}status/?style={{ style }}">Index Status</a>
</div>

{% include "gcd/bits/scan_tables.html" %}

{% endblock %}
