{% extends "gcd/base_view.html" %}

{% load staticfiles %}
{% load i18n %}
{% load credits %}

{% block title %} GCD :: Scan Matrix :: {{ series.name }} {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{% static "css/gcd/default.css" %}"/>
<link rel="stylesheet" type="text/css"
      href="{% static "css/gcd/default/status.css" %}"/>
{% endblock %}

{% block view_body %}

{% include "gcd/bits/series_issue_header.html" %}

<div id="info_links">
  <a href="{{series.get_absolute_url}}covers">Cover Gallery</a> ({{ series.scan_count }} cover{{ series.scan_count|pluralize }} for {{ series.issue_count }} issue{{ series.issue_count|pluralize }} available)
  <br>
  <a href="{{ series.get_absolute_url }}status">Index Status</a>
</div>

{% if series.is_comics_publication %}
  {% include "gcd/bits/scan_tables.html" %}
{% else %}
<div class="error_message">
No cover status for non-comics publications.
</div>
{% endif %}

{% endblock %}
