{% extends "gcd/base_view.html" %}

{% load i18n %}
{% load credits %}

{% block title %} GCD :: Index Matrix :: {{ series.name }} {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/default.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/default/status.css"/>
{% endblock %}

{% block view_body %}

{% include "gcd/bits/series_issue_header.html" %}

<div id="info_links">
  <a href="{{ series.get_absolute_url }}scans">Cover Scan Status</a>
  <br>
  <a href="{{ series.get_absolute_url }}covers">Cover Gallery</a>
</div>

{% include "gcd/bits/status_tables.html" %}

{% endblock %}
