{% extends "oi/base_view.html" %}
{% load static %}

{% block title %}
GCD :: Add Data Objects
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{% static "css/gcd/default.css" %}"/>
<link rel="stylesheet" type="text/css"
      href="{% static "css/oi/default.css" %}"/>
{% endblock %}

{% block view_body %}

<p>
<a href="{% url "add_award" %}">
<button type="button">Add Award</button>
</a>
</p>
<p>
<a href="{% url "add_character" %}">
<button type="button">Add Character</button>
</a>
</p>
<p>
<a href="{% url "add_creator" %}">
<button type="button">Add Creator</button>
</a>
</p>
<p>
<a href="{% url "add_feature" %}">
<button type="button">Add Feature</button>
</a>
</p>
<p>
<a href="{% url "add_group" %}">
<button type="button">Add Group</button>
</a>
</p>
<p>
<a href="{% url "add_printer" %}">
<button type="button">Add Printer</button>
</a>
</p>
<p>
<a href="{% url "add_publisher" %}">
<button type="button">Add Publisher</button>
</a>
</p>
<p>
<a href="{% url "add_universe" %}">
<button type="button">Add Universe</button>
</a>
</p>
<p>
Issues are added from the corresponding series page, series from the publisher page
and brands and indicia publishers from the page of their parent publisher.
</p>

{% endblock %}

