{% extends "oi/base_view.html" %}
{% load static %}

{% block title %}
GCD :: Add Data Objects
{% endblock %}

{% block css_raw %}
<script type="text/javascript" src="{% static "js/htmx.min.js" %}"></script>
{% endblock %}

{% block view_body %}
<div>
<p></p>
<table class="add_page">
  <tr>
    <td>
      <btn class="btn-blue-editing"><a href="{% url 'add_award' %}">Add Award</a></btn>
    </td>
    <td>
      {% include "gcd/bits/_htmx_search.html" with target='award' %}
    </td>
  </tr>
  <tr>
    <td>
      <btn class="btn-blue-editing"><a href="{% url 'add_character' %}">Add Character</a></btn>
    </td>
    <td>
      {% include "gcd/bits/_htmx_search.html" with target='character' %}</td>
  </tr>
  <tr>
    <td>
      <btn class="btn-blue-editing"><a href="{% url 'add_creator' %}">Add Creator</a></btn>
    </td>
    <td>
      {% include "gcd/bits/_htmx_search.html" with target='creator' %}</td>
    </td>
  </tr>
  <tr>
    <td>
      <btn class="btn-blue-editing"><a href="{% url 'add_feature' %}">Add Feature</a></btn>
    </td>
    <td>
      {% include "gcd/bits/_htmx_search.html" with target='feature' %}</td>
    </td>
  </tr>
  <tr>
    <td>
      <btn class="btn-blue-editing"><a href="{% url 'add_group' %}">Add Group</a></btn>
    </td>
    <td>
      {% include "gcd/bits/_htmx_search.html" with target='group' %}</td>
    </td>
  </tr>
  <tr>
    <td>
      <btn class="btn-blue-editing"><a href="{% url 'add_printer' %}">Add Printer</a></btn>
    </td>
    <td>
      {% include "gcd/bits/_htmx_search.html" with target='printer' %}</td>
    </td>
  </tr>
  <tr>
    <td>
      <btn class="btn-blue-editing"><a href="{% url 'add_publisher' %}">Add Publisher</a></btn>
    </td>
    <td>
      {% include "gcd/bits/_htmx_search.html" with target='publisher' %}</td>
    </td>
  </tr>
  <tr>
    <td>
      <btn class="btn-blue-editing"><a href="{% url 'add_story_arc' %}">Add Story Arc</a></btn>
    </td>
    <td>
      {% include "gcd/bits/_htmx_search.html" with target='story_arc' %}</td>
    </td>
  </tr>
  <tr>
    <td>
      <btn class="btn-blue-editing"><a href="{% url 'add_universe' %}">Add Universe</a></btn>
    </td>
    <td>
      {% include "gcd/bits/_htmx_search.html" with target='universe' %}</td>
    </td>
  </tr>
</table>
</div>
<div>
      <table class="table">
            <tbody id="search-results">
            </tbody>
        </table>        
</div>

<p>
      Issues are added from the corresponding series page, series from the publisher page
      and brands and indicia publishers from the page of their parent publisher.
</p>
{% endblock %}

