{% extends "oi/base_view.html" %}

{% block title %}
GCD :: Add Publisher
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/default.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/oi/default.css"/>
{% endblock %}

{% block view_body %}

<form action="{% url add_publisher %}" method="GET">
<input type="submit" value="Add Publisher"></input>
</form>

<p>
Currently, you must add issues from their series page, series from the publisher page
and brands and indicia publishers from the page of their parent publisher.
This restriction will be lifted when the ability to change
a parent links (such as a series' publisher) is in the edit form.
</p>

{% endblock %}

