{% extends "oi/base_view.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Adding {{ object_name }}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{% static "css/gcd/default.css" %}"/>
<link rel="stylesheet" type="text/css"
      href="{% static "css/oi/default.css" %}"/>
<link rel="stylesheet" type="text/css"
      href="{% static "css/oi/default/edit.css" %}"/>
{% endblock %}
{% block css_raw %}
{% comment %} this css doesn't like compressing {% endcomment %}
{% if object_name in 'Issues' or 'Variant Issue' in object_name %}
<link rel="stylesheet" type="text/css"
      href="{% static "jquery/css/msdropdown/dd.css" %}"/>
{% endif %}
<script type="text/javascript" src="{% static "js/htmx.min.js" %}"></script>
{% endblock %}

{% block view_body %}
{% include "oi/bits/jquery.html" %}
{{ credits_formset.media }}
{{ form.media }}
{% include "oi/bits/multi_selector.html" %}
<h1>Adding {{ object_name }} {{ extra_adding_info }}</h1>

<div class="edit">
<form action="{{ object_url }}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <table class="editing">
  {% if object_name == 'Story' or object_name == 'Creator' or object_name == 'Issue' or object_name == 'Variant Issue' or object_name == 'Character' %}
    {% crispy form %}
  {% else %}
    {{ form.as_table }}
  {% endif %}
  </table>
  <input type="submit" name="add" value="{{ action_label}} {{ object_name }}">
{% if alternative_action %}
  <input type="submit" name="{{ alternative_action }}" value="{{ alternative_label }}">
{% endif %}
{% ifequal object_name "Story" %}
  <input type="submit" name="cancel_return" value="Cancel" formnovalidate>
{% else %}
  <input type="submit" name="cancel" value="Cancel" formnovalidate>
{% endifequal %}
</form>
</div>
{% endblock %}

{% block footer %}
  {% if object_name in 'Issues Story Creator' or 'Variant Issue' in object_name %}
    {% include 'oi/bits/revision_form_utils.html' %}
  {% endif %}
{% endblock %}

