{% extends "oi/base_view.html" %}
{% load static %}

{% load display %}

{% block title %}
GCD :: Add Bulk Issue Skeletons
{% endblock %}

{% block view_body %}
<h1>
{{ series|absolute_url }} ({{ series.publisher|absolute_url }})
</h1>

<div class="edit">
<p>
Choose how many issues you want to add and with what numbering pattern.
Irregularly numbered issues must be added one at a time.  Note that
you may only request that an issue be reserved to you automatically upon
approval when you add issues one at a time (and the parent series is not
already under an ongoing reservation).
</p>

{% if issue_adds %}
<p>
If you want to add issues that must sort after any of the issues shown
below in the list of current active issue adds for this series,
you must wait until those issues are approved.<br>
{% for add in issue_adds %}
<a href="{% url "compare" id=add.id %}">{{ add }}</a><br>
{% endfor %}
</p>
{% endif %}

<table class="border border-gray-400 [&_tr]:border [&_tr]:border-gray-400">
<tr>
  <td>
    <form method="GET" action="{% url "add_issue" series_id=series.id %}">
      <button><input class="px-3 btn-blue-editing" id="add" type="submit" value="Add single">
      </input></button>
    </form>
  </td>
  <td> Add a single issue </td>
  <td> 1 </td>
</tr>

<tr>
  <td>
    <form method="GET"
          action="{% url "add_multiple_issues" method='number' series_id=series.id %}">
      <button><input class="btn-blue-editing" id="add" type="submit" value="Add multiple">
      </input></button>
    </form>
  </td>
  <td> Add multiple issues with whole issue numbers </td>
  <td> 1, 2, 3, ... </td>
</tr>

{% if series.has_volume %}
<tr>
  <td>
    <form method="GET"
          action="{% url "add_multiple_issues" method='volume' series_id=series.id %}">
      <button><input class="btn-blue-editing" id="add" type="submit" value="Add multiple">
      </input></button>
    </form>
  </td>
  <td> Add multiple issues that renumber with each volume </td>
  <td> v1#1, v1#2, ..., v2#1, v2#2, ... </td>
</tr>
{% endif %}

<tr>
  <td>
    <form method="GET"
          action="{% url "add_multiple_issues" method='year' series_id=series.id %}">
      <button><input class="btn-blue-editing" id="add" type="submit" value="Add multiple">
      </input></button>
    </form>
  </td>
  <td> Add multiple issues that renumber with each year </td>
  <td> 1/2000, 2/2000, ..., 1/2001, 2/2001, ... </td>
</tr>

{% if series.has_volume %}
<tr>
  <td>
    <form method="GET"
          action="{% url "add_multiple_issues" method='year_volume' series_id=series.id %}">
      <button><input class="btn-blue-editing" id="add" type="submit" value="Add multiple">
      </input></button>
    </form>
  </td>
  <td> Add multiple issues that renumber with each year and volume </td>
  <td> 1/2000, 2/2000, ... are all part of volume 1;
       1/2001, 2/2001, ... are all part of volume 2; ... </td>
</tr>
{% endif %}
</table>
</div>

<div>
  <p>
Using the flat file import option below, you can add a number of issues at
once by uploading a properly formatted CSV file. One issue per line.
  </p>
  <p>
You can do standard issue adds, or add variants by giving the variant name and
variant cover status at the end of the issue line. That means, the csv-line needs
to have 21 fields (which can be empty), where the last two fields are the variant name and variant cover status.
The variant cover status must be either "artwork difference", "only scan difference", or
"no difference".
</p>
A variant add with status "artwork difference" can optionally
be followed by a cover sequence.
</div>
<table class="border border-gray-300 mt-2">
  <tr class="max-sm:flex max-sm:flex-col border border-gray-300">
    <form class="" method="POST" enctype="multipart/form-data"
                  action="{% url 'import_issues_to_series' series_id=series.id %}">
        {% csrf_token %}
      <td>
        Select file: <input type="file" name="file">
      </td>
      <td>
        <button><input class="btn-blue-editing inline" type="submit" name="csv" value="Import Issues (CSV)"></button>
      </td>
      <td>
        <button><input class="btn-blue-editing inline" type="submit" name="json" value="Import Issues (JSON)"></button>
      </td>
      <td>
        <button><input class="btn-blue-editing inline" type="submit" name="yaml" value="Import Issues (YAML)"></button>
      </td>
    </form>
  </tr>
  <tr>
    <td colspan="3">
      <a class="new_window" href="https://docs.comics.org/wiki/Indexing_Offline" target="_blank">Information</a> about the file format for imports.
    </td>
    <td>
    </td>
  </tr>
</table>
{% endblock %}

