{% extends "oi/base_view.html" %}

{% block title %}
Adding {{ object_name }}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/{{ style|default:'default' }}.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/oi/{{ style|default:'default' }}.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/oi/{{ style|default:'default' }}/edit.css"/>
{% endblock %}

{% block view_body %}
<h1>Adding {{ object_name }}</h1>

<div class="edit">
<form action="{{ object_url }}" method="POST">
  <table class="editing">
  {{ form.as_table }}
  </table>
  <input type="submit" name="add" value="{{ action_label}} {{ object_name }}"></input>
{% ifequal object_name "Story" %}
  <input type="submit" name="cancel_return" value="Cancel"></input>
{% else %}
  <input type="submit" name="cancel" value="Cancel"></input>
{% endifequal %}
</form>
</div>
{% endblock %}
