{% extends "oi/base_view.html" %}
{% load static %}

{% block title %}
Changing {{ object_name }}
{% endblock %}

{% block css_raw %}
{% comment %} this css doesn't like compressing {% endcomment %}
<link rel="stylesheet" type="text/css"
      href="{% static 'jquery/css/msdropdown/dd.css' %}"/>
{% endblock %}

{% block view_body %}
<h1>Changing Issues</h1>
{% include "gcd/bits/search_terms.html" %}
<div class="left">
{{ nr_items }} issues match the search criteria.
{% if nr_items != nr_items_unreserved %}
  <span class="instructions important">
    <br>Only {{ nr_items_unreserved }} of these issues are currently unreserved and will be part of this bulk change.
  </span>
{% endif %}
  <p>Note that only fields which are currently the same for all issues can be changed.</p>
</div>
<div class="left">
  <div class="edit">
    <form action="{{ object_url }}" method="POST">
      {% csrf_token %}
      <table class="editing">
{{ form.as_table }}
      </table>
      <button><input class="btn-blue-editing" type="submit" name="add" value="{{ action_label}} {{ object_name }}"></button>
{% if object_name == "Story" %}
<button><input class="btn-blue-editing" type="submit" name="cancel_return" value="Cancel"></button>
{% else %}
<button><input class="btn-blue-editing" type="submit" name="cancel" value="Cancel"></button>
{% endif %}
    </form>
  </div>
</div>
{% endblock %}

{% block footer %}
  {% include 'oi/bits/revision_form_utils.html' %}
{% endblock %}
