{% extends "oi/base_view.html" %}

{% load credits %}
{% load display %}

{% block title %}
{{ changeset }}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/default.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/oi/default.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/oi/default/edit.css"/>
{% endblock %}

{% block view_body %}
<h1>
{{ changeset|header_link }}
</h1>

<div class="edit">
<p>
{% ifequal changeset.state states.BASELINE %}
  This changeset is stored for future data migration, and is not intended
  to be user-visibile.  This is not the changeset you are looking for.
  Move along :-)
{% endifequal %}
{% ifequal changeset.state states.PENDING %}
  This change has been submitted for approval, but is not yet under review.
  {% ifequal changeset.indexer user %}
    {% if changeset.editable %}
  <form action="{% url process id=changeset.id %}" method="POST">
    <input type="submit" name="retract" value="Retract change and edit further" />
    <label for="comments">Comments</label>
    <input type="textarea" name="comments">
  </form>
    {% else %}
  This type of changeset may not be retracted for further edit.
    {% endif %}
  {% endifequal %}
{% endifequal %}
{% ifequal changeset.state states.REVIEWING %}
  This change has been submitted for approval, and is being reviewed by
  GCD editor {{ changeset.approver.indexer }}.
{% endifequal %}
{% ifequal changeset.state states.APPROVED %}
  This change has been approved.  If you would like to make further
  changes, please reserve the record again.
{% endifequal %}
{% ifequal changeset.state states.DISCARDED %}
  This change has been discarded.  This means that the changes have
  <strong>not</strong> been applied to the original record.
  If you would like to make changes, please reserve the record again.
{% endifequal %}
</p>

{% ifequal changeset.state states.OPEN %}
  {% ifequal changeset.indexer user %}
    {% if changeset.inline %}
      {% include "oi/edit/include_frame.html" %}
    {% else %}
      {% if changeset.publisherrevisions.count %}
<p class="error">Publishers not supported in group changesets.</p>
      {% endif %}
      {% if changeset.indiciapublisherrevisions.count %}
<p class="error">Indicia publishers not supported in group changesets.</p>
      {% endif %}
      {% if changeset.brandrevisions.count %}
<p class="error">Brands not supported in group changesets.</p>
      {% endif %}
      {% if changeset.seriesrevisions.count %}
<p class="error">Series not supported in group changesets.</p>
      {% endif %}

    {% comment %}
      For now, assume the app ensures that there are either many issues and
      no stories, or one issue and optionally stories that may be assumed to
      be associated with that issue.
      At least currently changesets with many issues but no stories will
      never end up here: Bulk adds cannot be edited, only directly submitted.
      Bulk changes have their own page anyway, and cannot be edited like this.

      Also, the issue table should not be of class "story_list", need to fix
      either name or usage.
    {% endcomment %}
      {% if changeset.issuerevisions.count %}
<table class="story_list">
        {% for issue_revision in changeset.issuerevisions.all %}
  <tr>
    <td>
          {{ issue_revision.full_name }}
          {% if issue_revision.variant_of %} (variant of {{ issue_revision.variant_of }}) {% endif %}
    </td>
    <td>
      <form class="changeset" method="GET"
            action="{% url edit_revision model_name='issue',id=issue_revision.id %}">
        <input type="submit" id="edit_issue_{{ issue_revision.id }}"
               name="edit_issue_{{ issue_revision.id }}" value="Edit issue fields">
      </form>
    </td>
  </tr>
            {% if issue_revision.issue and not issue_revision.variant_of or issue_revision.variant_of and issue_revision.ordered_story_revisions.count = 0 %}
  <tr>
  <form class="changeset" method="GET"
        action="{% url add_story issue_revision_id=issue_revision.id,changeset_id=changeset.id %}">
    <td colspan="2" align="left">
      <input type="submit" id="add_story" name="add" value="Add story">
              {% if issue_revision.variant_of %}
      <br>Only a cover sequence can be added to a variant, and only if the cover artwork is different. On the issue display page the <br>sequences from the <a href="{% url show_issue issue_id=issue_revision.variant_of.id %}">base issue</a> are shown, where the cover one is replaced by the variant cover sequence, if that one exists.
      <input type="hidden"
              {% else %}
      Sequence number (1.5 will go between 1 &amp; 2; -1 will go before 0)
      <input type="text" size="4"
              {% endif %}
             id="added_sequence_number"
             name="added_sequence_number"
             value="{{ issue_revision.next_sequence_number }}">
    </td>
  </form>
  </tr>
            {% else %}
              {% if issue_revision.variant_of and issue_revision.ordered_story_revisions.count > 0 %}
  <tr>
    <td colspan="2" align="left">
      One cannot add another story to this variant since it has a cover sequence. On the issue display page the <br>sequences from the <a href="{% url show_issue issue_id=issue_revision.variant_of.id %}">base issue</a> are shown, where the cover one is replaced by the variant cover sequence.
    </td>
  </tr>
              {% endif %}
            {% endif %}
          {% if issue_revision.source and issue_revision.story_set.count > 1 %}
  <tr>
    <td colspan="2">
      <form class="changeset" method="GET"
            action="{% url reorder_stories issue_id=issue_revision.source.id,changeset_id=changeset.id %}">
        <input type="submit" id="reorder_issue_{{ issue.id }}"
               name="reorder_issue_{{ issue.id }}"
               value="Reorder issue stories">
      </form>
    </td>
  </tr>
          {% endif %}
{% if issue_revision.issue and not issue_revision.variant_of and changeset.change_type != CTYPES.variant_add %}
  <tr>
    <td colspan="2">
      <form class="changeset" method="GET"
            action="{% url add_variant_to_issue_revision issue_revision_id=issue_revision.id, changeset_id=changeset.id %}">
        <input type="submit" id="add_variant_to_issue_revision_{{ issue_revision.id }}"
               name="add_variant_to_issue_revision_{{ issue_revision.id }}"
               value="Add variant issue">
      </form>Note that you cannot remove a variant from this change afterwards.
    </td>
  </tr>
{% endif %}
        {% endfor %}
</table>
      {% endif %} <!-- changeset.issuerevisions.count -->
      {% if changeset.change_type == CTYPES.variant_add %}
        {% if changeset.coverrevisions.count %}
<div>
          {% for cover in changeset.coverrevisions.all %}
{{ cover.cover|cover_image_tag:'1, moved_cover' }}
<br>Cover is moved from {{ cover.issue }}.
  <form action="{% url undo_move_cover id=changeset.id, cover_id=cover.id %}" method="POST">
    <input type="submit" value="Undo move cover">
  </form>
  <br>
          {% endfor %}
</div>
        {% endif %}
        {% if changeset.issuerevisions.all.0.issue.cover_set.count or changeset.issuerevisions.all.1.issue.cover_set.count %}
<form action="{% url move_cover id=changeset.id %}" method="GET"><input type="submit" value="Move covers between both issues"></form>
<br>
        {% endif %}
      {% endif %} <!-- variant_add -->

      {% if changeset.storyrevisions.count %}
        {% for issuerevision in changeset.issuerevisions.all %}
          {% if changeset.issuerevisions.count > 1 %}
            {{ issuerevision.full_name }}
            {% if issuerevision.story_set.count = 0 %}
            <p>No stories for this issue/variant.</p>
            {% endif %}
          {% endif %}
<table class="story_list">
          {% for story in issuerevision.ordered_story_revisions %}
  <tr>
    <td> {{ story|show_story_short }} </td>
    <td>{{ story|show_credit_status }}</td>
    <td>
      <form class="changeset" method="GET"
            action="{% url edit_revision model_name='story',id=story.id %}">
        <input type="submit" id="edit_{{ story.id }}" name="edit_{{ story.id }}"
               value="Edit">
      </form>
            {% if not story.story %}
      <form class="story_button" method="GET"
            action="{% url remove_story_revision id=story.id %}">
        <input type="submit" id="remove_{{ story.id }}" name="remove_{{ story.id }}"
               value="Remove New Story">
      </form>
            {% else %}
              {% if story.issue %}
              {% comment %}
                Only allow deletes when assigned to the original issue in
                the changeset. Relevant if a story is moved between two
                issues. story.issue becomes None in an active changeset
                in such a case, therefore used as a conditional.
                Reconsider once we are working on moves in general, and not
                just issue variants.
              {% endcomment %}
      <form class="story_button" method="POST"
            action="{% url toggle_delete_story_revision id=story.id %}">
                {% if story.deleted %}
        <input type="submit" value="Restore">
                {% else %}
        <input type="submit" value="Mark to Delete">
                {% endif %}
      </form>
              {% endif %}
            {% endif %}
            {% if story.moveable %}
      <form class="story_button" method="POST"
            action="{% url move_story_revision id=story.id %}">
        <input type="submit" id="move_{{ story.id }}" name="move_{{ story.id }}"
               value="Move To Other Issue">
      </form>
            {% endif %}
    </td>
  </tr>
          {% endfor %}
</table>
        {% endfor %}
      {% endif %} <!-- changeset.storyrevisions.count -->

      {% if changeset.issuerevisions.count %}
        {% with changeset.issuerevisions.all.0 as issue_revision %}
          {% if issue_revision.issue and not issue_revision.variant_of %}
<table class="story_list">
            {% if not changeset.storyrevisions.count %}
  <tr colspan="2" align="left">
  <form class="changeset" method="POST" enctype="multipart/form-data"
                action="{% url import_issue issue_id=issue_revision.source.id,changeset_id=changeset.id %}">
    <td>
      Select file: <input type="file" name="flatfile">
    </td>
    <td>
      <input type="submit" value="Import issue">
    </td>
  </form>
  </tr>
            {% endif %}
  <tr colspan="2" align="left">
  <form class="changeset" method="POST" enctype="multipart/form-data"
            action="{% url import_stories issue_id=issue_revision.source.id,changeset_id=changeset.id %}">
    <td>
      Select file: <input type="file" name="flatfile">
    </td>
    <td>
      <input type="submit" value="Import sequences">
    </td>
  </form>
  </tr>
  <tr>
    <td class="import_info">
      <a class="new_window" href="http://docs.comics.org/wiki/Indexing_Offline" target="_blank">Information</a> (opens in a new window) about the file format for imports.
    </td>
    <td>
    </td>
  </tr>
</table>
          {% endif %}
        {% endwith %}
      {% endif %}

      {% with changeset.comments as comments %}
        {% include 'oi/bits/comments.html' %}
      {% endwith %}
      {% if changeset.issuerevisions.count %}
<p>
  <a href="{% url compare id=changeset.id %}">Compare changes</a>
        {% for issue_revision in changeset.issuerevisions.all %}
  | <a class="new_window" href="{% url preview_revision model_name='issue',id=issue_revision.id %}" target=_blank>Preview
          {% if issue_revision.variant_of %} (Variant) {% endif %}</a>
  (opens in a new window)
        {% endfor %}
</p>
      {% endif %}
<form method="POST" action="{% url process id=changeset.id %}">
  <table class="editing">
    <tr>
      <th> <label for="comments"> Comments:</label> </th>
      <td>
        <textarea name="comments" id="comments"></textarea>
        <br>
        Comments between the Indexer and Editor about the change.  These comments
        are part of the public change history, but are not part of the regular
        display.
      </td>
    </tr>
  </table>
  <input type="submit" name="submit" value="Submit changes for approval">
  <input type="submit" name="discard" value="Discard all changes">
</form>
    {% endif %}

  {% else %}
This change is being edited by {{ changeset.indexer.indexer }}.
  {% endifequal %}

{% else %} <!--- change is not OPEN --->
<p>
  <a href="{% url compare id=changeset.id %}">Compare changes</a>
</p>
{% endifequal %}
</div>
{% endblock %}

