{% extends "oi/base_view.html" %}

{% load credits %}
{% load display %}

{% block title %}
{{ changeset }}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}/css/gcd/{{ style|default:'default' }}.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}/css/oi/{{ style|default:'default' }}.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}/css/oi/{{ style|default:'default' }}/edit.css"/>
{% endblock %}

{% block view_body %}
<h1> {{ changeset }} </h1>

<div class="edit">
<p>
{% ifequal changeset.state states.BASELINE %}
  This changeset is stored for future data migration, and is not intended
  to be user-visibile.  This is not the changeset you are looking for.
  Move along :-)
{% endifequal %}
{% ifequal changeset.state states.PENDING %}
  This change has been submitted for approval, but is not yet under review.
  {% ifequal changeset.indexer user %}
    {% if changeset.singular %}
    <form action="{% url process id=changeset.id %}" method="POST">
      <input type="submit" name="retract" value="Retract change and edit further" />
      <label for="comments">Comments</label>
      <input type="textarea" name="comments">
    </form>
    {% else %}
    This type of changeset may not be retracted for further edit.
    {% endif %}
  {% endifequal %}
{% endifequal %}
{% ifequal changeset.state states.REVIEWING %}
  This change has been submitted for approval, and is being reviewed by
  GCD editor {{ changeset.approver.indexer }}.
{% endifequal %}
{% ifequal changeset.state states.APPROVED %}
  This change has been approved.  If you would like to make further
  changes, please reserve the record again.
{% endifequal %}
{% ifequal changeset.state states.DISCARDED %}
  This change has been discarded.  This means that the changes have
  <strong>not</strong> been applied to the original record.
  If you would like to make changes, please reserve the record again.
{% endifequal %}
</p>

{% ifequal changeset.state states.OPEN %}
{% ifequal changeset.indexer user %}
  {% if changeset.inline %}
    {% include "oi/edit/include_frame.html" %}
  {% else %}
    {% if changeset.publisherrevisions.count %}
      <p class="error">Publishers not supported in group changesets.</p>
    {% endif %}
    {% if changeset.indiciapublisherrevisions.count %}
      <p class="error">Indicia publishers not supported in group changesets.</p>
    {% endif %}
    {% if changeset.brandrevisions.count %}
      <p class="error">Brands not supported in group changesets.</p>
    {% endif %}
    {% if changeset.seriesrevisions.count %}
      <p class="error">Series not supported in group changesets.</p>
    {% endif %}

    {% comment %}
      For now, assume the app ensures that there are either many issues and
      no stories, or one issue and optionally stories that may be assumed to
      be associated with that issue.

      Also, the issue table should not be of class "story_list", need to fix
      either name or usage.
    {% endcomment %}
    {% if changeset.issuerevisions.count %}
    <table class="story_list">
      {% for issue in changeset.issuerevisions.all %}
      <tr>
        <td>
          {{ issue }}
        </td>
        <td>
          <form style="display:inline;" method="GET"
                action="{% url edit_revision model_name='issue',id=issue.id %}">
            <input type="submit" id="edit_issue_{{ issue.id }}"
                   name="edit_issue_{{ issue.id }}" value="Edit issue fields">
            </input>
          </form>
        </td>
      </tr>
      {% endfor %}
      <tr>
      <!-- TODO: fix nasty hacks to get the issue.
           Currently assuming that there is only one issue revision and it
           is not a newly added one (it has a source issue).
        -->
      {% with changeset.issuerevisions.all.0 as issue_revision %}
      {% if issue_revision.issue %}
      <form style="display:inline;" method="GET"
            action="{% url add_story issue_id=issue_revision.source.id,changeset_id=changeset.id %}">
        <td colspan="2" align="left">
          <input type="submit" id="add_story" name="add" value="Add story">
          </input>
          Sequence number:
          <input type="text" size="4"
                 id="added_sequence_number"
                 name="added_sequence_number"
                 value="{{ issue_revision.next_sequence_number }}">
          </input>
        </td>
      </form>
      {% endif %}
      {% endwith %}
      </tr>
    </table>  
    {% endif %}
    {% if changeset.storyrevisions.count %}
    <table class="story_list">
      {% for story in changeset.issuerevisions.all.0.ordered_story_revisions %}
      <tr>
        <td>
          {{ story|show_story_short }}
        </td>
        <td>{{ story|show_credit_status }}</td>
        <td>
          <form style="display:inline;" method="GET"
                action="{% url edit_revision model_name='story',id=story.id %}">
            <input type="submit" id="edit_{{ story.id }}" name="edit_{{ story.id }}"
                   value="Edit">
            </input>
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

    {% include 'oi/bits/comments.html' %}
    {% ifequal changeset.issuerevisions.count 1 %}
        <p>
        <a href="{% url compare id=changeset.id %}">Compare changes</a> | 
        <a href="{% url preview_revision model_name='issue',id=changeset.issuerevisions.all.0.id %}" target=_blank>Preview</a>
        (opens in a new window)
        </p>
    {% endifequal %}
    <form method="POST" action="{% url process id=changeset.id %}">
    <table class="editing">
      <tr>
        <th> <label for="comments"> Comments:</label> </th>
        <td>
          <textarea name="comments" id="comments"></textarea>
          <br>
          Comments between the Indexer and Editor about the change.  These comments
          are part of the public change history, but are not part of the regular
          display.
        </td>
      </tr>
    </table>
    <input type="submit" name="submit" value="Submit changes for approval"></input>
    <input type="submit" name="discard" value="Discard all changes"></input>
    </form>
  {% endif %}
{% else %}
  This change has being edited by {{ changeset.indexer.indexer }}.
{% endifequal %}
{% endifequal %}
</div>
{% endblock %}

