{% extends "oi/base_view.html" %}

{% load display %}

{% block title %}
Reviewing :: {{ revision }}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}/css/gcd/{{ style|default:'default' }}.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}/css/oi/{{ style|default:'default' }}.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}/css/oi/{{ style|default:'default' }}/edit.css"/>
{% endblock %}

{% block view_body %}
<h1>
{{ revision|absolute_url }} ({{ revision.publisher|absolute_url }})
</h1>
<p>
Changed fields are <span class="comparison_highlight">highlighted.</span>
</p>

<table class="comparison">
  <tr>
    <th> Field </th>
    <th> Current </th>
    <th> Change </th>
  <tr>
  <tr class="{{ revision.changed.name }}">
    <td class="field_name"> Name </td>
    <td> {{ revision.series.name }} </td>
    <td> {{ revision.name }} </td>
  </tr>
  <tr class="{{ revision.changed.year_began }}">
    <td class="field_name"> Year Began </td>
    <td> {{ revision.series.year_began }} </td>
    <td> {{ revision.year_began }} </td>
  </tr>
  <tr class="{{ revision.changed.year_ended }}">
    <td class="field_name"> Year Ended </td>
    <td> {{ revision.series.year_ended }} </td>
    <td> {{ revision.year_ended }} </td>
  </tr>
  <tr class="{{ revision.changed.is_current }}">
    <td class="field_name"> Current? </td>
{% if not revision.series %}
    <td> </td>
{% else %}
    <td> {{ revision.series.is_current|yesno:"Yes,No" }} </td>
{% endif %}
    <td> {{ revision.is_current|yesno:"Yes,No" }} </td>
  </tr>
  <tr class="{{ revision.changed.publisher }}">
    <td class="field_name"> Publisher </td>
    <td> {{ revision.series.publisher }} </td>
<td> <a href="{{ revision.publisher.get_absolute_url }}" target=_blank>{{ revision.publisher }}</a>
(opens in a new window)</td>
  </td>
  <tr class="{{ revision.changed.country }}">
    <td class="field_name"> Country </td>
    <td> {{ revision.series.country }} </td>
    <td> {{ revision.country }} </td>
  </tr>
  <tr class="{{ revision.changed.language }}">
    <td class="field_name"> Language </td>
    <td> {{ revision.series.language }} </td>
    <td> {{ revision.language }} </td>
  </tr>
  <tr class="{{ revision.changed.tracking_notes }}"> 
    <td class="field_name"> Tracking Notes </td>
    <td> {{ revision.series.tracking_notes|linebreaksbr }} </td>
    <td> {{ revision.tracking_notes|linebreaksbr }} </td>
  </tr>
  <tr class="{{ revision.changed.publication_notes }}"> 
    <td class="field_name"> Publication Notes </td>
    <td> {{ revision.series.publication_notes|linebreaksbr }} </td>
    <td> {{ revision.publication_notes|linebreaksbr }} </td>
  </tr>
  <tr class="{{ revision.changed.notes }}"> 
    <td class="field_name"> Notes </td>
    <td> {{ revision.series.notes|linebreaksbr }} </td>
    <td> {{ revision.notes|linebreaksbr }} </td>
  </tr>
  <tr class="{{ revision.changed.format }}">
    <td class="field_name"> Format </td>
    <td> {{ revision.series.format }} </td>
    <td> {{ revision.format }} </td>
  </tr>
{% if revision.changed.imprint %}
  <tr class="{{ revision.changed.imprint }}">
    <td class="field_name"> Imprint </td>
    <td> {{ revision.series.imprint }} </td>
    <td> {{ revision.imprint }} </td>
  </td>
{% endif %}
</table>

{% with changeset.comments as comments %}
{% include 'oi/bits/comments.html' %}
{% endwith %}

<p>
<a href="{% url preview_revision model_name='series',id=revision.id %}" target=_blank>Preview</a>
(opens in a new window)
</p>

{% include 'oi/bits/compare_actions.html' %}

{% endblock %}

