{% extends "oi/base_view.html" %}

{% load display %}

{% block title %}
Reviewing :: {{ revision }}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/default.css">
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/oi/default.css">
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/oi/default/edit.css">
{% endblock %}

{% block view_body %}
<h1>
{{ changeset|header_link }}
</h1>
<p>
This bulk change considers the following issues, the search terms used are given in the comments section:
<table class="comparison">
<tr>
  <th> Issue </th>
  <th> Previous Change </th>
{% if changeset.state == states.APPROVED %}
  <th> Next Change </th>
{% endif %}
  <th> Preview </th>
</tr>
{% for issue in changeset.ordered_issue_revisions %}
<tr>
  <td> <a href="{{ issue.get_absolute_url }}">{{ issue }}</a>
  <td> {% if issue.previous %}<a href="{% url compare id=issue.previous.changeset.id %}?collapse=1"> Previous Change ({{ issue.previous.modified|date:"Y-m-d" }}) {% endif %} </a>
{% if changeset.state = states.APPROVED %}
  <td> {% if issue.posterior %}<a href="{% url compare id=issue.posterior.changeset.id %}?collapse=1"> Next Change ({{ issue.posterior.modified|date:"Y-m-d" }}) {% endif %} </a>
{% endif %}
  <td> <a class="new_window" href="{% url preview_revision model_name=model_name,id=issue.id %}" target=_blank>Preview</a>
</tr>
{% endfor %}
</table>

<p>
The following highlighted fields are <span class="comparison_highlight">changed</span> for all issues.  Keep in mind that some fields might not have been editable due to the presence of different values in the considered issues. Note that the un-changed values shown are from {{ revision.issue }} and might be different for other issues involved.
</p>

{% with 1 as no_prev_link %}
{% include 'oi/bits/compare.html' %}
{% endwith %}

<hr>

<h3> Comments </h3>
{% with changeset.comments as comments %}
{% include 'oi/bits/comments.html' %}
{% endwith %}

{% include 'oi/bits/compare_actions.html' %}

{% endblock %}

