{% extends "oi/base_view.html" %}

{% load credits %}
{% load display %}

{% block title %}
Reviewing :: {{ revision }}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/{{ style|default:'default' }}.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/oi/{{ style|default:'default' }}.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/oi/{{ style|default:'default' }}/edit.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/oi/{{ style|default:'default' }}/cover.css"/>
{% endblock %}

{% block view_body %}
<h1>
{{ changeset|header_link }}
</h1>

{% if revision.is_replacement %}
<table id="covers">
<tr>
<td class="cover_grid{% if old_cover.marked %} marked{% endif %}">
  <h2>cover to be replaced</h2>
  <div class="cover_large">
    <a href="{{ old_cover.issue.get_absolute_url }}">{{ old_cover_tag }}</a>
  {% if old_cover.is_wraparound %}
  </div>
  <div>The selected front part of the above full cover:</div>
  <div class="cover_medium">
    <a href="{{ old_cover.issue.get_absolute_url }}">{{ old_cover_front_tag }}</a>
  {% endif %}
    <div class="cover_caption">
      <a href="{% url compare id=old_cover.changeset.id %}">
      uploaded on {{ old_cover.created }}</a><br>
      {{ old_cover|show_cover_contributor }}
    </div>
  </div>
</td>

<td class="cover_grid{% if revision.marked %} marked{% endif %}">
<h2> uploaded replacement cover </h2>
{% else %}
  {% if revision.deleted %}
<h2> cover deletion </h2>
  {% else %}
<h2> uploaded {% if current_covers %} variant {% endif %} cover </h2>
  {% endif %}
{% endif %}
<div class="cover_large">
  <a href="{{ revision.issue.get_absolute_url }}">{{ cover_tag }}</a>
  {% if revision.is_wraparound %}
</div>
<div class="cover_medium">
  <div>The selected front part of the above full cover:</div>
  <a href="{{ revison.issue.get_absolute_url }}">{{ cover_front_tag }}</a>
  {% endif %}

  <div class="cover_caption">
  {% if revision.deleted %}deleted{% else %}uploaded{% endif %} on {{ revision.created }}<br>
    {{ revision|show_cover_contributor }}
    {% if revision.marked %}
    <p><span class="comparison_highlight">cover is marked for replacement</span></p>
      {% ifequal changeset.state states.REVIEWING %}
        {% ifequal user changeset.approver %}
    <a href="{% url unmark_cover_revision revision_id=revision.id %}">Remove mark for replacement</a>
        {% endifequal %}
     {% endifequal %}
    {% else %}
     {% ifequal changeset.state states.REVIEWING %}
       {% ifequal user changeset.approver %}
    <br><a href="{% url mark_cover_revision revision_id=revision.id %}">Mark for replacement</a>
       {% endifequal %}
     {% endifequal %}
    {% endif %}
    <br>
  </div>
</div>

{% if revision.is_replacement %}
</td>
</tr>
</table>
{% endif %}

{% if current_covers %}
{% if not revision.is_replacement %}
<h2> current cover{{ current_covers|length|pluralize }} </h2>
<table id="covers">
  <tr>
  {% for cover, tag in current_covers %}
    <td class="cover_grid{% if cover.marked %} marked{% endif %}">
      <a href="{{ cover.issue.get_absolute_url }}">{{ tag }}</a>
      <br>
       <span class="cover_links">Zoom:
<a class="new_window" href="{{ cover.issue.get_absolute_url }}cover/4/?style={{ style|default:'default' }}" target="_blank">Large</a> (opens in new window)</span> <br>
   </td>
    {% if forloop.counter|divisibleby:table_width %}
  </tr>
  <tr>
    {% endif %}
  {% endfor %}
  </tr>
</table>
{% endif %}
{% endif %}

{% if pending_covers %}
<h2> pending cover{{ pending_covers|length|pluralize }} </h2>
<table id="covers">
  <tr>
  {% for cover, tag in pending_covers %}
    <td class="cover_grid{% if cover.marked %} marked{% endif %}">
      <a href="{% url compare id=cover.changeset.id %}">{{ tag }}</a>
      <br>
      <div class="cover_caption">
        uploaded on {{ cover.created }}<br>
        by {{ cover.changeset.indexer.indexer }}<br>
      </div>
    </td>
    {% if forloop.counter|divisibleby:table_width %}
  </tr>
  <tr>
    {% endif %}
  {% endfor %}
  </tr>
</table>
{% endif %}

{% with changeset.comments as comments %}
{% include 'oi/bits/comments.html' %}
{% endwith %}

{% with 1 as is_cover %}
{% include 'oi/bits/compare_actions.html' %}
{% endwith %}

{% endblock %}

