{% extends "oi/base_view.html" %}

{% block title %}
Reviewing :: {{ revision }}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}/css/gcd/{{ style|default:'default' }}.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}/css/oi/{{ style|default:'default' }}.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}/css/oi/{{ style|default:'default' }}/edit.css"/>
{% endblock %}

{% block view_body %}

<p>
Changed fields are <span class="comparison_highlight">highlighted.</span>
</p>

<table class="comparison">
  <tr>
    <th> Field </th>
    <th> Current </th>
    <th> Change </th>
  <tr>
  <tr class="{{ revision.changed.name }}">
    <td class="field_name"> Name </td>
    <td> {{ revision.series.name }} </td>
    <td> {{ revision.name }} </td>
  </tr>
  <tr class="{{ revision.changed.format }}">
    <td class="field_name"> Format </td>
    <td> {{ revision.series.format }} </td>
    <td> {{ revision.format }} </td>
  </tr>
  <tr class="{{ revision.changed.year_began }}">
    <td class="field_name"> Year Began </td>
    <td> {{ revision.series.year_began }} </td>
    <td> {{ revision.year_began }} </td>
  </tr>
  <tr class="{{ revision.changed.year_ended }}">
    <td class="field_name"> Year Ended </td>
    <td> {{ revision.series.year_ended }} </td>
    <td> {{ revision.year_ended }} </td>
  </tr>
  <tr class="{{ revision.changed.is_current }}">
    <td class="field_name"> Current? </td>
{% if not revision.series %}
    <td> </td>
{% else %}
    <td> {% if revision.series.is_current %} Yes {% else %} No {% endif %} </td>
{% endif %}
    <td> {% if revision.is_current %} Yes {% else %} No {% endif %} </td>
  </tr>
  <tr class="{{ revision.changed.publisher }}">
    <td class="field_name"> Publisher </td>
    <td> {{ revision.series.publisher }} </td>
    <td> {{ revision.publisher }} </td>
  </td>
  <tr class="{{ revision.changed.imprint }}">
    <td class="field_name"> Imprint </td>
    <td> {{ revision.series.imprint }} </td>
    <td> {{ revision.imprint }} </td>
  </td>
  <tr class="{{ revision.changed.country }}">
    <td class="field_name"> Country </td>
    <td> {{ revision.series.country }} </td>
    <td> {{ revision.country }} </td>
  </tr>
  <tr class="{{ revision.changed.language }}">
    <td class="field_name"> Language </td>
    <td> {{ revision.series.language }} </td>
    <td> {{ revision.language }} </td>
  </tr>
  <tr class="{{ revision.changed.tracking_notes }}"> 
    <td class="field_name"> Tracking Notes </td>
    <td> {{ revision.series.tracking_notes }} </td>
    <td> {{ revision.tracking_notes }} </td>
  </tr>
  <tr class="{{ revision.changed.publication_notes }}"> 
    <td class="field_name"> Publication Notes </td>
    <td> {{ revision.series.publication_notes }} </td>
    <td> {{ revision.publication_notes }} </td>
  </tr>
  <tr class="{{ revision.changed.notes }}"> 
    <td class="field_name"> Notes </td>
    <td> {{ revision.series.notes }} </td>
    <td> {{ revision.notes }} </td>
  </tr>
</table>

{% include 'oi/bits/comments.html' %}

<p>
<a href="{% url preview_series id=revision.id %}" target=_blank>Preview</a>
(opens in a new window)
</p>

<form id="review" action="{% url process_series id=revision.id %}" method="POST">
  <div>
  <label for="comments">Comment:</label> <br>
  <textarea id="comments" name="comments"></textarea>
  </div>
{% ifequal request.user revision.approver %}
{% ifequal revision.state states.REVIEWING %}
  <input type="submit" name="approve" value="Approve"></input>
  <input type="submit" name="disapprove" value="Send Back to Indexer"></input>
  <input type="submit" name="cancel" value="Reject Permanently"></input>
{% endifequal %}
{% endifequal %}
  <input type="submit" name="add_comment" value="Add Comment"></input>
</form>
{% endblock %}

