<h3> Sequence {{ story_revision.sequence_number }} </h3>

<table class="comparison">
  <tr>
    <th> Field </th>
    <th> Current </th>
    <th> Change </th>
  <tr>
  <tr class="{{ story_revision.changed.sequence_number }}">
    <td class="field_name"> Sequence Number </td>
    <td> {{ story_revision.story.sequence_number }} </td>
    <td> {{ story_revision.sequence_number }} </td>
  </tr>
  <tr class="{{ story_revision.changed.title }}">
    <td class="field_name"> Title </td>
    <td> {{ story_revision.story.title }} </td>
    <td> {{ story_revision.title }} </td>
  </tr>
  <tr class="{{ story_revision.changed.title_inferred }}">
    <td class="field_name"> Unofficial title? </td>
    <td> {% if story_revision.story.title_inferred %} Yes {% else %} No {% endif %} </td>
    <td> {% if story_revision.title_inferred %} Yes {% else %} No {% endif %} </td>
  </tr>
  <tr class="{{ story_revision.changed.feature }}">
    <td class="field_name"> Feature </td>
    <td> {{ story_revision.story.feature }} </td>
    <td> {{ story_revision.feature }} </td>
  </tr>
  <tr class="{{ story_revision.changed.issue }}">
    <td class="field_name"> Issue </td>
    <td> {{ story_revision.story.issue }} </td>
    <td> {{ story_revision.issue }} </td>
  </tr>
  <tr class="{{ story_revision.changed.page_count }}">
    <td class="field_name"> Page count </td>
    <td> {{ story_revision.story.page_count }} </td>
    <td> {{ story_revision.page_count }} </td>
  </tr>
  <tr class="{{ story_revision.changed.page_count_uncertain }}">
    <td class="field_name"> Page count uncertain </td>
    <td> {% if story_revision.story.page_count_uncertain %} Yes {% else %} No {% endif %} </td>
    <td> {% if story_revision.page_count_uncertain %} Yes {% else %} No {% endif %} </td>
  </tr>
  <tr class="{{ story_revision.changed.script }}">
    <td class="field_name"> Script </td>
    <td> {{ story_revision.story.script }} </td>
    <td> {{ story_revision.script }} </td>
  </tr>
  <tr class="{{ story_revision.changed.no_script }}">
    <td class="field_name"> No script </td>
    <td> {% if story_revision.story.no_script %} X {% endif %} </td>
    <td> {% if story_revision.no_script %} X {% endif %} </td>
  </tr>
  <tr class="{{ story_revision.changed.pencils }}">
    <td class="field_name"> Pencils </td>
    <td> {{ story_revision.story.pencils }} </td>
    <td> {{ story_revision.pencils }} </td>
  </tr>
  <tr class="{{ story_revision.changed.no_pencils }}">
    <td class="field_name"> No pencils </td>
    <td> {% if story_revision.story.no_pencils %} X {% endif %} </td>
    <td> {% if story_revision.no_pencils %} X {% endif %} </td>
  </tr>
  <tr class="{{ story_revision.changed.inks }}">
    <td class="field_name"> Inks </td>
    <td> {{ story_revision.story.inks }} </td>
    <td> {{ story_revision.inks }} </td>
  </tr>
  <tr class="{{ story_revision.changed.no_inks }}">
    <td class="field_name"> No inks </td>
    <td> {% if story_revision.story.no_inks %} X {% endif %} </td>
    <td> {% if story_revision.no_inks %} X {% endif %} </td>
  </tr>
  <tr class="{{ story_revision.changed.colors }}">
    <td class="field_name"> Colors </td>
    <td> {{ story_revision.story.colors }} </td>
    <td> {{ story_revision.colors }} </td>
  </tr>
  <tr class="{{ story_revision.changed.no_colors }}">
    <td class="field_name"> No colors </td>
    <td> {% if story_revision.story.no_colors %} X {% endif %} </td>
    <td> {% if story_revision.no_colors %} X {% endif %} </td>
  </tr>
  <tr class="{{ story_revision.changed.letters }}">
    <td class="field_name"> Letters </td>
    <td> {{ story_revision.story.letters }} </td>
    <td> {{ story_revision.letters }} </td>
  </tr>
  <tr class="{{ story_revision.changed.no_letters }}">
    <td class="field_name"> No letters </td>
    <td> {% if story_revision.story.no_letters %} X {% endif %} </td>
    <td> {% if story_revision.no_letters %} X {% endif %} </td>
  </tr>
  <tr class="{{ story_revision.changed.editor }}">
    <td class="field_name"> Editing </td>
    <td> {{ story_revision.story.editor }} </td>
    <td> {{ story_revision.editor }} </td>
  </tr>
  <tr class="{{ story_revision.changed.type }}">
    <td class="field_name"> Type </td>
    <td> {{ story_revision.story.type }} </td>
    <td> {{ story_revision.type }} </td>
  </tr>
  <tr class="{{ story_revision.changed.genre }}">
    <td class="field_name"> Genre </td>
    <td> {{ story_revision.story.genre }} </td>
    <td> {{ story_revision.genre }} </td>
  </tr>
  <tr class="{{ story_revision.changed.characters }}">
    <td class="field_name"> Characters </td>
    <td> {{ story_revision.story.characters }} </td>
    <td> {{ story_revision.characters }} </td>
  </tr>
  <tr class="{{ story_revision.changed.synopsis }}">
    <td class="field_name"> Synopsis </td>
    <td> {{ story_revision.story.synopsis }} </td>
    <td> {{ story_revision.synopsis }} </td>
  </tr>
  <tr class="{{ story_revision.changed.job_number }}">
    <td class="field_name"> Job number </td>
    <td> {{ story_revision.story.job_number }} </td>
    <td> {{ story_revision.job_number }} </td>
  </tr>
  <tr class="{{ story_revision.changed.reprints }}">
    <td class="field_name"> Reprint Notes </td>
    <td> {{ story_revision.story.reprints }} </td>
    <td> {{ story_revision.reprints }} </td>
  </tr>
  <tr class="{{ story_revision.changed.notes }}">
    <td class="field_name"> Notes </td>
    <td> {{ story_revision.story.notes }} </td>
    <td> {{ story_revision.notes }} </td>
  </tr>
</table>

