{% extends "oi/base_view.html" %}

{% block title %}
Reviewing :: {{ revision }}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}/css/gcd/{{ style|default:'default' }}.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}/css/oi/{{ style|default:'default' }}.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}/css/oi/{{ style|default:'default' }}/edit.css"/>
{% endblock %}

{% block view_body %}
<h1>{{ revision }}</h1>
<p>
Changed fields are <span class="comparison_highlight">highlighted.</span>
</p>

<table class="comparison">
  <tr>
    <th> Field </th>
    <th> Current </th>
    <th> Change </th>
  <tr>
  <tr class="{{ revision.changed.parent }}">
    <td class="field_name"> Parent publisher </td>
    <td> {{ revision.source.parent }} </td>
    <td> {{ revision.parent }} </td>
  </tr>
  <tr class="{{ revision.changed.name }}">
    <td class="field_name"> Name </td>
    <td> {{ revision.source.name }} </td>
    <td> {{ revision.name }} </td>
  </tr>
  <tr class="{{ revision.changed.year_began }}">
    <td class="field_name"> Year Began </td>
    <td> {{ revision.source.year_began }} </td>
    <td> {{ revision.year_began }} </td>
  </tr>
  <tr class="{{ revision.changed.year_ended }}">
    <td class="field_name"> Year Ended </td>
    <td> {{ revision.source.year_ended }} </td>
    <td> {{ revision.year_ended }} </td>
  </tr>
  <tr class="{{ revision.changed.is_surrogate }}">
    <td class="field_name"> Surrogate? </td>
{% if not revision.source %}
    <td> </td>
{% else %}
    <td> {{ revision.source.is_surrogate|yesno:"Yes,No" }} </td>
{% endif %}
    <td> {{ revision.is_surrogate|yesno:"Yes,No" }} </td>
  </tr>
  <tr class="{{ revision.changed.country }}">
    <td class="field_name"> Country </td>
    <td> {{ revision.source.country }} </td>
    <td> {{ revision.country }} </td>
  </tr>
  <tr class="{{ revision.changed.url }}">
    <td class="field_name"> URL </td>
    <td> {{ revision.source.url }} </td>
    <td> {{ revision.url }} </td>
  </tr>
  <tr class="{{ revision.changed.notes }}"> 
    <td class="field_name"> Notes </td>
    <td> {{ revision.source.notes }} </td>
    <td> {{ revision.notes }} </td>
  </tr>
</table>

{% include 'oi/bits/comments.html' %}

<p>
<a href="{% url preview_revision id=revision.id,model_name='indicia_publisher' %}" target=_blank>Preview</a>
(opens in a new window)
</p>

{% include 'oi/bits/compare_actions.html' %}

{% endblock %}

