{% extends "oi/base_view.html" %}

{% load display %}
{% load credits %}

{% block title %}
Reviewing :: {{ revision }}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}/css/gcd/{{ style|default:'default' }}.css">
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}/css/oi/{{ style|default:'default' }}.css">
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}/css/oi/{{ style|default:'default' }}/edit.css">
{% endblock %}

{% block view_body %}
<h1>
{{ revision.series|absolute_url:'target="_blank"' }} 
({{ revision.series.publisher|absolute_url:'target="_blank"' }}) 
{% if revision.issue %}
<a href="{{ revision.issue.get_absolute_url }}" target="_blank">#{{ revision.display_number }}</a>
{% else %}
#{{ revision.display_number }}
{% endif %}
</h1>
<p>
Highlighted fields represent <span class="added_highlight">added</span>, 
<span class="comparison_highlight">changed</span>, and 
<span class="deleted_highlight">deleted</span> data.
<a href="{% url preview_revision model_name=model_name,id=revision.id %}" target=_blank>Preview</a> changes.
{% if changeset.storyrevisions.count %}
  {% if request.GET.collapse %}
    <a href="{% url compare id=changeset.id %}">Expand compare view</a>.
  {% else %}
    <a href="{% url compare id=changeset.id %}?collapse=1">Collapse compare view</a>.
  {% endif %}
{% endif %}
{% if revision.issue and revision.issue.cover_set.latest.has_image %}
View the
<a href="{{ revision.issue.get_absolute_url }}cover/4/" target="_blank">cover</a>.
{% endif %}
Links open in new windows.
</p>

<p>
{% ifequal user revision.changeset.indexer %}
{% ifequal changeset.state states.OPEN %}
<a href="{% url edit_revision model_name='issue',id=revision.id %}"> Edit issue data</a> 
{% endifequal %}
{% endifequal %}
</p>

<a name="{{ revision.id }}"></a>
<table class="comparison">
  <tr>
    <th> Field </th>
    <th> Current </th>
    <th> Change </th>
  </tr>
  {% if not revision.source %}
  <tr class="True">
    <td class="field_name"> Add issue after </td>
    <td> </td>
    <td> {{ revision.after }}
  </tr>
  {% endif %}
  <tr class="{{ revision.changed.number }}">
    <td class="field_name"> Number </td>
    <td> {{ revision.issue.number }} </td>
    <td> {{ revision.number }} </td>
  </tr>
  <tr class="{{ revision.changed.volume }}">
    <td class="field_name"> Volume </td>
    <td> {{ revision.issue.volume }} </td>
    <td> {{ revision.volume }} </td>
  </tr>
  <tr class="{{ revision.changed.no_volume }}">
    <td class="field_name"> No volume </td>
    <td> {% if revision.issue.no_volume %} Yes {% else %} No {% endif %} </td>
    <td> {% if revision.no_volume %} Yes {% else %} No {% endif %} </td>
  </tr>
  <tr class="{{ revision.changed.display_volume_with_number }}">
    <td class="field_name"> Display volume with number </td>
    <td> {% if revision.issue.display_volume_with_number %} Yes {% else %} No {% endif %} </td>
    <td> {% if revision.display_volume_with_number %} Yes {% else %} No {% endif %} </td>
  </tr>
  <tr class="{{ revision.changed.publication_date }}">
    <td class="field_name"> Publication date </td>
    <td> {{ revision.issue.publication_date }} </td>
    <td> {{ revision.publication_date }} </td>
  </tr>
  <tr class="{{ revision.changed.indicia_frequency }}">
    <td class="field_name"> Indicia frequency </td>
    <td> {{ revision.issue.indicia_frequency }} </td>
    <td> {{ revision.indicia_frequency }} </td>
  </tr>
  <tr class="{{ revision.changed.key_date }}">
    <td class="field_name"> Key date </td>
    <td> {{ revision.issue.key_date }} </td>
    <td> {{ revision.key_date }} </td>
  </tr>
  <tr class="{{ revision.changed.indicia_publisher }}">
    <td class="field_name"> Indicia publisher </td>
    <td> {{ revision.issue.indicia_publisher|absolute_url:'target="_blank"'|default:"None" }} </td>
    <td> {{ revision.indicia_publisher|absolute_url:'target="_blank"'|default:"None" }} </td>
  </tr>
  <tr class="{{ revision.changed.indicia_pub_not_printed }}">
    <td class="field_name"> Indicia publisher not printed </td>
    <td> {% if revision.issue.indicia_pub_not_printed %} Not printed {% else %} Printed {% endif %} </td>
    <td> {% if revision.indicia_pub_not_printed %} Not printed {% else %} Printed {% endif %} </td>
  </tr>
  <tr class="{{ revision.changed.brand }}">
    <td class="field_name"> Brand </td>
    <td> {{ revision.issue.brand|absolute_url:'target="_blank"'|default:"None" }} </td>
    <td> {{ revision.brand|absolute_url:'target="_blank"'|default:"None" }} </td>
  </tr>
  <tr class="{{ revision.changed.no_brand }}">
    <td class="field_name"> No brand </td>
    <td> {% if revision.issue.no_brand %} Yes {% else %} No {% endif %} </td>
    <td> {% if revision.no_brand %} Yes {% else %} No {% endif %} </td>
  </tr>
  <tr class="{{ revision.changed.price }}">
    <td class="field_name"> Price </td>
    <td> {{ revision.issue.price }} </td>
    <td> {{ revision.price }} </td>
  </tr>
  <tr class="{{ revision.changed.page_count }}">
    <td class="field_name"> Page count </td>
    <td> {{ revision.issue.page_count|format_page_count }} </td>
    <td> {{ revision.page_count|format_page_count }} 
         {% if changeset.storyrevisions.count %}
         (total sum of story page counts:
         {{ changeset.storyrevisions.all|sum_page_counts|format_page_count }})
         {% endif %}
    </td>
  </tr>
  <tr class="{{ revision.changed.page_count_uncertain }}">
    <td class="field_name"> Page count uncertain </td>
    <td> {% if revision.issue.page_count_uncertain %} Yes {% else %} No {% endif %} </td>
    <td> {% if revision.page_count_uncertain %} Yes {% else %} No {% endif %} </td>
  </tr>
  <tr class="{{ revision.changed.editing }}">
    <td class="field_name"> Editing </td>
    <td> {{ revision.issue.editing }} </td>
    <td> {{ revision.editing }} </td>
  </tr>
  <tr class="{{ revision.changed.no_editing }}">
    <td class="field_name"> No editing </td>
    <td> {% if revision.issue.no_editing %} X {% endif %} </td>
    <td> {% if revision.no_editing %} X {% endif %} </td>
  </tr>
  <tr class="{{ revision.changed.notes }}">
    <td class="field_name"> Notes </td>
    <td> {{ revision.issue.notes|linebreaksbr }} </td>
    <td> {{ revision.notes|linebreaksbr }} </td>
  </tr>
</table>

{% if revision.comments.count %}
{% with revision.comments as comments %}
{% with 1 as no_links %}
{% include 'oi/bits/comments.html' %}
{% endwith %}
{% endwith %}
{% endif %}

<hr>

{% for story_revision in revision.ordered_story_revisions %}
  {% comment %}
    story_revision.compare_changes needs to be called here because
    calling ordered_story_revisions re-fetches the objects from the
    database, which clears the changed dictionary.  Need to think
    about this whole setup a bit more, but this works for now.
  {% endcomment %}
  {{ story_revision.compare_changes|default:'' }}
  {% include 'oi/edit/compare_story.html' %}

<hr>
{% endfor %}

<h3> Comments </h3>
{% with changeset.comments as comments %}
{% include 'oi/bits/comments.html' %}
{% endwith %}

<p>
{% ifequal user revision.changeset.indexer %}
{% ifequal changeset.state states.OPEN %}
<a href="{% url edit id=revision.changeset.id %}">Edit changes</a> |
{% endifequal %}
{% endifequal %}
<a href="{% url preview_revision model_name=model_name,id=revision.id %}" target=_blank>Preview</a>
(opens in a new window)
</p>

{% include 'oi/bits/compare_actions.html' %}

{% endblock %}

