{% extends "oi/base_view.html" %}

{% load static %}
{% load credits %}
{% load editing %}
{% load l10n %}

{% block title %}
Reviewing :: {{ revision }}
{% endblock %}

{% block view_body %}
<h1>
{{ changeset|header_link }}
</h1>

{% if revision.is_replacement %}
<table class="w-full">
<tr>
<td class="w-1/2 align-top {% if old_cover.marked %} marked{% endif %}">
  <h2 class="justify-center text-center">cover to be replaced</h2>
  <div class="justify-center text-center">
    <a class="inline-block" href="{{ old_cover.issue.get_absolute_url }}">{{ old_cover_tag }}</a>
  {% if old_cover_width %}
  <div>The full cover file has a width of {{ old_cover_width }} pixels.</div>
  {% endif %}
  {% if old_cover.is_wraparound %}
  </div>
  <div>The selected front part of the above full cover:</div>
  <div class="cover_medium">
    <a href="{{ old_cover.issue.get_absolute_url }}">{{ old_cover_front_tag }}</a>
  {% endif %}
    <div>
      Cover <a href="{% url 'compare' id=old_cover.changeset.id %}">
      {% localize off %}
      uploaded on {{ old_cover.created }}</a> by <br>
      {% endlocalize %}
      {{ old_cover|show_cover_contributor }}.
    </div>
  </div>
</td>

<td class="w-1/2 align-top {% if revision.marked %} marked{% endif %}">
<h2 class="justify-center text-center"> uploaded replacement cover </h2>
{% else %}
  {% if revision.deleted %}
<h2 class="justify-center text-center"><span class='deleted px-2'>cover deletion</span> </h2>
  {% else %}
<h2> cover uploaded
    {% if additional %}
      as an <span class="comparison_highlight">additional</span> cover (dust jacket, flip cover)
    {% else %}
      {% if changeset.issuerevisions.count %}
        for a new <span class="comparison_highlight">variant issue</span>
        with variant name: {{ changeset.issuerevisions.all.0.variant_name }}
      {% endif %}
    {% endif %}
</h2>
  {% endif %}
{% endif %}
<div class="justify-center text-center">
  <a class="inline-block" href="{{ revision.issue.get_absolute_url }}">{{ cover_tag }}</a>
{% if cover_width %}
  <div>The full cover file has a width of {{ cover_width }} pixels.</div>
  {% if perms.indexer.can_vote and revision.created > settings.NEW_SITE_COVER_CREATION_DATE and not settings.BETA %}
<a href="{{ revision.approved_file }}">full uploaded cover</a>
  {% endif %}
{% endif %}
{% if revision.is_wraparound %}
</div>
<div class="cover_medium">
  <div>The selected front part of the above full cover:</div>
  <a href="{{ revison.issue.get_absolute_url }}">{{ cover_front_tag }}</a>
{% endif %}

  <div>
{% if revision.deleted %}
    <div>
      Cover <a href="{% url 'compare' id=old_cover.changeset.id %}">
      {% localize off %}
      uploaded on {{ old_cover.created }}</a> by <br>
      {% endlocalize %}
      {{ old_cover|show_cover_contributor }}.
    </div>
{% endif %}
{% localize off %}
Cover {% if revision.deleted %}deleted{% else %}uploaded{% endif %} on {{ revision.created }} by <br>
{% endlocalize %}
{{ revision|show_cover_contributor }}.
{% if revision.marked %}
    <p><span class="comparison_highlight">cover is marked for replacement</span></p>
  {% if changeset.state == states.REVIEWING %}
    {% if user == changeset.approver %}
    <form action="{% url 'unmark_cover_revision' revision_id=revision.id %}" method="POST">
      {% csrf_token %}
      <button><input class="btn-blue-editing" type="submit" value="Remove Mark For Replacement"></button>
    </form>
    {% endif %}
  {% endif %}
{% else %}
  {% if changeset.state == states.REVIEWING %}
    {% if user == changeset.approver %}
    <form action="{% url 'mark_cover_revision' revision_id=revision.id %}" method="POST">
      {% csrf_token %}
      <button><input class="btn-blue-editing" type="submit" value="Mark For Replacement"></button>
    </form>
    {% endif %}
  {% endif %}
{% endif %}
{% if changeset.issuerevisions.count %}
  <p>
  {% if changeset.storyrevisions.count %}
      The variant cover has artwork <span class="comparison_highlight">different</span> from the base issue, a story sequence with '?' for the credits will be created.
  {% else %}
    The variant cover has the same artwork as the base issue, no separate story sequence needed.
  {% endif %}
  </p>
  {% if changeset.state == states.REVIEWING %}
    {% if user == changeset.approver %}
      <form action="{% url 'flip_artwork_flag' revision_id=revision.id %}" method="POST">
        {% csrf_token %}
        <button><input class="btn-blue-editing" type="submit" name="flip_artwork_flag" value="Flip the variant artwork flag" /></button>
      </form>
    {% endif %}
  {% endif %}
{% endif %}
    <br>
  </div>
</div>

{% if revision.is_replacement %}
</td>
</tr>
</table>
{% endif %}

{% if current_covers %}
  {% if revision.is_replacement %}
<h2> other current cover{{ current_covers|length|pluralize }} </h2>
  {% else %}
<h2> current cover{{ current_covers|length|pluralize }} </h2>
  {% endif %}
<table>
  <tr>
  {% for cover, tag in current_covers %}
    <td class="justify-center text-center {% if cover.marked %} marked{% endif %}">
      <a href="{{ cover.issue.get_absolute_url }}">{{ tag }}</a>
      <br><span class="cover_links">{{ cover.issue.full_descriptor }}</span><br>
       <span class="cover_links">Zoom:
<a class="new_window" href="{{ cover.issue.get_absolute_url }}cover/4" target="_blank">Large</a></span> <br>
   </td>
    {% if forloop.counter|divisibleby:table_width %}
  </tr>
  <tr>
    {% endif %}
  {% endfor %}
  </tr>
</table>
{% endif %}

{% if pending_covers %}
<h2> pending cover{{ pending_covers|length|pluralize }} </h2>
<table>
  <tr>
  {% for cover, tag in pending_covers %}
    <td class="justify-center text-center {% if cover.marked %} marked{% endif %}">
      <a class="inline-block" href="{% url 'compare' id=cover.changeset.id %}">{{ tag }}</a>
      <br>
      <div class="cover_caption">
        {% localize off %}
        uploaded on {{ cover.created }}<br>
        {% endlocalize %}
        by {{ cover.changeset.indexer.indexer }}<br>
      </div>
    </td>
    {% if forloop.counter|divisibleby:table_width %}
  </tr>
  <tr>
    {% endif %}
  {% endfor %}
  </tr>
</table>
{% endif %}

{% if pending_variant_adds %}
<div>
<h2> pending variant add{{ pending_variant_adds|length|pluralize }} </h2>
  <ul>
  {% for variant in pending_variant_adds %}
    <li><a href="{% url 'compare' id=variant.id %}">{{ variant }}</a>
  {% endfor %}
  </ul>
</div>
{% endif %}

{% if variants_without_covers %}
<div>
<h2> Existing variant{{ variants_without_covers|length|pluralize }} with covers </h2>
  <ul>
  {% for variant in variants_without_covers %}
    <li><a href="{% url 'show_issue' issue_id=variant.id %}">{{ variant }}</a>
  {% endfor %}
  </ul>
</div>
{% endif %}

{% with changeset.comments as comments %}
{% include 'oi/bits/comments.html' %}
{% endwith %}

{% with 1 as is_cover %}
{% include 'oi/bits/compare_actions.html' %}
{% endwith %}

{% endblock %}

