{% extends "oi/base_view.html" %}
{% load static %}
{% load credits %}
{% load editing %}
{% load l10n %}
{% block title %}
Reviewing :: {{ revision }}
{% endblock %}

{% block view_body %}
<h1>
{{ changeset|header_link }}
</h1>

<h3 class="text-center">{{ revision.description }}</h3>

{% if revision.is_replacement %}
<table>
  <tr>
    <td class="align-top {% if replaced_image_marked %} marked{% endif %}">
      <h2 class="justify-center text-center">image to be replaced</h2>
      <div class="justify-center text-center">
  {% if replaced_image_file %}
        <a class="inline-block" href="{{ replaced_image_file.url }}">{{ replaced_image_tag }}</a>
        <div>The image has a size of {{ replaced_image_file.width }} x {{ replaced_image_file.height }} pixels. Click on the image to view it in full.</div>
  {% else %}
    {{ image_tag }}
  {% endif %}
      </div>
      <div class="justify-center text-center">
      Image <a href="{% url 'compare' id=replaced_image.changeset.id %}">
      {% localize off %}
      uploaded on {{ replaced_image.created }}</a> by <br>
      {% endlocalize %}
      {{ replaced_image.changeset.indexer.indexer }}.
      </div>
    </td>

    <td class="align-top {% if revision.marked %} marked{% endif %}">
    <h2 class="justify-center text-center"> uploaded replacement image </h2>
{% else %}
  {% if revision.deleted %}
<h2 class="justify-center text-center"><span class='deleted px-2'>image deletion</span> </h2>
  {% else %}
    {% if double_upload %}
    <h3 class="justify-center text-center"><span class='deleted px-2'>{{ double_upload }}</span></h3>
    {% endif %}
  {% endif %}
{% endif %}

<div class="justify-center text-center">
  {% if revision.image_file %}
  <a class="inline-block" href="{{ revision.image_file.url }}">{{ image_tag }}</a>
  <div>The image has a size of {{ revision.image_file.width }} x {{ revision.image_file.height }} pixels. Click on the image to view it in full.</div>
    {% if revision.type.id == 4  %} {% comment %} creator portrait {% endcomment %}
  <img src="{{ revision.cropped_face.url }}" alt="cropped face" />
    {% endif %}
  {% else %}
  {{ image_tag }}
  {% endif %}
  {% if revision.deleted %}
  <div class="justify-center text-center">
    Image <a class="inline-block" href="{% url 'compare' id=revision.previous.changeset.id %}">
    {% localize off %}
    uploaded on {{ revision.previous.created }}</a> by <br>
    {% endlocalize %}
    {{ revision.previous.changeset.indexer.indexer }}.
  </div>
  {% endif %}
{% if revision.marked %}
  <p><span class="comparison_highlight">image is marked for replacement</span></p>
  {% if changeset.state == states.REVIEWING %}
    {% if user == changeset.approver %}
  <form action="{% url 'unmark_image_revision' revision_id=revision.id %}" method="POST">
    {% csrf_token %}
    <button class="btn-blue-editing inline" type="submit">Remove Mark For Replacement</button>
  </form>
    {% endif %}
  {% endif %}
{% else %}
  {% if changeset.state == states.REVIEWING %}
    {% if user == changeset.approver %}
  <form action="{% url 'mark_image_revision' revision_id=revision.id %}" method="POST">
    {% csrf_token %}
    <button class="btn-blue-editing inline" type="submit">Mark For Replacement</button>
  </form>
    {% endif %}
  {% endif %}
{% endif %}
</div>

{% if revision.is_replacement %}
    </td>
  </tr>
</table>
{% endif %}

{% if extra_revision %}
  {% with revision=extra_revision %}
    {% include 'oi/bits/compare.html' %}
  {% endwith %}
{% endif %}

{% with changeset.comments as comments %}
{% include 'oi/bits/comments.html' %}
{% endwith %}

{% with 1 as is_cover %}
{% include 'oi/bits/compare_actions.html' %}
{% endwith %}

{% endblock %}

