{% extends "oi/base_view.html" %}

{% block title %}
GCD :: Add Confirm Two Edits
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/default.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/oi/default.css"/>
{% endblock %}

{% block view_body %}

<h2>Do you want to edit {{ issue_one.full_name }} together with {{ issue_two.full_name }} ?</h2>
<form method="POST" action="{% url reserve_two_issues issue_one_id=issue_one.id, issue_two_id=issue_two.id %}">
<input type="submit" value="Confirm edit of both issues."></input>
<input type="submit" name="cancel" value="Return to {{ issue_one }}."></input>
</form>
<br>
{% endblock %}

