{% extends "oi/base_view.html" %}

{% load credits %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/{{ style|default:'default' }}.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/{{ style|default:"default" }}/issue.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/{{ style|default:"default" }}/single_story.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/oi/{{ style|default:'default' }}.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/oi/{{ style|default:'default' }}/edit.css"/>
{% endblock %}

{% block view_body %}
<h1>Add Reprint information for: <br>{{ story }} / {{ story.title }}</h1>
<div class="edit">
{% if selected_story %}
<form id="confirm" action="{% url save_revision_story_reprint story_revision_id=story.id,changeset_id=changeset.id,story_two_id=selected_story.id %}" method="POST">
{% else %}
<form id="confirm" action="{% url save_revision_issue_reprint story_revision_id=story.id,changeset_id=changeset.id,issue_two_id=selected_issue.id %}" method="POST">
{% endif %}

<hr class="divider">
{% with 1 as no_navigation %}
{% with 1 as preview %}
<div id="story_data">
  {% include "gcd/details/single_story.html" %}
</div>
{% endwith %}
{% endwith %}

<hr class="divider">

is 
<select name="direction" id="id_direction">
<option value="from">reprinted from</option>
<option value="to">reprinted in</option>
</select>

<hr class="divider">

{% if selected_story %}
  {% with 1 as no_navigation %}
  {% with selected_story as story %}
<div id="story_data">
    {% include "gcd/details/single_story.html" %}
</div>
  {% endwith %}
  {% endwith %}
{% else %}
{{ selected_issue.full_name }}
{% endif %}


<hr class="divider">

{% include "oi/bits/confirm_reprint_actions.html" %}
</form>
</div>
{% endblock %}
