{% extends "oi/base_view.html" %}
{% load static %}

{% block title %}
Confirm discard of {{ changeset }}
{% endblock %}

{% block view_body %}
<h2>Are you sure you want to discard the change for {{ changeset }}?</h2>

<div class="edit">
  <form action="{{ object_url }}" method="POST">
    {% csrf_token %}
    <button class="btn-blue-editing inline" type="submit" name="discard">Confirm</button>
    <button class="btn-blue-editing inline" type="submit" name="cancel">Cancel</button>
  </form>
</div>
{% endblock %}
