{% extends "oi/base_view.html" %}

{% load credits %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/{{ style|default:'default' }}.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/{{ style|default:"default" }}/issue.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/{{ style|default:"default" }}/single_story.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/oi/{{ style|default:'default' }}.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/oi/{{ style|default:'default' }}/edit.css"/>
{% endblock %}

{% block view_body %}
<h1>Remove Reprint information</h1>
<h3>
Do you want to remove the following reprint link ?
</h3>

{% if origin %}
  <h2>{{ origin }} / {{ origin.title }}  of {{ origin.issue }}</h2>
  {% with 1 as no_navigation %}
  {% with 1 as preview %}
  {% with origin as story %}
  <div id="story_data">
    {% include "gcd/details/single_story.html" %}
  </div>
  <hr class="divider">
  {% endwith %}
  {% endwith %}
  {% endwith %}
{% else %}
  <h2>Part of {{ origin_issue.full_name }}</h2>
{% endif %}

<h3>is reprinted in</h3>

{% if target %}
  <h2>{{ target }} / {{ target.title }}  of {{ target.issue }}</h2>
  {% with 1 as no_navigation %}
  {% with 1 as preview %}
  {% with target as story %}
<div id="story_data">
    {% include "gcd/details/single_story.html" %}
</div>
  {% endwith %}
  {% endwith %}
  {% endwith %}
{% else %}
<h2>{{ target_issue.full_name }}</h2>
{% endif %}


<hr class="divider">
<form style="display:inline;" method="POST"
    action="{% url remove_reprint_revision id=reprint.id %}">
<input type="submit" id="remove_{{ reprint.id }}" name="remove_{{ reprint.id }}"
       value="Yes">
</input>
</form>
<form style="display:inline;" method="GET"
    action="{% url list_issue_reprints id=reprint.changeset.issuerevisions.all.0.id %}">
<input type="submit" id="remove_{{ reprint.id }}" name="remove_{{ reprint.id }}"
       value="No">
</input>
</form>
<hr class="divider">

{% endblock %}