{% extends "oi/base_view.html" %}

{% block title %}
GCD :: Clearing Reservations
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/default.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/oi/default.css"/>
{% endblock %}

{% block view_body %}

<p>
<a href="{% url clear_publisher_series %}">Clearing reservation of publishers and series (older than one week)</a>
</p>
<p>
<a href="{% url clear_issues %}">Clearing reservation of issues, discard cover uploads in editing state (older than nine weeks)</a>
</p>
{% endblock %}

