{% extends "oi/base_view.html" %}

{% load credits %}

{% block view_body %}
<h1>Create Matching Sequence</h1>
<h2>
Do you want to create a new sequence in {{ issue }} which is reprinted {{ direction }} {{ story.issue }} ?
</h2>

<h3>The new sequence will have a copy of the following sequence data:</h3>
<form style="display:inline;" method="POST"
    action="{% url "create_matching_sequence" issue_id=issue.id story_id=story.id reprint_revision_id=reprint_revision.id %}">
  <table class="[&_th]:text-right [&_th]:font-normal">
    <tr>
      <th><label>
      Copy credits with credited/signed/etc. qualifiers:
      </label> </th>
      <td><input type="checkbox" name="copy_credit_info" value=True></td>
    </tr> 
    <tr>
      <th><label>
      Copy characters:
      </label> </th>
      <td>  <input type="checkbox" name="copy_characters" value=True checked></td>
    </tr>
  </table>
{% csrf_token %}

{% with 1 as preview %}
  <div id="story_data">
  {% include "gcd/details/tw_single_story.html" %}
  </div>
  <hr class="divider">
{% endwith %}
<hr class="divider">
<button><input class="btn-blue-editing" type="submit" name="create" value="Create Sequence">
</input></button>
</form>
<form style="display:inline;" method="GET"
    action="{% url "list_issue_reprints" id=reprint_revision.changeset.issuerevisions.all.0.id %}">
    <button><input class="btn-blue-editing" type="submit" value="Cancel">
</input></button>
</form>

{% endblock %}
