{% extends "oi/base_view.html" %}

{% load static %}

{% block title %}
Confirm deletion of {{ object }}
{% endblock %}

{% block view_body %}
<h2>Are you sure you want to delete {{ object }}?</h2>

<form id="comments" action="{% url "delete_revision" model_name=model_name id=id %}" method="POST">
  {% csrf_token %}
  <div {% if no_comment %}class="error_message_text"{% endif %}>
    <label for="comments">Please explain the reason for deletion (required):</label>
    <br>
    <textarea name="comments" class="w-full lg:w-4/5" rows="5"></textarea>
  </div>
  <button><input class="btn-blue-editing" type="submit" name="delete" value="Confirm Deletion"></button>
  <button><input class="btn-blue-editing" type="submit" name="cancel" value="Cancel"></button>
</form>
{% endblock %}
