{% extends "oi/base_view.html" %}

{% load credits %}
{% load display %}

{% block title %}
Edit Covers :: {{ issue }}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/{{ style|default:'default' }}.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/oi/{{ style|default:'default' }}.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/oi/{{ style|default:'default' }}/edit.css"/>
{% endblock %}

{% block view_body %}
<h2>Covers for 
{{ issue.series|absolute_url }} 
({{ issue.series.publisher|absolute_url }}) 
<a href="{{ issue.get_absolute_url }}">#{{ issue.display_number }}</a>
</h2>
{% if issue.has_covers %}
<a href="{% url upload_cover issue_id=issue.id %}">Add variant cover</a>
{% endif %}

<table id="covers">
  <tr>
  {% for cover, issue, tag, pending in covers %}
    <td class="cover_grid{% if cover.marked %} marked{% endif %}">
      <a href="{{ issue.get_absolute_url }}">{{ tag }}</a>
      <br>
       <span class="cover_links">Zoom:
<a href="{{ issue.get_absolute_url }}cover/4/?style={{ style|default:'default' }}">Large</a><br>
      {% if perms.gcd.can_approve %}
        {% if not cover.marked %}
<a href="{% url mark_cover cover_id=cover.id %}">Mark for replacement</a><br>
        {% else %}
<a href="{% url unmark_cover cover_id=cover.id %}">Remove mark for replacement</a><br>
        {% endif %}
      {% endif %}
      {% if pending %}
<a href="{% url compare id=cover.revisions.active.changeset.id %}">Cover changes pending</a>
      {% else %}
<a href="{% url replace_cover cover_id=cover.id %}">Replace cover</a><br>
<form class="story_button" method="POST" action="{% url delete_cover id=cover.id %}">
  <input type="text" name="comments" class="del_comments"">
  <input type="submit" value="Delete">
</form>
      {% endif %}
</span> 
   </td>
    {% if forloop.counter|divisibleby:table_width %}
  </tr>
  <tr>
    {% endif %}
  {% endfor %}
  </tr>
</table>

{% endblock %}

