{% extends "oi/base_view.html" %}

{% block title %}
Editing {{ object_name }} :: {{ object }}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}/css/gcd/{{ style|default:'default' }}.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}/css/oi/{{ style|default:'default' }}.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}/css/oi/{{ style|default:'default' }}/edit.css"/>
{% endblock %}

{% block view_body %}
<h1>Editing {{ object_name }} :: {{ object }}</h1>

<div class="edit">
<!-- TODO: Not sure this elaborate status message stuff is necessary. -->
{% if revision.deleted %}
<p>
  {% ifequal revision.state states.OPEN %}
    There is an error with this revision.  Please contact a GCD editor
    for assistance.
  {% endifequal %}
  {% ifequal revision.state states.PENDING %}
    This revision has been marked as deleted and submitted for approval.
    Undelete is not yet implemented.  If you want to cancel the deletion,
    please contact a GCD editor.
  {% endifequal %}
  {% ifequal revision.state states.REVIEWING %}
    This revision has been marked deleted and is being reviewed for approval
    by GCD editor
    <a href="mailto:{{ revision.approver.indexer.email }}">{{ revision.approver.indexer }}</a>.
  {% endifequal %}
  {% ifequal revision.state states.APPROVED %}
    This deletion has been approved.
    Undelete is not yet implemented- please contact a GCD editor if you
    believe the deletion was in error.
  {% endifequal %}
  {% ifequal revision.state states.DISCARDED %}
    This deletion has been discarded, which means that the assocaited
    record has <strong>not</strong> been deleted.  Please reserve the
    record again if you would like to make changes.
  {% endifequal %}
</p>
{% else %}
  {% ifequal revision.state states.OPEN %}
<form action="{{ object_url }}" method="POST">
{% include object_form_template %}
<table class="comments">
<tr>
  <th> Commenter </th>
  <th> Old State </th>
  <th> New State </th>
  <th> Comment </th>
  <th> Timestamp </th>
</tr>
{% for comment in revision.comments.all %}
<tr>
  <td> {{ comment.commenter.indexer }} </td>
  <td> {{ comment.display_old_state }} </td>
  <td> {{ comment.display_new_state }} </td>
  <td> {{ comment.text }} </td>
  <td> {{ comment.created }} </td>
</tr>
{% endfor %}
</table>

<input type="submit" name="submit" value="Submit changes for approval"></input>
<input type="submit" name="discard" value="Discard all changes"></input>
</form>
  {% else %}
    <p>
    {% ifequal revision.state states.BASELINE %}
      This revision is stored for future data migration, and is not intended
      to be user-visibile.  This is not the revision you are looking for.
      Move along :-)
    {% endifequal %}
    {% ifequal revision.state states.PENDING %}
      This change has been submitted for approval, but is not yet under review.
      {% ifequal revision.indexer user %}
        <form action="{{ object_url }}" method="POST">
          <input type="submit" name="retract" value="Retract change and edit further" />
          <label for="comments">Comments</label>
          <input type="textarea" name="comments">
        </form>
      {% endifequal %}
    {% endifequal %}
    {% ifequal revision.state states.REVIEWING %}
      This change has been submitted for approval, and is being reviewed by
      GCD editor
      <a href="mailto:{{ revision.approver.indexer.email }}">{{ revision.approver.indexer }}</a>.
    {% endifequal %}
    {% ifequal revision.state states.APPROVED %}
      This revision has been approved.  If you would like to make further
      changes, please reserve the record again.
    {% endifequal %}
    {% ifequal revision.state states.DISCARDED %}
      This revision has been discarded.  This means that the changes have
      <strong>not</strong> been applied to the original record.
      If you would like to make changes, please reserve the record again.
    {% endifequal %}
    </p>
  {% endifequal %}
{% endif %}
</div>

{% endblock %}
