{% load compare %}
{% load url from future %}

<form action="{% url 'process' id=changeset.id %}" method="POST"
      enctype="multipart/form-data">
    {% csrf_token %}
    <table class="editing" style="padding-top: 10px;">
        <input type="hidden" name="total_names"
               value="{{ other_name_details|length }}" id="total_names">
        <input type="hidden" name="total_schools"
               value="{{ revision.cr_creator_school.all|length }}"
               id="total_schools">
        <input type="hidden" name="total_degrees"
               value="{{ revision.cr_creator_degree.all|length }}"
               id="total_degrees">

        <div class="gcd-official-name-div">
            <div class="name-details"
                 style="padding-left: 43px;display: inline;">
                <label>Gcd Official Name:</label>
                <input type="text" id="gcd_official_name"
                       name="gcd_official_name"
                       value="{{ official_name_details.name }}" required
                       style="margin-left: -12px;width: 138px;"> &nbsp;
                <label>Type:</label>
                <select name="gcd_official_type" id="gcd_official_type"
                        style="width: 118px; margin-left: -12px;">
                    {% for name_type in name_types %}
                        {% if name_type.type == settings.GCD_OFFICIAL_NAME_FIELDNAME %}
                            <option value={{ name_type.id }}>{{ name_type.type }}</option>
                        {% endif %}
                    {% endfor %}
                </select> &nbsp;

                <label>Source:</label>
                <select multiple
                        style="vertical-align: middle;margin-left: -12px;"
                        name="gcd_official_sources"
                        id="gcd_official_sources">
                    {% for name_source in sources %}
                        <option
                                {% if name_source.type|is_in:official_name_details.sources %}
                                    selected {% endif %}
                                    value={{ name_source.id }}>{{ name_source.type }}</option>
                    {% endfor %}
                </select>&nbsp;
                <input type="button" id="add_name_divison_id"
                       class="add_name_class" value="Add New"
                       name="add_name_divison">
                <br><br>
            </div>
        </div>

        <div class="name-div">
            {% for other_name_detail in other_name_details %}
                <div class="name-details{{ forloop.counter }}"
                     style="padding-left: 113px;display: inline;">
                    <label>Name:</label>
                    <input type="text" id="name{{ forloop.counter }}"
                           name="name{{ forloop.counter }}"
                           value="{{ other_name_detail.name }}" required
                           style="margin-left: -12px;width: 138px;"> &nbsp;
                    <label>Type:</label>
                    <select name="type{{ forloop.counter }}"
                            id="type{{ forloop.counter }}"
                            style="width: 118px; margin-left: -12px;">
                        {% for name_type in name_types %}
                            {% if not name_type.type == settings.GCD_OFFICIAL_NAME_FIELDNAME %}
                                <option
                                        {% if name_type.type == other_name_detail.type %}
                                            selected {% endif %}
                                            value={{ name_type.id }}>{{ name_type.type }}</option>
                            {% endif %}
                        {% endfor %}
                    </select> &nbsp;

                    <label>Source:</label>
                    <select multiple
                            style="vertical-align: middle;margin-left: -12px;"
                            name="sources{{ forloop.counter }}"
                            id="sources{{ forloop.counter }}">
                        {% for name_source in sources %}
                            <option
                                    {% if name_source.type|is_in:other_name_detail.sources %}
                                        selected {% endif %}
                                        value={{ name_source.id }}>{{ name_source.type }}</option>
                        {% endfor %}
                    </select>&nbsp;

                    <label>Relation Type:</label>
                    <select name="relation_type{{ forloop.counter }}"
                            id="relation_type{{ forloop.counter }}"
                            style="margin-left: -12px;">
                        <option value="">------------</option>
                        {% for relation_type in relation_types %}
                            <option
                                    {% if relation_type.type|is_equal:other_name_detail.relation_obj %}
                                        selected {% endif %}
                                        value={{ relation_type.id }}>{{ relation_type.type }}</option>
                        {% endfor %}
                    </select> &nbsp;
                    <label>Relation Source:</label>
                    <select multiple
                            style="vertical-align: middle;margin-left: -12px;"
                            name="relation_sources{{ forloop.counter }}"
                            id="relation_sources{{ forloop.counter }}">
                        {% for name_source in sources %}
                            <option
                                    {% if name_source.type|relation_source_is_in:other_name_detail.relation_obj %}
                                        selected {% endif %}
                                        value={{ name_source.id }}>{{ name_source.type }}</option>
                        {% endfor %}
                    </select>&nbsp;
                    <input type="button" id="add_name_divison_id"
                           class="add_name_class" value="Add New"
                           name="add_name_divison">
                    <input type="button" id="remove_name_button" value="Remove"
                           name="remove_this_name">`
                    <br><br>
                </div>
            {% endfor %}
        </div>

        {{ form.as_table }}
    </table>

    <h4 style="display:inline;">School Details:-</h4>&nbsp;&nbsp;&nbsp;<input
        type="button" id="add_schools" class="add_school_class"
        value="Add Schools" {% if revision.cr_creator_school.all|length == 0 %}
        style="display: inline;" {% endif %}>
    <br><br>

    <div class="school-div">
        {% for school_obj in revision.cr_creator_school.all %}
            <div class="school-details{{ forloop.counter }}"
                 style="padding-left: 16px; display: inline;">
                <label>School:</label>
                <select name="school{{ forloop.counter }}"
                        id="school{{ forloop.counter }}" style="width: 193px;">
                    {% for school in schools %}
                        <option {% if school == school_obj.school %}
                            selected {% endif %}
                            value='{{ school.id }}'>{{ school.school_name }}</option>
                    {% endfor %}
                </select> &nbsp;

                <label>Year Began:</label>
                <input type="text" id="school_year_began{{ forloop.counter }}"
                       name="school_year_began{{ forloop.counter }}"
                       value="{{ school_obj.school_year_began }}"
                       style="width: 45px;">

                <label>Year Began Uncertain:</label>
                <input type="checkbox"
                       name="school_year_began_uncertain{{ forloop.counter }}"
                       id="school_year_began_uncertain{{ forloop.counter }}"
                        {% if school_obj.school_year_began_uncertain %}
                       checked {% endif %} style="margin-left: -11px;">

                <label>Year Ended:</label>
                <input type="text" id="school_year_ended{{ forloop.counter }}"
                       name="school_year_ended{{ forloop.counter }}"
                       value="{{ school_obj.school_year_ended }}"
                       style="width: 45px;">

                <label>Year Ended Uncertain:</label>
                <input type="checkbox"
                       name="school_year_ended_uncertain{{ forloop.counter }}"
                       id="school_year_ended_uncertain{{ forloop.counter }}"
                        {% if school_obj.school_year_ended_uncertain %}
                       checked {% endif %} style="margin-left: -11px;">
                <label>Source:</label>
                <select multiple style="vertical-align: middle; width: 157px;"
                        name="school_sources{{ forloop.counter }}"
                        id="school_sources{{ forloop.counter }}">
                    {% for school_source in sources %}
                        <option
                                {% if school_source.type|is_in:school_obj.school_source.all %}
                                    selected {% endif %}
                                    value='{{ school_source.id }}'>{{ school_source.type }}</option>
                    {% endfor %}
                </select>&nbsp;
                <input type="button" id="add_school_divison_id"
                       class="add_school_class" value="Add New"
                       name="add_school_divison">
                <input type="button" id="remove_school_button"
                       class="remove_school_class" value="Remove"
                       name="remove_school_divison">
                <br><br><br><br>
            </div>
        {% endfor %}
    </div>

    <h4 style="display:inline;">Degree Details:-</h4>&nbsp;&nbsp;&nbsp;<input
        type="button" id="add_degrees" class="add_degree_class"
        value="Add Degrees" {% if revision.cr_creator_degree.all|length == 0 %}
        style="display: inline;" {% endif %}>
    <br><br>

    <div class="degree-div">
        {% for degree_obj in revision.cr_creator_degree.all %}
            <div class="degree-details{{ forloop.counter }}"
                 style="padding-left: 20px; display: inline;">
                <label>Degree:</label>
                <select name="degree{{ forloop.counter }}"
                        id="degree{{ forloop.counter }}" style="width: 193px;">
                    {% for degree in degrees %}
                        <option {% if degree == degree_obj.degree %}
                            selected {% endif %}
                            value='{{ degree.id }}'>{{ degree.degree_name }}</option>
                    {% endfor %}
                </select>&nbsp;&nbsp;&nbsp;
                <label>School:</label>
                <select name="degreeschool{{ forloop.counter }}"
                        id="degreeschool{{ forloop.counter }}"
                        style="width: 193px;">
                    {% for school in schools %}
                        <option {% if school == degree_obj.school %}
                            selected {% endif %}
                            value='{{ school.id }}'>{{ school.school_name }}</option>
                    {% endfor %}
                </select> &nbsp;
                <label>Degree Year:</label>
                <input type="text" id="degree_year{{ forloop.counter }}"
                       name="degree_year{{ forloop.counter }}"
                       value="{{ degree_obj.degree_year }}"
                       style="width: 95px;">&nbsp;&nbsp;
                <label>Degree Year Uncertain:</label>
                <input type="checkbox"
                       name="degree_year_uncertain{{ forloop.counter }}"
                       id="degree_year_uncertain{{ forloop.counter }}"
                        {% if degree_obj.degree_year_uncertain %}
                       checked {% endif %} style="margin-left: -4px;">&nbsp;&nbsp;&nbsp;

                <input type="button" id="add_degree_divison_id"
                       class="add_degree_class" value="Add New"
                       name="add_degree_divison">
                <input type="button" id="remove_degree_button"
                       class="remove_degree_class" value="Remove"
                       name="remove_degree_divison">
                <br><br><br><br>
            </div>
        {% endfor %}
    </div>

    {% if changeset.comments.count > 1 %}
        {% comment %} change was sent back {% endcomment %}
        <p>
            <a href="{% url 'compare' id=changeset.id %}">Compare changes</a>
        </p>
    {% endif %}
    {% with changeset.comments as comments %}
        {% include 'oi/bits/comments.html' %}
    {% endwith %}
    {% ifequal revision.source_label "story" %}
        <input type="submit" name="save"
               value="Save and continue editing"></input>
        <input type="submit" name="save_return"
               value="Save and return to issue"></input>
        <input type="submit" name="cancel_return"
               value="Return to issue without saving"></input>
    {% else %}
        {% ifequal revision.source_label "issue" %}
            <input type="submit" name="save"
                   value="Save and continue editing"></input>
        {% endifequal %}
        <input type="submit" name="submit"
               value="Submit changes for approval"></input>
        {% if changeset.approver %}
            <input type="submit" name="discuss" value="Discuss">
        {% endif %}
        <input type="button" id="confirm-discard" name="discard"
               value="Discard all changes"></input>
    {% endifequal %}
</form>


<script src="{{ MEDIA_URL }}jquery/js/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var name_type_dropdown = '';
        {% for name_type in name_types %}
            {% if not name_type.type == settings.GCD_OFFICIAL_NAME_FIELDNAME %}
                name_type_dropdown = name_type_dropdown + '<option value="{{ name_type.id }}">{{ name_type.type }}</option>';
            {% endif %}
        {% endfor %}

        var relation_types_dropdown = '<option value="">---------</option>';
        {% for relation_type in relation_types %}
            relation_types_dropdown += '<option value="{{ relation_type.id }}">{{ relation_type.type }}</option>';
        {% endfor %}

        var sources_dropdown = '';
        {% for source in sources %}
            sources_dropdown = sources_dropdown + '<option value="{{ source.id }}">{{ source.type }}</option>';
        {% endfor %}

        var schools_dropdown = '';
        {% for school in schools %}
            schools_dropdown = schools_dropdown + '<option value="{{ school.id }}">{{ school.school_name }}</option>';
        {% endfor %}

        var degrees_dropdown = '';
        {% for degree in degrees %}
            degrees_dropdown = degrees_dropdown + '<option value="{{ degree.id }}">{{ degree.degree_name }}</option>';
        {% endfor %}

        if (parseInt($('#total_schools').val()) > 0) {
            $('#add_schools').hide();
        }

        if (parseInt($('#total_degrees').val()) > 0) {
            $('#add_degrees').hide();
        }
        $(document).on("click", ".add_name_class", function () {
            var total_names = parseInt($('#total_names').val());
            var next_index = total_names + 1;
            $('.name-div').append(
                    '<div class="name-details" style="padding-left: 110px;display: inline;">' +
                    ' <label>Name:</label>' +
                    '<input type="text" id="name' + next_index + '" name="name' + next_index + '" required style="margin-left: -9px;width: 138px;"> &nbsp; ' +
                    '<label>Type:</label>' +
                    '<select name="type' + next_index + '" id="type' + next_index + '" style="margin-left: -9px;">'
                    + name_type_dropdown +
                    '</select> &nbsp;' +
                    '<label>Sources:</label>' +
                    '<select multiple name="sources' + next_index + '" id="sources' + next_index + '" style="vertical-align: middle; margin-left: -9px;">'
                    + sources_dropdown +
                    '</select> &nbsp;' +
                    '<label>Relation Type:</label>' +
                    '<select name="relation_type' + next_index + '" id="relation_type' + next_index + '" style="margin-left: -9px;">'
                    + relation_types_dropdown +
                    '</select> &nbsp;' +
                    '<label>Relation Sources:</label>' +
                    '<select multiple name="relation_sources' + next_index + '" id="relation_sources' + next_index + '" style="vertical-align: middle; margin-left: -9px;">'
                    + sources_dropdown +
                    '</select> &nbsp;' +
                    '<input type="button" id="add_name_divison_id" class="add_name_class" value="Add New" name="add_new_name">&nbsp;' +
                    '<input type="button" id="remove_name_button" value="Remove" name="remove_this_name">`' +
                    '<br><br>' +
                    '</div>');


            $('#total_names').val(next_index);

        });

        $(document).on("click", ".add_school_class", function () {
            var total_schools = parseInt($('#total_schools').val());
            var next_index = total_schools + 1;
            $('.school-div').append(
                    '<div class="school-details" style="padding-left: 16px; display: inline;">' +
                    ' <label>School:</label>' +
                    '<select name="school' + next_index + '" id="school' + next_index + '" style="width: 193px;">'
                    + schools_dropdown +
                    '</select> &nbsp;&nbsp;' +
                    '<label>Year Began:</label>' +
                    '<input type="text" id="school_year_began' + next_index + '" name="school_year_began' + next_index + '" style="width: 45px;">&nbsp;&nbsp;' +
                    '<label>Year Began Uncertain:</label>' +
                    '<input type="checkbox" id="school_year_began_uncertain' + next_index + '" name="school_year_began_uncertain' + next_index + '" style="margin-left: -11px;">&nbsp;&nbsp;' +
                    '<label>Year Ended:</label>' +
                    '<input type="text" id="school_year_ended' + next_index + '" name="school_year_ended' + next_index + '" style="width: 45px;">&nbsp;&nbsp;' +
                    '<label>Year Ended Uncertain:</label>' +
                    '<input type="checkbox" id="school_year_ended_uncertain' + next_index + '" name="school_year_ended_uncertain' + next_index + '" style="margin-left: -11px;">&nbsp;&nbsp;' +
                    '<label>Sources:</label>' +
                    '<select multiple name="school_sources' + next_index + '" id="school_sources' + next_index + '" style="vertical-align: middle; width: 157px;">'
                    + sources_dropdown +
                    '</select> &nbsp;' +
                    '<input type="button" id="add_school_divison_id" class="add_school_class" value="Add New" name="add_new_school">&nbsp;' +
                    '<input type="button" id="remove_school_button" value="Remove" name="remove_this_school">`' +
                    '<br><br><br><br><br>' +
                    '</div>');

            $('#total_schools').val(next_index);
            $('#add_schools').hide();
        });

        $(document).on("click", ".add_degree_class", function () {
            var total_degrees = parseInt($('#total_degrees').val());
            var next_index = total_degrees + 1;
            $('.degree-div').append(
                    '<div class="degree-details" style="padding-left: 20px; display: inline;">' +
                    ' <label>Degree:</label>' +
                    '<select name="degree' + next_index + '" id="degree' + next_index + '" style="width: 193px;">'
                    + degrees_dropdown +
                    '</select> &nbsp;&nbsp;&nbsp;&nbsp;' +
                    ' <label>School:</label>' +
                    '<select name="degreeschool' + next_index + '" id="degreeschool' + next_index + '" style="width: 193px;">'
                    + schools_dropdown +
                    '</select>&nbsp;&nbsp;&nbsp;&nbsp;' +
                    '<label>Degree Year:</label>' +
                    '<input type="text" id="degree_year' + next_index + '" name="degree_year' + next_index + '" style="width: 95px;">&nbsp;&nbsp;&nbsp;&nbsp;' +
                    '<label>Degree Year Uncertain:</label>' +
                    '<input type="checkbox" id="degree_year_uncertain' + next_index + '" name="degree_year_uncertain' + next_index + '" style="margin-left: -4px;">&nbsp;&nbsp;&nbsp;&nbsp;' +
                    '<input type="button" id="add_degree_divison_id" class="add_degree_class" value="Add New" name="add_new_degree">&nbsp;' +
                    '<input type="button" id="remove_degree_button" value="Remove" name="remove_this_degree">`' +
                    '<br><br><br><br><br>' +
                    '</div>');

            $('#total_degrees').val(next_index);
            $('#add_degrees').hide();
        });

        $(document).on("click", '#remove_name_button', function () {
            $(this).closest('div').remove();
        });
        $(document).on("click", '#remove_school_button', function () {
            $(this).closest('div').remove();
            if ($.trim($('.school-div').html()).length == 0) {
                $('#add_schools').attr('style', "display: inline;");
            }
        });
        $(document).on("click", '#remove_degree_button', function () {
            $(this).closest('div').remove();
            if ($.trim($('.degree-div').html()).length == 0) {
                $('#add_degrees').attr('style', "display: inline;");
            }
        });

        $('#confirm-discard').click(function () {
            if ($('#id_comments').val() == "") {
                var is_comment = 0;
            } else {
                var is_comment = 1;
            }
            window.location.assign("{% url 'confirm_discard' changeset.id 0 %}".replace(0, is_comment));

        });
    });
</script>

