{% load compare %}
<form action="{% url process id=changeset.id %}" method="POST">
    {% csrf_token %}
    <table class="editing" style="padding-top: 10px;">
        <input type="hidden" name="total_names" value="{{ revision.cr_creator_names.all|length }}" id="total_names">

        <div class="gcd_official_name_div" style="padding-left: 42px; display: inline;">
            <label>GCD official name:</label>
            <input type="text" id="gcd_official_name" name="gcd_official_name" value="{{ revision.gcd_official_name }}"
                   required> &nbsp;
        </div>

        <div class="name-div">
            {% for creator_names in revision.cr_creator_names.all %}
                <div class="name-details{{ forloop.counter }}" style="padding-left: 113px;display: inline;">
                    <label>Name:</label>
                    <input type="text" id="name{{ forloop.counter }}" name="name{{ forloop.counter }}"
                           value="{{ creator_names.name }}" required> &nbsp;
                    <label>Type:</label>
                    <select name="type{{ forloop.counter }}" id="type{{ forloop.counter }}">
                        {% for name_type in name_types %}
                            <option {% if name_type.type == creator_names.type.type %} selected {% endif %}
                                                                                       value={{ name_type.id }}>{{ name_type.type }}</option>
                        {% endfor %}
                    </select> &nbsp;

                    <label>Source:</label>
                    <select multiple style="vertical-align: middle;" name="sources{{ forloop.counter }}"
                            id="sources{{ forloop.counter }}">
                        {% for name_source in name_sources %}
                            <option {% if name_source.type|is_in:creator_names.source.all %} selected {% endif %}
                                                                                             value={{ name_source.id }}>{{ name_source.type }}</option>
                        {% endfor %}
                    </select>&nbsp;
                    <input type="button" id="add_name_divison_id" class="add_name_class" value="Add New"
                           name="add_name_divison">
                    <input type="button" id="remove_name_button" value="Remove" name="remove_this_name">`
                    <br><br>
                </div>
            {% endfor %}
        </div>

        {{ form.as_table }}

    </table>
    {% if changeset.comments.count > 1 %} {% comment %} change was sent back {% endcomment %}
        <p>
            <a href="{% url compare id=changeset.id %}">Compare changes</a>
        </p>
    {% endif %}
    {% with changeset.comments as comments %}
        {% include 'oi/bits/comments.html' %}
    {% endwith %}
    {% ifequal revision.source_label "story" %}
        <input type="submit" name="save" value="Save and continue editing"></input>
        <input type="submit" name="save_return" value="Save and return to issue"></input>
        <input type="submit" name="cancel_return"
               value="Return to issue without saving"></input>
    {% else %}
        {% ifequal revision.source_label "issue" %}
            <input type="submit" name="save" value="Save and continue editing"></input>
        {% endifequal %}
        <input type="submit" name="submit" value="Submit changes for approval"></input>
        {% if changeset.approver %}
            <input type="submit" name="discuss" value="Discuss">
        {% endif %}
        <input type="submit" name="discard" value="Discard all changes"></input>
    {% endifequal %}
</form>


<script src="{{ MEDIA_URL }}jquery/js/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var name_type_dropdown = '';
        {% for name_type in name_types %}
            name_type_dropdown = name_type_dropdown + '<option value="{{ name_type.id }}">{{ name_type.type }}</option>';
        {% endfor %}
        var name_sources_dropdown = '';
        {% for name_source in name_sources %}
            name_sources_dropdown = name_sources_dropdown + '<option value="{{ name_source.id }}">{{ name_source.type }}</option>';
        {% endfor %}

        $(document).on("click", ".add_name_class", function () {
            var total_names = parseInt($('#total_names').val());
            var next_index = total_names + 1;
            $('.name-div').append(
                    '<div class="name-details" style="padding-left: 110px;display: inline;">' +
                    ' <label>Name:</label>' +
                    '<input type="text" id="name" name="name' + next_index + '" required> &nbsp;&nbsp;' +
                    '<label>Type:</label>' +
                    '<select name="type' + next_index + '" id="type">'
                    + name_type_dropdown +
                    '</select> &nbsp;&nbsp;&nbsp;' +
                    '<label>Sources:</label>' +
                    '<select multiple name="sources' + next_index + '" id="sources" style="vertical-align: middle;">'
                    + name_sources_dropdown +
                    '</select> &nbsp;' +
                    '<input type="button" id="add_name_divison_id" class="add_name_class" value="Add New" name="add_new_name">&nbsp;' +
                    '<input type="button" id="remove_name_button" value="Remove" name="remove_this_name">`' +
                    '<br><br>' +
                    '</div>');


            $('#total_names').val(next_index);
            if ($('.gcd_official_name_div').has('#add_divison_id').length > 0) {
                $('.gcd_official_name_div').children('#add_divison_id').remove();
            }
        });
        $(document).on("click", '#remove_name_button', function () {
            $(this).closest('div').remove();
            if ($('.name-div').has('div').length == 0) {
                $('.gcd_official_name_div').append(
                        '<input type="button" id="add_divison_id" class="add_name_class" value="Add New Names" name="add_new_name">')
            }
        });
    });
</script>

