{% load crispy_forms_tags %}
<form action="{% url "process" id=changeset.id %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <table class="editing">
  {% if form.helper %}
    {% crispy form %}
  {% else %}
    {{ form.as_table }}
  {% endif %}
  </table>
  {% if changeset.comments.count > 1 %} {% comment %} change was sent back {% endcomment %}
  <p>
    <a href="{% url "compare" id=changeset.id %}">Compare Changes</a>
  </p>
  {% endif %}
  {% with changeset.comments as comments %}
  {% include 'oi/bits/comments.html' %}
  {% endwith %}
  {% if revision.source_label == "story" %}
<button class="btn-blue-editing inline" type="submit" name="save">Save And Continue Editing</button>
<button class="btn-blue-editing inline" type="submit" name="save_return">Save And Return To Issue</button>
<button class="btn-blue-editing inline" type="submit" name="cancel_return">Return to issue without saving</button>
  {% else %}
    {% if revision.source_label == "issue" %}
<button class="btn-blue-editing inline" type="submit" name="save">Save And Continue Editing</button>
    {% endif %}
<button class="btn-blue-editing inline" type="submit" name="submit">Submit Changes For Approval</button>
    {% if changeset.approver %}
<button class="btn-blue-editing inline" type="submit" name="discuss">Discuss</button>
  {% endif %}
<button class="btn-blue-editing inline" type="submit" name="discard">Discard All Changes</button>
  {% endif %}
</form>

