{% extends "oi/base_view.html" %}

{% load credits %}
{% load display %}
{% load editing %}

{% block view_body %}
<h1>Series bonds for {{ series|absolute_url }} </h1>

<table>
  {% if series.from_series_bond.count %}
    {% for bond in series.from_series_bond.all %}
  <tr class="border border-gray-300">
    <td> {{ bond }} </td>
      {% if bond|is_locked %}
    <td colspan="2">
        is reserved
    </td>
      {% else %}
    <td>
        {% if user.is_authenticated %}
      <form method="POST" action="{% url "reserve_revision" model_name='series_bond' id=bond.id %}">
          {% csrf_token %}
        <button><input class="btn-blue-editing" id="edit" name="edit" type="submit" value="Edit"></input>
      </form>
    </td>
    <td>
        <form method="GET" action="{% url "delete_revision" model_name='series_bond' id=bond.id %}">
          <button><input class="btn-blue-editing" type="submit" value="Delete">
        </form>
        {% endif %}
    </td>
      {% endif %}
  </tr>
    {% endfor %}
  {% endif %}

  {% if series.to_series_bond.count %}
    {% for bond in series.to_series_bond.all %}
  <tr class="border border-gray-300">
    <td> {{ bond }} </td>
      {% if bond|is_locked %}
    <td colspan="2">
        is reserved
    </td>
      {% else %}
    <td>
        {% if user.is_authenticated %}
      <form method="POST" action="{% url "reserve_revision" model_name='series_bond' id=bond.id %}">
          {% csrf_token %}
        <button><input class="btn-blue-editing" id="edit" name="edit" type="submit" value="Edit"></input>
      </form>
    </td>
    <td>
        <form method="GET" action="{% url "delete_revision" model_name='series_bond' id=bond.id %}">
          <button><input class="btn-blue-editing" type="submit" value="Delete">
        </form>
        {% endif %}
    </td>
      {% endif %}
  </tr>
    {% endfor %}
  {% endif %}
</table>

{% endblock %}
