{% extends "oi/base_view.html" %}

{% load staticfiles %}
{% load i18n %}
{% load credits %}

{% block title %}
  GCD :: Issue :: {{ issue.series.name }} {{ issue.display_number }}
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css"
        href="{% static "css/gcd/default.css" %}"/>
  <link rel="stylesheet" type="text/css"
        href="{% static "css/gcd/default/issue.css" %}"/>
  <link rel="stylesheet" type="text/css"
        href="{% static "css/gcd/default/single_story.css" %}"/>
  <link rel="stylesheet" type="text/css"
        href="{% static "css/oi/default.css" %}"/>
  <link rel="stylesheet" type="text/css"
        href="{% static "css/oi/default/edit.css" %}"/>
{% endblock %}

{% block view_body %}

<h3>
Are you sure you want to remove the following story (sequence number: {{ story.sequence_number }}) from the edit of {{ issue }} ?
</h3>
<form style="display:inline;" method="POST"
    action="{% url "remove_story_revision" id=story.revision.id %}">
{% csrf_token %}
<input type="submit" id="remove_{{ story.revision.id }}" name="remove_{{ story.revision.id }}"
       value="Yes">
</input>
</form>
<form style="display:inline;" method="GET"
    action="{% url "edit" id=story.revision.changeset.id %}">
<input type="submit" id="remove_{{ story.revision.id }}" name="remove_{{ story.revision.id }}"
       value="No">
</input>
</form>
<hr class="divider">
{% with 1 as preview %}
<div id="story_data">
  {% include "gcd/details/single_story.html" %}
</div>
{% endwith %}

{% endblock %}

