{% extends "oi/base_view.html" %}

{% load credits %}
{% load display %}

{% block title %}
{{ series }} Issue Order
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/{{ style|default:'default' }}.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/oi/{{ style|default:'default' }}.css"/>
{% endblock %}

{% block view_body %}
<h1> {{ series }} Issue Order </h1>

<p class="instructions">
<span class="important">Note:</span> Pressing the commit button at the
bottom of the page is the only way to make the changes go live.  Pressing
any preview button reloads this page with the issues in the proposed new order.
Pressing return or enter in one of the text boxes also just previews the changes.
</p>
<p class="instructions">
You can use the key date or issue number reordering preview, and then do further
changes in the "custom reordering" section before committing the entire change
or even previewing a second time.
</p>
<hr>
<form method="POST" action="{% url reorder_series_key_date series_id=series.id %}">
  <input type="submit" name="submit" value="Preview reorder by key_date">
<p>
Reordering by key date when there are duplicate key dates will produce
unpredictable results, and may not even sort the same way if you try it multiple
times.
</form>
<hr>
<form method="POST"
      action="{% url reorder_series_issue_number series_id=series.id %}">
  <input type="submit" name="submit" value="Preview reorder by issue number">
</form>
<p>
Reordering by issue number works only for issues where all numbers are whole
numbers with no punctuation.  So an issue "-1" is OK (but will sort between
-2 and 0, which is usually not how such issues should sort) but "1,000,000"
will not work.
<hr>

<h3> Custom Reordering </h3>
<ul>
  <li> You may use negative numbers
  <li> You may use decimal numbers using a decimal point (i.e. 2.5, -10.125, etc.)
  <li> You may *NOT* use commas (our apologies to folks who would prefer to write
       the above as 2,5; -10,125; etc.)
  <li> The actual sort codes that get saved to the databse will be whole numbers
       calculated by the code.  You will see these numbers when you preview your
       changes.
</ul>

<form method="POST" action="{% url reorder_series series_id=series.id %}">
<table>
  <tr>
    <th> Sort Code </th>
    <th> Issue </th>
    <th> Publication Date </th>
    <th> Key Date </th>
  </tr>
{% for issue, new_sort_code in issue_list %}
  <tr>
    <td> <input type="text"
                id="sort_code_{{ issue.id }}"
                name="sort_code_{{ issue.id }}"
  {% if new_sort_code %}
                value="{{ new_sort_code }}"
  {% else %}
    {% ifequal new_sort_code 0 %}
                value="{{ new_sort_code }}"
    {% else %}
                value="{{ issue.sort_code }}"
    {% endifequal %}
  {% endif %}
         > </td>
    <td> {{ issue|show_issue }} </td>
    <td> {{ issue.publication_date }} </td>
    <td> {{ issue.key_date }} </td>
  </tr>
{% endfor %}
</table>
<input type="submit" name="preview" value="Preview custom reordering">
<input type="submit" name="commit" value="Commit to database!">
</form>
{% endblock %}
