{% extends "oi/base_view.html" %}

{% load static %}

{% load credits %}
{% load editing %}
{% load crispy_forms_tags %}

{% block title %}
{{ changeset }}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{% static "css/gcd/default.css" %}"/>
<link rel="stylesheet" type="text/css"
      href="{% static "css/oi/default.css" %}"/>
<link rel="stylesheet" type="text/css"
      href="{% static "css/oi/default/edit.css" %}"/>
{% endblock %}
{% block css_raw %}
{% comment %} this css doesn't like compressing {% endcomment %}
{% if revision.source_name == 'issue' %}
<link rel="stylesheet" type="text/css"
      href="{% static "jquery/css/msdropdown/dd.css" %}"/>
{% endif %}
{% endblock %}

{% block view_body %}
{% include "oi/bits/jquery.html" %}
{{ credits_formset.media }}
{{ form.media }}
{% include "oi/bits/multi_selector.html" %}
<h1>
{{ changeset|header_link }}
</h1>

{% if revision.source_name == 'story' %}
<h2 class='important' style="text-align:left"> We changed to a tabbed editing for stories as a default. Edit in all three (if needed) tabs and press save after editing in all, but not necessarily in-between. In your profile you can unset the flag 'Use Tabs in Editing' to have the earlier behavior of a single long view.</h3>
{% endif %}

<div class="edit">
<form action="{% url "process_revision" model_name=revision.source_name id=revision.id %}" method="POST">
  {% csrf_token %}
  <table class="editing">
  {% if revision.source_name == 'story' or revision.source_name == 'issue' %}
    {% crispy form %}
  {% else %}
    {{ form.as_table }}
  {% endif %}
  </table>
  {% with changeset.comments as comments %}
  {% include 'oi/bits/comments.html' %}
  {% endwith %}

<input type="submit" name="save" value="Save and continue editing">
<input type="submit" name="save_return" value="Save and return to changeset">
<input type="submit" name="cancel_return"
       value="Return to changeset without saving">
{% if revision.source_name == 'story' and revision.old_credits %}
  <input type="submit" name="save_migrate" value="Save and migrate credits">
{% endif %}
</form>
</div>
{% endblock %}

{% block footer %}
  {% if revision.source_name in 'issue story' %}
    {% include 'oi/bits/revision_form_utils.html' %}
  {% endif %}
{% endblock %}

