{% extends "oi/base_view.html" %}

{% load credits %}
{% load display %}

{% block view_body %}
{{ heading }}
Search for {{ target }} by entering the relevant information here:

<form method="get" action="{% url "select_object_search_haystack" select_key=select_key %}">
  <p>
    <label for="id_q">Search for:</label>
    {{ haystack_form.q }}
    <select name="search_object" size="1">
      <option value="all"> All </option>
{% if story %}
      <option value="story"> Story </option>
{% endif %}
{% if issue or story %}
      <option value="issue"> Issue </option>
{% endif %}
{% if series %}
      <option value="series"> Series </option>
{% endif %}
{% if publisher %}
      <option value="publisher"> Publisher </option>
{% endif %}
    </select>
    <btn class="btn-blue-editing inline"><input type="submit" value="Search"></btn>
  </p>
</form>

<form action="{% url "select_object_search" select_key=select_key %}" method="GET">
  <table class="select_search">
    <tr>
{% for field in search_form.visible_fields %}
      <th>{{ field.label_tag }}</th>
{% endfor %}
    </tr>
{% if search_form.errors %}
    <tr>
  {% for field in search_form %}
      <td>{{ field.errors }}</td>
  {% endfor %}
    </tr>
{% endif %}
    <tr>
{% for field in search_form %}
      <td>{{ field }}</td>
{% endfor %}
    </tr>
  </table>
{% if story %}
<btn class="btn-blue-editing inline"><input type="submit" name="search_story" value="Search for stories"></input></btn>
{% endif %}
{% if story or cover %}
<btn class="btn-blue-editing inline"><input type="submit" name="search_cover" value="Search for covers"></input></btn>
{% endif %}
{% if issue or story %}
<btn class="btn-blue-editing inline"><input type="submit" name="search_issue" value="Search for issues"></input></btn>
{% endif %}
{% if series %}
<btn class="btn-blue-editing inline"><input type="submit" name="search_series" value="Search for series"></input></btn>
{% endif %}
{% if publisher %}
<btn class="btn-blue-editing inline"><input type="submit" name="search_publisher" value="Search for publisher"></input></btn>
{% endif %}
</form>

{% if cache_form.visible_fields %}
<p>
or select from the data cache:
{% for radio in cache_form.object_choice %}
<form action="{% url "select_object" select_key=select_key %}" method="POST">
{% csrf_token %}
<btn class="btn-blue-editing inline"><input type="submit" name="select_object" value="Select"></btn>
 <input type="hidden" name="object_choice" value="{{ radio.data.value }}">
{{ radio.choice_label }}
</form>
{% endfor %}
</p>
{% endif %}
{% if story or issue %}
  {% if issue %}
<form action="{% url "select_object" select_key=select_key %}" method="POST">
{% csrf_token %}
<p>
or enter the id of an issue (from its url: www.comics.org/issue/&lt;issue_id&gt;)
<btn class="btn-blue-editing inline"><input type="submit" value="Select issue"></btn>
  <input title="Enter the id of the issue from its url: www.comics.org/issue/&lt;issue_id&gt;" type="text" name="entered_issue_id" size="7"></input>
</p>
</form>
  {% endif %}
  {% if story %}
<form action="{% url "select_object" select_key=select_key %}" method="POST">
{% csrf_token %}
<p>
or enter the id of a story (from its url in the table contents: www.comics.org/issue/&lt;issue_id&gt;/#&lt;story_id&gt;)
<btn class="btn-blue-editing inline"><input type="submit" value="Select story"></btn>
  <input title="Enter the id of the story from its url: www.comics.org/issue/&lt;issue_id&gt;/#&lt;story_id&gt;" type="text" name="entered_story_id" size="7"></input>
</form>
  {% endif %}
</p>
{% endif %}
<p>
  <form action="{% url "select_object" select_key=select_key %}" method="POST">
  {% csrf_token %}
  <btn class="btn-blue-editing inline"><input type="submit" name="cancel" value="Cancel"></input></btn>
  </form>
</p>
{% endblock %}
