{% extends "oi/base_view.html" %}

{% load credits %}
{% load display %}

{% block view_body %}
<h2>Change <span class="changed">{{ which_side }}</span> of <br>{{ reprint_revision }}
</h2>

</p>
<table>
  <tr>
    <td>
      <form class="inline" method="GET"
            action="{% url 'select_internal_issue' id=reprint_revision.id issue_id=issue_revision.id changeset_id=changeset.id which_side=which_side %}">
        <button><input class="btn-blue-editing min-w-28" type="submit" value="Select Issue"></button>
      </form>
    </td>
    <td>{{ issue_revision }}</td>
  </tr>
{% for story_revision in issue_revision.ordered_story_revisions %}
  <tr>
    <td>
      <form class="inline" method="GET"
              action="{% url 'select_internal_story' id=reprint_revision.id story_id=story_revision.id changeset_id=changeset.id which_side=which_side %}">
        <button><input class="btn-blue-editing min-w-28" type="submit" {% if story_revision.deleted %} disabled="disabled" {% endif %} id="reprint_{{ story_revision.id }}" name="reprint_{{ story_revision.id }}"
                       value="Select Sequence"></button>
      </form>
    </td>
    <td>{{ story_revision|show_story_short }}</td>
  </tr>
{% endfor %}
</table>

{% endblock %}
