{% with changeset.seriesbondrevisions.get as series_bond_revision %}
<form class="changeset" method="POST" 
      action="{% url 'edit_series_bond' id=series_bond_revision.id %}">
{% csrf_token %}
  <table class="border border-gray-300">
    <tr class="border border-gray-300">
      <td class="pe-2">The numbering of </td>
      <td>
{{ series_bond_revision.origin }}
{% if series_bond_revision.origin_issue %}
is from {{ series_bond_revision.origin_issue.display_number }} on
{% else %}
is
{% endif %}
      </td>
      <td><button><input class="btn-blue-editing" type="submit" id="edit_origin" name="edit_origin" value="Edit"></button></td>
    </tr>
    <tr class="border border-gray-300">
      <td>continued at</td>
      <td>
{{ series_bond_revision.target }}
{% if series_bond_revision.target_issue %}
with {{ series_bond_revision.target_issue.display_number }}
{% endif %}
      </td>
      <td><button><input class="btn-blue-editing" type="submit" id="edit_target" name="edit_target" value="Edit"></button></td>
    </tr>
    <tr class="border border-gray-300">
      <td></td>
      <td></td>
      <td><button><input class="btn-blue-editing" type="submit" id="flip_direction" name="flip_direction" value="Flip Direction"></button></td>
  </table>
</form>
{% endwith %}
