{% load compress %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/DTD/strict.dtd"> 
<html>
<head>
  <title>Select front cover for {{ issue }}</title>
</head>
<body>
  {% include 'oi/bits/select_cover_section.html' %}
  {% compress css %}
  <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/oi/{{ style|default:'default' }}.css"/>
  {% endcompress %}
  <p>Please select the front part of the cover for {{ issue }}. </p>
  <img src='{{ MEDIA_URL }}img/gcd/new_covers/tmp/{{ scan_name }}' id='cropbox' width={{ width }}px>
  <form method='post' action='{% url gatefold_cover %}'>
  <br>
  {{ form }}
  <input type='submit' name='submit' value='Submit'>
  <input type="submit" name="discard" value="Discard">
  </form>
</body>
</html>
