{% extends "oi/base_view.html" %}
{% load display %}

{% block title %} 
GCD :: Cover for {{ issue.series.name }} #{{ issue.display_number }} 
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/gcd/{{ style|default:'default' }}.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/oi/{{ style|default:'default' }}/cover.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/oi/{{ style|default:'default' }}.css"/>
{% endblock %}

{% block view_body %}

<h1 class="item_id search_id">
<div class="left">
Cover {{ already }} uploaded for
</div>
</h1>
<div class="item_id">
<div class="left">
{{ issue|absolute_url }}
</div>
</div>

<div class="success">
This cover upload has been successfully submitted and is awaiting approval by an editor.
</div>

<div>
  <div id="cover_uploaded">
    <a href="{% url compare id=revision.changeset.id %}">{{ tag|safe }}</a><br/>
    <a href="{% url compare id=revision.changeset.id %}">Zoom / Compare</a><br>
    <a href="{{ issue.series.get_absolute_url}}scans/?style={{ style|default:'default' }}">Cover Scan Status</a><br/>
    <a href="{{ issue.series.get_absolute_url }}covers/?style={{ style|default:'default' }}">Cover Gallery</a><br>
    <br>
    <a href="{{ issue.series.get_absolute_url }}">Back to the series</a><br>
    <a href="{{ issue.get_absolute_url }}">Back to the issue</a>
  </div>
  <div id="cover_needed">
{% if blank_issues %}
    <ul>
    Issues missing covers
  {% for issue in blank_issues %}
      <li><a href="{% url upload_cover issue_id=issue.id %}">{{ issue.series }} #{{ issue.display_number }}</a>
      </li>
  {% endfor %}
    </ul>
{% endif %}
{% if marked_covers %}
    <ul>
    Covers marked for replacement
  {% for cover in marked_covers %}
      <li><a href="{{ cover.get_status_url }}">{{ cover.issue.series }} #{{ cover.issue.display_number }}</a>
      </li>
  {% endfor %}
    </ul>
{% endif %}
    <ul>
    Add a variant cover
    <li><a href="{% url upload_cover issue_id=issue.id %}">{{ issue.series }} #{{ issue.display_number }}</a>
    </li>
    </ul>
  </div>
</div>
{% endblock %}
