{% extends "gcd/base.html" %}

{% block title %}
Select front cover for {{ issue }}
{% endblock %}

{% block css %}
  <link rel='stylesheet' href='{{ MEDIA_URL }}css/gcd/default.css' type='text/css'>
  <link rel='stylesheet' href='{{ MEDIA_URL }}css/oi/default/cover.css' type='text/css'>
  <link rel='stylesheet' href='{{ MEDIA_URL }}jquery/css/jquery.Jcrop.css' type='text/css'>
{% endblock %}

{% block body %}
  {% with "Upload Gatefold Cover" as bar_heading %}
    {% include "gcd/bits/no_links_bar.html" %}
  {% endwith %}
  {% include 'oi/bits/select_cover_section.html' %}
  <p>Please select the front part of the cover for {{ issue }}. Note that if you leave this page without
     clicking "Submit", your upload will be lost.</p>
  <img src='{{ MEDIA_URL }}img/gcd/new_covers/tmp/{{ scan_name }}' id='cropbox' width='{{ width }}'>
  <div id='preview_box'>
  </div>
  <form method='post' action='{% url gatefold_cover %}'>
  <ul id='coords'>
    {{ form.as_ul }}
    <li><input type='submit' name='submit' value='Submit'></li>
    <li><input type='submit' name='discard' value='Discard'></li>
  </ul>
  </form>
{% endblock %}

{% block fine_print %}{% endblock %}
