{% extends "oi/base_view.html" %}

{% load static %}
{% load i18n %}
{% load credits %}
{% load display %}

{% block title %}
GCD :: Image upload for {{ display_obj }}
{% endblock %}

{% block view_body %}
<h1 class="item_id search_id">
  <div class="left">
     {{ header }}
  </div>
</h1>
<div class="item_id">
  <div class="left">
{{ display_obj|absolute_url }}
  </div>
</div>
<div>
  <fieldset class="universal">
    <ol>
{% if current_image %}
      <form action="{% url "replace_image" model_name=model_name id=display_obj.id image_id=current_image.id %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
{% else %}
      <form action="{% url "upload_image" model_name=model_name id=display_obj.id image_type=image_type %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
{% endif %}
        <table class="editing">
          <button><input class="btn-blue-editing" type="submit" value="Upload"></button>
    {{ form.as_table }}
        </table>
        <button><input class="btn-blue-editing" type="submit" value="Upload"></button>
      </form>
    </ol>
  </fieldset>
  {% if current_image %}
  <div id="display_cover">
    {{ current_image_tag }}
    <div style="text-align:left">
      <ul>
        <li>If you are replacing an image, please make sure that the image you upload is better than the one that is
            already there.
        <li>Image replacements will usually be rejected unless they are significantly better, so do not expect your replacement image to always be accepted.
      </ul>
    </div>
  </div>
  {% endif %}
</div> <!-- main -->

<div id="guidelines">
  <b>Guidelines:</b>
  <ul class="object-page-link-list columns-1 ps-8">
  {% for line in guidelines %}
    <li>{{ line }}</li>
  {% endfor %}
  </ul>
</div>
{% endblock %}

