.queues {
    margin-bottom: 1em;
    font-size: smaller;
}

.queues table {
    border: solid black 2px;
    border-collapse: collapse;
}

.queues th {
    border: solid black 1px;
    border-collapse: collapse;
    padding: 0.4em;
    background-color: #DDD;
}

.queues td {
    border: solid black 1px;
    border-collapse: collapse;
    padding: 0.4em;
}

.queues form {
    margin: 0;
    padding: 0;
}

.queues input {
    font-size: 0.8em;
    margin: 0;
}

.label_binding {
    white-space: nowrap;
}

input.comments {
    width: 40em;
}

