/* ***************************************
 * status.css
 * CSS specific to the index status page.
 * ***************************************/

.scan_status_0,
.status_available,
.status_0,
.collection_status_empty {
    background-color: white;
}

.status_editing,
.status_1,
.collection_status_want {
    background-color: #F30;
}

.status_pending,
.status_reviewing,
.status_discussed,
.status_2,
.collection_status_collected {
    background-color: #F93;
}

.scan_status_3,
.status_approved,
.status_3,
.collection_status_own {
    background-color: #3C3;
}

.scan_status_4,
.status_partial,
.status_4,
.collection_status_several {
    background-color: #77E;
}

/* Note that these tables have border="1" specified in
 * the HTML source to allow user agents such as elinks
 * to render a border.  Which means the CSS related to
 * the table border may behave a little differently.
 */
table.status {
    background-color: black;
    border-collapse: collapse;
    border-spacing: 0px;
    border: double black 2px;
    min-width: 50em;
    width: calc(100% - 300px);
    font-size: 0.95em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}

table#status_key {
    font-weight: normal;
}

table.status td {
    padding: .2em;
    border: solid black 1px;
}

table.status a {
    display: block;
}

table.status :link {
    color: black;
}

table.status :visited {
    color: #666;
}

/* new style */

div.status_grid {
    margin: 1em 0;
    display: flex;
    flex-wrap: wrap;
}

.status_grid_flex {
    text-align: center;
    min-width: 90px;
    border-width: 1px;
    border-style: solid;
    margin: 0 -1px -1px 0;
}

.status_grid_flex a {
    padding: 0.2em 0.6em;
    display: block;
    font-weight: bold;
    font-size: 0.95em;
}

.status_small {
    width: 90px;
}

.status_medium {
    width: 15em;
}

.status_wide {
    width: 25em;
}

.status_grid_flex :visited, .status_grid_flex :link {
    color: black;
}


/* spacers are used in a few places where spacing is normally
 * controlled by CSS but non-CSS browsers need a bit of help.
 */
p.spacer {
    margin: 0;
}
