{% extends "gcd/base_view.html" %}
{% load static %}
{% load i18n %}
{% load credits %}
{% load display %}
{% block css %}
  <link rel="stylesheet" type="text/css"
        href="{% static "css/gcd/default.css" %}"/>
{% endblock %}
{% block css_raw %}
<script src="https://unpkg.com/htmx.org@1.6.0" integrity="sha384-G4dtlRlMBrk5fEiRXDsLjriPo8Qk5ZeHVVxS8KhX6D7I9XXJlNqbdvRlp9/glk5D" crossorigin="anonymous"></script>
{% endblock %}
{% block view_body %}
  <form method="get" action=".">
      <p>
        <label for="id_q">Search for:</label>
        {{ form.q }} in
        <select name="search_object" size="1">
            <option value="all"> All </option>
            <option value="story" {% if 'facet_model_name_exact:story' in form.selected_facets %}selected{% endif %}> Story </option>
            <option value="issue" {% if 'facet_model_name_exact:issue' in form.selected_facets %}selected{% endif %}> Issue </option>
            <option value="series" {% if 'facet_model_name_exact:series' in form.selected_facets %}selected{% endif %}> Series </option>
            <option value="publisher" {% if 'facet_model_name_exact:publisher' in form.selected_facets %}selected{% endif %}> Publisher </option>
            <option value="brand group" {% if 'facet_model_name_exact:brand group' in form.selected_facets %}selected{% endif %}> Publisher Brand Group </option>
            <option value="brand emblem" {% if 'facet_model_name_exact:brand emblem' in form.selected_facets %}selected{% endif %}> Publisher Brand Emblem </option>
            <option value="indicia publisher" {% if 'facet_model_name_exact:indicia publisher' in form.selected_facets %}selected{% endif %}> Indicia Publisher </option>
            <option value="printer" {% if 'facet_model_name_exact:printer' in form.selected_facets %}selected{% endif %}> Printer </option>
            <option value="creator" {% if 'facet_model_name_exact:creator' in form.selected_facets %}selected{% endif %}> Creator </option>
            <option value="creator membership" {% if 'facet_model_name_exact:creator membership' in form.selected_facets %}selected{% endif %}> Creator Membership</option>
            <option value="creator art influence" {% if 'facet_model_name_exact:creator art influence' in form.selected_facets %}selected{% endif %}> Creator Art Influence</option>
            <option value="received award" {% if 'facet_model_name_exact:received award' in form.selected_facets %}selected{% endif %}> Received Award</option>
            <option value="creator non comic work" {% if 'facet_model_name_exact:creator non comic work' in form.selected_facets %}selected{% endif %}> Creator Non Comic Work </option>
        </select>
        <input type="submit" value="Search">
      </p>
  </form>
    {% if suggestion %}
    <p>Did you mean <a href="?q={{ suggestion }}">{{ suggestion }}</a> ?</p>
    {% endif %}
    {% if query and paginator.count > 0 %}
      <h1 class="item_id search_id">Search Results:
        <div class="right">Order:
        {% if is_model_selected %}
          {% if sort %}<a href="?{{ query }}{{ facet_page }}">Relevance</a>{% else %}Relevance{% endif %} |
          {% if 'alpha' not in sort %}<a href="?{{ query }}{{ facet_page }}&sort=alpha">Alpha</a>{% else %}Alpha{%endif %} |
          {% if 'chrono' not in sort %}<a href="?{{ query }}{{ facet_page }}&sort=chrono">Chrono</a>{% else %}Chrono{%endif %} |
          {% if 'country' not in sort %}<a href="?{{ query }}{{ facet_page }}&sort=country">Country</a>{% else %}Country{%endif %}
        {% else %}
          {% if sort %}<a href="?{{ query }}{{ facet_page }}">Relevance</a>{% else %} Relevance{% endif %} |
          {% if 'year' not in sort %}<a href="?{{ query }}{{ facet_page }}&sort=year">Year</a>{% else %}Year{% endif %} |
          {% if 'country' not in sort %}<a href="?{{ query }}{{ facet_page }}&sort=country">Country</a>{% else %}Country{%endif %}
        {% endif %}
        </div>
      </h1>
      <div class="flex_left item_id">
        {% if request.GET.q %}
          Displaying {{ page.start_index }} to {{ page.end_index }} of {{ paginator.count }} results matching your search for '{{ request.GET.q }}'.
        {% endif %}
        {% with extra_string=query|add:facet_page|add:sort %}
          {% with advanced_search=1 %}
            {% include "gcd/bits/pagination_bar.html" %}
          {% endwith %}
        {% endwith %}
      </div>
      <div style="clear: both;"></div>
      {% if facets.fields.facet_model_name %}
        <ul style="columns: 3;">
          {% for model in facets.fields.facet_model_name %}
            <li><a href="?{{ query }}{{ facet_page }}{% if not is_model_selected %}&amp;selected_facets=facet_model_name_exact:{{ model.0|urlencode }}{% endif %}">{{ model.0 }}</a> ({{ model.1 }})</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if select_key and multiple_selects %}
        <form action="{% url "process_multiple_selects" select_key=select_key %}" method="POST">
          {% csrf_token %}
          <input type="submit" name="search_select" value="Submit">
          <div style="clear: both;"></div>
      {% endif %}
      {% if paginator.count > 100 %}
      <div style="clear: both;">
      Too many results? Try adding further terms to limit the matches,
      e.g. publication year or publisher. Or put search terms in ""-quotes
      for exact matches, which also works for (exact) series name and
      issue number.
      </div>
      {% endif %}
      <div id="Container">
      <div id="LeftSearchColumn">
        <details {% if is_country_selected %} open="open" {% endif %} class="facet_listing left">
        <summary>Country ({{ facets.fields.country|length }})</summary>
        <table class="facet_listing left">
      {% for country in facets.fields.country %}
            <tr class="{% cycle 'listing_even' 'listing_odd' %}">
          <td><a href="?{{ query }}{{ facet_page }}{% if not is_country_selected %}&amp;selected_facets=country_exact:{{ country.0|urlencode }}{% endif %}">{{ country.0|get_country_flag_by_name }} ({{ country.1}})</a>
          </td></tr>
      {% endfor %}
        </table>
      </details>

        <details {% if is_language_selected %} open="open" {% endif %} class="facet_listing left">
        <summary>Language ({{ facets.fields.language|length }}) </summary>
        <table class="facet_listing">
      {% for language in facets.fields.language %}
            <tr class="{% cycle 'listing_even' 'listing_odd' %}">
          <td><a href="?{{ query }}{{ facet_page }}{% if not is_language_selected %}&amp;selected_facets=language_exact:{{ language.0|urlencode }}{% endif %}">{{ language.0|get_native_language_name }} ({{ language.1}})</a>
          </td></tr>
      {% endfor %}
        </table>
      </details>
       <details {% if is_publisher_selected %} open="open" {% endif %} class="facet_listing left">
        <summary>Publisher ({{ facets.fields.publisher|length }})</summary>
        <table class="facet_listing left">
      {% for publisher in facets.fields.publisher %}
            <tr class="{% cycle 'listing_even' 'listing_odd' %}">
          <td><a href="?{{ query }}{{ facet_page }}{% if not is_publisher_selected %}&amp;selected_facets=publisher_exact:{{ publisher.0|urlencode }}{% endif %}">{{ publisher.0 }} ({{ publisher.1}})</a>
          </td></tr>
      {% endfor %}
        </table>
      </details>
      <details {% if is_date_selected %} open="open" {% endif %} class="facet_listing left">
        <summary>Year</summary>
        <table class="facet_listing left">
      {% for year in facets.dates.date %}
        {% if year.1 %}
            <tr class="{% cycle 'listing_even' 'listing_odd' %}">
          <td><a href="?{{ query }}{{ facet_page }}{% if not is_date_selected or forloop.counter > 1 %}&amp;date_facet={{ year.0 }}{% endif %}">{{ year.0|date:"Y" }} ({{ year.1}})</a>
          </td></tr>
	{% endif %}
      {% endfor %}
        </table>
      </details>
      <details {% if is_type_selected %} open="open" {% endif %} class="facet_listing left">
        <summary>Sequence ({{ facets.fields.type|length }})</summary>
        <table class="facet_listing left">
      {% for type in facets.fields.type %}
            <tr class="{% cycle 'listing_even' 'listing_odd' %}">
          <td><a href="?{{ query }}{{ facet_page }}{% if not is_type_selected or forloop.counter > 1 %}&amp;selected_facets=type_exact:{{ type.0|urlencode }}{% endif %}">{{ type.0 }} ({{ type.1}})</a>
          </td></tr>
      {% endfor %}
        </table>
      </details>
      <details {% if is_feature_selected %} open="open" {% endif %} class="facet_listing left">
        <summary>Feature ({{ facets.fields.feature|length }})</summary>
        <table class="facet_listing left">
      {% for feature in facets.fields.feature %}
            <tr class="{% cycle 'listing_even' 'listing_odd' %}">
          <td><a href="?{{ query }}{{ facet_page }}{% if not is_feature_selected or forloop.counter > 1 %}&amp;selected_facets=feature_exact:{{ feature.0|urlencode }}{% endif %}">{{ feature.0 }} ({{ feature.1}})</a>
          </td></tr>
      {% endfor %}
        </table>
      </details>
      </div>
      <div id="RightSearchColumn">
      <div class="left">
        <table class="listing left">
          <thead>
          <tr>
      {% if select_key %}
            <th> Selection </th>
      {% endif %}
            <th style="width: 170px;">Type</th>
            <th>Name</th>
          </tr>
          </thead>
          <tbody>
        {% for result in page.object_list %}
            <tr class="{% cycle 'listing_even' 'listing_odd' %}">
            {% if select_key %}
              <td>
              {% if result.model_name in allowed_selects %}
                {% if multiple_selects %}
                <input type="checkbox" name="object_choice" value="{{ result.model_name }}_{{ result.object.id }}">
                {% else %}
                <form action="{% url "select_object" select_key=select_key %}" method="POST">
                  {% csrf_token %}
                <input type="submit" name="search_select" value="Select this {{ result.model_name }}">
                <input type="hidden" name="object_choice" value="{{ result.model_name }}_{{ result.object.id }}">
                </form>
                {% endif %}
              {% endif %}
              </td>
            {% endif %}
            {% if result.model_name == 'series' %}
                <td>[SERIES]</td>
                <td><img {{ result.object.country|show_country_info }}  class="embedded_flag"> <a href="{{ result.object.get_absolute_url }}">{{ result.object.search_result_name }}</a></td>
            {% endif %}
            {% if result.model_name == 'issue' %}
                <td><a hx-get="{% url "show_issue_modal" issue_id=result.object.id %}" hx-target="body" hx-swap="beforeend" style="cursor: pointer; color: #00e;" title="preview"><img class="icon" src="{% static "img/gcd/icons/"|add:ICON_SET_SYMBOLIC|add:"/preview-search.svg" %}" title="preview"></img> [ISSUE]</a></td>
                <td><img {{ result.object.series.country|show_country_info }}  class="embedded_flag"> <a href="{{ result.object.get_absolute_url }}"> {{ result.object.full_name }}</a>
                {{ result.object.publication_date|str_encl:'(' }}</td>
            {% endif %}
            {% if result.model_name == 'story' %}
                <td><a hx-get="{% url "show_story_modal" story_id=result.object.id %}" hx-target="body" hx-swap="beforeend" style="cursor: pointer; color: #00e;" title="preview"><img class="icon" src="{% static "img/gcd/icons/"|add:ICON_SET_SYMBOLIC|add:"/preview-search.svg" %}" title="preview"></img> [STORY]</a></td>
                <td><a href="{{ result.object.get_absolute_url }}">{{ result.object|show_title:1 }}</a>
              {% if result.object.has_feature %} / {{ result.object.show_feature }}{% endif %} / {{ result.object.type }}
              {% if result.object.page_count %} / {{ result.object|show_page_count:1 }}{% endif %}
              (from
                <img {{ result.object.issue.series.country|show_country_info }}  class="embedded_flag">
                <a href="{{ result.object.issue.get_absolute_url }}">
              {{ result.object.issue.full_name }}</a> {{ result.object.issue.publication_date|str_encl:'(' }})</td>
            {% endif %}
            {% if result.model_name == 'feature' %}
                <td>[FEATURE]</td>
                <td><a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a></td>
            {% endif %}
            {% if result.model_name == 'universe' %}
                <td>[UNIVERSE]</td>
                <td><a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a></td>
            {% endif %}
            {% if result.model_name == 'character' %}
                <td>[CHARACTER]</td>
                <td><a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a></td>
            {% endif %}
            {% if result.model_name == 'group' %}
                <td>[GROUP]</td>
                <td><a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a></td>
            {% endif %}
            {% if result.model_name == 'publisher' %}
                <td>[PUBLISHER]</td>
                <td><img {{ result.object.country|show_country_info }}  class="embedded_flag"> <a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a></td>
            {% endif %}
            {% if result.model_name == 'indiciapublisher' %}
                <td>[INDICIA PUBLISHER]</td>
                <td><img {{ result.object.country|show_country_info }}  class="embedded_flag"> <a href="{{ result.object.parent.get_absolute_url }}">{{ result.object.parent.name }}</a>
              :
                <a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a></td>
            {% endif %}
            {% if result.model_name == 'brand' %}
                <td>[BRAND EMBLEM]</td>
                <td><a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a></td>
            {% endif %}
            {% if result.model_name == 'brandgroup' %}
                <td>[BRAND GROUP]</td>
                <td><img {{ result.object.parent.country|show_country_info }}  class="embedded_flag"> <a href="{{ result.object.parent.get_absolute_url }}">{{ result.object.parent.name }}</a>
                :
                  <a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a></td>
            {% endif %}
            {% if result.model_name == 'printer' %}
                <td>[PRINTER]</td>
                <td><img {{ result.object.country|show_country_info }}  class="embedded_flag"> <a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a></td>
            {% endif %}
            {% if result.model_name == 'award' %}
                <td>[AWARD]</td>
                <td><a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a></td>
            {% endif %}

            {% if result.model_name == 'creator' %}
                <td>[CREATOR]</td>
                <td><img {{ result.object.birth_country|show_country_info }}  class="embedded_flag"> <a href="{{ result.object.get_absolute_url }}">{{ result.object.search_result_name }}</a></td>
            {% endif %}
            {% if result.model_name == 'creatormembership' %}
                <td>[CREATOR MEMBERSHIP]</td>
                <td><a href="{{ result.object.get_absolute_url }}">{{ result.object.organization_name }}</a></td>
            {% endif %}
            {% if result.model_name == 'creatorartinfluence' %}
                <td>[CREATOR ART INFLUENCE]</td>
                <td><a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a></td>
            {% endif %}
            {% if result.model_name == 'receivedaward' %}
                <td>[RECEIVED AWARD]</td>
                <td><a href="{{ result.object.get_absolute_url }}">{{ result.object.award }} - {{ result.object.display_name }}: {{ result.object.recipient }}</a></td>
            {% endif %}
            {% if result.model_name == 'creatornoncomicwork' %}
                <td>[CREATOR NONCOMICWORK]</td>
                <td><a href="{{ result.object.get_absolute_url }}">{{ result.object.publication_title }}</a></td>
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        </table>
      </div>
      <div class="right">
        {% if ADVERTISING and not BETA and USE_TEMPLATESADMIN %}
          {% include "managed_content/gcd/ads/ad_skyscraper.html" %}
        {% endif %}
      </div>
      </div> <!-- #RightSearchColumn -->
      </div>
      {% if select_key and multiple_selects %}
      <div style="clear: both;"></div>
        <input type="submit" name="search_select" value="Submit">
        </form>
      {% endif %}
      <div style="clear: both;"></div>
      {% if sort %}
        {% if 'country' in sort %}
          <p>Sort is per <a href="http://docs.comics.org/wiki/Country_and_Currency_and_Language_Codes">country code</a>, within a country by relevance.</p>
        {% endif %}
        {% if 'year' in sort or 'chrono' in sort %}
          <p>Objects with no date information are listed at the end.</p>
        {% endif %}
      {% endif %}

      <h1 class="item_id search_id">&nbsp;  </h1>
      <div class="item_id">
        {% with extra_string=query|add:facet_page|add:sort  %}
          {% with advanced_search=1 %}
            {% include "gcd/bits/pagination_bar.html" %}
          {% endwith %}
        {% endwith %}
      </div>
      <div style="height:10px; clear: both"></div>
    {% else %}
      {% if query %}
      <p>No results.</p>
      {% endif %}
    {% endif %}
      <p>Please enter the search word(s) in the box. The search is looking for exact matches for each word.</p>
      <p>You can use four ways to further modify a search:
        <ul>
          <li>""-quotes search for phrases, e.g. "Batman and Superman" or "Asterix 1"
          <li>'-' in front of a word or phrase filters out matching results, e.g. Spider-Man Ditko -Lee
          <li>* acts as a wild card, e.g. Spir* finds Spirit and Spirou
          <li>using OR in a search finds matches for the terms before the OR or the <b>one</b> term/phrase directly after the OR, e.g. Grant Morrison OR "Warren Ellis", which is different to Grant Morrison OR Warren Ellis.
        </ul>
      Special characters, e.g. ,;/, are ignored.</p>
{% include 'oi/bits/jquery.html' with details=True %}
{% endblock %}
