{% extends "gcd/base_view.html" %}
{% load i18n %}
{% block css %}
  <link rel="stylesheet" type="text/css"
        href="{{ MEDIA_URL }}css/gcd/default.css"/>
{% endblock %}
{% block view_body %}
  <h2>Search</h2>

  <form method="get" action=".">
      <p>
        <label for="id_q">Search for:</label>
        {{ form.q }}
        <input type="submit" value="Search">
      </p>

    {% if query and paginator.count > 0 %}
      <h1 class="item_id search_id">Search Results:</h1>
      <div class="item_id">
        {% if request.GET.q %}
          Displaying {{ page.start_index }} to {{ page.end_index }} of {{ paginator.count }} results matching your search for '{{ request.GET.q }}'.
        {% endif %}

        {% with extra_string="q="|add:query %}
          {% include "gcd/bits/pagination_bar.html" %}
        {% endwith %}
      </div>
      <div style="clear: both;"></div>
      {% if facets.fields.facet_model_name %}
        <ul>
          {% for model in facets.fields.facet_model_name %}
            <li><a href="?q={{ query }}{% if request.GET.models %}&amp;models={{ request.GET.models }}{% endif %}&amp;selected_facets=facet_model_name_exact:{{ model.0|urlencode }}">{{ model.0 }}</a> ({{ model.1 }})</li>
          {% endfor %}
        </ul>
      {% endif %}
      <table class="listing left">
        <tr>
          <th style="width: 70px;">Type</th>
          <th>Name</th>
        </tr>
        {% for result in page.object_list %}
          <tr class="{% cycle 'listing_even' 'listing_odd' %}">
            {% if result.model_name == 'series' %}
              <td>[SERIES]</td>
              <td><a href="{{ result.object.get_absolute_url }}">{{ result.object.full_name }}</a></td>
            {% endif %}
            {% if result.model_name == 'issue' %}
              <td>[ISSUE]</td>
              <td><a href="{{ result.object.get_absolute_url }}">
              {{ result.object.full_name }}</a></td>
            {% endif %}
            {% if result.model_name == 'story' %}
              <td>[STORY]</td>
              <td><a href="{{ result.object.get_absolute_url }}">{% if result.object.title %}
                {{ result.object.title }}
              {% else %}
                [ no title ]
              {% endif %}</a>
              (from
              <a href="{{ result.object.issue.get_absolute_url }}">
              {{ result.object.issue.full_name }}</a>)</td>
            {% endif %}
            {% if result.model_name == 'publisher' %}
              <td>[PUBLISHER]</td>
              <td><a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a></td>
            {% endif %}
            {% if result.model_name == 'indiciapublisher' %}
              <td>[INDICIA PUBLISHER]</td>
              <td><a href="{{ result.object.parent.get_absolute_url }}">{{ result.object.parent.name }}</a>
              :
              <a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a></td>
            {% endif %}
            {% if result.model_name == 'brand' %}
              <td>[BRAND]</td>
              <td><a href="{{ result.object.parent.get_absolute_url }}">{{ result.object.parent.name }}</a>
              :
              <a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a></td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>
      <div style="clear: both;"></div>

      <h1 class="item_id search_id">&nbsp;  </h1>
      <div class="item_id">
        {% with extra_string="q="|add:query %}
          {% include "gcd/bits/pagination_bar.html" %}
        {% endwith %}
      </div>
      <div style="height:10px; clear: both"></div>
    {% else %}
      <p>No results.</p>
    {% endif %}
  </form>
{% endblock %}