{% extends "gcd/tw_base_view.html" %}
{% load static %}
{% load credits %}
{% load display %}
{% load i18n %}

{% block title %}
  GCD :: {{ heading }}
{% endblock %}

{% block css_raw %}
<script type="text/javascript" src="{% static "js/htmx.min.js" %}"></script>
{% endblock %}

{% block nav_bar %}
  {{ block.super }}
<nav class="flex items-center justify-between flex-wrap bg-blue-100 px-1 lg:px-3">
  <div class="flex-1 font-bold text-lg">
  {{ page.start_index }} to {{ page.end_index }} of {{ page.paginator.count }} result{{ page.paginator.count|pluralize:'s' }} matching your search for '{{ request.GET.q }}'
  </div>
  {% with query_string=query|add:facet_page|add:sort %}
    {% include "gcd/bits/tw_pagination_bar.html" %}
  {% endwith %}
</nav>
{% endblock %}

{% block view_body %}
<div class="flex">
  <div class="max-lg:hidden invisible font-bold px-2 rounded">
  {% include "gcd/bits/hs_sort_bar.html" %}
  </div>
  <div class="flex-1"><!-- Search Box -->
    <form class="mt-2" action="." method="get">
      <div class="flex rounded-lg border border-gray-500 overflow-hidden max-w-md mx-auto">
        <span class="max-sm:hidden flex">
  {% include "gcd/bits/hs_search_for.html" %}
        </span>
        <input type="search" name="q" value="{{ search_term|default:'' }}" placeholder="Search..."
          class="w-full bg-white text-gray-600 border-gray-500 px-1" />
        <button type='submit' class="border border-gray-500 flex items-center justify-center bg-white px-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192.904 192.904" width="16px" class="fill-black">
          <path
            d="m190.707 180.101-47.078-47.077c11.702-14.072 18.752-32.142 18.752-51.831C162.381 36.423 125.959 0 81.191 0 36.422 0 0 36.423 0 81.193c0 44.767 36.422 81.187 81.191 81.187 19.688 0 37.759-7.049 51.831-18.751l47.079 47.078a7.474 7.474 0 0 0 5.303 2.197 7.498 7.498 0 0 0 5.303-12.803zM15 81.193C15 44.694 44.693 15 81.191 15c36.497 0 66.189 29.694 66.189 66.193 0 36.496-29.692 66.187-66.189 66.187C44.693 147.38 15 117.689 15 81.193z">
          </path>
        </svg>
        </button>
        <span class="max-sm:hidden flex">
  {% include "gcd/bits/hs_search_order.html" %}
        </span>
      </div>
    </form>
  </div><!-- Search Box -->
  <div class="mt-2 py-1 border border-gray-400 justify-end bg-blue-100 font-bold px-2 rounded">
  {% include "gcd/bits/hs_sort_bar.html" %}
  </div>
</div>

  {% if suggestion %}
<p>Did you mean <a href="?q={{ suggestion }}">{{ suggestion }}</a> ?</p>
  {% endif %}
  {% if query and paginator.count > 0 %}
<div class="px-2">
  {% if facets.fields.facet_model_name %}
  <ul class="px-6 list-disc columns-2 sm:columns-3">
    {% for model in facets.fields.facet_model_name %}
    <li><a href="?{{ query }}{{ sort }}{% if not selected_model %}&amp;selected_facets=facet_model_name_exact:{{ model.0|urlencode }}{% endif %}">{{ model.0 }}</a> ({{ model.1 }})</li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if paginator.count > 100 %}
  <div class='max-sm:hidden'>
    Too many results? Try adding further terms to limit the matches,
    e.g. publication year or publisher. Or put search terms in ""-quotes
    for exact matches, which also works for (exact) series name and
    issue number.
  </div>
  {% endif %}
</div>
<div class="flex">
  <div class="sm:hidden bg-blue-100 h-7 pe-1 absolute left-0 flex">
    <button class="mobile-facet-menu-button">
      {% include "gcd/bits/tw_three_bars.html" %}
    </button>
  </div>
  <div class="facet-filter px-1 sm:px-2 flex flex-col w-48 max-sm:mt-8 max-sm:hidden max-sm:absolute max-sm:left-0 bg-white overflow-hidden">
    <form method="GET" class="flex-col">
      <button class="btn btn-blue ml-1 mb-2 h-8">Filter Results</button>
  {% if request.GET.sort %}
      <input type="hidden" name="sort" value="{{ request.GET.sort }}">
  {% endif %}
  {% if selected_model %}
      <input type="hidden" name="selected_facets" value="{{ selected_model }}">
  {% endif %}
      <input type="hidden" name="q" value="{{ request.GET.q }}">
  {% for field in filter_form %}
      <details {% if field.label in selected %} open="open" {% endif %} class="mb-2">
        <summary class="bg-blue-100">{{ field.label }} ({{ field.field.choices|length }})</summary>
        <div class="mt-1 relative">
          <div class="overflow-y-auto max-h-24 border rounded-md border-gray-300 p-1 inline-block">
    {% for choice in field.field.choices %}
            <div class="flex items-center inline-block mr-4">
              <input type="checkbox"
                id="{{ field.name }}_{{ choice.0 }}"
                name="{{ field.name }}"
                value="{{ choice.0 }}"
      {% if choice.0|stringformat:"s" in field.value %}checked{% endif %}
                class="h-4 w-4 border-gray-300 rounded">
              <label for="{{ field.name }}_{{ choice.0 }}" class="ml-2 block text-sm">
                {{ choice.1 }}
              </label>
            </div>
    {% endfor %}
          </div>
        </div>
      </details>
  {% endfor %}
    </form>
  </div>
  <div class="flex-1 ">
    <div class="left">
  {% if select_key and multiple_selects %}
  <form action="{% url 'process_multiple_selects'  select_key=select_key %}" method="POST">
    {% csrf_token %}
    <button class="btn-blue-editing inline" type="submit" name="search_select">
      Select
    </button>
      <div style="clear: both;"></div>
  {% endif %}
      <table class="border">
        <thead class="bg-blue-100">
          <tr>
  {% if select_key %}
            <th> Selection </th>
  {% endif %}
            <th class="min-w-24">Type</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
  {% for result in page.object_list %}
            <tr class="hover:bg-blue-50 sm:table-row border-y-2">
    {% if select_key %}
              <td>
      {% if result.model_name in allowed_selects %}
        {% if multiple_selects %}
                <input type="checkbox" name="object_choice" value="{{ result.model_name }}_{{ result.object.id }}">
        {% else %}
                <form action="{% url 'select_object' select_key=select_key %}" method="POST">
          {% csrf_token %}
                  <button class="btn-blue-editing" type="submit" name="search_select" style="white-space: nowrap;">
                    Select This {{ result.model_name|capfirst }}
                  </button>
                  <input type="hidden" name="object_choice" value="{{ result.model_name }}_{{ result.object.id }}">
                </form>
        {% endif %}
      {% endif %}
              </td>
    {% endif %}
    {% if result.model_name == 'series' %}
                <td class="pe-2">[SERIES]</td>
                <td><img {{ result.object.country|show_country_info }}  class="inline"> <a href="{{ result.object.get_absolute_url }}">{{ result.object.search_result_name }}</a></td>
    {% endif %}
    {% if result.model_name == 'issue' %}
                <td class="pe-2"><a hx-get="{% url "show_issue_modal" issue_id=result.object.id %}" hx-target="body" hx-swap="beforeend" style="cursor: pointer; color: #00e;" title="preview"><img class="inline" src="{% static "img/gcd/icons/"|add:ICON_SET_SYMBOLIC|add:"/preview-search.svg" %}" title="preview"></img> [ISSUE]</a></td>
                <td><img {{ result.object.series.country|show_country_info }}  class="inline"> <a href="{{ result.object.get_absolute_url }}"> {{ result.object.full_name }}</a>
                {{ result.object.publication_date|str_encl:'(' }}</td>
    {% endif %}
    {% if result.model_name == 'story' %}
                <td class="pe-2"><a hx-get="{% url "show_story_modal" story_id=result.object.id %}" hx-target="body" hx-swap="beforeend" style="cursor: pointer; color: #00e;" title="preview"><img class="inline" src="{% static "img/gcd/icons/"|add:ICON_SET_SYMBOLIC|add:"/preview-search.svg" %}" title="preview"></img> [STORY]</a></td>
                <td><a href="{{ result.object.get_absolute_url }}">{{ result.object|show_title:1 }}</a>
      {% if result.object.has_feature %} / {{ result.object.show_feature }}{% endif %} / {{ result.object.type }}
      {% if result.object.page_count %} / {{ result.object|show_page_count:1 }}{% endif %}
              (from
                <img {{ result.object.issue.series.country|show_country_info }}  class="inline">
                <a href="{{ result.object.issue.get_absolute_url }}">
              {{ result.object.issue.full_name }}</a> {{ result.object.issue.publication_date|str_encl:'(' }})</td>
      {% endif %}
      {% if result.model_name == 'storyarc' %}
                <td class="pe-2">[STORY ARC]</td>
                <td><a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a></td>
      {% endif %}
      {% if result.model_name == 'feature' %}
                <td class="pe-2">[FEATURE]</td>
                <td><a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a></td>
      {% endif %}
      {% if result.model_name == 'universe' %}
                <td class="pe-2">[UNIVERSE]</td>
                <td><a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a></td>
      {% endif %}
      {% if result.model_name == 'character' %}
                <td class="pe-2">[CHARACTER]</td>
                <td><a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a></td>
      {% endif %}
      {% if result.model_name == 'group' %}
                <td class="pe-2">[GROUP]</td>
                <td><a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a></td>
      {% endif %}
      {% if result.model_name == 'publisher' %}
                <td class="pe-2">[PUBLISHER]</td>
                <td><img {{ result.object.country|show_country_info }}  class="inline"> <a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a></td>
      {% endif %}
      {% if result.model_name == 'indiciapublisher' %}
                <td class="pe-2">[INDICIA PUBLISHER]</td>
                <td><img {{ result.object.country|show_country_info }}  class="inline"> <a href="{{ result.object.parent.get_absolute_url }}">{{ result.object.parent.name }}</a>
              :
                <a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a></td>
      {% endif %}
      {% if result.model_name == 'brand' %}
                <td class="pe-2">[BRAND EMBLEM]</td>
                <td><a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a></td>
      {% endif %}
      {% if result.model_name == 'brandgroup' %}
                <td class="pe-2">[BRAND GROUP]</td>
                <td><img {{ result.object.parent.country|show_country_info }}  class="inline"> <a href="{{ result.object.parent.get_absolute_url }}">{{ result.object.parent.name }}</a>
                :
                  <a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a></td>
      {% endif %}
      {% if result.model_name == 'printer' %}
                <td class="pe-2">[PRINTER]</td>
                <td><img {{ result.object.country|show_country_info }}  class="inline"> <a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a></td>
      {% endif %}
      {% if result.model_name == 'indiciaprinter' %}
                <td class="pe-2">[INDICIA PRINTER]</td>
                <td><img {{ result.object.country|show_country_info }}  class="inline"> <a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a></td>
      {% endif %}
      {% if result.model_name == 'award' %}
                <td class="pe-2">[AWARD]</td>
                <td><a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a></td>
      {% endif %}

      {% if result.model_name == 'creator' %}
                <td class="pe-2">[CREATOR]</td>
                <td><img {{ result.object.birth_country|show_country_info }}  class="inline"> <a href="{{ result.object.get_absolute_url }}">{{ result.object.search_result_name }}</a></td>
      {% endif %}
      {% if result.model_name == 'creatormembership' %}
                <td class="pe-2">[CREATOR MEMBERSHIP]</td>
                <td><a href="{{ result.object.get_absolute_url }}">{{ result.object.organization_name }}</a></td>
      {% endif %}
      {% if result.model_name == 'creatorartinfluence' %}
                <td class="pe-2">[CREATOR ART INFLUENCE]</td>
                <td><a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a></td>
      {% endif %}
      {% if result.model_name == 'receivedaward' %}
                <td class="pe-2">[RECEIVED AWARD]</td>
                <td><a href="{{ result.object.get_absolute_url }}">{{ result.object.award }} - {{ result.object.display_name }}: {{ result.object.recipient }}</a></td>
      {% endif %}
      {% if result.model_name == 'creatornoncomicwork' %}
                <td class="pe-2">[CREATOR NONCOMICWORK]</td>
                <td><a href="{{ result.object.get_absolute_url }}">{{ result.object.publication_title }}</a></td>
      {% endif %}
            </tr>
    {% endfor %}
        </tbody>
      </table>
    </div>
  </div> <!-- #RightSearchColumn -->
</div>
    {% if select_key and multiple_selects %}
<div style="clear: both;"></div>
  <button class="btn-blue-editing inline" type="submit" name="search_select">
      Select
  </button>
</form>
    {% endif %}
<div style="clear: both;"></div>
    {% if sort %}
      {% if 'country' in sort %}
          <p>Sort is per <a href="http://docs.comics.org/wiki/Country_and_Currency_and_Language_Codes">country code</a>, within a country by relevance.</p>
      {% endif %}
      {% if 'year' in sort or 'chrono' in sort %}
          <p>Objects with no date information are listed at the end.</p>
      {% endif %}
    {% endif %}

  {% else %}
    {% if query %}
      <div class="px-2">No results.</div>
    {% endif %}
  {% endif %}
      <div class="px-2">Please enter the search word(s) in the box. The search is looking for exact matches for each word.
      <p>You can use four ways to further modify a search:
        <ul class="px-6 list-disc">
          <li>""-quotes search for phrases, e.g. "Batman and Superman" or "Asterix 1"
          <li>'-' in front of a word or phrase filters out matching results, e.g. Spider-Man Ditko -Lee
          <li>* acts as a wild card, e.g. Spir* finds Spirit and Spirou
          <li>using OR in a search finds matches for the terms before the OR or the <b>one</b> term/phrase directly after the OR, e.g. Grant Morrison OR "Warren Ellis", which is different to Grant Morrison OR Warren Ellis.
        </ul>
      Special characters, e.g. ,;/, are ignored.
      </div>
  {% include 'oi/bits/jquery.html' with details=True %}

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
      // Clicking outside of an open dropdown menu closes it
      window.addEventListener("click", function (e) {
        if (!e.target.closest(".mobile-facet-menu-button") ) {
          document.querySelectorAll(".facet-filter").forEach((menu) => {
            if (!menu.contains(e.target)) {
              menu.classList.add("max-sm:hidden")
            }
          })
        }
        else {
          document.querySelectorAll(".facet-filter").forEach((menu) => {
              menu.classList.toggle("max-sm:hidden")
        })
      }
    })
  })
</script>
{% endblock %}

{% block bottom_nav_bar %}
  {{ block.super }}
<nav class="flex items-center justify-between flex-wrap bg-blue-100 px-1 lg:px-3">
  <div></div>
{% with query_string=query|add:facet_page|add:sort %}
  {% include "gcd/bits/tw_pagination_bar.html" %}
{% endwith %}
</nav>
{% endblock %}
