<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Strict//EN">
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="shortcut icon" href="{{ MEDIA_URL }}/img/favicon.ico"/>

{% comment %}
Having trouble with block / ifnotequal interactions.  Need to investigate.
For now, just a simple single block for all CSS, despite redundancy.
{% endcomment %}

{% block css %}{% endblock %}
</head>

{% comment %}
If it is an OI page, set the focus to the first element (index 1 b/c there is a
hidden element) in the OI form (index 2 b/c of top search form and logout form).
{% endcomment %}
<body onload="if(document.getElementById('oi_focus')){ document.forms[2].elements[1].focus() }">
<div id="sizing_base" {% if preview %} class="preview" {% endif %}>
{% if BETA %}
  {% include "gcd/bits/beta_banner.html" %}
{% endif %}
{% if preview %}
  {% include "gcd/bits/preview_banner.html" %}
{% endif %}
{% block body %}{% endblock %}

{% include "gcd/fine_print.html" %}
</div>
</body>
</html>
