{% extends "gcd/base_view.html" %}

{% load i18n %}
{% load credits %}

{% block title %} GCD :: Covers To Replace {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ media_url }}/css/gcd/{{ style }}.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ media_url }}/css/gcd/{{ style }}/covers.css"/>
{% endblock %}

{% block view_body %}

<h1 class="item_id" id="search_id">
<div class="left">
  {% trans "Covers marked for replacement" %}
</div>
</h1>

<div class="item_id">
  <div class="left">
  Displaying {{ page.start_index }} to {{ page.end_index }} of {{ paginator.count }} covers needing replacement.
  </div>
  {% if page %}
  {% include "gcd/pagination_bar.html" %}
  {% endif %}
</div>
<div class="item_id">
  <div class="right pagination">
  {# TODO: this is ugly since it uses a direct path, does reverse lookup work? #}
  <a href="/gcd/covers_to_replace/">all marked covers</a>
  {% for letter in "ABCDEFGHIJKLMNOPQRSTUBEXYZ"|make_list %}
  | <a href="/gcd/covers_to_replace/with/{{ letter }}">{{ letter }}</a>
  {% endfor %}
  </div>
</div>

<table id="covers">
  <tr>
  {% for cover, issue, tag in tags %}
    <td class="cover_grid">
      <a href="{{ issue.get_absolute_url }}">{{ tag|safe }}</a>
      <br/>
      <div class="cover_caption">
        {{ issue.series.name }} #{{ issue.number }}<br/>
        ({{ issue.series.publisher }}, {{ issue.series.year_began }})
      </div>
    </td>
    {% if forloop.counter|divisibleby:table_width %}
  </tr>
  <tr>
    {% endif %}
  {% endfor %}
  </tr>
</table>

{% endblock %}
