{% extends "gcd/base_view.html" %}

{% load i18n %}
{% load credits %}

{% block title %} GCD :: Daily Covers {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ media_url }}/css/gcd/{{ style }}.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ media_url }}/css/gcd/{{ style }}/covers.css"/>
{% endblock %}

{% block view_body %}

<h1 class="item_id" id="search_id">
<div class="left">
  {% trans "Covers for "%}{{ date }}
</div>
<div class="right">
  <a href="/gcd/daily_covers/{{ date_before }}">&lt; {% trans "day before" %}</a>
  {% if date_after %}
   | <a href="/gcd/daily_covers/{{ date_after }}">{% trans "day after" %} &gt;</a>
  {% endif %} 
</div>
</h1>

<div class="item_id">
  <div class="left">
  {{ paginator.count }}{% trans " covers posted" %}.
  </div>
  {% if page %}
  {% include "gcd/pagination_bar.html" %}
  {% endif %}
</div>

<table id="covers">
  <tr>
  {% for cover, issue, tag in tags %}
    <td class="cover_grid{% if cover.marked %} marked{% endif %}">
      <a href="{{ issue.get_absolute_url }}">{{ tag|safe }}</a>
      <br/>
      <span class="cover_links">Zoom:
<a href="{{ issue.get_absolute_url }}cover/2/?style={{ style }}">Medium</a>
<a href="{{ issue.get_absolute_url }}cover/4/?style={{ style }}">Large</a></span> <br/>
      <div class="cover_caption">
        {{ issue.series.name }} #{{ issue.number }}<br/>
        ({{ issue.series.publisher }}, {{ issue.series.year_began }}) <br/>
        {% if issue.publication_date %}
        <span class="cover_date">{{ issue.publication_date }}</span>
        {% endif %}
      </div>
    </td>
    {% if forloop.counter|divisibleby:table_width %}
  </tr>
  <tr>
    {% endif %}
  {% endfor %}
  </tr>
</table>

{% endblock %}
