{% extends "gcd/base_view.html" %}

{% load i18n %}

{% block title %}
  GCD :: Publisher :: {{ publisher.name }} :: Imprints
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ media_url }}/css/gcd/{{ style }}.css"/>
{% endblock %}

{% block view_body %}

{% include "gcd/publisher_header.html" %}

<!-- See publisher.html for an explanation of the divs around the dt/dd
     pairs, which is just a hack untile I figure out something better.
     But this way, IE6 is readable and Firefox 3 just has odd spacing,
     as opposed to IE6 displaying things out of order before.
  -->
<dl class="pub_data">
{% if publisher.parent %}
<div>
  <dt> Parent Company:
  <dd> <a href="/gcd/publisher/{{ publisher.parent.id }}/?style={{ style }}">{{ publisher.parent.name }}</a>
</div>
{% endif %}
{% if publisher.country %}
<div>
  <dt> Country:
  <dd> {{ publisher.country.name }}
</div>
{% endif %}
{% if publisher.notes %}
<div>
  <dt> Notes:
  <dd> {{ publisher.notes|linebreaksbr }}
</div>
{% endif %}
</dl>

{% ifequal publisher.imprint_set.count 0 %}
<div>
  <dt> Imprints:
  <dd> None
</div>
</dl>
{% else %}
</dl>
<table class="listing">
  <tr>
    <th> Imprint </th>
    <th> Titles </th>
    <th> Issues </th>
  </tr>
{% for imprint in imprints %}
  <tr class="{% cycle 'listing_even' 'listing_odd' %}">
    <td> <a href="/gcd/publisher/{{ imprint.id }}/?style={{ style }}">{{ imprint.name }}</a> </td>
    <td> {{ imprint.series_set.count }} </td>
    <td> {{ imprint.computed_issue_count }} </td>
  </tr>
{% endfor %}
</table>
{% endifequal %}

{% endblock %}
