<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/DTD/strict.dtd"> 
{% load statustags %}
{% load humanize %}
{% load i18n %}

<html>
<head>
  <title> {{ site_name }} </title>
  <link rel="stylesheet" type="text/css"
        href="{{ MEDIA_URL }}/css/gcd/{{ style }}.css"/>
  <link rel="stylesheet" type="text/css"
        href="{{ MEDIA_URL }}/css/gcd/{{ style }}/front_page.css"/>
  <!--[if lt IE 7]>
    <style type="text/css">
    #colleft {
    margin-left:-100%;
    }</style>
  <![endif]-->
  <link rel="shortcut icon" href="{{ MEDIA_URL }}/img/favicon.ico"/>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="google-site-verification" content="-VePWukP1NFX6riu1afP-0T1Coj9bvQMeuhKoOx1KgU" />
</head>

<body>
<div id="sizing_base">


<!-- 3 column layout with two fixed width sidebars from
http://matthewjamestaylor.com/blog/ultimate-3-column-holy-grail-ems.htm -->

<div id="main_body"> 
  {% if BETA %}
    <div id="front_page_beta">
      {% include "gcd/bits/beta_banner.html" %}
    </div>
  {% endif %}
    <div id="colmid"> 
        <div id="colleft">
            <div id="col1wrap"> 
                <div id="center_column"> 
                    <!-- Center Column start --> 
                    <div class="front_page_central">
                        <div class="front_page_central_box">
                            {% include "gcd/bits/front_page_search_box.html" %}
                        </div>
                    </div>
                    <div class="front_page_central">
                        {% include front_page_content %}
                    </div>
                    <!-- Center Column end --> 
                </div> 
            </div> 

            <div id="left_column"> 
                <!-- Left Column start --> 
                <div class="front_page_left_box">
                    {% include "gcd/bits/front_page_menu.html" %}
                </div>
                <div class="front_page_left_box">
                    <div class="box_header">
                        {% trans 'Login' %}
                    </div>
                    <div class="box_inner">
                        {% include "gcd/bits/front_page_login.html" %}
                    </div>
                </div>
                <div class="front_page_left_box">
                    <div class="box_header">
                        {% trans "Disclaimer" %}
                    </div>
                    <div class="box_inner">
                        <div class="disclaimer_text">
                            {% trans "The Grand Comics Database Project (GCD) is a volunteer project with the goal of documenting and indexing all comics for the free use of scholars, historians, researchers, and fans." %}
                        </div>
                        <div class="disclaimer_text">
                            {% trans "The GCD acknowledges that the all-encompassing research nature of the project may result in the posting of cover scans for comics with images that some may find objectionable." %}
                        </div>
                        <div class="disclaimer_text message">
                            {% trans "Viewer discretion is advised." %}
                        </div>
                        <div id="front_page_disclaimer_signature">
                            {% trans "The Grand Comics Database Team" %}
                        </div>
                    </div>
                </div>
                <!-- Left Column end --> 
            </div>

            <div id="right_column"> 
                <!-- Right Column start --> 
                {% comment %}
                <div class="front_page_right_box_notice">
                    <div class="box_notice_header ">
                        Notice
                    </div>
                    <div class="box_inner">
                        The site will be down for approximately 1 hour on Monday November 23 at 16:00 GMT while we perform some maintenance and upgrades.
                    </div>
                </div>
                {% endcomment %}
                <div class="front_page_right_box">
                    <div class="box_header">
                        {% trans "Useful Links" %}
                    </div>
                    <div id="useful_links_inner" class="box_inner">
                      <ul>
                        <li><a href="{% url apps.gcd.views.details.daily_covers %}">{% trans "Today's covers" %}</a>
                        <li><a href="{% url apps.gcd.views.details.covers_to_replace %}">{% trans "Covers to replace" %}</a>
                        <li><a href="{% url apps.gcd.views.index %}">English start page</a></li>
                        <li><a href="{% url apps.gcd.views.index %}?lang=de">Deutsche Startseite</a></li>
                      </ul>
                    </div>
                </div>
                {% if language %}
                <div class="front_page_right_box">
                    <div class="box_header">
                        {% trans "Last Updated Language Issues" %}
                    </div>
                    <div class="box_inner">
                        {% last_updated_issues language=language.code %}
                    </div>
                </div>
                <div class="front_page_right_box">
                    <div class="box_header">
                        {% trans "Statistics for Language Comics" %}
                    </div>
                    <div class="box_inner">
                        {% for stat in stats_for_language %}
                        {{ stat.count|intcomma }} {% trans stat.name %}<br>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                <div class="front_page_right_box">
                    <div class="box_header">
                        {% trans "Last Updated Issues" %}
                    </div>
                    <div class="box_inner">
                        {% last_updated_issues %}
                    </div>
                </div>
                <div class="front_page_right_box">
                    <div class="box_header">
                        {% trans "Statistics" %}
                    </div>
                    <div class="box_inner">
                        {% for stat in stats %}
                        {{ stat.count|intcomma }} {% trans stat.name %}<br>
                        {% endfor %}
                    </div>
                </div>
                <!-- Right Column end --> 
            </div> 
        </div> <!-- id="colleft"-->
    </div> <!-- id="colmid"-->
</div> <!-- id="main_body"-->

<div id="footer">
    {% include "gcd/bits/legalese.html" %}
</div>

</div><!-- id="sizing_base" -->
</body>
</html>
