{% load i18n %}
{% load credits %}
{% load reprints %}

<!-- NOTE: *** Various things filtered through |safe here are *NOT* safe.
           *** Need to rework to allow tags we add but not tags from DB.
  -->
     
<div id="issue_data">
<h1 id="issue">{{ issue.series.name }} #{{ issue.number }}</h1>
<ul>
  <li id="series_date">
    {% blocktrans with issue.series.year_began as year %}
      {{ year }} Series
    {% endblocktrans %}
  <li id="series_publisher"> {{ issue.series.publisher.name }}
  <li id="issue_date"> {{ issue.publication_date }}
  <li id="issue_price"> {% trans "coverprice" %} {{ issue.price }}
  <!-- Need to put i18n'd "pages" in var so we can pluralize -->
  <li id="issue_pages"> {{ cover_story.page_count }} {% trans "pages" %}
  <li id="issue_format"> {{ issue.series.format }}
  <li id="issue_editor"> Edited by {{ cover_story.editor }}
</ul>
</div>

<div id="cover_data">
  {% if cover_story.feature or cover_story.title %}
  <h2 class="sequence_header">
    {% if cover_story.feature %}
    <span class="feature">
    {{ cover_story.feature }}</span>{% if cover_story.title %}:{% endif %}
    {% endif %}
    {% if cover_story.title %}
    <span class="cover_title">{{ cover_story.title }}</span>
    {% endif %}
  </h2>
  {% endif %}

  {{ image_tag|safe }} <!-- Note:  Need "Issue Cover (Small)" alt text -->
  <div id="cover_links">Zoom: Medium Large</div>
  <div id="cover_disclaimer">
    Cover thumbnails are used for identification purposes only.
    All rights reserved by the respective copyrightholder.
  </div>

  <h3 class="credit_header"> Cover Credits </h3>
  <dl class="credits">
    {{ cover_story|show_credit:"script"|safe }}
    {{ cover_story|show_credit:"pencils"|safe }}
    {{ cover_story|show_credit:"inks"|safe }}
    {{ cover_story|show_credit:"colors"|safe }}
    {{ cover_story|show_credit:"letter"|safe }}
    {{ cover_story|show_credit:"job_number"|safe }}
  </dl>

  </dl>
  <h3 class="content_header"> Content Information </h3>
  <dl class="contents">
    {{ cover_story|show_credit:"genre"|safe }}
    {{ cover_story|show_credit:"characters"|safe|linebreaksbr }}
    {{ cover_story|show_reprint|safe|linebreaksbr }}
  </dl>

  {% if cover_story.notes %}
    <h3 class="notes"> Indexer Notes </h3>
    <p>{{ cover_story.notes|linebreaksbr }}</p>
  {% endif %}
</div>

{% if issue.series.indexers %}
<div id="index_credits">
<h3 id="indexers_header">Issues in this series have been indexed by:</h3>
<!-- TODO: proper indexer credits -->
<ul>
    <li> {{ issue.series.indexers }}
</ul>
</div>
{% endif %}

<div id="story_toc">
<h2 id="toc_header">Issue Contents</h2>
<ol>
  {% for story in stories %}
  <li>
    {% if story.feature or story.title %}
      <a href="#SEQ{{ story.sequence_number }}">
      {% if story.feature %}
      <span class="toc_story_feature">
      {{ story.feature}}</span>{% if story.title %}:{% endif %}
      {% endif %}
      {% if story.title %}
      <span class="toc_story_title">{{ story.title }}</span>
      {% endif %}
      </a>
    {% endif %}
  {% endfor %}
</ol>
</div>

<div id="story_data">
  {% for story in stories %}
    <a name="SEQ{{ story.sequence_number }}"/><hr/></a>
    <div class="{{ story.type|lower }}">
      {% if cover_story.feature or cover_story.title %}
      <h2 class="sequence_header">
        {% if story.feature %}
        <span class="feature">
        {{ story.feature }}</span>{% if story.title %}:{% endif %}
        {% endif %}
        {% if story.title %}
        <span class="title">{{ story.title }}</span>
        {% endif %}
      </h2>
      {% endif %}
      <p>(Sequence {{ story.sequence_number }} -
          {{ story.type }}, {{ story.page_count }}
          {{ "pages"|pluralize:story.page_count }})</p>

      <h3 class"credit_header"> Credits </h3>
      <dl class="credits">
        {{ story|show_credit:"script"|safe }}
        {{ story|show_credit:"pencils"|safe }}
        {{ story|show_credit:"inks"|safe }}
        {{ story|show_credit:"colors"|safe }}
        {{ story|show_credit:"letter"|safe }}
        {{ story|show_credit:"editor"|safe }}
        {{ story|show_credit:"job_number"|safe }}
      </dl>

      <h3 class="content_header"> Content Information </h3>
      <dl class="contents">
        {{ story|show_credit:"genre"|safe }}
        {{ story|show_credit:"characters"|safe|linebreaksbr }}
        {{ story|show_credit:"synopsis"|safe|linebreaksbr }}
        {{ story|show_reprint|safe|linebreaksbr }}
      </dl>

      {% if story.notes %}
        <h3 class="notes_header"> Indexer Notes </h3>
        {{ story.notes|linebreaksbr }}
      {% endif %}
    </div>
  {% endfor %}
  <hr/>
</div>


