{% extends "gcd/base_view.html" %}

{% load i18n %}
{% load credits %}
{% load migration.reprints %}

{% block title %}
  GCD :: Issue :: {{ issue.series.name }} #{{ issue.number }}
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css"
        href="{{ media_url }}/css/gcd/{{ style }}.css"/>
  <link rel="stylesheet" type="text/css"
        href="{{ media_url }}/css/gcd/{{ style }}/issue.css"/>
  <link rel="stylesheet" type="text/css"
        href="{{ media_url }}/css/gcd/{{ style }}/single_story.css"/>
{% endblock %}

{% block view_body %}

<div id="issue_data">
{% comment %}
  Can withs be condensed?  To tired to look it up right now.
{% endcomment %}

{% ifequal issue.series.issue_count 1 %}

{% with issue.series as series %}
{% with issue.number as issue_number %}
{% with issue.series|show_country as country %}
{% with issue.series|show_language as language %}
  {% include "gcd/series_issue_header.html" %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}

{% include "gcd/one_issue_series.html" %}

{% else %}

{% with issue.series as series %}
{% with issue.number as issue_number %}
  {% include "gcd/series_issue_header.html" %}
{% endwith %}
{% endwith %}

{% endifequal %}

<dl id="issue_data_list">
  <dt> {% trans "Price" %}:
  <dd id="issue_price"> {{ issue.price }}
  <dt> {% trans "Pages" %}:
  <dd id="issue_pages"> {{ cover_story.page_count }}
  {{ cover_story|show_credit:"editor" }}
</dl>
<!-- IE6 didn't like various attempts to get the sometimes very long
     "Format" field to lay out nicely.  And even in Firefox it was
     problematic to get it to act ideally.  So it's a specially styled
     'div' instead of part of the 'dl'.
  -->
<div id="format">
  <div id="format_tag">Format:&nbsp;</div>
  <div id="format_data">{{ issue.series.format }}</div>
</div>
</div> <!-- issue_data -->

<div id="main"> <!-- extra -->

  <div id="story_toc">
    <h2 id="toc_header">Issue Contents</h2>
    <ol>
      {% for story in stories %}
      <li class="{% cycle 'odd' 'even' %}">
        {% if story.feature %}
        <span class="toc_story_feature">
        {{ story.feature}}</span><br/>
        {% endif %}
        <span class="toc_story_title">
        <a href="#{{ story.sequence_number }}">{% if story.title %}
          {{ story.title }}
        {% else %}
          <span class="fake">[ no title ]</span>
        {% endif %}</a></span> {% endfor %}
    </ol>
  </div> <!-- story_toc, a.k.a "right" -->

  <div id="cover">
    {{ image_tag|safe }}
    <div class="issue_cover_links">View: <a href="{{ issue.get_absolute_url }}cover/2/?style={{ style }}">Medium</a> <a href="{{ issue.get_absolute_url }}cover/4/?style={{ style }}">Large</a>
      <br>
      <a href="{{ issue.series.get_absolute_url }}covers/?style={{ style }}">Series Covers</a>
    </div>
  </div> <!-- cover -->

  <div id="cover_credits">
    <div id="cover_float_fixer">

    {% with cover_story as story %}
    {% with 1 as is_cover %}
      {% include "gcd/single_story.html" %}
    {% endwith %}
    {% endwith %}

    {% if issue.series.indexers %}
    <div id="index_credits">
      <h3 id="indexers_header">{% trans "Issues in this series have been indexed by:" %}</h3>
      <ul>
        {% for credit in issue.series.index_credit_set.all.select_related %}
          <li> {{ credit.indexer.name }}
        {% endfor %}
      </ul>
    </div> <!-- index_credits -->
    {% endif %}
    </div> <!-- cover_float_fixer -->
  </div> <!-- cover_credits -->

</div> <!-- main -->


<div id="story_data">
  {% for story in stories %}
    <hr class="divider"/>
    {% include "gcd/single_story.html" %}
  {% endfor %}
  <hr class="divider"/>
</div>

{% endblock %}
