{% load i18n %}

<div id="series_notes">
  {% if issue.series.publication_notes %}
    <h3 class="series_notes"> {% trans "Publication Notes" %}: </h3>
    <p> {{ issue.series.publication_notes|linebreaksbr }}</p>
  {% endif %}
  
  {% if issue.series.tracking_notes %}
    <h3 class="series_notes"> {% trans "Tracking" %}: </h3>
    <p>{{ issue.series.tracking_notes|linebreaksbr }}</p>
  {% endif %}
  
  {% if issue.series.notes %}
    <dt class="series_notes"> {% trans "Title Notes" %}: </dt>
    {{ issue.series.notes|linebreaksbr }}
  {% endif %}
</div> <!-- series_notes -->
