{% extends "gcd/base_view.html" %}

{% load i18n %}

{% block title %}
  GCD :: Publisher :: {{ publisher.name }}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ media_url }}/css/gcd/{{ style }}.css"/>
{% endblock %}

{% block view_body %}

{% include "gcd/publisher_header.html" %}

<!-- Throwing extra divs around dt/dd pairs keeps IE6/Win from doing silly
     things like floating the <dd> on the line above its <dt>, and it
     doesn't hurt Firefox 2/Mac.  But it does make Firefox 3/Win ignore
     the margin/padding setting on the contained dds for some reason.
     One step forward, half a step back.  To be continued. -->
<dl class="pub_data">
{% if publisher.parent %}
<div>
  <dt> Parent Company:
  <dd> <a href="/gcd/publisher/{{ publisher.parent.id }}/?style={{ style }}">{{ publisher.parent.name }}</a>
</div>
{% endif %}
{% if publisher.country %}
<div>
  <dt> Country:
  <dd> {{ publisher.country.name }}
</div>
{% endif %}

{% ifnotequal publisher.imprint_set.count 0 %}
<div>
  <dt> Imprints:
  <dd> <a href="/gcd/publisher/{{ publisher.id }}/imprints/?style={{ style }}">{{ publisher.imprint_set.count }}</a>
</div>
{% endifnotequal %}

{% if publisher.notes %}
<div>
  <dt> Notes:
  <dd> {{ publisher.notes|linebreaksbr }}
</div>
{% endif %}

{% ifequal publisher.series_set.count 0 %}
<div>
  <dt> Titles:
  <dd> None
</div>
</dl>
{% else %}
</dl>
<table class="listing">
  <tr>
    <th> Title </th>
    <th> Issues </th>
    <th> Scans </th>
    <th> Cover Gallery </th>
  </tr>
{% for series in page.object_list %}
  <tr class="{% cycle 'listing_even' 'listing_odd' %}">
    <td> <a href="/gcd/series/{{ series.id }}/?style={{ style }}">{{ series.name }}</a> </td>
    <td> <a href="/gcd/series/{{ series.id }}/status/?style={{ style }}">{{ series.issue_set.count }}</a> </td>
    <td> <a href="/gcd/series/{{ series.id }}/scans/?style={{ style }}">{{ series.scan_count }}</a> </td>
    <td> <a href="/gcd/series/{{ series.id }}/covers/?style={{ style }}">Cover Gallery</a> </td>
  </tr>
{% endfor %}
</table>
{% endifequal %}

{% endblock %}
