{% load i18n %}

<!-- Probably needs to be refactored with the series_issue_header.html file
     somehow, but deal with that later. -->

<h1 class="item_id">
  <div class="left">
    {% if publisher.is_imprint %}
      <a href="{{ publisher.parent.get_absolute_url }}">{{ publisher.parent.name }}</a> :
      <a href="{{ publisher.get_absolute_url }}">{{ publisher.name }}</a>
    {% else %}
      <a href="{{ publisher.get_absolute_url }}">{{ publisher.name }}</a>
    {% endif %}
  </div>
</h1>

<div class="item_id">
  <div class="left">{{ publisher.year_began }} - {{ publisher.year_end }}</div>
  {% include "gcd/pagination_bar.html" %}
</div>
