{% extends "gcd/base_view.html" %}

{% load i18n %}

{% block title %}
  {% if publisher.parent %}
    GCD :: Imprint :: {{ publisher.name }}
  {% else %}
    GCD :: Publisher :: {{ publisher.name }}
  {% endif %}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ media_url }}/css/gcd/{{ style }}.css"/>
{% endblock %}

{% block view_body %}

{% include "gcd/publisher_header.html" %}

<dl class="pub_data">
{% if publisher.country %}
  <dt> Country:
  <dd> {{ publisher.country.name }}
{% endif %}

{% ifnotequal publisher.imprint_set.count 0 %}
  <dt> Imprints:
  <dd> <a href="/gcd/publisher/{{ publisher.id }}/imprints/?style={{ style }}">{{ publisher.imprint_set.count }}</a>
{% endifnotequal %}

{% if publisher.notes %}
  <dt> Notes:
  <dd> {{ publisher.notes|linebreaksbr }}
{% endif %}

{% ifequal page.object_list.count 0 %}
  <dt> Titles:
  <dd> None
</dl>
{% else %}
</dl>
<table class="listing">
  <tr>
    <th> Title </th>
    <th> Year </th>
    <th> Issues </th>
    <th> Scans </th>
    <th> Cover Gallery </th>
  </tr>
{% for series in page.object_list %}
  <tr class="{% cycle 'listing_even' 'listing_odd' %}">
    <td> <a href="/gcd/series/{{ series.id }}/?style={{ style }}">{{ series.name }}</a> </td>
    <td> {{ series.year_began }}
    <td> <a href="/gcd/series/{{ series.id }}/status/?style={{ style }}">{{ series.issue_set.count }}</a> </td>
    <td> <a href="/gcd/series/{{ series.id }}/scans/?style={{ style }}">{{ series.scan_count }}</a> </td>
    <td> <a href="/gcd/series/{{ series.id }}/covers/?style={{ style }}">Cover Gallery</a> </td>
  </tr>
{% endfor %}
</table>
{% endifequal %}

{% endblock %}
