{% load i18n %}

<!-- Probably needs to be refactored with the series_issue_header.html file
     somehow, but deal with that later. -->

<h1 class="item_id">
  <div class="left">
    <a href="/gcd/publisher/{{ publisher.id }}/?style={{ style }}">{{ publisher.name }}</a>
  </div>
</h1>

<div class="item_id">
  <div class="left">{{ publisher.year_began }} - {{ publisher.year_end }}</div>
  <div class="right pagination">
    {% if page.has_other_pages %}
      {% if page.has_previous %}
        <a href="?style={{ style }}&page={{ page.previous_page_number }}">&lt; {% trans "Previous" %}</a>
      {% else %}
        &lt; {% trans "Previous" %}
      {% endif %}
      |
      {% for number in paginator.page_range %}
        {% ifequal number page_number %}
          {{ number }}
        {% else %}
          <a href="?style={{ style }}&page={{ number }}">{{ number }}</a>
        {% endifequal %}
        |
      {% endfor %}
      {% if page.has_next %}
        <a href="{{ page_url }}?style={{ style }}&page={{ page.next_page_number }}">{% trans "Next" %} &gt;</a>
      {% else %}
        {% trans "Next" %} &gt;
      {% endif %}
    {% endif %}
  </div>
</div>
