{% extends "gcd/base_view.html" %}

{% load i18n %}
{% load credits %}

{% block title %} GCD :: Index Matrix :: {{ series.name }} {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ media_url }}/css/gcd/{{ style }}.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ media_url }}/css/gcd/{{ style }}/status.css"/>
{% endblock %}

{% block view_body %}

{% include "gcd/series_issue_header.html" %}

<div id="info_links">
  <a href="/gcd/series/{{series.id}}/scans/?style={{ style }}">Cover Scan Status</a>
  <br>
  <a href="/gcd/series/{{ series.id }}/covers/?style={{ style}}">Cover Gallery</a>
</div>

<table id="status">
  <tr>
  {% for issue in series.issue_set.all %}
    <td class="status_{{ issue.index_status }}">
      <a href="/gcd/issue/{{ issue.id }}/?style={{ style }}">{{ issue.number }}</a> </td>
    {% if forloop.counter|divisibleby:table_width %}
  </tr>
  <tr>
    {% endif %}
  {% endfor %}
  </tr>
</table>

<hr/>

{% endblock %}
