{% extends "gcd/base_view.html" %}

{% load i18n %}
{% load credits %}

{% block title %} GCD :: Index Matrix :: {{ series.name }} {% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css"
      href="{{ media_url }}/css/gcd/{{ style }}.css"/>
<link rel="stylesheet" type="text/css"
      href="{{ media_url }}/css/gcd/{{ style }}/status.css"/>
{% endblock %}

{% block view_body %}

{% include "gcd/series_issue_header.html" %}

<div id="info_links">
  <a href="{{ series.get_absolute_url }}scans/?style={{ style }}">Cover Scan Status</a>
  <br>
  <a href="{{ series.get_absolute_url }}covers/?style={{ style}}">Cover Gallery</a>
</div>

{% include "gcd/status_tables.html" %}

{% endblock %}
