{#
  Tailwind source inventory for classes assembled by Python at runtime.
  Keep complete class names here; do not construct utility names dynamically.

  This inventory is not included by another template. Tailwind scans its raw
  text while building static/css/output.css.
#}

<div data-source="cover" class="min-w-[100px] sm:min-w-[150px] w-[100px] w-[150px] w-[154px] w-[200px] w-[400px] md:w-[200px] md:w-[204px] p-[2px] sm:w-[200px]"></div>
<div data-source="portrait" class="border-2 w-[150px]"></div>
<div data-source="status-tables" class="basis-24 basis-48 basis-90 basis-96"></div>
<div class="gap-x-8 max-w-48 data-label invisible [&>a]:visited:text-link-gcd rounded-full sm:text-right text-left opacity-0 ease-in-out delay-100 duration-300 absolute transition-opacity group-hover:opacity-100"></div>
<table>
  <tr>
    <th class="lg:w-64 text-right w-36 lg:w-44"></th>
    <td class="text-red-700 max-h-60 border-gray-500 italic min-w-4/5 tab-pane tailwind-tab"></td>
  </tr>
</table>
<input class="w-3/4 w-full md:w-3/4 lg:w-3/4 lg:w-4/5 text-blue-900">
<ol class="tab-pane list-[lower-alpha]">
  <li class="align-top text-green-500 text-red-500 bg-stone-300 markdownx-preview markdownx"></li>
</ol>
<svg class="mb-0.5 h-5 w-5 w-[100px]"></svg>
<div class="border-orange-400 bg-orange-400"></div>

{# apps/gcd/markdown_extension.py #}
<div class="pt-4 list-disc list-decimal list-outside ps-8"></div>
