<!DOCTYPE html>
{% load compress %}
{% load static %}
<html>
{% block head %}
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  {% compress css inline %}
    {% block css %}
  <link rel="stylesheet" type="text/css"
        href="{% static 'css/output.css' %}"/>
    {% endblock %}
  {% endcompress %}
  {% block css_raw %}{% endblock %}
</head>
{% endblock %}

<body>
<div {% if preview %} class="bg-preview" {% endif %}>
{% if BETA %}
  {% include "gcd/bits/beta_banner.html" %}
{% endif %}

{% if USE_TEMPLATESADMIN and not EDITING %}
  {% include "managed_content/gcd/messages/special_banner.html" %}
{% endif %}

{% if preview %}
  {% include "gcd/bits/preview_banner.html" %}
{% endif %}

{% block body %}{% endblock %}

{% block fine_print %}
  <div class="text-sm text-gray-700 bg-gray-200 px-2 py-1 mt-1">
  {% include "gcd/fine_print.html" %}
  </div>
{% endblock %}
</div>
{% block footer %}{% endblock %}
</body>
</html>
