{% extends "gcd/tw_base_view.html" %}
{% load static %}
{% block css %}
  <link rel="stylesheet" type="text/css"
        href="{% static "css/output.css" %}"/>
{% endblock %}

{% block view_body %}
  {% block header %}
<h1 class="bg-blue-100 px-1 lg:px-2">
    {{ object }}
</h1>
  {% endblock %}
<div class="flex">
  <div class="flex-1 items-start"> <!-- content -->
  {% block content_left %}
  {% endblock %}
  </div>
  <div class="flex justify-end"> <!-- editing -->
    <div class="sm:pe-1 mt-2">
      <div class="max-sm:hidden rounded flex bg-gcd text-white font-bold px-2 py-1">Editing</div>
      <div class="sm:hidden bg-gcd h-7 px-1">
        <button class="mobile-editing-menu-button">
            {% include "gcd/bits/tw_three_bars.html" %}
        </button>
      </div>
      <div class="w-56 editing-menu max-sm:hidden max-sm:absolute overflow-hidden bg-white max-sm:right-0">
        {% block editing %}
        {% endblock %}    
        {% block change_history %}
          {% if not preview or preview and object.source or preview and object.revision.source %}
        <div class="mt-1 bg-gcd font-bold px-2 py-1 text-center rounded hover:bg-blue-700">
            {% if preview %}
              {% if object.source %}
                <a class="text-white visited:text-white" href="{% url "change_history" model_name=model_name id=object.source.id %}">View Change History</a>
              {% elif object.revision.source %}
                <a class="text-white visited:text-white" href="{% url "change_history" model_name=model_name id=object.id %}">View Change History</a>
              {% endif %}
            {% else %}
              <a class="text-white visited:text-white" href="{% url "change_history" model_name=model_name id=object.id %}">View Change History</a>
            {% endif %}
          {% endif %}
        </div>
        {% endblock change_history %}

        {% block www_my_comics_cross_link %}
          {% if object_url and not preview %}
            {% if MYCOMICS %}
        <div class="bg-gcd mt-1 font-bold px-2 py-1 text-center rounded">
          <a class="text-white visited:text-white" href="http://www.comics.org{{ object_url }}">{{ model_name }} at www.comics.org</a>
        </div>
            {% else %}
        <div class="bg-my-comics mt-1 font-bold px-2 py-1 text-center rounded">
          <a class="text-white visited:text-white" href="http://my.comics.org{{ object_url }}">{{ model_name }} at my.comics.org</a>
        </div>
            {% endif %}
          {% endif %}
        {% endblock www_my_comics_cross_link %}
      </div>
    </div>  
  </div>
</div>
  {% block content %}
  {% endblock %}

  {% block js %}
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
      // Select all dropdown toggle buttons
      const editingToggles = document.querySelectorAll(".mobile-editing-menu-button")
        editingToggles.forEach((toggle) => {
        toggle.addEventListener("click", () => {
          // Find the next sibling element which is the dropdown menu
          document.querySelectorAll(".editing-menu").forEach((menu) => {
              menu.classList.toggle("max-sm:hidden")
          })
        })
      })
    
      // Clicking outside of an open dropdown menu closes it
      window.addEventListener("click", function (e) {
        if (!e.target.matches(".mobile-editing-menu-button") ) {
          document.querySelectorAll(".editing-menu").forEach((menu) => {
            if (!menu.contains(e.target)) {
              menu.classList.add("max-sm:hidden")
            }
          })
        }
      })
      
    })
</script>
  {% endblock %}

{% endblock %}
