{% extends "gcd/tw_base_view.html" %}
{% load static %}
{% load django_tables2 %}

{% block nav_bar %}
  {{ block.super }}
  {% block header %}
<h1 class="bg-blue-100 px-1 lg:px-2">
    {{ object.object_page_name }}
</h1>
  {% endblock %}
{% endblock %}

{% block view_body %}
<div class="flex">
  <div class="flex-1 items-start"> <!-- content -->
  {% block content_left %}
  {% endblock %}
  </div>
  <div class="flex justify-end"> <!-- editing -->
    <div class="md:pe-1 mt-1">
      <div class="max-md:hidden flex label-gcd-blue">Editing</div>
      <div class="md:hidden h-8">
        <button class="mobile-editing-menu-button bg-gcd rounded w-9 py-0.5 ps-1 right-1 {{ absolute }}">
            {% include "gcd/bits/tw_three_bars.html" %}
        </button>
      </div>
      <div class="w-60 editing-menu max-md:hidden max-md:absolute z-10 overflow-hidden bg-white max-md:right-0">
        {% block editing %}
        {% endblock %}    
        {% block change_history %}
          {% if not preview or preview and object.source or preview and object.revision.source %}
            {% if preview %}
              {% if object.source %}
        <a class="link-with-text-color" href="{% url 'change_history' model_name=model_name id=object.source.id %}">
              {% elif object.revision.source %}
        <a class="link-with-text-color" href="{% url 'change_history' model_name=model_name id=object.id %}">
              {% endif %}
            {% else %}
        <a class="link-with-text-color " href="{% url 'change_history' model_name=model_name id=object.id %}">
            {% endif %}
          <btn class="btn btn-blue mt-1 block text-center font-bold px-2 py-1 text-base mx-0">
            View Change History
          </btn>
        </a>
          {% endif %}
      {% endblock change_history %}

        {% block www_my_comics_cross_link %}
          {% if object_url and not preview %}
            {% if MYCOMICS %}
        <div class="bg-gcd mt-1 font-bold px-2 py-1 text-center rounded">
          <a class="text-white visited:text-white" href="http://www.comics.org{{ object_url }}">{{ model_name }} at www.comics.org</a>
        </div>
            {% else %}
        <div class="bg-my-comics mt-1 font-bold px-2 py-1 text-center rounded">
          <a class="text-white visited:text-white" href="http://my.comics.org{{ object_url }}">{{ model_name }} at my.comics.org</a>
        </div>
            {% endif %}
          {% endif %}
        {% endblock www_my_comics_cross_link %}
      </div>
      {% if list_grid %}
      <div class="flex flex-col sm:flex-row justify-end items-center">
        <a href="{% querystring 'display'='list' %}"
           class="pe-1
           {% if not request.GET.display or 'list' == request.GET.display %}
           pointer-events-none
           {% endif %}
           "><svg class="
           {% if not request.GET.display or 'list' == request.GET.display %}
           fill-slate-400
           {% endif %}
           border border-gray-400 px-1 py-1 h-9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><g><path d="m 9 3 h 6 v 2 h -6 z m 0 0"/><path d="m 9 7 h 6 v 2 h -6 z m 0 0"/><path d="m 9 11 h 6 v 2 h -6 z m 0 0"/><path d="m 1 3 h 6 v 2 h -6 z m 0 0"/><path d="m 1 7 h 6 v 2 h -6 z m 0 0"/><path d="m 1 11 h 6 v 2 h -6 z m 0 0"/></g></svg>
        </a>
        <a href="{% querystring 'display'='grid' %}"
           class="pe-1
           {% if 'grid' == request.GET.display %}
           pointer-events-none
           {% endif %}
           "><svg class="
           {% if 'grid' == request.GET.display %}
           fill-slate-400
           {% endif %}
           border border-gray-400 px-1 py-1 w-9 h-9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="m 1.992188 0 c -1.089844 0 -2.0000005 0.910156 -2.0000005 2 v 3 c 0 1.089844 0.9101565 2 2.0000005 2 h 3 c 1.089843 0 2 -0.910156 2 -2 v -3 c 0 -1.089844 -0.910157 -2 -2 -2 z m 8 0 c -1.089844 0 -2 0.910156 -2 2 v 3 c 0 1.089844 0.910156 2 2 2 h 3 c 1.089843 0 2 -0.910156 2 -2 v -3 c 0 -1.089844 -0.910157 -2 -2 -2 z m -8 2 h 3 v 3 h -3 z m 8 0 h 3 v 3 h -3 z m -8 6 c -1.089844 0 -2.0000005 0.910156 -2.0000005 2 v 3 c 0 1.089844 0.9101565 2 2.0000005 2 h 3 c 1.089843 0 2 -0.910156 2 -2 v -3 c 0 -1.089844 -0.910157 -2 -2 -2 z m 8 0 c -1.089844 0 -2 0.910156 -2 2 v 3 c 0 1.089844 0.910156 2 2 2 h 3 c 1.089843 0 2 -0.910156 2 -2 v -3 c 0 -1.089844 -0.910157 -2 -2 -2 z m -8 2 h 3 v 3 h -3 z m 8 0 h 3 v 3 h -3 z m 0 0"/></svg></a>
      </div>
      {% endif %}
      {% block issue_links %}
      {% endblock %}
      {% block issue_toc %}
      {% endblock %}
      {% block additional_information %}
      {% endblock %}
    </div>  
  </div>
</div>
<div>
  {% block content %}
  {% endblock %}
</div>

  {% block js %}
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
      // Select all dropdown toggle buttons
      const editingToggles = document.querySelectorAll(".mobile-editing-menu-button")
        editingToggles.forEach((toggle) => {
        toggle.addEventListener("click", () => {
          // Find the next sibling element which is the dropdown menu
          document.querySelectorAll(".editing-menu").forEach((menu) => {
              menu.classList.toggle("max-md:hidden")
          })
        })
      })
    
      // Clicking outside of an open dropdown menu closes it
      window.addEventListener("click", function (e) {
        if (!e.target.matches(".mobile-editing-menu-button") ) {
          document.querySelectorAll(".editing-menu").forEach((menu) => {
            if (!menu.contains(e.target)) {
              menu.classList.add("max-md:hidden")
            }
          })
        }
      })
      
    })
</script>
  {% endblock %}

{% endblock %}
