
.navbar-brand.gcd-logo {
    background-image: url("../../img/gcd_logo.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 40px;
    margin-bottom: 5px;
    margin-top: 5px;
    overflow: visible;
    padding: 0;
    width: 113px;
}
.navbar-brand.gcd-logo img {
    height: 50px;
    width: 113px;
}
.navbar-mycomics {
    background-color: #a9302a;
    border-color: #8e2823;
    color: #ffffff;
}

.navbar-mycomics .navbar-nav > li > a {
    color:#fff;
}

.navbar-mycomics .navbar-nav > .active > a {
    color: #eee;
    background-color:transparent;
}

.navbar-mycomics .navbar-nav > li > a:hover,
.navbar-mycomics .navbar-nav > li > a:focus,
.navbar-mycomics .navbar-nav > .active > a:hover,
.navbar-mycomics .navbar-nav > .active > a:focus,
.navbar-mycomics .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #a9302a;
    color: #ddd;
}
.middle-header {
    padding-left: 10px;
}
.navbar {
    padding-right: 10px;

}
.clear {
    clear: both;
}
.panel .panel-heading {
    cursor: pointer;
}
.navbar a .glyphicon {
    color: #FFFFFF;
}
.navbar a .glyphicon:hover {
    text-decoration: none;
}
.form-group input[type="checkbox"] {
    outline: medium none;
}

.page-header button.pull-right {
    margin-right: 10px;
}

.warning-sign {
    color: red;
}

.btn-group > .my-btn {
    position: absolute;
    left: -35px;
    background-color: rgba(255,255,255,0.7);
    color: rgba(125,125,125,0.7);
}
