{% extends "base.html" %}

{% block title %} GCD :: Search {% endblock %}

{% block body %}
<p>
This is a demo "advanced" search form, which so far can only AND search
condtions together.  The individual conditions are treated as case-insensitive
substring searches, just like in the traditional search form.  This is not the
intended form of this page, which should support more complex queries
including OR conditions, grouping, and exact and/or starts with matches.
<p>
<strong>NOTE:</strong> While Story searches are fully functional as described
above, Series searches ignore all fields except for "Comic Book title" and
"Publisher".  See the code for details, obviously this will eventually be
fixed.
</p>

<table border="0" cellpadding="4" cellspacing="0">
    <tr class="advanced-search">
        <!-- TODO: Look into the Django forms package -->
        <form action="/gcd/search/advanced" method="get">
        <td>
            <b><u>Search for:</u></b>
            <input type="radio" name="target" value="series" CHECKED> Series
            <input type="radio" name="target" value="stories"> Stories
            <br>
            <table border="0" cellpadding="4" cellspacing="0">
                <tr class="advanced-search">
                    <td> <b>Comic Book title</b>
                    <td> <input type="text" name="series">
                <tr class="advanced-search">
                    <td> <b>Feature</b>
                    <td> <input type="text" name="feature">
                <tr class="advanced-search">
                    <td> <b>Character</b>
                    <td> <input type="text" name="character">
                <tr class="advanced-search">
                    <td> <b>Story title</b>
                    <td> <input type="text" name="story">
                <tr class="advanced-search">
                    <td> <b>Publisher</b>
                    <td> <input type="text" name="publisher">
                <tr class="advanced-search">
                    <td> <b>Writer</b>
                    <td> <input type="text" name="writer">
                <tr class="advanced-search">
                    <td> <b>Penciller</b>
                    <td> <input type="text" name="penciller">
                <tr class="advanced-search">
                    <td> <b>Inker</b>
                    <td> <input type="text" name="inker">
                <tr class="advanced-search">
                    <td> <b>Colorist</b>
                    <td> <input type="text" name="colorist">
                <tr class="advanced-search">
                    <td> <b>Letterer</b>
                    <td> <input type="text" name="letterer">
                <tr class="advanced-search">
                    <td> <b>Editor</b>
                    <td> <input type="text" name="editor">
                <tr class="advanced-search">
                    <td> <b>Any credit</b>
                    <td> <input type="text" name="credit">
                <tr class="advanced-search">
                    <td> <b>Job Number</b>
                    <td> <input type="text" name="job">
            </table>
            Order by :
            <input type="radio" name="sort" value="alpha" CHECKED> Name
            <input type="radio" name="sort" value="chrono"> Year
            <input type="submit" name="Submit" value="Search">
        </td>
        </form>
    </tr>
    {% block results %}{% endblock %}
</table>
{% endblock %}
