{% extends "search_results_base.html" %}
{% load credits %}

{% block results %}
<tr class="result-status">
    <td>
        {{ paginator.count }} records matched your search for "{{ search_term }}"
    </td>
</tr>
<tr class="result-display-status">
    <td>
        Displaying records {{ page_obj.start_index }} through 
        {{ page_obj.end_index }}
        ({{ paginator.per_page }} records displayed per page).
    </td>
</tr>
<tr>
    <table border="0" cellpadding="3" cellspacing="1">
        <tr class="search-results-header">
            <td> &nbsp;
            <td> Title
            <td> Series
            <td> Published
            <td> Publisher
            <td> Cover
        <tr>
        {% for story in object_list %}
        <tr class="{% cycle search-odd,search-even %}">
            <td> <img src="{{ media_url }}/img/triangle.gif"/>
            <td> <a href="/gcd/issue/{{ story.issue.id }}/">{{ story.issue.series.name }} #{{ story.issue.number }}</a>
                {% ifequal story.sequence_number 0 %}
                    ({{ story.page_count }})
                {% endifequal %}
                <br>
                {{ story|show_credit:"title" }}
                {% ifnotequal story.sequence_number 0 %}
                    {% if story.type %}
                        ({{ story.type }} - {{ story.page_count }} pages)
                    {% else %}
                        ({{ story.page_count }} pages)
                    {% endif %}
                {% endifnotequal %}
                <br>
                {% if which_credit %}
                    {{ story|show_credit:which_credit }}
                {% else %}
                    [<b>TODO:</b> matched credits]
                {% endif %}
            <td> {{ story.issue.series.year_began }}
            <td> {{ story.issue.publication_date }}
            <td> {{ story.issue.series.publisher.name }}
            <td> {% if story.has_cover %}
                <a href="{{ story.cover_url }}"><img src="{{ media_url }}/img/camera.gif"/></a>
                 {% else %}
                    &nbsp;
                 {% endif %}
        </tr>
        {% endfor %}
        <tr>
            <td colspan="8">
                <hr noshade size="1" WIDTH="100%">
            </td>
        </tr>
        <tr class="result-display-status">
            <td colspan="2" align="left">
                <a href="/gcd">New search</a>
            </td>
            <td colspan="4" align="right">
                <div class="pagination">  
                    {% if page_obj.has_previous %}
                        <a href="./?{{ query_string }}page={{ page_obj.previous_page_number}}">&laquo;</a>
                    {% endif %}
                    {% if digg_paginator.is_paginated %}
                        {% for page in digg_paginator.page_range %} 
                            {% if not page %} 
                                ... 
                            {% else %}
                                <a href="./?{{ query_string }}page={{ page }}">{{page}}</a>
                            {% endif %} 
                        {% endfor %}
                    {% endif %}
                    {% if page_obj.has_next %}
                        <a href="./?{{ query_string }}page={{ page_obj.next_page_number}}">&raquo;</a>
                    {% endif %}            
                </div>
            </td>
        </tr>
        
    </table>
</tr>
{% endblock %}

