{% extends "tagline_base.html" %}

{% block title %} Grand Comic-Book Database {% endblock %}

{% block tagline %}
    <img src="{{ media_url }}/img/search_03_have_details.gif"
         alt="Have a look at the details"/>
{% endblock %}

{% block tagged %}
<table border="0" cellpadding="4" cellspacing="4">
    <tr class="in-results-search">
        <form action="/gcd/search/" method="get">
        <td>
            <b>Search for:</b>
            <input type="text" name="query" size="15"> in
            <select name="type" size="1">
                <option value="writer"> Writer
                <option value="penciller"> Penciller
                <option value="inker"> Inker
                <option value="editor"> Editor
                <option value="letterer"> Letterer
                <option value="colorist"> Colorist
                <option value="credit"> Any credit
                <option value="publisher"> Publisher
                <option value="story"> Story title
                <option value="series" SELECTED> Comic Book title
                <option value="character"> Character
                <option value="job"> Job Number
            </select>
            Order by :
            <input type="radio" name="sort" value="alpha" CHECKED> Name
            <input type="radio" name="sort" value="chrono"> Year
            <input type="submit" name="Submit" value="Search">
        </td>
        </form>
    </tr>
    {% block results %}{% endblock %}
</table>

<p>
<a href="/gcd/search/advanced/">Advanced Search</a>
</p>

<p>
Most recently updated indexes:
</p>

{% if latest_updated_indexes %}
    <ul>
    {% for index in latest_updated_indexes %}
        <li> {{ index.series.name }} #{{ index.number }} </li>
    {% endfor %}
    </ul>
{% else %}
    <p> No indexes are available. </p>
{% endif %}

{% endblock %}
