{% extends "tagline_base.html" %}
{% load i18n %} 
{% load gcdfilter %}

{% block title %}
    GCD :: Issue {{ issue.series.name }} #{{ issue.number }}
{% endblock %}


<!-- Unset the widths of the main layout tables. -->
{% block outer-width %}{% endblock %}
{% block inner-width %}{% endblock %}

{% block tagline %}
    <img src="{{ media_url }}/img/search_03_have_details.gif"
         alt="Have a look at the details"/>
{% endblock %}


{% block tagged %}
<tr>
    <td>
        <!-- TODO: verify this -->
        <table border="0" cellpadding="4" cellspacing="0">
            <tr class="series-title">
                <td> <b>{{ issue.series.name }} #{{ issue.number }}</b> </td>
            </tr>
            <tr class="issue-text">
                <td> <b>{% blocktrans with issue.series.year_began as myvar %} {{ myvar }} Series {% endblocktrans %}</b> -
                     {{ issue.series.publisher.name }},
                     {{ issue.publication_date }}, {% trans "coverprice" %} {{ issue.price }},
                     {{ cover_story.page_count }} {% trans "pages" %}
            </tr>
            <tr class="issue-text">
                <td> Format: {{ issue.series.format }}
            </tr>
            <tr><td><table border="0" cellpadding="4" cellspacing="0">
                <tr class="issue-data">
                    <td> {{ image_tag|safe }}<br>
                         <span class="fine-print">Zoom:
                         <a href="/gcd/image/{{ issue.id }}/medium/">medium</a>
                         <a href="/gcd/image/{{ issue.id }}/large/">large</a>
                         </span>
                         <p>
                         <span class="faint">
                         Cover thumbnails are used for identification purposes
                         only.  All rights reserved by the respective copyright
                         holder.
                         </span>
                    </td>
                    <td>
                        <b>{% if cover_story.title %}
                            {{ cover_story.title }}
                        {% else %}
                            *No Title Given*
                        {% endif %}</b>
                        <p>
                        <b>Cover Credits:</b><br>
                        {{ cover_story|show_details:"script" }}
                        {{ cover_story|show_details:"pencils" }}
                        {{ cover_story|show_details:"inks" }}
                        {{ cover_story|show_details:"colors" }}
                        {{ cover_story|show_details:"letters" }}
                        <p>
                        <b>Cover Feature:</b> {{ cover_story.feature}}
                        <p>
                        <b>Character appearances:</b><br>
                        {{ cover_story.characters }}
                        {{ cover_story|show_reprint|linebreaksbr }}
                        <p>
                        <b>Genre:</b> {{ cover_story.genre }}
                        {% if cover_story.notes %}
                            <p>
                            <b>Indexer Notes:</b><br>
                            {{ cover_story.notes|linebreaksbr }}
                        {% endif %}
                        <p>
                        <b>{% trans "Editor" %}:</b> {{ cover_story.editor }}
                        <div class="fine-print">
                            <p> <!-- TODO: proper indexer credits -->
                            {% trans "Issues in this series have been indexed by:" %}
                            <ul>
                                <li> {{ issue.series.indexers }}
                            </ul>
                        </div>
                    </td>
                    <td>
                        <table border="0" cellpadding="4" cellspacing="0">
                            <tr class="story-table-header">
                                <td colspan="2"> {% trans "Stories/features:" %} </td>
                            </tr>
                            {% for story in stories %}
                            <tr class="story-table-entry">
                                <td>
    <a href="#{{ story.sequence_number }}">{{ story.sequence_number }}.</a>
                                </td>
                                <td>
    <a href="#{{ story.sequence_number }}">{% if story.title %}{{ story.title }}{% else %}{% trans "*No title given or indexed*" %}{% endif %}</a><br>
                                    Feature: {{ story.feature }}
                                </td>
                            </tr>
                            {% endfor %}
                            <tr class="issue-text">
                                <td colspan="2">
<a href="/gcd/series/{{ issue.series.id }}/">{% trans "Series info" %}</a><br>
<!-- a href="http://www.comics.org/covers.lasso?seriesid={{ issue.series.id }}" -->{% trans "View covergallery" %}<br><!-- /a -->
{% if prev_issue %}
    <a href="/gcd/issue/{{ prev_issue.id }}/">{% trans "Previous Issue" %}</a><br>
{% endif %}
{% if next_issue %}
    <a href="/gcd/issue/{{ next_issue.id }}/">{% trans "Next Issue" %}</a>
{% endif %}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table></td></tr>

            <tr><td><hr/></td></tr>

            {% for story in stories %}
            <tr class="story-title">
                <td>
                    <a name="{{ story.sequence_number }}"/>
                    {% if story.title %}
                        {{ story.title }}
                    {% else %}
                        {% trans "*No title given or indexed*" %}
                    {% endif %}
                </td>
            </tr>
            <tr class="sequence-id">
                <td> ({% blocktrans with story.sequence_number as seq_num %}Sequence {{ seq_num }} {% endblocktrans %} - {{ story.type }},
                <!-- TODO: check for 1 page, story.page_count is char
                which means pluralize can't be used straightforward,
                how is it in the new schema ? Otherwise use ifequal -->
                     {{ story.page_count }} {% trans "pages" %})
                     </td>
            </tr>
            <tr class="issue-text">
                <td>
                    <p>
                    <b>{% trans "Feature Story:" %}</b> {{ story.feature }}<br>
                    <p>
                    <b>{% trans "Credits" %}:</b><br>
                    {{ story|show_details:"script" }}
                    {{ story|show_details:"pencils" }}
                    {{ story|show_details:"inks" }}
                    {{ story|show_details:"colors" }}
                    {{ story|show_details:"letters" }}
                    {{ story|show_details:"editor" }}
                    {% if story.synopsis %}
                        <p>
                        <b>Synopsis:</b><br>
                        {{ story.synopsis|linebreaksbr }}
                    {% endif %}
                    <p>
                    <b>Character appearances:</b><br>
                    {{ story.characters }}
                    <p>
                    {{ story|show_reprint|linebreaksbr }}
                    <b>Genre:</b> {{ story.genre }}
                    {% if story.notes %}
                        <p>
                        <b>Indexer Notes:</b><br>
                        {{ story.notes|linebreaksbr }}
                    {% endif %}
                </td>
            </tr>
            <tr><td><hr/></td></tr>
            {% endfor %}
        </table>
    </td>
</tr>
<tr class="less-faint">
    <td>
        If you believe any of this data to be incorrect, please send details to
        <br>
        <a href="mailto:gcd-errors@lists.comics.org">gcd-errors@lists.comics.org</a> or enter the details at our <a href="http://maelstrom.walton.uark.edu/bugzilla/enter_bug.cgi">error tracking page</a>.
        <p>
        Cover thumbnails are used for identification purposes only.  All rights reserved by the respective copyright holder.
    </td>
</tr>
<tr><td><hr/></td></tr>
<tr class="issue-text">
    <td> New search (Hit the back-button to see the result list again)
</tr>
<tr><td><hr/></td></tr>
<tr class="issue-text">
    <td> (c) 1994-2008 - Grand Comic-Book Database
</tr>
{% endblock %}

