{% extends "tagline_base.html" %}

{% block tagline %}
<img src="{{ media_url }}/img/search_03_have_details.gif"
     alt="Have a look at the details"/>
{% endblock %}

{% block tagged %}

<table width="600" cellpadding="3" cellspacing="1">
    <tr class="publisher-header">
        <th align = "left" colspan = "4">
            <font> {{ publisher.name }} </font>
        </th>
    </tr>
    <tr class="publisher-subheader">
        <th align="left"> Title </th>
        <th align="left"> Issues </th>
        <th align="left"> Scans </th>
        <th align="left"> Gallery </th>
    </tr>
    {% for series in series_set %}
    <tr class = "{% cycle publisher-odd,publisher-even %}">
        <td class="primary">
            <img src="{{ media_url }}/img/triangle.gif"/>
            <b><a href="/gcd/series/{{ series.id }}/">{{ series.name }}</a></b>
            ({{ series.year_began }} series)
        </td>
        <td> {{ series.issue_set.count }} </td>
        <td> {{ series.issue_set.filter.count }} </td>
        <td> Cover gallery </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

