{% extends "search_results_base.html" %}

{% block results %}
<tr class="result-status">
    <td>
        {{ paginator.count }} records matched your search for "{{ search_term }}"
    <td>
</tr>
<tr class="result-display-status">
    <td>
        Displaying records {{ page_obj.start_index }} through 
        {{ page_obj.end_index }}
        ({{ paginator.per_page }} records displayed per page).<br>
        Click the title to get the series information.
    </td>
</tr>
<tr>
    <table border="0" cellpadding="3" cellspacing="1">
        <tr class="search-results-header">
            <td> &nbsp;
            <td> Country
            <td> Title
            <td> Series
            <td> Issues
            <td> Covers
            <td> Publisher
            <td> Published
        <tr>
        {% for series in object_list %}
        <tr class="{% cycle search-odd,search-even %}">
            <td> <img src="{{ media_url }}/img/triangle.gif"/>
            <!-- TODO: make sure there are flag gifs for each country in gcdonline.countries. I know AR is missing right now. -->
            <td> <img src="{{ media_url }}/img/gcd/flags/{{ series.country_code|upper }}.gif">
            <td> <a href="/gcd/series/{{ series.id }}/">{{ series.name }}</a>
            <td> {{ series.year_began }}
            <td> {{ series.issue_set.count }}
            <td>
                {% if series.gallery_present %}
                    {% ifnotequal series.gallery_present "0" %}
                        Gallery
                    {% else %}
                        Add
                    {% endifnotequal %}
                {% else %}
                    Add
                {% endif %}
            <td> {{ series.publisher.name }}
            <td> {{ series.publication_dates }}
        </tr>
        {% endfor %}
        <tr>
            <td colspan="8">
                <hr noshade size="1" WIDTH="100%">
            </td>
        </tr>
        <tr class="result-display-status">
            <td colspan="3" align="left">
                <a href="/gcd">New search</a>
            </td>
            <td colspan="5" align="right">
                <div class="pagination">  
                    {% if page_obj.has_previous %}
                        <a href="./?{{ query_string }}page={{ page_obj.previous_page_number}}">&laquo;</a>
                    {% endif %}
                    {% if digg_paginator.is_paginated %}
                        {% for page in digg_paginator.page_range %} 
                            {% if not page %} 
                                ... 
                            {% else %}
                                <a href="./?{{ query_string }}page={{ page }}">{{page}}</a>
                            {% endif %} 
                        {% endfor %}
                    {% endif %}
                    {% if page_obj.has_next %}
                        <a href="./?{{ query_string }}page={{ page_obj.next_page_number}}">&raquo;</a>
                    {% endif %}            
                </div>
            </td>
        </tr>
    </table>
</tr>
{% endblock %}

