{% extends "voting/base_view.html" %}

{% load display %}

{% block title %} Ballot :: {{ topic.name|truncatewords:4 }} {% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css"
      href="{{ MEDIA_URL }}css/oi/default/queues.css"/>
{% endblock %}

{% block view_body %}
<h2> {{ topic.name }} </h2>
<dl>
  <dt>Agenda:</dt>
  <dd>{{ topic.agenda|absolute_url }}</dd>
  <dt>Agenda Items:</dt>
  <dd>
    <ul>
{% for item in topic.agenda_items.all %}
      <li> {{ item }}
{% empty %}
      <li> [This topic is not attached to any agenda items.]
{% endfor %}
    </ul>
  </dd>
  <dt>Text:</dt>
  <dd>{{ topic.text|default:'[no text]'|linebreaksbr }}</dd>
</dl>

{% if voted or closed or topic.pending %}
<p>
  {% if voted and not closed %}
Thank you for voting on this topic!
<p>
    {% if topic.agenda.secret_ballot %}
This is a secret ballot, and the voting system does not keep direct links between
voters and votes in order to preserve secrecy.  You will receive an email
confirming your vote, with data that the voting administrator can use to identify
your vote if there is any problem with it.
    {% else %}
Your current vote{{ votes.count|pluralize }}:
      {% if topic.vote_type.max_votes == 1 %}
{{ votes.all.0 }}
<p>
      {% else %}
        {% if topic.vote_type.max_votes > topic.vote_type.max_winners %}
<table>
  <tr>
    <th> Option <th>
    <th> Rank </th>
  </tr>
          {% for vote in votes %}
  <tr>
    <td> {{ vote }} </td>
    <td> {{ vote.rank }} </td>
  </tr>
          {% endfor %}
</table>
        {% else %}
<ul>
          {% for vote in votes %}
  <li> {{ vote }}
          {% endfor %}
</ul>
        {% endif %}
      {% endif %}
    {% endif %}

    {% if not closed %}
If you wish to change your vote, please
<a href="mailto:{{ settings.EMAIL_VOTING_ADMIN }}">contact an administrator</a>.
Vote changing will be implemented in the future.
    {% endif %}
  {% endif %}

  {% if topic.pending %}
This topic is awaiting verification by a vote administrator.  Email will
be sent to the appropriate list when it is available for voting.
  {% endif %}

  {% if closed %}
    {% if topic.invalid %}
This ballot did not produce a valid result due to a tie, lack of quorum, or
other condition.
    {% else %}
Total number of voters: {{ topic.num_voters }}
      {% with topic.agenda as agenda %}
<!-- queues class for CSS.  TODO: refactor CSS -->
<div class="queues">
        {% include "voting/tally.html" %}
</div>
      {% endwith %}
    {% endif %}
  {% endif %}
</p>
{% else %}
<form method=POST action="{% url vote %}">
  {% if topic.token %}
  <p class="instructions">
    This vote requires a token from the mailing list where the discussion took
    place. To get a token and vote, please join the
    <a href="http://groups.google.com/group/gcd-policy">gcd-policy</a> list.
  </p>
  <label for="token">Token:</label>
  <input type="text" class="wide" name="token" id="token"></input>
  {% endif %}
  {% with topic.vote_type.max_votes as max_votes %}
    {% if max_votes > 1 and max_votes == topic.vote_type.max_winners %}
  <p>
    Please vote for up to {{ max_votes }} of the following options.  You may vote
    for fewer options, but you must vote for at least one option if you vote.
    You must submit all of your votes at the same time (i.e. check up to
    {{ max_votes }} options before submitting the form).
  </p>
    {% endif %}
    {% for option in topic.options.all %}
      {% if max_votes <= topic.vote_type.max_winners %}
  <div class="option">
        {% if max_votes == 1 %}
    <input type="radio" name="option" value="{{ option.id }}">{{ option.name }}
        {% else %}
    <input type="checkbox" name="option" value="{{ option.id }}">{{ option.name }}
        {% endif %}
        {% if option.text %}
    <div class="option_text">{{ option.text }}</div>
        {% endif %}
  </div>
      {% endif %}
  {% empty %}
    <div class="important">
      ERROR!  No options have been defined for this ballot!
      Please contact the voting administrator.
    </div>
    {% endfor %}
  {% endwith %}
  <input id="vote" type="submit" value="Vote"/>
</form>
{% endif %}

{% endblock %}

