{% extends "gcd/tw_base_view.html" %}
{% load static %}
{% load forms %}

{% block title %} GCD :: Mentor an Indexer {% endblock %}

{% block view_body %}

{% if indexer.mentor %}
  {% if indexer.mentor == user %}
    <p class="message">
    You are mentoring this Indexer
    </p>
  {% else %}
    <p class="message">
    This Indexer is being mentored by {{ indexer.mentor.indexer }}
    </p>
  {% endif %}
{% else %}
  {% if indexer.is_new %}
    <form class="py-1" action="{% url 'mentor' user_id=user.id %}" method="POST">
      {% csrf_token %}
      <btn class="btn btn-blue"><input type="submit" value="Mentor this Indexer"></btn>
    </form>
  {% else %}
    <p class="message">
    This Indexer does not require a Mentor
    </p>
  {% endif %}
{% endif %}
{% with user as profile_user %}
  {% include 'indexer/bits/profile_limits.html' %}<br>
  {% include 'indexer/bits/profile_display.html' %}
{% endwith %}

{% endblock %}
