{% extends "gcd/tw_base_view.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block view_body %}

<h1>{% trans "Password reset" %}</h1>

<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>

<form action="" method="post">
{% csrf_token %}
{{ form.email.errors }}
<label for="id_email">{% trans 'E-mail address:' %}</label> {{ form.email }} <btn class="btn btn-blue font-bold py-1 px-4 rounded bg-blue-500 text-white hover:bg-blue-700 [:where(&)_a]:text-white [:where(&)_a:where(:visited)]:text-white [@media(hover:hover)]:[:where(&)_a:where(:hover)]:no-underline"><input type="submit" value="{% trans 'Reset my password' %}" /></btn>
</form>

{% endblock %}
