{% extends "gcd/tw_base_view.html" %}
{% load static %}

{% load forms %}

{% block title %} GCD :: {{ profile_user.indexer }} :: Profile {% endblock %}

{% block view_body %}

{% if error_list %}
<ul class="error_message">
  {% for error in error_list %}
  <li> {{ error }} </li>
  {% endfor %}
</ul>
{% endif %}

<h1>{{ profile_user.indexer }}</h1>
{% if user != profile_user %}
<h3><a href="{% url "django_contact_form" user_id=profile_user.id %}"><img class="inline" alt="email" src="{% static 'img/gcd/social/email_32.png' %}" height="22" width="22"> Send E-Mail</a></h3>
{% endif %}
{% if user == profile_user.indexer.mentor and profile_user.indexer.is_new %}
<div class="flex mt-1">
<form class="me-1" method="POST" action="{% url "mentor_not_new" user_id=profile_user.id %}">
  {% csrf_token %}
  <btn class="btn btn-blue"><input type="submit" name="mentor_not_new"
         value="Understands Indexing - Release as Full Indexer"></input></btn>
</form>
<form action="{% url "unmentor" user_id=profile_user.id %}" method="POST">
  {% csrf_token %}
  <btn class="btn btn-blue"><input type="submit" value="Indexer Inactive - Return to Unmentored Status"></btn>
</form>
</div>
{% endif %}

{% include 'indexer/bits/profile_limits.html' %}

{% if form %}
<form action="/accounts/profile/{{ profile_user.id|default:user.id }}/"
      method="POST"
      class="profile_form">
  {% csrf_token %}
  {% if form.non_field_errors %}
  <div class="error_message">
    {{ form.non_field_errors }}
  </div>
  {% endif %}
  <fieldset>
    <legend>Personal Information</legend>
    <table>
      {{ form.email|show_form_as_row }}
      {{ form.first_name|show_form_as_row }}
      {{ form.last_name|show_form_as_row }}
      {{ form.country|show_form_as_row }}
      {{ form.languages|show_form_as_row }}
      {{ form.interests|show_form_as_row }}
      {{ form.seen_privacy_policy|show_form_as_row }}
      {{ form.opt_in_email|show_form_as_row }}
      {{ form.issue_detail|show_form_as_row }}
      {{ form.no_show_sequences|show_form_as_row }}
      {{ form.cover_letterer_creator_only|show_form_as_row }}
      {{ form.from_where|show_form_as_row }}
      {{ form.notify_on_approve|show_form_as_row }}
      {{ form.collapse_compare_view|show_form_as_row }}
      {{ form.show_wiki_links|show_form_as_row }}
      {{ form.use_tabs|show_form_as_row }}
      {{ form.cache_size|show_form_as_row }}
      {{ form.variant_threshold|show_form_as_row }}
      {{ form.reprint_threshold|show_form_as_row }}
    </table>
  </fieldset>
  <fieldset class="border-2 border-gray-400 p-1 mb-2">
    <legend>Change Password</legend>
    <div>
      Leave all three fields blank to leave your password unchanged.
    </div>
    <table>
      {{ form.old_password|show_form_as_row }}
      {{ form.new_password|show_form_as_row }}
      {{ form.confirm_new_password|show_form_as_row }}
    </table>
  </fieldset>
    <btn class="btn btn-blue"><input type="submit" value="Save"></btn></td>
</form>
{% else %}
  {% include 'indexer/bits/profile_display.html' %}

  {% if profile_user == user %}
<form class="mt-1" action="{% url "edit_profile" user_id=profile_user.id %}" method="GET">
  <btn class="btn btn-blue"><input type="submit" value="Edit Profile"></btn>
</form>
  {% endif %}

{% endif %}

{% if profile_user.ongoing_reservations.count %}
<h3> Ongoing Reservations </h3>
<ul>
  {% for ongoing in profile_user.ongoing_reservations.all %}
  <li> <a href="{{ ongoing.series.get_absolute_url }}">{{ ongoing.series }}</a>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
