{% extends "gcd/tw_base_view.html" %}
{% load static %}
{% load forms %}

{% block title %}
  GCD :: Registration
{% endblock %}

{% block view_body %}
{% if user.is_authenticated %}
  <p>
Please
<form id="inline_logout" action="{% url "logout" %}" method="POST">
  {% csrf_token %}
  <input type="submit" name="logout" value="Log Out" />
  <input type="hidden" name="next" value="{{ request.get_full_path }}" />
</form>
before registering a new account.
</p>

{% else %}

{% if error_list %}
<ul class="error_message">
{% for error in error_list %}
  <li> {{ error }} </li>
{% endfor %}
</ul>
{% endif %}

<p>
<h3>Please note that all of our content and search features are available
without logging in.</h3> Signing up for one of our
<a href="http://docs.comics.org/wiki/Email_Lists_FAQ">mailing lists</a>
does not require an account either.
<h3>You only need an account if you want to edit or add information, or if you want to manage your collection with my.comics.org.</h3>
</p>
<p>
Once you register, you will not be able to log in until you confirm your
email address.  You will receive an automatic email telling you how to do that
within a few hours (typically only a few minutes) of submitting this form.
You might need to also check your spam folder.
If you have other setups to prevent unsolicited email please
make sure that our automatic email gets through, you may have to temporarily turn
these off. Some email setups allow a white list, where you could put our domain comics.org.<br>
If you <span class="font-bold">did not receive</span> an email please change some of the mentioned email setups. Afterwards, just register again with your email-address and you will get another confirmation email. In such a case of re-registering it is enough for you to fill in only the required fields since the other information is already stored in the database.
</p>

{{ form.non_field_errors }}

<form action="/accounts/register/" method="POST">
{% csrf_token %}
<table>
  {{ form.email|show_form_as_row }}
  {{ form.password|show_form_as_row }}
  {{ form.confirm_password|show_form_as_row }}
  {{ form.first_name|show_form_as_row }}
  {{ form.last_name|show_form_as_row }}
  {{ form.country|show_form_as_row }}
  {{ form.languages|show_form_as_row }}
  {{ form.interests|show_form_as_row }}
  {{ form.seen_privacy_policy|show_form_as_row }}
  {{ form.opt_in_email|show_form_as_row }}
  {{ form.issue_detail|show_form_as_row }}
  {{ form.from_where|show_form_as_row }}
  {{ form.notify_on_approve|show_form_as_row }}
  {{ form.collapse_compare_view|show_form_as_row }}
  {{ form.cache_size|show_form_as_row }}
  {{ form.variant_threshold|show_form_as_row }}
  {{ form.reprint_threshold|show_form_as_row }}
  <tr><td></td><td>{{ form.captcha }}</td></tr>
  <tr><td>&nbsp;</td><td><btn class="btn btn-blue"><input type="submit" value="Register"></btn></td></tr>
</table>
</form>

{% endif %}
{% endblock %}

