{% extends "gcd/base_view.html" %}
{% load url from future %}
{% load staticfiles %}

{% block css %}
  <link rel="stylesheet" type="text/css"
        href="{% static "css/gcd/default.css" %}"/>
  <link rel="stylesheet" type="text/css"
        href="{% static "css/gcd/default/accounts.css" %}"/>
{% endblock %}

{% block view_body %}

<p>
Welcome to the {{ site_name }}!
<p>
You are now registered as a new Indexer! You may now make changes to our information and submit them for approval, a process we call indexing.
</p>
<p>
To help you make your first submission, please read the <a class="emphasis" href="http://docs.comics.org/wiki/Indexing">Introduction To Indexing</a> or the <a class="emphasis" href="http://docs.comics.org/wiki/OI_Tutorial">Tutorial</a>.
If you wish to submit cover scans, please read <a href="http://docs.comics.org/wiki/Covers_FAQ">covers FAQ</a>.
<p>
As a new user, during the indexing process an Editor will be assigned as your mentor <span class="emphasis">after</span> your first submission.
This mentoring Editor will then contact you regarding your submission with any questions and suggestions to help you to ensure our data quality standards are maintained.
You may also ask questions in the Comments sections of any submissions you make.
<p>
As a new user, while you may upload as many covers as you like, you are initially limited to making data changes to <span class="emphasis">one issue</span> and must wait for this one to be approved before you can do more.
This is to allow an <a href="http://docs.comics.org/wiki/List_of_editors">Editor</a> to help you and answer any questions with your first few data contributions.
<p>
The number of data changes you can make at a time will automatically increase starting with your first approval, after which you can also reserve all new issues in a series as well as making changes one issue at a time.
You can see your current maximum allowed changes on your <a href="{% url "default_profile" %}">profile page</a>.
You can also edit your profile from that page.
<p>
Please consider signing up for our main <a href="http://groups.google.com/group/gcd-main">mailing list</a> or one of the <a href="http://docs.comics.org/wiki/Email_Lists_FAQ#International_mailing_lists"> international ones</a>.
There is more mailing list information given at our <a href="http://docs.comics.org/wiki/Email_Lists_FAQ">Email Lists FAQ</a>.
<p>
We appreciate your interest in the GCD and look forward to working with you on your contributions to the project!
<p>
Best regards, <br>the {{ site_name }} team
</p>
{% endblock %}

