Welcome to the {{ site_name }}!

You are now registered as a new Indexer! You may now make changes to our information and submit them for approval, a process we call indexing.

To help you make your first submission, please read the Introduction To Indexing at http://docs.comics.org/wiki/Indexing or the Tutorial at http://docs.comics.org/wiki/OI_Tutorial.
If you wish to submit cover scans, please read covers FAQ at http://docs.comics.org/wiki/Covers_FAQ.

As a new user, during the indexing process an Editor will be assigned as your mentor after your first submission. This mentoring Editor will then contact you regarding your submission with any questions and suggestions to help you to ensure our data quality standards are maintained. You may also ask questions in the Comments sections of any submissions you make.

As a new user, while you may upload as many covers as you like, you are initially limited to making data changes to one issue and must wait for this one to be approved before you can do more. This is to allow an Editor to help you and answer any questions with your first few data contributions.

The number of data changes you can make at a time will automatically increase starting with your first approval, after which you can also reserve all new issues in a series as well as making changes one issue at a time. You can see your current maximum allowed changes on your profile page, from where you can also edit your profile.

Please consider signing up for our main mailing list http://groups.google.com/group/gcd-main. There is more mailing list information given at our Email Lists FAQ, where you also find at list of our international mailing lists.

We appreciate your interest in the GCD and look forward to working with you on your contributions to the project!

Best regards, 
the {{ site_name }} team

