.wmd-panel
{
	margin-left: 0%;
	margin-right: 25%;
	width: 50%;
	min-width: 500px;
}

.wmd-button-bar {
    width: 100%;
    background-color: white;
}

.wmd-input {
    height: 300px;
    width: 100%;
    background-color: white;
    border: 1px solid silver;
}
