.queues {
    margin-bottom: 1em;
}

.queues table {
    border-collapse: collapse;
    border: solid #DDD 1px;
}

.queues th {
    padding: 0.4em;
    background-color: #f1f8ff;
    border-bottom: 1px solid #DDD;
}

.queues td {
    padding: 0.4em;
    border-bottom: 1px solid #DDD;
}

.queues span.add {
    background-color: palegreen;
}

.queues span.delete {
    background-color: tomato;
}

.queues td a:link {
    text-decoration: None;
}

.queues td a:hover {
    text-decoration: underline;
}

.queues td.add {
    background-color: palegreen;
}

.queues td.delete {
    background-color: tomato;
}

.queues td.overdue {
    color: red;
}

.queues form {
    margin: 0;
    padding: 0;
    display: inline;
}

.queues input {
    font-size: 0.8em;
    margin: 0;
}

.label_binding {
    white-space: nowrap;
}

input.comments {
    width: 20em;
}

