body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin: 0;
}

#sizing_base {
    font-size: 0.9em;
}

div.body_content {
    margin: 0 8px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.flex_left {
}

.flex_right {
    flex: 1;
    text-align: right;
}

#RightSearchColumn {
    margin-left : 168px;
}

#LeftSearchColumn {
    float : left;
    width : 163px;
}

/*
 * This is intended to be so horribly, jarringly unatractive that
 * you can't possibly fail to notice it.
 */
#beta_warning {
    font-size: 1.5em;
    background-color: red;
    color: yellow;
    border: dashed 4px black;
    margin-bottom: 1em;
}

#special_banner {
    font-size: 1.4em;
    background-color: #EE7;
    margin-bottom: 0em;
    padding: 0.3em;
}

/* Survey banners should be an inviting color. */
#survey_banner {
    background-color: palegreen;
    font-size: 1.4em;
    margin-bottom: 0.5em;
    padding: 0.3em;
}

/* In one place we need a top margin, so we wrap another div around it.
 * The margin still needs to be on .special_banner, though, as that div
 * appears conditionally, while the wrapper is always present.
 */
#survey_top_spacer #survey_banner {
    margin-top: 0.5em;
}

#preview_banner {
    font-weight: bold;
    background-color: orange;
    padding: 0.3em 0 0.3em 0;
    margin-bottom: 0.5em;
}

#preview_banner_inner {
    padding: 0 0.3em 0 0.3em;
}

.preview {
    background-color: #FFE944;
}

h1 {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size: 2em;
    clear: both;
}

h2 {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size: 1.5em;
}

h3 {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

hr {
    width: 100%;
    clear: both;
}

hr.divider {
    clear: left;
    visibility: hidden;
}

dt {
    font-weight: bold;
}

h1.item_id {
    float: left;
}

img .cover_img {
    /* Used to make alt text more visible.  Better way to do this? */
    color: white;
    background-color: black;
}

h3.stats {
    padding: 0.2em 0;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #444;
    color: white;
    font-weight: bold;
    width: 100%;
}

div.stats {
    width: 49%;
    float: left;
    margin: 0.5em 0.5%;
}

div.stats_content {
    padding-left: 8px;
}

div.stats_header {
    padding-left: 8px;
    line-height: 1.5em;
}

/* Item ID stuff */

.item_id {
    /* ID of the primary subject of a given page. */
    /* background-color: #DDD; */
    /* padding-left/right must be in an absolute unit to get the right edges
     * to line up due to the necessary 100% width which is itself due
     * to needing to float things in order to implement float left/right.
     */
    margin: 0 -8px;
    padding: 0 8px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #444;
    color: white;
    font-weight: bold;
    width: 100%;
    display: flex;
    align-items: center;
}

#item_id_footer {
    margin-bottom: 0.5em;
}

#item_id_footer_replace_top {
}

#item_id_footer_replace_bottom {
    margin-bottom: 1em;
}

.item_id :link, .stats :link {
    color: white;
    text-decoration: underline;
}

.item_id :visited, .stats :link {
    color: white;
}

.item_id .left {
    flex: None;
}

.item_id .right {
    flex: 1;
    text-align: right;
}

.item_id .pagination {
    font-weight: normal;
}

div.item_id {
    background-color: #EEE;
    color: black;
    float: left;
    clear: both;
    border-top: none;
}

div.item_id :link {
    color: black;
}

div.item_id :visited {
    color: black;
}

div.prev_next {
    font-weight: normal;
}

a:link, h1 a:visited {
    text-decoration: None;
    color: #00e;
}

a:visited {
    text-decoration: None;
    color: #0645ad;
}

a:hover {
    text-decoration: underline;
}

/* Specialized version of part of the item_id for search result pages. */

h1.search_id {
    font-size: 1.25em;
}

.search_id_nav img {
    border: 0px;
}

#search_reminder, #bulk_change_info {
    float: left;
    margin-top: 1em;
}

/* Search or plain header bars that appear at the top of nearly every page. */

.search_bar, #plain_bar {
    clear: both;
    background-color: #66E;
    color: black;
}

.my_search_bar{
    clear: both;
    background-color: #A9302A;
    color: white;
}

/* for menu */

.search_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #66E;
}

.my_search_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A9302A;
}

.search_bar li, .my_search_bar li {
    line-height: 40px;
    float: left;
}

.search_bar li a, .search_bar li form, .my_search_bar li a, .my_search_bar li form {
    padding: 0.3em 0.6em;
    display: block;
    color: black;
    text-decoration: none;
}

.search_bar li a:hover {
    background-color: #b3cff8;
    color: DarkSlateGray;
    text-decoration: none;f
}

.my_search_bar li a:hover {
    background-color: #B96C68;
    color: Gainsboro;
    text-decoration: none;
}

.donate_link {
    background-color: #FFA500;
}

.search_bar img, .my_search_bar img, #plain_bar img {
    height: 40px;
    position: relative;
    top: 1em;
    margin-top: -1em;
    padding: 0 1em;
}

.search_bar :link {
    color: white;
}

.search_bar :visited {
    color: white;
}

.my_search_bar :link, .my_search_bar :visited  {
    color: white;
}

#plain_bar span {
    font-size: 1.2em;
    font-weight: bold;
}

#plain_bar :visited {
    color: black;
}

.fine_print {
    float: left;
    clear: left;
    margin-top: 1em;
}

/* for two columns on the pages with control box on the right */

.control_body{
	padding:0 15.25em 0 0;
}
#control_container{
	float:left;
	width:100%;
	border-right:15.25em; /* The width of the right rail */
	margin-right:-15.25em;
	display:inline; /* So IE plays nice */
}
#control_center{
	float:left;
	width:100%;
	margin-right:-100%;
}
#control_rail{
	float:right;
	width:15.25em;
	margin-right:-15.25em;
	position:relative;
}
#control_header, #control_footer{
	margin-right:-15.25em;
	clear:both;
}

.edit_box {
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 0.9em;
}

.edit_box form {
    margin: 2px;
}

.edit_header {
    font-weight: bold;
    background-color: #DDD;
    margin: 0;
    padding: 0.4em;
}

.edit_footer {
    background-color: #DDD;
    margin: 0;
    margin-bottom: 1em;
    padding: 0.4em;
}

.edit_label {
    font-size: 1.2em;
    margin: 2px;
}

.cant_delete {
    color: gray;
}

#change_history {
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
}

#change_history a {
    color: black;
}

/* Some of this goes down to cover.css, some is common.  TODO: Figure out. */
div.covers {
    margin: 1em 0;
    display: flex;
    flex-wrap: wrap;
}

div.issue_covers {
    margin: 1em 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.covers div.marked {
    background-color: #DDD;
}

.no_cover {
    border: solid 1px black;
}

.cover_links {
    font-size: 0.7em;
    white-space: nowrap;
}

.cover_caption {
    /* text-align: center; */
    font-size: 0.75em;
}

.cover_number {
    font-weight: bold;
}

.cover_grid_flex {
    text-align: center;
    vertical-align: top;
    width: 140px;
    margin: 2px 4px;
}

.cover_grid {
    text-align: center;
    vertical-align: top;
    width: 20%;
}

.cover_grid img {
    background-color: black;
    color: black;
}

.cover_grid img :link {
    color: black;
}

.cover_grid img :visited {
    color: #666;
}

.cover_grid .wraparound_cover_img, #cover_uploaded .wraparound_cover_img, .cover_grid_flex .wraparound_cover_img {
    background-color: black;
    color: black;
    margin-left: 15px;
    padding-right: 15px;
    background: transparent no-repeat right center url(foldoutarrow_100.png);
}

#cover_zoom {
    text-align: center;
}

#cover_zoom img {
    margin-top: 1em;
    margin-bottom: 1em;
}

#cover_zoom .wraparound_cover_img {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-right: 15px;
    background: transparent no-repeat right center url(foldoutarrow_100.png);
}

#cover_zoom .cover_links {
    font-size: 1em;
    margin-bottom: 1em;
}


/* Listing table stuff */
form.before_listing {
    margin-top: 1em;
    float: left;
}

.facet_listing summary {
    margin-top: 1em;
    text-align: left;
    background-color: rgb(136, 136, 136);
    color: white;
    font-weight: bold;
    width: 10.25em;
    padding: 0.4em;
}

.facet_listing table {
    border-collapse: collapse;
    width: 11em;
    border-style: hidden;
}

.listing {
    float: left;
    clear: both;
    border-collapse: collapse;
    border-style: hidden;
    margin-top: 1em;
    margin-bottom: 1em;
}

#publisher_detail_listing {
    margin-top: 0;
}

.listing th {
    text-align: center;
    padding: .4em;
    background-color: #888;
    color: white;
}

.listing td, .facet_listing td {
    padding: .4em .5em;
}

.listing tr.odd,
tr.row_even_False,
tr.listing_odd {
    background-color: #FFF;
    vertical-align: top;
}

.listing tr.even,
tr.row_even_True,
tr.listing_even {
    background-color: #DDD;
    vertical-align: top;
}

td.listing_publisher {
    border-left: none;
}

td.listing_country {
    border-right: none;
}

div.list_table_header {
    margin-bottom: 1em;
}

.listing dl {
    margin-top: 0;
}

.listing dl.credits {
    margin-bottom: 0;
}

.listing dl.credits dt {
    float: left;
    clear: both;
    padding-right: 0.25em;
}

.listing dl.credits dd {
    margin: 0;
}

div.updated_issues ul {
    list-style: none;
    margin: 0 0.4em 0 0;
    padding: 0;
}

/* Site-wide form input styling options. */
input.wide {
    width: 60em;
}

input.medium {
    width: 30em;
}

/* Move to publisher.css when it's created. */
.pub_data{
    margin-right: 0.5em;
}

dl.pub_data {
    float: left;
    width: 100%;
    margin-top: 1em;
}

dl.pub_data dt {
    padding-right: 0.5em;
    float: left;
    clear: left;
}

dl.pub_data dd {
    float: none;
    padding: 0;
    margin: 0;
}

.embedded_flag {
    height: 1em;
    vertical-align: middle;
}

#index_status {
    padding: 0.4em 0.4em 0.4em 0.4em;
}

#index_status :visited, #index_status :link {
    color: black;
}

#index_status_inner {
    margin: 0 0.4em 0 0.4em;
}

.index_status_available,
.index_status_0 {
    background-color: #EE7;
}

.index_status_editing,
.index_status_1 {
    background-color: #E77;
}

.index_status_reviewing,
.index_status_4,
.index_status_pending,
.index_status_2,
.index_status_discussed,
.index_status_3 {
    background-color: #EA7;
}

div.ongoing_status {
    padding: 0.4em 0.4em 0.4em 0.4em;
    background-color: #AEA;
}

div.ongoing_status form {
}

.control_panel {
    clear: both;
}

.publisher_list_control_panel {
    clear: both;
}

.publisher_list_control_panel form {
    margin-top: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    float: left;
    display: inline;
}

.message {
    font-weight: bold;
}

.hidden {
    display: none;
}

/* Fix "Selection" column width to avoid jumping when heading is changed dynamically */
.select_heading {
    width: 8em;
}

/* For form error messages, which usually need div positioning */
.error_message {
    color: red;
    font-weight: bold;
    margin: 1em 0;
    float: left;
    clear: both;
}

/* Sometimes we don't want the positioning, just the text formatting. */
.error_message_text {
    color: red;
    font-weight: bold;
}

.footer_disclaimer {
    float: left;
    font-size: 0.8em;
    color: #666;
    margin: 0.5em;
}

.footer_disclaimer img{
    border-width: 0;
}

.footer_item {
    margin-bottom: 1em;
}

/* behaviour for links */
a.new_window {
    padding-right: 13px;
    background: transparent no-repeat right center url(external.png);
    position:relative;
    z-index:1;
}

a.new_window:hover span
{
    display:block;
    position:absolute;
    left:0em;
    width:11em;
    border:1px solid black;
    background-color: #FFF;
    color:#000;
    text-align: center;
    padding: 5px;
}

a.link_info_left
{
    position:relative;
    z-index:1;
    text-decoration:none;
}

a.link_info_left:hover, a.new_window:hover
{
    z-index:2;
}

a.link_info_left span, a.new_window span
{
    display: none;
}

a.link_info_left:hover span
{
    display:block;
    position:absolute;
    left:-11em;
    width:10em;
    border:1px solid black;
    background-color: #DDD;
    color:#000;
    text-align: center;
    padding: 5px;
    font-size: 0.9em;
}

#donate_table {
    width: 100%;
    border: solid 1px;
    border-spacing: 0;
}

#donate_table td {
    text-align: center;
    width: 33%;
    padding: 0.4em;
}

#donate_table th {
    font-weight: bold;
    padding: 0.4em;
    background-color: #444;
    color: white;
}

.my_comics_cross_link {
    margin-bottom: 0.5em;
    padding: .4em;
    background-color: #A9302A;
    text-align: center;
}

.www_comics_cross_link {
    margin-bottom: 0.5em;
    padding: .4em;
    background-color: #66E;
    text-align: center;
}

.my_comics_cross_link a, .www_comics_cross_link a {
    color: white;
    font-size: 1.1em;
    font-weight: bold;
}

.side_section_header {
    margin-bottom: 0;
    padding: .4em;
    background-color: #444;
    font-size: 1.3em;
    font-weight: bold;
    color: white;
}

/* Need to re-apply color to 'a' element directly. */
.side_section_header a {
    color: white;
}

ul.side_section_body {
    list-style: none;
    font-size: 0.85em;
    background-color: #DDD;
    margin-top: 0;
    margin-bottom: 0.5em;
    padding: 0.5em 0.4em;
}

.empty_side_section_body {
    margin-bottom: 0.5em;
}

/* for search results info */
div.search_terms {
    clear: left;
    margin-bottom: 1em;
}

span.search_terms {
    font-weight: bold;
}

form#comments {
    margin-bottom: 1em;
}

form#comments textarea {
    height: 10em;
    width: 60em;
    margin-bottom: 1em;
}

.cover_button {
    display: inline;
}

#new_search_link {
    position: relative;
}

#new_search_link sup {
    position: absolute;
    right: 0px;
    top: -9px;
}

.portrait{
	max-width: 150px;
	max-height: 150px;
}
