{% load staticfiles %}

{% for post in posts %}
<div class="feed-post">
{{ post.content }}
</p>
<img width="150px" src="{{ post.picture }}">
<a href="{{ post.url }}"><img alt="comment on facebook" src="{% static "img/gcd/social/facebook_32.png" %}"></a>
<a href="https://plus.google.com/+GrandComicsDatabase"><img alt="google+" src="{% static "img/gcd/social/google_plus_32.png" %}"></a>
<a href="mailto:?body={{ post.mail_body }}&subject={{ post.mail_subject }}"><img alt="email" src="{% static "img/gcd/social/email_32.png" %}"></a>
</div>
<hr class="feed-post">
{% endfor %}
