{% load i18n %}

<div class="right">
  {% if daily %}
  <a href="{{ choose_url_before }}">&lt; {% trans "day before" %}</a> |
  {% elif yearly %}
  <a href="{{ choose_url_before }}">&lt; {% trans "year before" %}</a> |
  {% else %}
  <a href="{{ choose_url_before }}">&lt; {% trans "month before" %}</a> |
  {% endif %}
    <form method="GET"
          action="{{ choose_url }}"
          style="display:inline">
      {% if sort%}
      <select hidden name="sort" id="sort">
        <option value="{{ sort }}">{{ sort }}</option>
      </select>
      {% endif %}
      <select name="year" id="year">
        {% for year in years  %}
        <option value="{{ year }}">{{ year }}</option>
        {% endfor %}
      </select>
      <select name="month" id="month">
        <option value="1">{% trans 'January' %}</option>
        <option value="2">{% trans 'February' %}</option>
        <option value="3">{% trans 'March' %}</option>
        <option value="4">{% trans 'April' %}</option>
        <option value="5">{% trans 'May' %}</option>
        <option value="6">{% trans 'June' %}</option>
        <option value="7">{% trans 'July' %}</option>
        <option value="8">{% trans 'August' %}</option>
        <option value="9">{% trans 'September' %}</option>
        <option value="10">{% trans 'October' %}</option>
        <option value="11">{% trans 'November' %}</option>
        <option value="12">{% trans 'December' %}</option>
      </select>
    {% if daily %}
      <input type="text" name="day" id="day" size="2">
    {% endif %}
      <input type="submit" value="{% trans 'Go' %}">
    </form>
  {% if choose_url_after %}
    {% if daily %}
   | <a href="{{ choose_url_after }}">{% trans "day after" %} &gt;</a>
    {% elif yearly %}
   | <a href="{{ choose_url_after }}">{% trans "year after" %} &gt;</a>
    {% else %}
   | <a href="{{ choose_url_after }}">{% trans "month after" %} &gt;</a>
    {% endif %}
  {% endif %}
</div>
