<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>GCD Daily Creators</title>
{% load display %}
{% load compress %}
{% load static %}
{% compress css inline %}
  <link rel="stylesheet" type="text/css"
        href="{% static "css/gcd/default.css" %}"/>
{% endcompress %}
<base target="_parent">
</head>
<body>

<div style="font-size: 0.9em;">

  <div id="top-sentinel">...</div>
  <div id="top-scroll-element">
    {% include "gcd/bits/_daily_creators.html" with creators=creators_yesterday day=yesterday %}
  </div>

  <p id="today"><b>{{ today|date:"l, jS F" }}</b></p>
  {% for creator in creators_today %}
    {{ creator|absolute_url }}<br>
  {% endfor %}

  <div id="bottom-scroll-element">
    {% include "gcd/bits/_daily_creators.html" with creators=creators_tomorrow day=tomorrow %}
  </div>
  <div id="bottom-sentinel">...</div>
</div>

{% compress js %}
<script type="text/javascript"
        src="{% static "js/infinite_scroll.js" %}"></script>
<script>
  window.addEventListener("load", () => {
    let baseUrl = "{% url 'daily_creators' %}";
    let addUrl = "offset/";
    let topSentinel = document.getElementById("top-sentinel");
    let topScrollElement = document.getElementById("top-scroll-element");
    let bottomSentinel = document.getElementById("bottom-sentinel");
    let bottomScrollElement = document.getElementById("bottom-scroll-element");
    attachInfiniteScroll(topSentinel, topScrollElement, baseUrl, addUrl, -1);
    attachInfiniteScroll(bottomSentinel, bottomScrollElement, baseUrl, addUrl, 1);
  })
</script>
{% endcompress %}
</body>
</html>
