<div id="front_page_login">
    {% if user.is_authenticated %}
        <p>
        You are logged in as {{ user.indexer }}<br>
        <a href="{% url editing %}">Editing</a> | <a href="{% url default_profile %}">Profile</a>
        </p>
        <form action="{% url logout %}" method="POST">
            <input type="submit" name="logout" value="Logout" />
            <input type="hidden" name="next" value="{{ request.get_full_path|urlencode }}" />
        </form>
    {% else %}
        <form method="post" action="{% url login %}">
            username
            <input type="text" name="username" id="username"/>
            password
            <input type="password" name="password" id="password"/>
            <input type="submit" value="Login" />
            <input type="hidden" name="next" value="{{ request.get_full_path|urlencode }}" />
        </form>
        <div id="forgot_password">
            <a href="{% url forgot_password %}">Forgot password?</a>
        </div>
        <div id="register">
            <a href="{% url register %}">Register</a>
        </div>
    {% endif %}
</div>
