<div id="front_page_menu">
    <div id="front_page_menu_header">
        <img src="{{ MEDIA_URL }}/img/logo.gif" alt-text="GCD">
    </div> <!-- front_page_menu_header -->
       <a href="http://docs.comics.org/wiki/The_GCD_Charter">About the GCD</a>
       <a href="">Contacting us</a>
       <a href="http://docs.comics.org/">Documentation</a>
       <a href="http://docs.comics.org/wiki/Indexing">Become an indexer</a>
       <a href="http://docs.comics.org/wiki/Error_Tracker_FAQ">Report errors</a>
       <a href="http://docs.comics.org/wiki/Reservations">Reservation</a>
       <a href="">Ads & Donations</a> 
     <br>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="8155213">
<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</div> <!-- front_page_menu -->
