<div id="front_page_content_inner">
<div class="announcement">
<h2>Willkommen bei der {{ site_name }}!</h2>
<p>
<div class="instructions">
<span class="important">Auf der Suche nach einem bestimmten Comic ? Oben in der Suchbox den Begriff eingeben und los geht es.</span>  Aber Vorsicht, die Suche wird buchstäblich durchgeführt, einschließlich Zeichensetzung. Beispielsweise sind
 <em>Spiderman</em> und <em>Spider-Man</em> zwei unterschiedliche Suchen, und die Suche nach <em>Spirou Fantasio</em> findet nicht <em>Spirou und Fantasio</em>.  Wir beabsichtigen eine bessere Suche im Laufe von 2010 zu realisieren, 
wer sich zufälligerweise damit auskennt kann uns gerne dabei helfen.
<br><br>
All unsere Inhalte und die Suchfunktionen können genutzt werden
<span class="important">ohne sich anzumelden</span>. Eine Registrierung ist nur notwendig wenn man beabsichtigt Inhalte beizusteuern.
<br><br>
Der restlichen Seiten der GCD sind bisher nur auf Englisch verfügbar, das wird sich erst im Laufe des Jahres ändern. 
Es gibt aber mehrere deutschsprache Mitwirkende bei der GCD und auch einen <a href="http://groups.google.de/group/gcd-deutschland/">deutschsprachigen Email-Verteiler</a>.
</div>
<p>
<dl>
  <dt>Die Comic-Datenbank
  <dd>Das Ziel der GCD ist es umfassende Daten über alle weltweit erschienen Comics zu erfassen. Der ursprüngliche
Schwerpunkt sind amerikanische Comics, aber auch viele europäischen Länder sind inzwischen stark vertreten. 

  <dt>Zur Datenbank beitragen
  <dd>Um Daten oder Titelbilder zur Datenbank beizutragen ist eine Registrierung erforderlich. 
Wie alle weiterführenden Seiten sind auch die Seiten zur Registrierung, Datenerfassung und der Dokumentations-Wiki
bisher auf Englisch gehalten. Falls Fragen auftreten, neben dem <a href="http://groups.google.de/group/gcd-deutschland/">deutschsprachigen Email-Verteiler</a> kann man auch direkt per Email <a href="mailto:gcd-contact-de@comics.org">Kontakt</a> auf Deutsch aufnehmen.

  <dt>Titelbilder hinzufügen
  <dd>Die vielleicht einfachste und schnellste Möglichkeit bei der GCD mitzuwirken ist es Titelbilder hochzuladen. Entweder sieht man die Lücken beim durchschauen der Webseite, oder sucht mit Hilfe der <a href="{% url apps.gcd.views.search.advanced_search %}">erweiterten Suche</a> nach benötigten Titelbilder, dort dafür 'Cover is Needed' anklicken. Bevor neue Titelbilder auf der Seite zu sehen sind müssen diese dann noch, wie alle Beiträge, von einem anderen GCD-Mitarbeiter freigeschaltet werden.

  <dt>Informationen beitragen
  <dd>Fehlt ein Comic, eine Serie oder gar ein Verlag ? Willst du Informationen zu Autor, Zeichner, eine kurze Inhaltsangabe, die auftretenden Charaktere, ... eintragen ? Oder einfach nur einen nervigen Tippfehler korrigieren ?
Sofern man angemeldet ist findet man auf allen Seiten die Möglichkeit die Einträge zu editieren und neue Informationen beizutragen. Da wir das Ziel verfolgen möglichst strukturierte und korrekte Daten zu haben, die es ermöglichen genaue Suchen durchzuführen, gibt es einige Regeln wie das erfolgen sollte. Nach dem Submitten der Beiträge gibt dann ein GCD-Mitarbeiter Rückmeldung ob die verschiedenen Informationen an den richtigen Stellen stehen.

  <dt>Import von existierenden Daten
  <dd>Wer schon Daten in einer Datenbank oder einer Textdatei hat kann diese unter Umständen in die Datenbank importieren.
Zu jedem Comic kann man mit Hilfe einer Textdatei bei der die Felder mit Tabs getrennt Informationen hochladen. Genauere Informationen zum Dateiformat gibt es <a href="http://docs.comics.org/wiki/Indexing_Offline">hier</a>. 

</dl>
<h3>Pläne für die nächste Zukunft (bis Mitte des Jahres 2010)</h3>
<ul>
  <li>Direkte Verlinkung zwischen Nachdrucken und dem Original.
</ul>
<h3>Längerfristige Pläne (zweite Hälfte 2010 oder später)</h3>
<ul>
  <li>Verbesserung der erweiteren Suche, insbesondere Suchergebnisse mit nicht nur exakten Treffern.
  <li>Implementierung eines erweiterten Datenbank Designs
  <li>Nutzer-Einstellungen: Genaure Einstellungen welche Information angezeigt werden (beispielsweise nur die Geschichten, alles bis auf Anzeigen, etc.)
  <li>und einiges mehr
    </ul>
</ul>
</div>
</div>
