<div id="front_page_content_inner">
<h2>Welcome to the {{ site_name }}!</h2>
<p>
We're  a nonprofit, Internet-based organization of international volunteers
dedicated to building a database covering all printed comics throughout the world,
and we're glad you're here!  Give our search form a try, or take a look at the
menu to the left to see how you can help us improve the site.
<p>
<h3>New Features for July 2011!</h3>
Changes visible to all
<ul>
  <li> Added issue variants. This mainly concerns issues with different covers,
be it with different artwork, price, barcode, brand, etc. Issue variants will fetch
most story sequences from its 'base' issue, but they can have their own cover sequence
if the artwork is different from the base issue.
  <li> Leading articles are now correctly handled for sorting without moving them to the back of the series name. 
  This also concerns searches, you do not need to put them at the back for search purposes.
  <li> Issue titles: For European series or TPB series one now can enter an issue title in addition to the issue number.
  <li> On the series page we now show the used brands and indicia publishers.
  <li> Barcode support: We added a field to track UPC/EAN numbers.
  <li> Added an uncertain flag for series years.
</ul>
Changes visible for indexers
<ul>
  <li> New editing functionality for variant issues. There most likely will be questions how the issue variants work in detail, if you are an indexer you might want to join our main mailing list for a while for more information.
  <li> ISBNs, barcodes, issue titles and indicia frequency can now be turned off for a series.
  <li> Added corresponding no_fields for ISBN, indicia frequency, barcode, issue title.
  <li> Added help links to the editing page for all fields, experienced users can turn these off in their profile.
  <li> Changed order of fields on the editing pages, field orders are now consistent on edit and compare pages.
</ul>

<div class="instructions">
<h3><a name="help">We Need Volunteer Web Designers and Programmers!</a></h3>
<p>
Please contact the
<a href="http://groups.google.com/group/gcd-tech">gcd-tech group</a> if you
can help with any of these roles:
<ul>
  <li> Web designer / front-end developer (HTML / CSS / JavaScript)
  <li> Web Services API
  <li> Python / Django programming
  <li> Database Performance (MySQL)
</ul>
</div>

</div>
