{% load i18n %}
<div id="front_page_login">
    {% if user.is_authenticated %}
        <p>
        {% trans 'You are logged in as ' %}{{ user.indexer }}<br>
        <a href="{% url editing %}">{% trans 'Editing' %}</a> |
        <a href="{% url default_profile %}">{% trans 'Profile' %}</a>
        </p>
        {% if user.is_staff %}
        <a href="/admin">{% trans 'Admin' %}</a> |
        {% endif %}
        <form action="{% url logout %}" method="POST" class="login_form">
            <input type="submit" name="logout" value="{% trans 'Logout' %}" />
            <input type="hidden" name="next" value="{{ request.get_full_path }}" />
        </form>
    {% else %}
        <form method="post" action="{% url login %}">
            {% trans 'username' %}
            <input type="text" name="username" id="username"/>
            {% trans 'password' %}
            <input type="password" name="password" id="password"/>
            <input type="submit" value="{% trans 'Login' %}" />
            <input type="hidden" name="next" value="{{ request.get_full_path }}" />
        </form>
        <div id="forgot_password">
            <a href="{% url forgot_password %}">{% trans 'Forgot password?' %}</a>
        </div>
        <div id="register">
            <a href="{% url register %}">{% trans 'Register' %}</a>
        </div>
    {% endif %}
</div>
