<div id="front_page_content_inner">
<h2>Welcome to the {{ site_name }}!</h2>
<p>
We're  a nonprofit, Internet-based organization of international volunteers
dedicated to building a database covering all printed comics throughout the world,
and we're glad you're here!  Give our search form a try, or read down the page
to see how you can help us improve the site.
<p>
We need folks to 
<a href="http://docs.comics.org/wiki/Indexing">add and correct data</a>,
as well as <span class="important">technical volunteers</span> to help build the
web site, add an API and overhaul our visual design.
</p>
<div class="instructions">
<h3><a name="help">We Need Volunteer Web Designers and Programmers!</a></h3>
<p>
Please email
<a href="mailto:gcd-contact@googlegroups.com">gcd-contact@googlegroups.com</a> or
join the <a href="groups.google.com/group/gcd-tech">gcd-tech group</a> if you
can help with any of these roles:
<dl>
  <dt> Web designer / front-end developer (HTML / CSS / JavaScript)
  <dd> We'd love to overhaul our site design- do you have a vision for us?

  <dt> Web Services API
  <dd> We want to make our data available over a modern Web Services API,
       but we need to do it in a way that will let our data organization
       grow and improve without breaking API clients.  Can you help us?

  <dt> Python / Django programming
  <dd> There are many features still missing in our system, and many more
       enhancements that we'd like to add, and data format improvements
       that we'd like to support.  Here's your chance to help us and
       burnish your open source credentials at the same time!

  <dt> Performance Engineers
  <dd> Are you an expert at MySQL?  Or do you know how to squeeze the
       best performance from a web application deployment?  If you'd like
       to see an even faster GCD, we could use your help!
</dl>
</div>

</div>
