<div id="front_page_content">
    <div id="front_page_content_inner"><img src="{{ MEDIA_URL }}/97_4_00000000001.jpg" HEIGHT="281", WIDTH="200">
If you're wondering what the GCD is all about, please have a look at the &quot;About the GCD&quot; before you start looking through our site. If you like what you see, join our mailing lists and hang out with the rest of us!<br>We're always looking for contributing indexers, so if you can spare some time to index your favourite books or provide some cover scans, please contact our editors (have a peek in &quot;Contacting us&quot;).

        <div id="front_page_disclaimer"><h4>Disclaimer:</h4>
The Grand Comic-Book Database Project (GCD) is a volunteer project with the stated goal to document and index all comic books for the free use of scholars, historians, researchers, and fans of all types. The GCD acknowledges that the all-encompassing research nature of the project may result in the posting of cover scans for comics which could contain depictions that some may find objectionable. Viewer discretion is advised.</div>
        <div id="front_page_disclaimer_signature">The Grand Comic-Book Database Team</div>
    </div> <!-- front_page_content_inner -->
</div> <!-- front_page_content -->
