<div id="front_page_content_inner">
<div class="announcement">
<h2>Välkommen till {{ site_name }}!</h2>
<p>
Vi är en icke-kommersiell, internetbaserad organisation med internatioella frivilliga som hjälper till att bygga en databas som täcker alla tryckta serier i hela världen. Vi är glada att du har hittat oss!
Prova gärna att söka i databasen eller undersök menyn till höger för att se hur du kan bidra till projektet.
<p>

<dl>
  <dt>Sökning
    <dd>Vår sökmotor har vissa begränsningar, då den är känslig för stavning. Till exempel kommer "Spiderman" och "Spider-Man" att ge olika sökresultat. Även "Musse & Långben" och "Musse och Långben" kommer att ge olika resultat.
Vi vill gärna skapa en bättre sökmotor, så har du möjlighet att uppgradera den, hör av dig.

  <dt>Omslagsbilder
    <dd>Vi närmar oss 20 000 omslag! Det är ca 35 procent av alla svenska tidningar. Blir det du som får äran av att ladda upp det 17-tusende omslaget?

  <dt>Bidra med information till projektet
    <dd>För att kunna lägga in information eller omslagsbilder, behöver du registrera dig, med användarnamn och lösenord

  <dt>GCD på svenska
    <dd>Det svenska språket är än så länge blygsamt representerat. Det är bara denna sida som än så länge är översatt. Resten är på engelska. Planen är dock att få en mer "svensk" touch på fler sidor framöver.
</dl>

<div class="instructions">
<h3><a name="help">Vi behöver frivilliga för webdesign och programmering!</a></h3>
<p>
Om du ser att du kan hjälpa till något av detta, kontakta <a href="http://groups.google.com/group/gcd-tech">gcd-teknikgruppen</a>.
Det som behövs är:
<ul>
  <li> Webdesigner: Front-end developer (HTML, CSS, JavaScript)
  <li> Web Services API
  <li> Python- och Djangoprogrammering
  <li> Database Performance (MySQL)
</ul>
</div>

</div>
</div>
