{% load i18n %}
{% load url from future %}

<div id="search_box">
  <form action="{% url "apps.gcd.views.search.search" %}" method="get">
    <div class="first_line">
        {% trans 'Search' %} {% include "gcd/bits/search_for.html" %}
        <input type="text" name="query" id="query" size="15" {% if flavour != 'mobile' %}autofocus{% endif %}>
{% if flavour != 'mobile' %}
        <script type="text/javascript">
        if (!("autofocus" in document.createElement("input"))) {
            document.getElementById("query").focus();
        }
        </script>
{% endif %}
    </div>
    <div class="second_line">
        {% trans 'Sort by' %}
        {% include "gcd/bits/search_order.html" %}
        <input type="submit" name="submit" id="submit" value="{% trans 'Search' %}">
        |&nbsp;<span class="advanced_link"><a href="{% url "apps.gcd.views.search.advanced_search" %}">{% trans 'Advanced&nbsp;Search' %}</a></span>
    </div>
  </form> 
</div>

<!-- This extra wrapping div causes an extra top margin to be added to the
     div inside the survery_banner if it is present.  However, it is only
     attached to that inner div, so if the survey banner is empty, this
     outer div has no effect. -->
<div id="survey_top_spacer">
{% if USE_TEMPLATESADMIN %}
  {% include "managed_content/gcd/messages/survey_banner.html" %}
{% endif %}
</div>

