<div id="info_links">
  A click on the cover leads to the large cover view, a click on the issue name to the issue data.
</div>

<div class="left" style="width:calc(100% - 300px);">
  <div class="covers">
{% for cover, issue, tag in tags %}
    <div class="cover_grid_flex{% if cover.marked %} marked{% endif %}">
      <a href="{{ issue.get_absolute_url }}cover/4/">{{ tag }}</a>
      <br>
      <div class="cover_caption">
        <a href="{{ issue.get_absolute_url }}">{{ issue.series.name }} {{ issue.display_number }}</a><br>
        ({{ issue.series.publisher }}, {{ issue.series.year_began }}) <br>
        {% if issue.publication_date %}
        <span class="cover_date">{{ issue.publication_date }}</span><br>
        {% endif %}
        <a href="{% url "edit_covers" issue_id=cover.issue.id %}">Add/replace cover</a>
      </div>
    </div>
{% endfor %}
  </div>
</div>
<div class="right">
  {% if ADVERTISING and not BETA and USE_TEMPLATESADMIN %}
    {% include "managed_content/gcd/ads/ad_med_rectangle.html" %}
  {% endif %}
</div>
