<select class="bg-blue-100 px-1" name="search_object" size="1">
  <option value="all"> All </option>
  <option value="story" {% if 'facet_model_name_exact:story' in form.selected_facets %}selected{% endif %}> Story </option>
  <option value="issue" {% if 'facet_model_name_exact:issue' in form.selected_facets %}selected{% endif %}> Issue </option>
  <option value="series" {% if 'facet_model_name_exact:series' in form.selected_facets %}selected{% endif %}> Series </option>
  <option value="publisher" {% if 'facet_model_name_exact:publisher' in form.selected_facets %}selected{% endif %}> Publisher </option>
  <option value="printer" {% if 'facet_model_name_exact:printer' in form.selected_facets %}selected{% endif %}> Printer </option>
  <option value="creator" {% if 'facet_model_name_exact:creator' in form.selected_facets %}selected{% endif %}> Creator </option>
</select>
