{% load display %}
{% load gcdtable %}

<div>
<table class="status">
  <tr class="flex flex-wrap font-bold [&_td]:px-3 [&_td]:border-t-2 [&_td]:border-b-2">
    <td class="border-s-2 bg-green-500"> Statement of Ownership and Indicia </td>
    <td class="bg-indigo-300"> Indicia </td>
    <td class="bg-sky-300"> Statement of Ownership </td>
    <td class="border-e-2"> No Scans </td>
  </tr>
</table>
  <div class="flex flex-wrap">
{% for issue in image_resources %}
  <div class="border {{ issue|issue_image_status_color }} {{ issue_status_width }} text-center ms-[1px] mt-[1px] hover:bg-blue-400">
    <a class="block hover:no-underline link-with-text-color font-bold" href="{{ issue.get_absolute_url }}image/">{{ issue.issue_descriptor_series_status|default:issue }}</a> </td>
  </div>
{% endfor %}
  </div>
</div>
