{% load i18n %}
{% load display %}
{% load credits %}

      <dl id="issue_data_list">
{% if not issue.no_volume %}
        <dt> {% trans "Volume" %}:
        <dd> {{ issue|show_volume }}
{% endif %}
        <dt> {% trans "Price" %}:
        <dd id="issue_price"> {{ issue.price|default:"" }}
        <dt> {% trans "Pages" %}:
        <dd id="issue_pages"> {{ issue|show_page_count }}
{% if not issue.no_indicia_frequency and issue.series.has_indicia_frequency %}
        <dt> {% trans "Indicia frequency" %}:
        <dd id="indicia_frequency"> {{ issue.indicia_frequency|default:"?" }}
{% endif %}
{% if issue.on_sale_date %}
        <dt> {% trans "On-sale date" %}:
        <dd id="on_sale_date">
        {{ issue.on_sale_date }}{% if issue.on_sale_date_uncertain %} ? {% endif %}
{% endif %}
      </dl>
        {{ issue|show_credit:"editing" }}
      <dl>
        <dt> {% trans "Indicia Publisher" %}:
        <dd id="issue_indicia_publisher"> {{ issue|show_indicia_pub }}
{% if not issue.no_brand %}
        <dt> {% trans "Brand" %}:
        <dd id="issue_brand"> {{ issue.brand|absolute_url|default:"?" }}
{% endif %}
{% if not issue.no_isbn and issue.series.has_isbn %}
        <dt>ISBN:
        <dd id="issue_isbn">
  {% if issue.valid_isbn %}
          <a title="Search at WorldCat" href="http://worldcat.org/isbn/{{ issue.valid_isbn }}">
            {{ issue.isbn }}
            <img src="{{ MEDIA_URL }}img/gcd/icons/worldcat_16.gif" width="12px;" alt="Search at WorldCat" style="border:0;">
          </a>
  {% else %}
        {{ issue.isbn|default:"?" }}
  {% endif %}
{% endif %}
{% if not issue.no_barcode and issue.series.has_barcode %}
            <dt>Barcode:
            <dd id="barcode">{{ issue.barcode|default:"?" }}
{% endif %}
      </dl>
{% if issue.series.format %}
      <dl>
        <dt>Format:
        <dd id="format_data" style="float:none">{{ issue.series.format }}
      </dl>
{% endif %}
