{% load i18n %}
{% load static %}

<div>
  <div class="flex">
    <div class="px-2">
      <a href="{% url 'contact_form' %} ">{% trans "contact us" %}</a>
    </div>
    <div class="px-2">
      <a href="{% url 'donate' %}">{% trans "donate" %}</a>
    </div>
  {% if error_link %}
    <div class="px-2">
    {% blocktrans with request.build_absolute_uri as uri and error_subject|urlencode as error_sub %}
    If you believe any of this data to be incorrect, please
      <a class="new_window" href="https://errors.comics.org/enter_bug.cgi?product=GCD&amp;bug_file_loc={{ uri }}&amp;short_desc={{ error_sub }}"
         target="_blank">let us know</a>.
    {% endblocktrans %}
    </div>
  {% endif %}
  </div>
  <div class="footer_item">
    {% trans "Cover thumbnails are used for identification purposes only." %}
    {% trans "All rights to cover images reserved by the respective copyright holders." %}
  </div>
  <div class="flex">
    <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
      <img class='inline w-48 pe-1' alt="Creative Commons License" src="{% static 'img/cc_sa_license88x31.png' %}"></a>
    <div>
    {% blocktrans %}
All portions of <a href="http://www.comics.org/" rel="cc:attributionURL">the {{ site_name }}</a>&trade;, except where noted otherwise, are
copyrighted by the GCD and are licensed under a <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License (CC BY-SA 4.0)</a>. This includes but is not necessarily limited to our database schema and data distribution format.
    {% endblocktrans %}
    </div>
  </div>
  <div class="no_visited footer_item">
    {% url 'privacy' as privacy_url %}
    {% blocktrans trimmed %}
    The GCD <a href="{{ privacy_url }}">Privacy Policy</a>.
    {% endblocktrans %}
    {% trans 'The <a href="https://github.com/GrandComicsDatabase/gcd-django">GCD Web Site code</a> is licensed under the <a href="http://www.gnu.org/licenses/gpl.html">GNU General Public License</a>.' %}
  </div>
</div>
