{% load i18n %}
  
<div class="right pagination">
    {% if page.has_other_pages %}
    {% if page.has_previous %}
        {% if extra_string %}
        <a href="?{{ extra_string }}&page={{ page.previous_page_number }}">&lt; {% trans "Previous" %}</a>
        {% else %}
        <a href="?style={{ style }}&page={{ page.previous_page_number }}">&lt; {% trans "Previous" %}</a>
        {% endif %}
    {% else %}
        &lt; {% trans "Previous" %}
    {% endif %}
    |
    {% ifnotequal ranges.current.0 1 %}
        {% for number in ranges.low %}
          {% if extra_string %}
              <a href="?{{ extra_string }}&page={{ number }}">{{ number }}</a>
          {% else %}
              <a href="?style={{ style }}&page={{ number }}">{{ number }}</a>
          {% endif %}
          |
        {% endfor %}
        ...|
    {% endifnotequal %}
    {% for number in ranges.current %}
        {% ifequal number page_number %}
        {{ number }}
        {% else %}
        {% if extra_string %}
            <a href="?{{ extra_string }}&page={{ number }}">{{ number }}</a>
        {% else %}
            <a href="?style={{ style }}&page={{ number }}">{{ number }}</a>
        {% endif %}
        {% endifequal %}
        |
    {% endfor %}
    {% ifnotequal ranges.current_max paginator.num_pages %}
        ...|
        {% for number in ranges.high %}
          {% if extra_string %}
              <a href="?{{ extra_string }}&page={{ number }}">{{ number }}</a>
          {% else %}
              <a href="?style={{ style }}&page={{ number }}">{{ number }}</a>
          {% endif %}
          |
        {% endfor %}
    {% endifnotequal %}
    {% if page.has_next %}
        {% if extra_string %}
        <a href="?{{ extra_string }}&page={{ page.next_page_number }}">{% trans "Next" %} &gt;</a>
        {% else %}
        <a href="?style={{ style }}&page={{ page.next_page_number }}">{% trans "Next" %} &gt;</a>
        {% endif %}
    {% else %}
        {% trans "Next" %} &gt;
    {% endif %}
    {% else %}
    &lt; {% trans "Previous" %} | {{ page_number }} | {% trans "Next" %} &gt;
    {% endif %}
    <form method="GET" style="display:inline">
        <label for="page">#</label>:
        <input type="text" name="page" id="page" size="3"/>
        <input type="submit" value="{% trans 'Go' %}"/>
    </form>
</div>
