{% load i18n %}

<!-- Probably needs to be refactored with the series_issue_header.html file
     somehow, but deal with that later. -->

{% if paginate_only != 1 %}
<h1 class="item_id">
  <span class="left">
  {% if publisher.parent %}
    <a href="{{ publisher.parent.get_absolute_url }}">{{ publisher.parent.name }}</a> :
  {% endif %}
  {% if extra or description and publisher.id %}
    <a href="{{ publisher.get_absolute_url }}">{{ publisher.name }}</a> {{ extra }}
  {% else %}
    {{ publisher.name }}
  {% endif %}
  {% if description %}
    {% if description != 'Publisher' %}
      {% if description == 'Brand Emblem' %}
    ({{ description }})
      {% else %}
    (<a href="{{ publisher.parent.get_absolute_url }}{{ url_suffix }}/">{{ description }}</a>)
      {% endif %}
    {% endif %}
  {% endif %}
  </span>
</h1>
{% endif %}

<div {% if paginate_only == 1 %} id="item_id_footer" {% endif %}
     class="item_id">
{% if paginate_only != 1 %}
  <div class="flex_left">
    <!-- Each of these things should have one space between them, currently
         done via newline, but if they are put on one line please preserve
         the space. -->
    {{ publisher.year_began|default:'' }}
    {% if publisher.year_began_uncertain %}?{% endif %}
    -
    {{ publisher.year_ended|default:'' }}
    {% if publisher.year_ended_uncertain %}?{% endif %}
  </div>
{% endif %}
  <div class="flex_right">
  {% include "gcd/bits/pagination_bar.html" %}
  </div>
</div>
