{% load i18n %}

<!-- Probably needs to be refactored with the series_issue_header.html file
     somehow, but deal with that later. -->

{% ifnotequal paginate_only 1 %}
<h1 class="item_id">
  <div class="left">
  {% if preview %}
    {% if publisher.parent %}{{ publisher.parent }} :{% endif %} {{ publisher }}
  {% else %}
    {% if publisher.parent %}
      <a href="{{ publisher.parent.get_absolute_url }}">{{ publisher.parent.name }}</a> :
    {% endif %}
      <a href="{{ publisher.get_absolute_url }}">{{ publisher.name }}</a>
    {% if extra %}
      {{ extra }}
    {% endif %}
    {% if description %}
      {% ifnotequal description 'Publisher' %}
      (<a href="{{ publisher.parent.get_absolute_url }}{{ url_suffix }}/">{{ description }}</a>)
      {% endifnotequal %}
    {% endif %}
  {% endif %}
  </div>
</h1>
{% endifnotequal %}

<div {% ifequal paginate_only 1 %} id="item_id_footer" {% endifequal %}
     class="item_id">
{% ifnotequal paginate_only 1 %}
  <div class="left">{{ publisher.year_began }} - {{ publisher.year_ended|default:'' }}</div>
{% endifnotequal %}
  {% include "gcd/bits/pagination_bar.html" %}
</div>
