{% load gcdtable %}

<table border="1" class="status" id="key">
  <tr>
    <td class="scan_status_3"> Scan available </td>
    <td class="scan_status_4"> Needs Replacement </td>
    <td class="scan_status_0"> No Scan available </td>
  </tr>
</table>
<p class="spacer"/>
<table border="1" class="status">
  <tr>
  {% for issue, cover in covers %}
    {% if issue.has_covers %}
    <td class="scan_status_{{ cover.get_cover_status }}">
      <a href="{{ cover.get_status_url }}">{{ issue.display_number }}</a>
    </td>
    {% else %}
    <td class="scan_status_0">
      <a href="{% url upload_cover issue_id=issue.id %}">{{ issue.display_number }}</a>
    </td>
    {% endif %}
    {% if forloop.last %}
      {{ forloop.counter|finishrow:table_width }}
  </tr>
    {% else %}
      {% if forloop.counter|divisibleby:table_width %}
  </tr>
  <tr>
      {% endif %}
    {% endif %}
  {% endfor %}
</table>