{% load gcdtable %}

<div class="left" style="width:calc(100% - 200px);">
  <table class="status">
    <tr>
      <td class="scan_status_3"> Scan available </td>
      <td class="scan_status_4"> Needs Replacement </td>
      <td class="scan_status_0"> No Scan available </td>
    </tr>
  </table>
  <div class="status_grid">
{% for entry in scans %}
  {% if entry.issue %}
    <div class="status_grid_flex {{ cover_status_width }} scan_status_{{ entry.get_cover_status }}">
        <a href="{{ entry.get_status_url }}">{{ entry.issue.full_descriptor|default:entry }}</a>
    {% else %}
    <div class="status_grid_flex {{ cover_status_width }} scan_status_0">
        <a href="{% url "upload_cover" issue_id=entry.id %}">{{ entry.full_descriptor|default:entry }}</a>
    {% endif %}
    </div>
{% endfor %}
  </div>
  <div class="status_grid">
{% for entry in scans %}
  {% if entry.issue %}
    <div class="status_grid_flex {{ issue_status_width }} scan_status_{{ entry.get_cover_status }}">
        <a href="{{ entry.get_status_url }}">{{ entry.issue.issue_descriptor|default:entry }}</a>
    {% else %}
    <div class="status_grid_flex {{ issue_status_width }} scan_status_0">
        <a href="{% url "upload_cover" issue_id=entry.id %}">{{ entry.issue_descriptor|default:entry }}</a>
    {% endif %}
    </div>
{% endfor %}
  </div>
</div>
