<select name="type" size="1">
    <option value="writer"> Writer </option>
    <option value="penciller"> Penciller </option>
    <option value="inker"> Inker </option>
    <option value="colorist"> Colorist </option>
    <option value="letterer"> Letterer </option>
    <option value="editor"> Editor </option>
    <option value="credit"> Any Credit </option>
    <option value="story"> Story Title </option>
    <option value="feature"> Feature </option>
    <option value="character"> Character </option>
    <option value="job_number"> Job Number </option>
    <option value="isbn"> ISBN </option>
    <option value="barcode"> Barcode </option>
    <option value="publisher"> Publisher </option>
    <option value="brand_group"> Publisher Brand Group </option>
    <option value="brand"> Publisher Brand Emblem </option>
    <option value="indicia_publisher"> Indicia Publisher </option>
    <option value="series" selected> Series Name </option>
</select>
