<div class="search_bar">
  <form action="{% url apps.gcd.views.search.search %}" method="get">
    <a href="{% url apps.gcd.views.index %}"><img src="{{ MEDIA_URL }}/img/logo_icon.png" alt="GCD" style="border:0;"/></a>
    | <a href="/">Home</a> |
    <span class="search_message">Search</span>
    {% include "gcd/bits/search_for.html" %}
    <input type="text" name="query" size="15">
    Sort by
    {% include "gcd/bits/search_order.html" %}
    &nbsp;
    <input type="submit" name="submit" value="Go">
  </form>
  | <a href="{% url apps.gcd.views.search.advanced_search %}">Advanced Search</a> |
{% if user.is_authenticated %}
  <a href="{% url editing %}">Editing</a> |
  <form action="{% url logout %}" method="POST">
    <input type="submit" name="logout" value="Log Out" />
    <input type="hidden" name="next" value="{{ request.get_full_path }}" />
  </form>
{% else %}
  <form action="{% url login %}" method="GET">
    <input type="submit" name="login" value="Log In" />
    <input type="hidden" name="next" value="{{ request.get_full_path }}" />
  </form>
{% endif %}
</div>
