{% load display %}

<select class="px-1" name="search_type" size="1">
  {% if USE_ELASTICSEARCH %}
    {% if MYCOMICS %}
      <option value={{ selected|default:""|current_search:"mycomics_haystack" }}> Everything </option>
    {% else %}
      <option value={{ selected|default:""|current_search:"haystack" }}> Everything </option>
    {% endif %}
  {% endif %}
    <option value={{ selected|default:""|current_search:"series" }}> Series Name </option>
    <option value={{ selected|default:""|current_search:"series_and_issue" }}> Series Name &amp; Issue # </option>
    <option value={{ selected|default:""|current_search:"creator" }}> Creator Name </option>
    <option style="font-size: 1pt; background-color: #000000;" disabled>&nbsp;</option>
    <option value={{ selected|default:""|current_search:"writer" }}> Writer </option>
    <option value={{ selected|default:""|current_search:"penciller" }}> Penciller </option>
    <option value={{ selected|default:""|current_search:"inker" }}> Inker </option>
    <option value={{ selected|default:""|current_search:"colorist" }}> Colorist </option>
    <option value={{ selected|default:""|current_search:"letterer" }}> Letterer </option>
    <option value={{ selected|default:""|current_search:"editor" }}> Editor </option>
    <option value={{ selected|default:""|current_search:"credit" }}> Any Credit </option>
    <option value={{ selected|default:""|current_search:"story" }}> Story Title </option>
    <option value={{ selected|default:""|current_search:"by_feature" }}> Feature </option>
    <option value={{ selected|default:""|current_search:"by_character" }}> Character </option>
    <option style="font-size: 1pt; background-color: #000000;" disabled>&nbsp;</option>
    <option value={{ selected|default:""|current_search:"job_number" }}> Job Number </option>
    <option value={{ selected|default:""|current_search:"isbn" }}> ISBN </option>
    <option value={{ selected|default:""|current_search:"barcode" }}> Barcode </option>
    <option style="font-size: 1pt; background-color: #000000;" disabled>&nbsp;</option>
    <option value={{ selected|default:""|current_search:"feature" }}> Feature Name </option>
    <option value={{ selected|default:""|current_search:"character" }}> Character Name</option>
    <option value={{ selected|default:""|current_search:"group" }}> Group Name</option>
    <option value={{ selected|default:""|current_search:"keyword" }}> Keyword </option>
    <option value={{ selected|default:""|current_search:"publisher" }}> Publisher Name </option>
    <option value={{ selected|default:""|current_search:"brand_group" }}> Brand Group Name </option>
    <option value={{ selected|default:""|current_search:"brand" }}> Brand Emblem Name </option>
    <option value={{ selected|default:""|current_search:"indicia_publisher" }}> Indicia Publisher Name </option>
</select>
