{% load url from future %}
{% load staticfiles %}

{% if MYCOMICS %}
<div class="my_search_bar">
{% else %}
<div class="search_bar">
{% endif %}
  <form action="{% url "apps.gcd.views.search.search" %}" method="get">
    <a href="{% url "apps.gcd.views.index" %}"><img src="{% static "img/gcd_logo_icon.png" %}" alt="GCD" style="border:0;"></a>
    | <a href="{% url "apps.gcd.views.index" %}">Home</a> |
    <span class="search_message">Search</span>
    {% include "gcd/bits/search_for.html" %}
    <input type="text" name="query" size="15" value="{{ search_term|default:"" }}">
    Sort by
    {% include "gcd/bits/search_order.html" %}
    &nbsp;
    <input type="submit" name="submit" value="Go">
  </form>
  | <a href="{% url "apps.gcd.views.search.advanced_search" %}">Advanced Search</a> |
{% if user.is_authenticated %}
  {% if MYCOMICS %}
  <a href="{% url "collections_list" %}">Collections</a> |
  {% else %}
  <a href="{% url "editing" %}">Editing</a> |
  {% endif %}
  <form action="{% url "logout" %}" method="POST">
    {% csrf_token %}
    <input type="submit" name="logout" value="Log Out" />
    <input type="hidden" name="next" value="{{ request.get_full_path }}" />
  </form>
{% else %}
  <form action="{% url "login" %}" method="GET">
    <input type="submit" name="login" value="Log In" />
    <input type="hidden" name="next" value="{{ request.get_full_path }}" />
  </form> |
  <span class="donate_link"><a method="post" href="{% url "donate" %}">Donate</a></span>
{% endif %}
</div>
{% if USE_TEMPLATESADMIN %}
{% include "managed_content/gcd/messages/survey_banner.html" %}
{% endif %}
