<select name="sort" class="{% if MYCOMICS %} bg-red-200 {% else %} bg-blue-100 {% endif %}" size="1">
    <option value="alpha" {% if not 'chrono' in request.path %}selected{% endif %}> Name</option>
    <option value="chrono" {% if 'chrono' in request.path %}selected{% endif %}> Date</option>
</select>
<script>
    function updateSortSelect(event) {
        var searchType = document.querySelector('select[name="search_type"]').value;
        var sortSelect = document.querySelector('select[name="sort"]');
        if (searchType.endsWith('haystack')) {
            sortSelect.disabled = true;
            sortSelect.value = '';
        } else if (event && event.type === 'change') {
            sortSelect.disabled = false;
            sortSelect.selectedIndex = 0;
        }
    }
    document.addEventListener('DOMContentLoaded', updateSortSelect);
    document.querySelector('select[name="search_type"]').addEventListener('change', updateSortSelect);
</script>
