<select name="type" size="1">
    <option value="writer"> Writer
    <option value="penciller"> Penciller
    <option value="inker"> Inker
    <option value="colorist"> Colorist
    <option value="letterer"> Letterer
    <option value="editor"> Editor
    <option value="credit"> Any Credit
    <option value="story"> Story Title
    <option value="feature"> Feature
    <option value="character"> Character
    <option value="job_number"> Job Number
    <option value="publisher"> Publisher
    <option value="brand"> Publisher Brand
    <option value="indicia_publisher"> Indicia Publisher
    <option value="series" selected> Series Name
</select>
