{% load i18n %}
{% load credits %}
{% load display %}

{% ifnotequal paginate_only 1 %}
<h1 class="item_id">
<div class="left" id="series_and_issue">
  <span id="series_name">
    <a href="{{ series.get_absolute_url }}">{{ series.name }}</a>
  </span>
  {% if issue_number %}
  <a href="{{ issue.get_absolute_url }}">{{ issue_number|show_issue_number }}</a>
  {% endif %}
  {% if issue.variant_name and not no_variant_name %}
  [{{ issue.variant_name }}]
  {% endif %}
</div>
  {% if issue.publication_date %}
<div class="right">
  ({{ issue.publication_date }})
</div>
  {% endif %}
</h1>
{% endifnotequal %}

<div {% ifequal paginate_only 1 %} id="item_id_footer" {% endifequal %}
     class="item_id">

{% ifnotequal paginate_only 1 %}
  <div class="left" class="item_data">
  {{ series.publisher|absolute_url }},
  {% if series.imprint %}
    {{ series.imprint|absolute_url }} imprint,
  {% endif %}
  {{ series.year_began }}{% if series.year_began_uncertain %}?{% endif %} Series
  </div>
  <div class="right" id="language_country">
  {% if language %}
    Published in {{ language }}
  {% endif %}
  {% if country %}
    ({{ country }})
    <img src="{{ MEDIA_URL }}/img/gcd/flags/{{ series.country.code|lower }}.png" alt="{{ country }}" class="embedded_flag">
  {% endif %}
  </div>
{% endifnotequal %}

{% if issue_number and series.issue_count > 1 %}
  <div class="right" class="prev_next">
  {% if prev_issue %}
    {% if description %}
    <a href="{% url change_history model_name='issue' id=prev_issue.id %}">&lt; {% trans "Previous Issue" %}</a>
    {% else %}
    <a href="{{ prev_issue.get_absolute_url }}{{ extra }}">&lt; {% trans "Previous Issue" %}</a>
    {% endif %}
    |
  {% endif %}
    <form style="display:inline"
          action="{% url apps.gcd.views.details.issue_form %}">
      <input type="hidden" name="extra" value="{{ extra }}">
      <select name="id" id="id">
    {% for other_issue in series.active_issues %}
        <option value="{{ other_issue.id }}"
      {% ifequal issue.id other_issue.id %}
                selected
      {% endifequal %}>{{ other_issue.display_number }}</option>
    {% endfor %}
      </select>
      <input type="submit" value="{% trans 'Go' %}"/>
    </form>
  {% if next_issue %}
    |
    {% if description %}
    <a href="{% url change_history model_name='issue' id=next_issue.id %}">{% trans "Next Issue" %} &gt;</a>
    {% else %}
    <a href="{{ next_issue.get_absolute_url }}{{ extra }}">{% trans "Next Issue" %} &gt;</a>
    {% endif %}
  {% endif %}
  </div>
{% else %}
&nbsp;
{% endif %}
{% if page %}
  {% include "gcd/bits/pagination_bar.html" %}
{% endif %}
</div>

