{% load i18n %}
{% load credits %}
{% load display %}

{% ifnotequal paginate_only 1 %}
<h1 class="item_id">
<div class="left" id="series_and_issue">
  <span id="series_name">
  {% if issue or description or tags or preview %}
    <a href="{{ series.get_absolute_url }}">{{ series.name }}</a>
  {% else %}
    {{ series.name }}
  {% endif %}
  </span>
  {% if issue_number %}
    {% if description or cover_tag or preview or no_variant_name %}
      <a href="{{ issue.get_absolute_url }}">{{ issue_number|show_issue_number }}</a>
    {% else %}
      {{ issue_number|show_issue_number }}
    {% endif %}
  {% endif %}
  {% if issue.variant_name and not no_variant_name %}
  [{{ issue.variant_name }}]
  {% endif %}
</div>
  {% if issue.publication_date %}
<div class="right">
  ({{ issue.publication_date }})
</div>
  {% endif %}
</h1>
{% endifnotequal %}

<div {% ifequal paginate_only 1 %} id="item_id_footer" {% endifequal %}
     class="item_id" style="min-height: 2em">

{% ifnotequal paginate_only 1 %}
  <div class="item_data flex_left">
  {{ series.publisher|absolute_url }},
  {{ series.year_began }}{% if series.year_began_uncertain %}?{% endif %} Series
  </div>
  {% if language %}
  <div class="language_country flex_right">
    Published in {{ language }}
  {% endif %}
  {% if country %}
    ({{ country }})
    <img src="{{ STATIC_URL }}img/gcd/flags/{{ series.country.code|lower }}.png" alt="{{ country }}" class="embedded_flag">
  </div>
  {% endif %}
{% endifnotequal %}

{% if issue_number and series.issue_count > 1 %}
  <div class="prev_next right">
  {% if prev_issue %}
    {% if description %}
    <a href="{% url "change_history" model_name='issue' id=prev_issue.id %}">&lt; {% trans "Previous Issue" %}</a>
    {% else %}
    <a href="{{ prev_issue.get_absolute_url }}{{ extra }}">&lt; {% trans "Previous Issue" %}</a>
    {% endif %}
    |
  {% endif %}
    <form style="display:inline"
          action="{% url "issue_select_form" %}">
      <input type="hidden" name="extra" value="{{ extra }}">
      <select name="id" id="id">
    {% for other_issue in series.active_base_issues_variant_count %}
        <option value="{{ other_issue.id }}"
      {% if issue == other_issue or issue.variant_of == other_issue %}
                selected
      {% endif %}>{{ other_issue.issue_descriptor }}
      {% if other_issue.variant_count %}*{{ other_issue.variant_count|add:1 }}{% endif %}
        </option>
    {% endfor %}
      </select>
      <input type="submit" value="{% trans 'Go' %}"/>
    </form>
  {% if next_issue %}
    |
    {% if description %}
    <a href="{% url "change_history" model_name='issue' id=next_issue.id %}">{% trans "Next Issue" %} &gt;</a>
    {% else %}
    <a href="{{ next_issue.get_absolute_url }}{{ extra }}">{% trans "Next Issue" %} &gt;</a>
    {% endif %}
  {% endif %}
  </div>
{% else %}
&nbsp;
{% endif %}
{% if page %}
  <div class="flex_right">
  {% include "gcd/bits/pagination_bar.html" %}
  </div>
{% endif %}
</div>

