{% load credits %}
{% load display %}

<tr class="row_even_{{ row_counter|divisibleby:"2" }}">
  <td> {{ issue.key_date }} </td>
  <td> {{ issue.publication_date|default:"" }} </td>
  {% if on_sale_date_present %}
  <td>{{ issue.on_sale_date }} {% if issue.on_sale_date_uncertain %}?{% endif %}</td>
  {% endif %}
  {% if volume_present %}
    {% if issue.no_volume %}
  <td>&nbsp;</td>
    {% else %}
  <td> {{ issue|show_volume }} </td>
    {% endif %}
  {% endif %}
  <td> <a href="{{ issue.get_absolute_url }}">{{ issue.number }}{% if issue.variant_name %} [{{ issue.variant_name }}]{% endif %}</a> </td>
  {% if title_present %}
    {% if issue.no_title %}
  <td>&nbsp;</td>
    {% else %}
      {% if issue.title %}
  <td> <a href="{{ issue.get_absolute_url }}">{{ issue.title }}</a> </td>
      {% else %}
  <td> ? </td>
      {% endif %}
    {% endif %}
  {% endif %}
  <td> {{ issue|show_indicia_pub }} </td>
  {% if brand_present %}
    {% if issue.no_brand %}
  <td>&nbsp;</td>
    {% else %}
  <td> {{ issue.brand|absolute_url|default:"?" }} </td>
    {% endif %}
  {% endif %}
  <td> {{ issue|show_page_count }} </td>
  <td> {{ issue.price|default:"" }} </td>
  {% if frequency_present %}
    {% if issue.no_indicia_frequency %}
  <td>&nbsp;</td>
    {% else %}
  <td> {{ issue.indicia_frequency|default:"?" }} </td>
    {% endif %}
  {% endif %}
  {% if barcode_present %}
    {% if issue.no_barcode %}
  <td>&nbsp;</td>
    {% else %}
  <td> {{ issue.barcode|default:"?" }} </td>
    {% endif %}
  {% endif %}
</tr>

