{% load i18n %}
{% load credits %}
{% load display %}
{% load mathfilter %}

<div>
{% if not not_shown_types or story.type.id not in not_shown_types %}
  {% if story.has_credits %}
    {% if is_cover %}
    <b>Cover credits:</b><br>
    {% else %}
    <div>
      {% if story.has_feature %}
      {{ story.show_feature }}
          /
      {% endif %}
    {{ story|show_page_count }}
    {% blocktrans with story.page_count|default:0|ceil|pluralize as suffix %}
      page{{ suffix }}
    {% endblocktrans %}
    </div>
    {% endif %}
    {% include "gcd/bits/story_creator_credits.html" %}
  {% endif %}
{% endif %} <!-- shown_types -->
</div>

