{% if object.reserved %}
  {% with object.revisions.active as revision %}
<div id="index_status" class="index_status_{{ revision.state }}"><span>
    {% ifequal revision.state states.OPEN %}
  This {{ object_name }} is currently being edited by
  {{ revision.indexer.indexer|default:"[no one, please contact the editors to fix this reservation]" }}
  (since {{ revision.created }}, last edit {{ revision.modified }})
    {% endifequal %}
    {% ifequal revision.state states.PENDING %}
  Edits to this {{ object_name }}
  are currently awaiting review by a GCD Editor
    {% endifequal %}
    {% ifequal revision.state states.REVIEWING %}
  Edits to this {{ object_name }}
  are being reviewed by GCD Editor {{ revision.approver.indexer }}
    {% endifequal %}
</span></div>
  {% endwith %}
{% else %}
  <form method="POST"
        action="{% url reserve_revision model_name=object_class,id=object.id %}">
    <input id="edit" name="edit" type="submit" value="Edit"></input>
  </form>
{% endif %}

