{% load display %}
{% load gcdtable %}

<div class="left" style="width:calc(100% - 200px);">
<table class="status">
  <tr>
    <td class="status_approved"> Indexed </td>
    <td class="status_partial"> Partially Indexed </td>
    <td class="status_pending"> Pending Approval </td>
    <td class="status_editing"> Reserved </td>
    <td class="status_available"> Skeleton Data Only </td>
  </tr>
</table>
  <div class="status_grid">
{% for issue in series.active_base_issues %}
    <div class="status_grid_flex status_{{ issue|index_status_css }} {{ issue_status_width }}">
      <a href="{{ issue.get_absolute_url }}">{{ issue.issue_descriptor|default:issue }}</a> </td>
    </div>
{% endfor %}
  </div>
</div>
