{% for character in character_list %}
<li class="break-inside-avoid-column"><a href="{{ character.0.character.get_absolute_url }}">{{ character.0.character.name }}</a>
  {% for civilian in character.1 %}
    {% if forloop.first %}[{% endif %}<a href="{{ civilian.character.get_absolute_url }}">{{ civilian.character.name }}</a>{% if forloop.last %}]{% else %}; {% endif %}
  {% endfor %}
  {% if character.2 %}
  <span class=""><i>({{ character.2.universe_name }})</i></span>
  {% endif %}
  {{ character.0.show_notes }}
</li>
{% endfor %}
