{% load display %}
{% load credits %}
{% load i18n %}
{% comment %}
Center column beneath the search box.  This region is mostly built
from various smaller templates that are managed via django-templatesadmin.
{% endcomment %}

<div id="front_page_content_inner">
{% if USE_TEMPLATESADMIN %}
  <h2>{% include front_page_title %}</h2>
{% else %}
  <h2>Welcome to the Grand Comics Database</h2>
  {% include "gcd/bits/managed_content_dev_notice.html" %}
{% endif %}

{% if BETA %}
  {% load statustags %}

  <div class="instructions">
    <h3>This is the BETA site.</h3>
    <p>
    If you have no particular reason to visit our BETA site, you probably want
    to use the <a href="{% url 'home' %}?lang={{ language.code }}">real site.</a>
    </p>
  </div>
{% endif %} {# BETA #}

{% if USE_TEMPLATESADMIN %}
  <div class="me-1 shadow-md p-1 md:p-2 2xl:p-4 md:me-2 2xl:me-4 bg-blue-50">
  <p class="sm:hidden font-bold">Welcome to the Grand Comics Database!</p>
  <p class="max-sm:hidden"> The <b>Grand Comics Database (GCD)</b> is a nonprofit, internet-based organization of international volunteers
    dedicated to building an open database covering all printed comics throughout the world.</p>
  <p> Give <a class="link-no-visited font-bold" href="{% url 'haystack_search' %}">our search</a> a try, use <a class="link-no-visited font-bold" href="https://my.comics.org/">my.comics.org</a> to track and manage
    your comic collection, or look how
    you can <a class="link-no-visited font-bold" href="#how_to_contribute">contribute</a>.
  </p>
  </div>
  <div class="flex flex-col sm:flex-row">
    <div class="flex-1">
      <div class="label-gcd-blue text-lg mt-2 sm:me-1 lg:me-2 2xl:me-4">GCD Comics Timeline</div>
  {% for creator in creators %}
      <div class="mb-1 me-1 lg:me-2 2xl:me-4">
        <div class="min-w-[100px] w-[100px] me-1 float-left">
          <a href="{% url 'show_creator' creator.id %}">
            <img class="border-2 rounded-full" src="{{ creator.get_portrait_url }}">
          </a>
        </div>
        <div class="font-bold text-lg">{{ creator|absolute_url }}</div>
    {{ creator.display_birthday }}{% if creator.has_death_info %} - {{ creator.display_deathday }}{% endif %}<br>
    {{ creator.bio|markdown }}
      </div>
      <div class="clear-both"></div>
  {% endfor %}
    </div>
  {% include front_page_main %}
  </div>
  <div class="flex">
    <div class="max-sm:hidden w-64 min-w-64 me-1">
      <div class="label-gcd-blue">Creators Calendar</div>
      <iframe class="ps-1" src="/daily_creators/" style="border-width:0; visibility:hidden"
              width="100%" height="1000" frameborder="0" id="daily_creators"></iframe>
    </div>
    <div class="flex-1">
      <div class="label-gcd-blue me-1 text-lg">{% trans "Disclaimer" %}</div>
      <div class="px-1">
        <div class="mb-2">
          {% trans "The Grand Comics Database Project (GCD) is a volunteer project with the goal of documenting and indexing all comics for the free use of scholars, historians, researchers, and fans." %}
        </div>
        <div class="mb-2">
          {% trans "The GCD acknowledges that the all-encompassing research nature of the project may result in the posting of cover scans for comics with images that some may find objectionable." %}
        </div>
        <div class="mb-2 font-bold">
          {% trans "Viewer discretion is advised." %}
        </div>
        <div class="italic text-right">
          {% trans "The Grand Comics Database Team" %}
        </div>
      </div>
      <div>
      {% include front_page_lower %}
      </div>
    </div>
  </div>
{% endif %}
</div>
