{% load static %}
{% load credits %}

<script src="https://unpkg.com/hyperscript.org"></script>
<link rel="stylesheet" type="text/css"
        href="{% static "css/gcd/default/modal.css" %}"/>

<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
  <div class="modal-underlay" _="on click trigger closeModal"></div>
  <div class="modal-content">
    <h2 class="bg-blue-100 px-1 text-lg">
      <span id="series_name"><a class="font-bold link-with-text-color hover:underline" href="{{ issue.get_absolute_url }}">{{ issue.full_name }}</a></span>
    </h2>
    <div class="flex flex-wrap justify-between">
      <div class="flex-l" style="max-width:200px;">
        {{ issue.publication_date }}<br><a href="{{ issue.get_absolute_url }}">{{ image_tag }}</a>
        <br><p><button _="on click trigger closeModal" class="btn btn-blue">Close</button></p>
      </div>
      <div class="justify-end">
        <table class="border mt-2" style="max-width:600px;">
          <thead class="bg-blue-100">
            <tr>
              <th> Table of Contents </th>
            </tr>
          </thead>
{% if cover_story %}
          <tr class="hover:bg-blue-50 mb-4 border-y-2">
            <td>
              0. <span>
                <a name="toc_{{ cover_story.id }}" href="{{ issue.get_absolute_url }}#{{ cover_story.id }}">{{ cover_story|show_title:1 }}</a></span><br/>
              <span>{{ cover_story.show_feature}}</span>
            </td>
          </tr>
{% endif %}
{% for story in stories %}
  {% if story.type.id not in not_shown_types %}
          <tr class="hover:bg-blue-50 mb-4 border-y-2">
          <td>
            {{ forloop.counter }}.
            <span>
              <a name="toc_{{ story.id }}" href="{{ issue.get_absolute_url }}#{{ story.id }}">{{ story|show_title:1 }}</a></span><br/>
            <span>{{ story.show_feature}}</span>
          </td>
        </tr>
  {% endif %}
{% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
