{% load static %}
<nav class="flex items-center justify-between flex-wrap bg-gcd px-2 sm:px-4 py-1">
  <div class="flex-1 ">
    <div class="w-14">
    <a href="/"><img class="w-14" src="{% static 'img/gcd_logo.png' %}" alt="GCD"></a>
    </div>
  </div>
  <!-- <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto "> -->
  <div><!-- Search Box -->
{% if haystack_search %}
    <form action="{% url "haystack_search" %}" method="get">
{% else %}
    <form action="{% url "basic_search" %}" method="get">
{% endif %}
      <div class="flex rounded-md overflow-hidden max-w-md mx-auto">
        <span class="max-sm:hidden flex">
{% if haystack_search %}
  {% include "gcd/bits/hs_search_for.html" %}
{% else %}
  {% include "gcd/bits/search_for.html" %}
{% endif %}
        </span>
        <input type="search" name="{% if haystack_search %}q{% else %}query{% endif %}" value="{{ search_term|default:'' }}" placeholder="Search..."
          class="w-full bg-white text-gray-600 px-1 " />
        <button type='submit' class="flex items-center justify-center bg-white px-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192.904 192.904" width="16px" class="fill-black">
          <path
            d="m190.707 180.101-47.078-47.077c11.702-14.072 18.752-32.142 18.752-51.831C162.381 36.423 125.959 0 81.191 0 36.422 0 0 36.423 0 81.193c0 44.767 36.422 81.187 81.191 81.187 19.688 0 37.759-7.049 51.831-18.751l47.079 47.078a7.474 7.474 0 0 0 5.303 2.197 7.498 7.498 0 0 0 5.303-12.803zM15 81.193C15 44.694 44.693 15 81.191 15c36.497 0 66.189 29.694 66.189 66.193 0 36.496-29.692 66.187-66.189 66.187C44.693 147.38 15 117.689 15 81.193z">
          </path>
        </svg>
        </button>
        <span class="max-sm:hidden flex">
{% if haystack_search %}
  {% include "gcd/bits/hs_search_order.html" %}
{% else %}
  {% include "gcd/bits/search_order.html" %}
{% endif %}
        </span>
      </div>
    </form>
  </div><!-- Search Box -->
  <!-- Overall Navigation -->
  <div class="flex flex-1 justify-end">
    <!-- Mobile Menu Button Medium -->
    <div class="lg:hidden items-center">
      <button class="mobile-menu-button-gcd-md">
        <span class="pointer-events-none">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <title>bars-3-bottom-left</title>
          <g fill="none">
            <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
          </g>
        </svg>
        </span>
      </button>
      <div class="navigation-menu hidden absolute right-0 bg-gcd text-white rounded-b-lg pb-2 w-48">
        <a class="block px-3 py-1 text-white visited:text-white hover:bg-blue-700 hover:no-underline" href="{% url "advanced_search" %}">Advanced Query</a>
        {% if user.is_authenticated %}
          {% if MYCOMICS %}
        <a href="{% url "collections_list" %}">Collections</a>
          {% else %}
        <a class="block px-3 py-1 text-white visited:text-white hover:bg-blue-100 hover:text-black hover:no-underline" href="{% url "editing" %}">Editing</a>
          {% endif %}
        {% else %}
        <a class="block px-3 py-1 text-white visited:text-white hover:bg-blue-100 hover:text-black hover:no-underline" href="{% url "donate" %}">Donate</a>
        {% endif %}
        {% include "gcd/bits/user_menu.html" %}
      </div>
    </div><!-- Mobile Menu Button Medium -->
      <!-- Primary Navigation -->
    <div class="max-md:right-0 hidden flex-col lg:flex lg:flex-row md:flex-col justify-end text-white items-center">
      <button class="btn hover:bg-blue-700">
        <a class="text-white visited:text-white hover:no-underline" href="{% url "advanced_search" %}">Advanced Query</a>
      </button>
      {% if user.is_authenticated %}
        {% if MYCOMICS %}
      <a href="{% url 'collections_list' %}">Collections</a>
        {% else %}
      <button class="btn hover:bg-blue-700">
        <a class=" text-white visited:text-white hover:no-underline" href="{% url "editing" %}">Editing</a>
      </button>
    {% endif %}
      {% else %}
      <button class="btn hover:bg-blue-700">
        <a class="text-white visited:text-white hover:no-underline" href="{% url "donate" %}">Donate</a>
      </button>
      {% endif %}
      <!-- Dropdown Menu -->
      <div class="inline z-50">
        {% include "gcd/bits/user_menu.html" %}
      </div><!-- Dropdown Menu -->
    </div><!-- Primary Navigation -->
  </div><!-- Overall Navigation -->
</nav>

<script type="text/javascript">
document.addEventListener("DOMContentLoaded", () => {
  // Select all dropdown toggle buttons
  const dropdownToggles = document.querySelectorAll(".dropdown-toggle, .mobile-menu-button-gcd-md")

  dropdownToggles.forEach((toggle) => {
    toggle.addEventListener("click", () => {
      // Find the next sibling element which is the dropdown menu
      const dropdownMenu = toggle.nextElementSibling

      // Toggle the 'hidden' class to show or hide the dropdown menu
      dropdownMenu.classList.toggle('hidden')

    })
  })

  // Clicking outside of an open dropdown menu closes it
  window.addEventListener("click", function (e) {
    if (!e.target.matches(".dropdown-toggle") && !e.target.matches(".mobile-menu-button-gcd-md") ) {
      document.querySelectorAll(".navigation-menu").forEach((menu) => {
        if (!menu.contains(e.target)) {
          menu.classList.add("hidden")
        }
      })
      document.querySelectorAll(".dropdown-menu").forEach((menu) => {
        if (!menu.contains(e.target)) {
          menu.classList.add("hidden")
        }
      })
    }
  })
  
})
</script>
