{% load editing %}

{% if not preview %}
  {% with object|is_locked as lock %}
    {% if lock %}
      {% with lock.changeset as changeset %}
    <div class="mt-1 mx-1 max-sm:m-1 w-54 rounded px-1 {% if changeset.state == states.OPEN %}bg-index-status-edit{% else %}bg-index-status-in-queue{% endif %}">
      <span>
        {% if changeset.state == states.OPEN %}
        This {{ object_name }} is currently being edited by
        {{ changeset.indexer.indexer|default:"[no one, please contact the editors to fix this reservation]" }}
        (since {{ changeset.created|date:"Y-m-d" }},
          {% if changeset.indexer == request.user %}
        <a href="{% url 'edit' id=changeset.id %}"> edit this change</a>)
          {% else %}
        last edit {{ changeset.modified|date:"Y-m-d" }})
          {% endif %}
        {% endif %}
        {% if changeset.state == states.PENDING %}
        Edits to this {{ object_name }}
        are currently awaiting review by a GCD Editor{% if not request.user.is_authenticated %}.
          {% else %}
        (<a href="{% url 'compare' id=changeset.id %}">view the edits</a>).
          {% endif %}
        {% endif %}
        {% if changeset.state == states.REVIEWING or changeset.state == states.DISCUSSED %}
        Edits to this {{ object_name }}
        are being reviewed by GCD Editor {{ changeset.approver.indexer }}
          {% if request.user.is_authenticated %}
        (<a href="{% url "compare" id=changeset.id %}">view the edits</a>)
          {% endif %}
        {% endif %}
      </span>
    </div>
      {% endwith %}
    {% else %}
      {% if user.is_authenticated %}
    <form method="POST"
          action="{% url "reserve_revision" model_name=object_class id=object.id %}">
      {% csrf_token %}
      <btn class="mt-1 btn btn-blue-editing" onclick="document.getElementById('edit').click()">
        <input id="edit" name="edit" type="submit" value="Edit">
      </btn>
    </form>
    {% if not object.deletable %}
    <btn class="mt-1 btn btn-blue-disabled">Delete
      <span class="cant_delete">
        <a href="https://docs.comics.org/wiki/Cannot_Edit_or_Delete">(?)</a>
      </span>
    </btn>
    {% else %}
    <form method="GET" action="{% url 'delete_revision' model_name=object_class id=object.id %}">
      <btn class="mt-1 btn btn-blue-editing" onclick="document.getElementById('delete_{{ object.id }}').click()">
        <input type="submit" value="Delete" id="delete_{{ object.id }}">
      </btn>
    {% endif %}
    </form>
      {% else %}
    <form action="{% url "login" %}" method="GET">
      <button class="w-full pe-2">
        <input class="mt-1 btn btn-blue-editing w-full mb-0" type="submit" name="login" value="Log In To Edit">
        <input type="hidden" name="next" value="{{ request.get_full_path }}">
      </button>
    </form>
      {% endif %}
    {% endif %}
  {% endwith %}
{% endif %}