{% load display %}
{% load credits %}
{% show_bare_creator_credits story credit_type show_sources list_or_face as value %}
{% if value %}
<tr>
  <td class="field-name-label">
  {% if story.changeset %}
  {{ credit_type|capfirst }}:
  {% else %}
    <a hx-get="/story/{{ story.id }}/{{ credit_type }}/history/" hx-target="body" hx-swap="beforeend" 
    style="cursor: pointer; color: #2727eb;">{{ credit_type|capfirst }}:</a>
  {% endif %}
  </td>
  <td><div class="flex flex-wrap gap-x-6">{{ value }} </div> </td>
</tr>
{% endif %}