{% load static %}
<button class="block dropdown-toggle py-1 px-1 rounded">
  <span class="pointer-events-none">
    <img class="w-10" src='{% static "img/gcd/icons/"|add:ICON_SET_SYMBOLIC|add:"/avatar-default-symbolic.svg" %}'>
  </span>
</button>
<div class="dropdown-menu absolute right-0 hidden bg-gcd text-white rounded-b-lg pb-2 w-48">
{% if not user.is_anonymous %}
  <a href="{% url "view_profile" user_id=user.id %}" class="block px-3 py-1 hover:bg-blue-700 hover:no-underline text-white visited:text-white">Profile</a>
{% endif %}
{% if user.is_staff %}
  <a href="/admin/" class="block px-3 py-1 hover:bg-blue-700 hover:no-underline text-white visited:text-white">Admin</a>
{% endif %}
{% if user.is_authenticated %}
  <a href="{% url "donate" %}" class="block px-3 py-1 hover:bg-blue-700 hover:no-underline text-white visited:text-white">Donate</a>
  <form class="block px-3 py-1 hover:bg-blue-700 hover:no-underline text-white visited:text-white" action="{% url "logout" %}" method="POST">
    {% csrf_token %}
    <input type="submit" name="logout" value="Log Out">
    <input type="hidden" name="next" value="{{ request.get_full_path }}">
  </form>        
{% else %}
  <form class="block px-3 py-1 hover:bg-blue-700 hover:no-underline text-white visited:text-white" action="{% url "login" %}" method="GET">
    <input type="submit" name="login" value="Log In">
    <input type="hidden" name="next" value="{{ request.get_full_path }}">
  </form>
{% endif %}   
</div>
