{% extends "gcd/base_view.html" %}

{% block title %} GCD :: Donations {% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css"
        href="{{ MEDIA_URL }}css/gcd/default.css"/>
{% endblock %}

{% block view_body %}

<h2>Donations</h2>
<p>
The GCD is available for public use within our licensing guidelines. However, operating the website is not free for the Grand Comicbook Database Foundation and your donations are needed to meet our ongoing costs. Please note that neither the GCD nor the Foundation have any paid employees -- 100% of your gift goes directly to making the GCD appear in your browser window and to furthering research in and education on comics and their history.
</p>
<p>
Donations are accepted from most countries via PayPal. In order to receive official acknowledgment of your gift, you must include a (non-email) mailing address with your contribution.
</p>
<p>
The Grand Comicbook Database Foundation, Inc. is a 501(c)3, non-profit organization, incorporated in the state of Arkansas, USA. Your donations may be tax deductible. Please contact your tax advisor for further information. A donation to the GCD does not constitute a purchase of goods, services or membership. A donation does not entitle the donor to any rights or privileges.
</p>
<p>
Additionally, Google ads enable the GCD to take advantage of the high usage of our site. Your continued use of the GCD will earn us a few cents, especially if you visit the advertisers' sites.
</p>
<p>
The Grand Comicbook Database Foundation Board and the membership of the GCD thank you for your support in whatever form it takes and we hope that we continue to meet your research needs.
</p>
<table id="donate_table">
  <tr>
    <th>Make a one-time donation</th>
    <th>Make a recurring donation</th>
    <th>Cancel a recurring donation</th>
  </tr>
  <tr>
    <td>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="8787588">
        <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    </td>
    <td>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <p>
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="MKU6BXU9BPCR6">
        <input type="hidden" name="on0" value="">
        <select name="os0">
          <option value="small">$5.00 USD (monthly)</option>
          <option value="medium">$10.00 USD (monthly)</option>
          <option value="large">$25.00 USD (monthly)</option>
        </select>
        <input type="hidden" name="currency_code" value="USD">
      </p>
      <p>
        <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </p>
      </form>
    </td>
    <td>
      <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=VHUXRXB2A9NLG">
      <img src="https://www.paypal.com/en_US/i/btn/btn_unsubscribe_LG.gif" border="0">
      </a>
    </td>
  </tr>
</table>
<p>
{% endblock %}

